<div class="clr-row">
  <!--<div class="clr-col"></div> -->
  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-8 clr-offset-md-2 clr-col-lg-6 clr-offset-lg-3 clr-col-xl-6 clr-offset-xl-3">
    <div class="card" style="position:static" joyrideStep="claim_1" title="Claims Search" text="This form is used to search for claims that was paid to a provider or is going to be paid." stepPosition="left">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-4">
            <span>Enter Claim Details</span>
          </div>
          <div class="clr-col-3" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
          </div>
          <div class="clr-col-5" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
            <span>Practice Number: {{this._appService.LoginService.CurrentLoggedInUser.provID}}</span>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">

          <!--Form for Bureau's-->
          <form clrForm *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2">
            <div class="clr-row">
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimPracticeNumber')">
                <clr-input-container joyrideStep="claim_2" title="Practice Number" text="Type a practice number here." stepPosition="left">
                  <label>Practice Number:</label>
                  <input clrInput type="text" placeholder="Enter value here" required name="ProviderID" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.providerId" #ProviderID="ngModel">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimMemberNumber')">
                <clr-input-container joyrideStep="claim_3" title="Member Number" text="Type a member number here." stepPosition="left">
                  <label>Member No:</label>
                  <input clrInput type="text" placeholder="Enter value here" required name="MemberNumber" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberNo"  size="45">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimPracticeNumber')">
                <clr-input-container joyrideStep="claim_4" title="Member ID Number" text="Type the members ID number here." stepPosition="left">
                  <label>Member ID Number:</label>
                  <input clrInput type="text" id="gForm_1" placeholder="Enter value here" required name="MemberID" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberId" size="45">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimMemberDOB')">
                <clr-date-container joyrideStep="claim_5" title="DOB" text="Type the members date of birth number here." stepPosition="left">
                  <label>Member Date Of Birth:</label>
                  <input type="date" id="date" required name="MemberDOB" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberDOB"  clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimMemberServiceDate')">
                <clr-date-container>
                  <label>Service Date:</label>
                  <input type="date" id="date" required name="ServiceDate" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.serviceDate"   clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimMemberPaidDate')">
                <clr-date-container>
                  <label>Date Paid:</label>
                  <input type="date" id="date" required name="DatePaid" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.datePaid"   clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ViewClaimSelectHealthPlan')">
                <clr-select-container joyrideStep="claim_5" title="Fund" text="Choose the fund to which the member belongs here." stepPosition="left">
                  <label>Fund:</label>
                  <select clrSelect name="HP_Select" [(ngModel)]="this._appService.SecurityService.HP_Contracts.hpcode">
                    <option *ngFor="let contract of this._appService.LoginService.ClaimsHealthPlanDropDown"
                            [ngValue]="contract.hpcode">
                      {{contract.hpname}}
                    </option>
                  </select>
                </clr-select-container>
              </div>
            </div>
          </form>

          <!--form for providers-->
          <form clrForm *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-select-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaimSelectHealthPlan')"
                                      joyrideStep="claim_3" title="Fund" text="Choose the fund to which the member belongs here." stepPosition="left">
                  <label>Fund:</label>
                  <select clrSelect name="HP_Select" [(ngModel)]="this._appService.SecurityService.HP_Contracts.hpcode" (change)="DisplayLableChange(this._appService.SecurityService.HP_Contracts.hpcode)">
                    <option *ngFor="let contract of this._appService.LoginService.ClaimsHealthPlanDropDown"
                            [ngValue]="contract.hpcode">
                      {{contract.hpname}}
                    </option>
                  </select>
                </clr-select-container>
              </div>

              <div class="clr-col-12">
                <clr-input-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaiMemberNumber')"
                                     joyrideStep="claim_2" title="Member Number" text="Type a member number here." stepPosition="left">
                  <label>{{this.lblName}}</label>
                  <input clrInput type="text" placeholder="Family Number" required name="MemberNumber" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberNo" size="30">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaimMemberServiceDate')">
                <clr-date-container>
                  <label for="gForm_3">Service Date:</label>
                  <input type="date" id="date" required name="ServiceDate" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.serviceDate" clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaimMemberPaidDate')">
                <clr-date-container>
                  <label>Date Paid:</label>
                  <input type="date" id="date" required name="DatePaid" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.datePaid" clrDate>
                </clr-date-container>
              </div>
              <div class="col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderviewClaimmemberIDNumber')">
                <clr-input-container>
                  <label>Member ID Number:</label>
                  <input clrInput type="text" placeholder="Enter value here" required name="MemberID" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberId" size="35">
                </clr-input-container>
              </div>
              <div class="col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaimMemberDOB')">
                <clr-date-container>
                  <label>Member Date Of Birth:</label>
                  <input type="date" id="date" required name="MemberDOB"
                         [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberDOB"
                         clrDate>
                </clr-date-container>
              </div>
              <div class="col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewClaimPracticeNumber')">
                <clr-input-container>
                  <label>Practice Number:</label>
                  <input clrInput type="text" id="gForm_1" placeholder="Enter value here" required
                         name="ProviderID" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.providerId"
                         #ProviderID="ngModel">
                </clr-input-container>
              </div>
            </div>
          </form>

          <!--form for administrators-->
          <form clrForm *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
            <div class="clr-row">
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimPracticeNumber')">
                <clr-input-container joyrideStep="claim_2" title="Practice Number" text="Type a practice number here." stepPosition="left">
                  <label>Practice Number:</label>
                  <input clrInput type="text" id="gForm_1" placeholder="Enter value here"
                         name="ProviderID" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.providerId"
                         #ProviderID="ngModel" size="30">
                  <!--<clr-control-helper>{{this._appService.SecurityService.familyName}}</clr-control-helper>-->
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimMemberNumber')">
                <clr-input-container joyrideStep="claim_3" title="Member Number" text="Type a member number here." stepPosition="left">
                  <label>Member No:</label>
                  <input clrInput type="text" placeholder="Enter value here"
                         name="MemberNumber" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberNo"
                          size="30">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimSelectHealthPlan')">
                <clr-select-container>
                  <label>Fund:</label>
                  <select clrSelect name="HP_Select" [(ngModel)]="this._appService.SecurityService.HP_Contracts.hpcode">
                    <option *ngFor="let contract of this._appService.SecurityService.ClaimsHealthPlanDropDown"
                            [ngValue]="contract.hpcode">
                      {{contract.hpname}}
                    </option>
                  </select>
                </clr-select-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimMemberServiceDate')">
                <clr-date-container>
                  <label for="gForm_3">Service Date:</label>
                  <input type="date" id="date" required name="ServiceDate"
                         [(ngModel)]="this._appService.SecurityService.ClaimHeaders.serviceDate"
                           clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimMemberPaidDate')">
                <clr-date-container>
                  <label>Date Paid:</label>
                  <input type="date" id="date" required name="DatePaid" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.datePaid"   clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorviewClaimmemberIDNumber')">
                <clr-input-container>
                  <label>Member ID Number:</label>
                  <input clrInput type="text" placeholder="Enter value here" required name="MemberID"
                         [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberId" 
                         size="35">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimMemberDOB')">
                <clr-date-container>
                  <label>Member Date Of Birth:</label>
                  <input type="date" id="date" required name="MemberDOB"
                         [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberDOB" 
                         clrDate>
                </clr-date-container>
              </div>
            </div>
          </form>

          <!--form for brokers-->
          <form clrForm *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 5">
            <div class="clr-row">
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberNumber')">
                <clr-input-container>
                  <label>Member No:</label>
                  <input clrInput type="text" placeholder="Enter value here" required name="MemberNumber" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberNo"  size="45">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberNumberID')">
                <clr-input-container>
                  <label>Member ID Number:</label>
                  <input clrInput type="text" id="gForm_1" placeholder="Enter value here" required name="MemberID"
                         [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberId" size="45">
                </clr-input-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberDOB')">
                <clr-date-container>
                  <label>Member Date Of Birth:</label>
                  <input type="date" id="date" required name="MemberDOB" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.memberDOB"  clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberServicedate')">
                <clr-date-container>
                  <label>Service Date:</label>
                  <input type="date" id="date" required name="ServiceDate" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.serviceDate"  clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberPaiddate')">
                <clr-date-container>
                  <label>Date Paid:</label>
                  <input type="date" id="date" required name="DatePaid" [(ngModel)]="this._appService.SecurityService.ClaimHeaders.datePaid"  clrDate>
                </clr-date-container>
              </div>
              <div class="clr-col-12" *ngIf="this._appService.SettingService.GetSettingEnabled('BrokerViewClaimMemberHealthPlan')">
                <clr-select-container>
                  <label>Fund:</label>
                  <select clrSelect name="HP_Select" [(ngModel)]="this._appService.SecurityService.HP_Contracts.hpcode">
                    <option *ngFor="let contract of this._appService.SecurityService.BrokerHealthPlans"
                            [ngValue]="contract.hpCode">
                      {{contract.hpName}}
                    </option>
                  </select>
                </clr-select-container>
              </div>
            </div>
          </form>

        </div>
      </div>

      <!--Buttons for administrators-->
      <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ValidateForm()"
                    [disabled]="this._appService.SecurityService.DisableClaimSearchBtn==true"
                    joyrideStep="claim_4" title="Validate" text="Click on this button to search for claims." stepPosition="bottom">
              Search Claim
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ClearAllInputFields()"
                    joyrideStep="claim_5" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>
            <span class="spinner spinner-inline" *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
            <span *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
          </div>
          <div class="clr-col-3">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
            </span>
          </div>
        </div>
      </div>

      <!--Buttons for Bureau's-->
      <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ValidateForm()"
                    [disabled]="this._appService.SecurityService.DisableClaimSearchBtn==true"
                    joyrideStep="claim_6" title="Validate" text="Click on this button to search for claims." stepPosition="bottom">
              Search Claim
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ClearAllInputFields()"
                    joyrideStep="claim_7" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>
            <span class="spinner spinner-inline" *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
            <span *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
          </div>
          <div class="clr-col-3">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
            </span>
          </div>
        </div>
      </div>

      <!--Buttons for providers-->
      <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ValidateForm()"
                    [disabled]="this._appService.SecurityService.DisableClaimSearchBtn==true"
                    joyrideStep="claim_4" title="Validate" text="Click on this button to search for claims." stepPosition="bottom">
              Search Claim
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.SecurityService.ClearAllInputFields()"
                    joyrideStep="claim_5" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>
            <span class="spinner spinner-inline" *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
            <span *ngIf="this._appService.SecurityService.ClaimValidationSpinner">
              Searching Claims...
            </span>
          </div>
          <div class="clr-col-3">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--<div class="clr-col"></div> -->
</div>


<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>

<div *ngIf="this._appService.SecurityService.DisplayClaimTable==true">
  <clr-alert style="position: relative;
    top: 25px;">
    <div class="alert-item">
      <span class="alert-text">
        Download remittance to view rejection codes
      </span>
    </div>
  </clr-alert>
  <br />
  <br />
  <div *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType == 3) || (this._appService.LoginService.CurrentLoggedInUser.userType == 1) || (this._appService.LoginService.CurrentLoggedInUser.userType == 2)">
    <span style="font-size:medium"><b>{{this._appService.SecurityService.familyName}}</b> - {{this._appService.SecurityService.familyNo}}</span>
  </div>

  <!-- Provider claims grid -->
  <table class="table" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType == 1) && this._appService.SecurityService.showTabels">
    <thead>
      <tr>
        <!--<th>Practice</th>
        <th>Doctor</th> -->

        <th>Dependant Code</th>
        <th>Member Name</th>
        <th>Plan</th>
        <th>Receive Date</th>
        <th>Service Date</th>
        <th>Charged Amount</th>
        <th>Paid Amount</th>
        <th>Status</th>
        <th>Date Paid</th>
        <th>Paid To</th>
        <th>Download</th>
        <th>Information</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of this._appService.SecurityService.RecievedClaims">

        <!--<td>claim.Practice</td> -->
        <!--<td>claim.Doctor</td> -->

        <td>{{claim.dependent}}</td>
        <td>{{claim.memberFirstName}}</td>
        <td>{{claim.opt}}</td>
        <td>{{claim.receivedDate}}</td>
        <td>{{claim.serviceDate}}</td>
        <td>{{claim.charged}}</td>
        <td>{{claim.paid}}</td>
        <td>{{claim.status}}</td>
        <td>{{claim.datePaid}}</td>
        <td>{{claim.paidTo}}</td>

        <td>
          <div *ngIf="claim.checkNo != 0 && claim.isPaid != 'NO' && claim.datePaid != 'In Process'">
            <button type="button" class="btn btn-icon btn-link btn-sm"
                    [disabled]="this._appService.SecurityService.DisableDownloadBtn(claim.datePaid)==true"
                    (click)="this._appService.SecurityService.ClaimDownloadModel(claim.claimNo, claim.datePaid)">
              <clr-icon shape="download"></clr-icon>
            </button>
          </div>
          <div *ngIf="claim.checkNo == 0 && claim.isPaid != 'NO' && claim.datePaid != 'In Process'">
            <span>Third Party Payment</span>
          </div>
          <div *ngIf="claim.checkNo == 0 && claim.isPaid != 'NO' && claim.datePaid == 'In Process'">
            <button type="button" class="btn btn-icon btn-link btn-sm"
                    [disabled]="this.DisableDownloadBtn(claim.DatePaid)==true"
                    (click)="this._appService.SecurityService.ClaimDownloadModel(claim.claimNo, claim.datePaid)">
              <clr-icon shape="download"></clr-icon>
            </button>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-icon btn-sm"
                  (click)="this._appService.SecurityService.ShowClaimDetailModal(claim)">
            View
            <clr-icon shape="help-info"></clr-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="16" style="text-align: right">{{this._appService.SecurityService.RecievedClaims.length}} Claims Found</td>
      </tr>
    </tfoot>
  </table>

  <!-- Bureau and broker claims grid -->
  <table class="table" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2 || this._appService.LoginService.CurrentLoggedInUser.userType == 5">
    <thead>
      <tr>
        <th>Dependant Code</th>
        <th>Member Name</th>
        <th>Plan</th>
        <th>Receive Date</th>
        <th>Service Date</th>
        <th>Charged Amount</th>
        <th>Paid Amount</th>
        <th>Status</th>
        <th>Date Paid</th>
        <th>Paid To</th>
        <th>Download</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of this._appService.SecurityService.RecievedClaims">
        <td>{{claim.dependent}}</td>
        <td>{{claim.memberFirstName}}</td>
        <td>{{claim.opt}}</td>
        <td>{{claim.receivedDate}}</td>
        <td>{{claim.serviceDate }}</td>
        <td>{{claim.charged}}</td>
        <td>{{claim.paid}}</td>
        <td>{{claim.status}}</td>
        <td>{{claim.datePaid }}</td>
        <td>{{claim.paidTo}}</td>
        <td>
          <button type="button" class="btn btn-icon btn-link btn-sm"
                  [disabled]="this._appService.SecurityService.DisableDownloadBtn(claim.datePaid)==true"
                  (click)="this._appService.SecurityService.ClaimDownloadModel(claim.claimNo, claim.datePaid)">
            <clr-icon shape="download"></clr-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-icon btn-sm"
                  (click)="this._appService.SecurityService.ShowClaimDetailModal(claim)">
            View
            <clr-icon shape="help-info"></clr-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="16" style="text-align: right">{{this._appService.SecurityService.RecievedClaims.length}} Claims Found</td>
      </tr>
    </tfoot>
  </table>

  <!-- Administator/Scheme claims grid -->
  <table class="table" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
    <thead>
      <tr>
        <th>Dependant Code</th>
        <th>Member Name</th>
        <th>Plan</th>
        <th>Receive Date</th>
        <th>From Service Date</th>
        <th>To Service Date</th>
        <th>Charged Amount</th>
        <th>Paid Amount</th>
        <th>Status</th>
        <th>Date Paid</th>
        <th>Paid To</th>
        <th *ngIf="this._appService.LoginService.userRights.claimSearchReverse">Reverse Claim</th>
        <th>Download</th>
        <th>Information</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of this._appService.SecurityService.RecievedClaims">
        <td>{{claim.dependent}}</td>
        <td>{{claim.memberFirstName}}</td>
        <td>{{claim.opt}}</td>
        <td>{{claim.receivedDate}}</td>
        <td style="font-size:small">{{claim.serviceDate}}</td>
        <td style="font-size:small">{{claim.serviceDateTo}}</td>
        <td>{{claim.charged}}</td>
        <td>{{claim.paid}}</td>
        <td>{{claim.status}}</td>
        <td>{{claim.datePaid }}</td>
        <td>{{claim.paidTo}}</td>
        <td *ngIf="this._appService.LoginService.userRights.claimSearchReverse">
          <button type="button" class="btn btn-icon btn-link btn-sm" [disabled]="this._appService.SecurityService.DisableReversal(claim.paid,claim.charged,claim.reversedDate,claim.datePaid)" (click)="this._appService.SecurityService.ClaimReversalModel(claim)">
            Reverse
          </button>
        </td>
        <td>
          <!--<button type="button" class="btn btn-icon btn-link btn-sm"
              [disabled]="this.DisableDownloadBtn(claim.DatePaid)==true"
              (click)=OpenDownloadModal(claim.ClaimNo,claim.DatePaid)>
              <clr-icon shape="download"></clr-icon>
          </button> -->
          <button type="button" class="btn btn-icon btn-link btn-sm"
                  [disabled]="this._appService.SecurityService.DisableDownloadBtn(claim.datePaid,claim.charged)==true"
                  (click)="this._appService.SecurityService.ClaimDownloadModel(claim.claimNo, claim.datePaid)">
            <clr-icon shape="download"></clr-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-icon btn-sm"
                  (click)="this._appService.SecurityService.ShowClaimDetailModal(claim)">
            View
            <clr-icon shape="help-info"></clr-icon>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<div *ngIf="this._appService.SecurityService.InvalidProvider==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.InvalidProvider=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Search Failed</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                This practice number is not linked to your bureau, use the practices tab to recon your provider list.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.SecurityService.InvalidProvider=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.NoClaims==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.NoClaims=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">No Claim(s) Found!!</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Search Returned with {{this._appService.SecurityService.RecievedClaims.length}} Claims.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.SecurityService.CloseNoClaims()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.EmptyClaimForm==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.EmptyClaimForm=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">The Following Is Required:</h3>
        </div>
        <div class="modal-body">
          <ul *ngFor="let Requirement of this._appService.SecurityService.ClaimRequirements">
            <li>{{Requirement}}</li>
          </ul>
          <p>Make sure details are provided before a claim can be searched.</p>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.SecurityService.EmptyClaimForm=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.ClaimInfo">
  <app-claim-info></app-claim-info>
</div>

<div *ngIf="this._appService.SecurityService.SpecificClaimDownload==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.SpecificClaimDownload=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Select Format To Download</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-lg-3 clr-col-md-12 clr-col-sm-12 clr-col-xs-12" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType !== 3">
              <label for="txtDownload">Text Format:</label>
            </div>
            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <button type="button" class="btn btn-outline" (click)="this._appService.SecurityService.DownloadClaimRemit(true)"
                      style="position: relative;bottom: 6px;" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType !== 3">
                <clr-icon shape="download"></clr-icon>
              </button>
            </div>
            <div class="clr-col-lg-3 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
              <label for="pdfDownload">PDF Format:</label>
            </div>
            <div class="clr-col-lg-3 clr-col-md-4 clr-col-sm-12 clr-col-xs-12">
              <button type="button" class="btn btn-outline" (click)="this._appService.SecurityService.DownloadClaimRemit(false)"
                      style="position: relative;bottom: 6px;">
                <clr-icon shape="download"></clr-icon>
              </button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Indicates the busy modal when a remittance is being downloaded-->
<div *ngIf="this._appService.SecurityService.DownloadRemittanceModel">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.DownloadRemittanceModel=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Generating File</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="clr-col-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while your remittance information is being gathered...
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Indicates the busy modal when a claim is being fetched for details View -->
<div *ngIf="this._appService.SecurityService.ViewClaimSpinnerModel">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.ViewClaimSpinnerModel=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Fetching Claim Details</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="clr-col-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while the claim details are being gathered...
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.ShowClaimReversalModal == true">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="this._appService.SecurityService.CloseClaimReversalModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Are You Sure You Want To Reverse The Following Claim?</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-12	clr-col-xl-12">
              <div class="card" style="position:static">
                <div class="card-header">
                  <div class="clr-row">
                    <div class="clr-col-12	clr-col-sm-12	clr-col-md-5	clr-col-lg-5	clr-col-xl-5">
                      <span>Member Number :</span>
                    </div>
                    <div class="clr-col-12	clr-col-sm-12	clr-col-md-7	clr-col-lg-7	clr-col-xl-7">
                      <span>{{this._appService.SecurityService.ClaimModal.memberNumber}}</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="card-title">
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-5	clr-col-lg-5	clr-col-xl-5">
                        <span>Claim Number :</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-7	clr-col-lg-7	clr-col-xl-7">
                        <span>{{this._appService.SecurityService.ClaimModal.claimNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-text">
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Health Plan:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.healthPlan}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Service Date:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.serviceDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Received Date:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.recievedDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Charged Amount:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.chargedAmount}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Date Paid:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.paidDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Paid Amount:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.paidAmount}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="this._appService.SecurityService.CloseClaimReversalModal()">No</button>
          <button class="btn btn-outline" type="button" (click)="this._appService.SecurityService.ReverseClaim()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.ClaimError == true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">PAMC-Portal Has Stopped Working</h3>
        </div>
        <div class="modal-body">
          <p>A problem has caused the program to stop working correctly.</p>
          <p>
            For assistance on this matter contact our network department
            on
            <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.SecurityService.ClaimError = false">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.busyReverse" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body" style="text-align:center; padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.modelContractShow" [clrModalClosable]="false">
  <h3 class="modal-title text-center">
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <div class="alert-text">
            WARNING!!!
          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="modal-body">
    <div *ngFor="let line of this._appService.SecurityService.contractMessage">
      {{line}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService.modelContractShow = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.errorRemittance" [clrModalClosable]="false">
  <h3 class="modal-title">An Error Occurred</h3>
  <div class="modal-body">
    <p>The Server is currently to busy to handle your remittance request, if this problem persists, please try again after 15h00 in the afternoon.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService.errorRemittance = false">
      Ok
    </button>
  </div>
</clr-modal>
