<form clrForm [formGroup]="cModifiersForm">
  <clr-input-container>
    <label>Modifier Code:</label>
    <input type="text" clrInput formControlName="modCode1" (blur)="ValidateModeCode1()" />
    <clr-control-error>{{this.errorMsgModecode1}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgModecode1}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Modifier Code:</label>
    <input type="text" clrInput formControlName="modCode2" (blur)="ValidateModeCode2()" />
    <clr-control-error>{{this.errorMsgModecode2}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgModecode2}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Modifier Code:</label>
    <input type="text" clrInput formControlName="modCode3" (blur)="ValidateModeCode3()" />
    <clr-control-error>{{this.errorMsgModecode3}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgModecode3}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Modifier Code:</label>
    <input type="text" clrInput formControlName="modCode4" (blur)="ValidateModeCode4()" />
    <clr-control-error>{{this.errorMsgModecode4}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgModecode4}}</clr-control-helper>
  </clr-input-container>
</form>
