<div class="clr-row">

  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-10 clr-offset-lg-1 clr-col-xl-8 clr-offset-xl-2">

    <div class="card">
      <div class="card-header text-center">
        Patient Wellness Form
      </div>
      <div class="card-block">
        <div class="card-text">

          <form class="clr-form clr-form-compact" [formGroup]="patientWellnessForm">

            <h4 style="font-weight: 900"><b>Section 1: Contact Details</b></h4>

            <div class="clr-row">
              <div class="clr-col-12 clr-col-sm-6 clr-col-md-6 clr-col-lg-6 clr-col-xl-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="idNo">ID Number</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="idNo"
                             formControlName="idNo"
                             (blur)="checkIfExist()"/>
                    </div>
                  </div>
                </div>

                <!--<form class="clr-form clr-form-compact">
                  <div class="clr-form-control clr-row">
                    <label for="example" class="clr-control-label clr-col-12 clr-col-md-2">Label</label>
                    <div class="clr-control-container clr-col-12 clr-col-md-10">
                      <div class="clr-input-wrapper">
                        <input type="text" id="example" placeholder="Example Input" class="clr-input">
                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                      <span class="clr-subtext">Helper Text</span>
                    </div>
                  </div>
                </form>-->
                              <!--<clr-input-container>
                  <label for="name">Name</label>
                  <input clrInput
                         type="text"
                         id="name"
                         formControlName="name" />
                </clr-input-container>-->

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="name">Name</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="name"
                             formControlName="name" />
                    </div>
                  </div>
                </div>

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="surname">Surname</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="surname"
                             formControlName="surname" />
                    </div>
                  </div>
                </div>



                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="gender">Gender</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div *ngFor=" let item of arGender">
                      <div class="clr-radio-wrapper">
                        <input class="clr-radio"
                               type="radio"
                               id="{{item}}"
                               [value]="item"
                               formControlName="gender" />
                        <label for="{{item}}" class="clr-control-label">{{item}}&emsp;</label>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<clr-radio-container clrInline>
    <label>Gender</label>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="M" formControlName="gender" />
      <label>Male</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio value="F" formControlName="gender" />
      <label>Female</label>
    </clr-radio-wrapper>
    <clr-control-error>Gender is required</clr-control-error>
  </clr-radio-container>-->

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="tel">Tel</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="tel"
                             formControlName="tel" />
                    </div>
                  </div>
                </div>

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cell">Cell</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="cell"
                             formControlName="cell" />
                    </div>
                  </div>
                </div>

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="address">Address</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-textarea-container">
                      <textarea class="clr-Textarea"
                                style="max-width: 165px"
                                type="text"
                                id="address"
                                formControlName="address">
                      </textarea>
                    </div>
                  </div>
                </div>

                <!--<clr-textarea-container>
    <label for="address">Address</label>
    <textarea clrTextarea style="max-width: 165px" id="address" formControlName="address"></textarea>
  </clr-textarea-container>-->

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cell">Email</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="email"
                             formControlName="email" />
                    </div>
                  </div>
                </div>

                <!--<br />
  <label><b>Are you on a Medical Aid?</b></label>
  <div *ngFor=" let item of arYesNo">
    <clr-radio-wrapper>
      <input type="radio" clrRadio [value]="item" formControlName="medicalAidYN" />
      <label>{{item}}</label>
    </clr-radio-wrapper>
  </div>-->

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="medicalAidYN">Are you on a Medical Aid?</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div *ngFor=" let item of arMedAidYesNo">
                      <div class="clr-radio-wrapper">
                        <input class="clr-radio"
                               type="radio"
                               id="{{item[0]}}"
                               [value]="item[1]"
                               formControlName="medicalAidYN" />
                        <label for="{{item[0]}}" class="clr-control-label">{{item[1]}}&emsp;</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="this.patientWellnessForm.get('medicalAidYN').value == 'Yes'">

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="medicalAidPlan">Medical Aid Plan</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="medicalAidPlan"
                               formControlName="medicalAidPlan" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="medicalAidNo">Medical Aid Number</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="medicalAidNo"
                               formControlName="medicalAidNo" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="medicalAidDepCode">Dependant Code</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-select-wrapper">
                        <select class="clr-select"
                                type="select"
                                id="medicalAidDepCode"
                                formControlName="medicalAidDepCode">
                          <option *ngFor="let dep of arDepCode" value="{{dep}}">{{dep}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <!--<clr-select-container>
      <label for="medicalAidDepCode">Dependant Code</label>
      <select clrSelect
              type="select"
              id="medicalAidDepCode"
              formControlName="medicalAidDepCode">
        <option *ngFor="let dep of arDepCode" value="{{dep}}">{{dep}}</option>
      </select>
      <clr-control-error>This field is required</clr-control-error>
    </clr-select-container>-->

                </div>

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-12 clr-col-sm-6" for="screeningDate">Screening Date</label>
                  <div class="clr-control-container clr-col-12 clr-col-sm-6">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             max="9999-12-31"
                             id="screeningDate"
                             formControlName="screeningDate" />
                    </div>
                  </div>
                </div>

                <!--<clr-date-container>
    <label for="screeningDate">Screening Date</label>
    <input clrDate
           type="date"
           id="service"
           formControlName="screeningDate" />
  </clr-date-container>-->

              </div> <!--col-->
            </div> <!--row-->

            <br />

            <div class="clr-form-control clr-row">
              <label class="clr-control-label clr-col-12 clr-col-sm-4" for="assessmentConsent">Do you consent to a Health Risk Assessment?</label>
              <div class="clr-control-container clr-col-12 clr-col-sm-3">
                <div *ngFor=" let item of arAssessConsentYesNo">
                  <div class="clr-radio-wrapper">
                    <input class="clr-radio"
                           type="radio"
                           id="{{item[0]}}"
                           [value]="item[1]"
                           formControlName="assessmentConsent" />
                    <label for="{{item[0]}}" class="clr-control-label">{{item[1]}}&emsp;</label>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="this.patientWellnessForm.get('assessmentConsent').value == 'Yes'">

              <h4 style="font-weight: 900"><b>Section 2: Medical History</b></h4>

              <div class="clr-row">

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">
                  <div formArrayName="chronicConditions">

                    <h5><b>Chronic Conditions</b></h5>

                    <div *ngFor="let conditionControl of patientWellnessForm.get('chronicConditions').controls; let i = index">
                      <!--<clr-input-container>
                        <label>Condition {{i+1}}</label>
                        <input clrInput
                               type="text"
                               [formControlName]="i" />
                      </clr-input-container>-->
                      <div class="clr-form-control clr-row">
                        <label class="clr-control-label clr-col-12 clr-col-sm-6">Condition {{i+1}}</label>
                        <div class="clr-control-container clr-col-12 clr-col-sm-6">
                          <div class="clr-input-wrapper">
                            <input class="clr-input"
                                   type="text"
                                   [formControlName]="i" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-link btn-sm" (click)="onAddChronicCondition()">
                      Add condition +
                    </button>
                  </div>
                </div> <!--col-->

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">
                  <div formArrayName="medications">

                    <h5><b>Medications</b></h5>


                    <div *ngFor="let medicationControl of patientWellnessForm.get('medications').controls; let i = index">
                      <!--<clr-input-container>
                        <label>Medication {{i+1}}</label>
                        <input clrInput
                               type="text"
                               [formControlName]="i" />
                      </clr-input-container>-->
                      <div class="clr-form-control clr-row">
                        <label class="clr-control-label clr-col-12 clr-col-sm-6">Medication {{i+1}}</label>
                        <div class="clr-control-container clr-col-12 clr-col-sm-6">
                          <div class="clr-input-wrapper">
                            <input class="clr-input"
                                   type="text"
                                   [formControlName]="i" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-link btn-sm" (click)="onAddMedication()">
                      Add medication +
                    </button>
                  </div>
                </div> <!--col-->
              </div> <!--row-->

              <br />

              <h4 style="font-weight: 900">Section 3: Body Measurements /Biometric Results</h4>

              <div class="clr-row">

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">

                  <h5><b>BMI</b></h5>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="height">Height cm</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="height"
                               formControlName="height"
                               (blur)="calcBmi()" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="weight">Weight kg</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="weight"
                               formControlName="weight"
                               (blur)="calcBmi()" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="bmi">BMI</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="bmi"
                               formControlName="bmi" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="waist">Waist cm</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="waist"
                               formControlName="waist" />
                      </div>
                    </div>
                  </div>

                </div> <!--col-->

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">

                  <h5><b>Cholesterol</b></h5>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cholesterolHDL">HDL</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="cholesterolHDL"
                               formControlName="cholesterolHDL" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cholesterolTRI">TRI</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="cholesterolTRI"
                               formControlName="cholesterolTRI" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cholesterolLDL">LDL</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="cholesterolLDL"
                               formControlName="cholesterolLDL" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="cholesterolTotal">Total Chol</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="cholesterolTotal"
                               formControlName="cholesterolTotal" />
                      </div>
                    </div>
                  </div>

                </div> <!--col-->

              </div> <!--row-->

              <div class="clr-row">

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">

                  <h5><b>Blood Pressure mmhg</b></h5>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="bloodPressureSystolic">Systolic</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="bloodPressureSystolic"
                               formControlName="bloodPressureSystolic" />
                      </div>
                    </div>
                  </div>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="bloodPressureDiastolic">Diastolic</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="bloodPressureDiastolic"
                               formControlName="bloodPressureDiastolic" />
                      </div>
                    </div>
                  </div>

                </div> <!--col-->

                <div class="clr-col-sm-12 clr-col-md-12 clr-col-lg-6 clr-col-xl-6">

                  <h5><b>Blood Sugar</b></h5>

                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="bloodSugarMmols">mmols</label>
                    <div class="clr-control-container clr-col-12 clr-col-sm-6">
                      <div class="clr-input-wrapper">
                        <input class="clr-input"
                               type="text"
                               id="bloodSugarMmols"
                               formControlName="bloodSugarMmols" />
                      </div>
                    </div>
                  </div>
                </div> <!--col-->

              </div> <!--row-->

            </div><!--consent-->

            <br />

            <div class="clr-form-control clr-row">
              <label class="clr-control-label clr-col-12 clr-col-sm-4" for="hivConsent">Do you consent to an HIV Assessment?</label>
              <div class="clr-control-container clr-col-12 clr-col-sm-3">
                <div *ngFor=" let item of arHivConsentYesNo">
                  <div class="clr-radio-wrapper">
                    <input class="clr-radio"
                           type="radio"
                           id="{{item[0]}}"
                           [value]="item[1]"
                           formControlName="hivConsent" />
                    <label for="{{item[0]}}" class="clr-control-label">{{item[1]}}&emsp;</label>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="this.patientWellnessForm.get('hivConsent').value == 'Yes'">

              <h4 style="font-weight: 900">HIV Assessment / Screening for testing </h4>

              <br />

              <label><b>In the past six months, how often have you had sex with someone you knew (or later found out) had AIDS or was positive for HIV, the AIDS virus?</b></label>
              <br />
              <div *ngFor=" let item of arSexPastSixMonths">
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [value]="item" formControlName="sexPastSixMonths" />
                  <label>{{item}}</label>
                </clr-radio-wrapper>
                <!--<clr-control-error>Gender is required</clr-control-error>-->
              </div>
              <br />

              <label><b>In the past six months, how often did you use condoms when you had sex?</b></label>
              <br />
              <div *ngFor=" let item of arCondomPastSixMonths">
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [value]="item" formControlName="condomPastSixMonths" />
                  <label>{{item}}</label>
                </clr-radio-wrapper>
                <!--<clr-control-error>Gender is required</clr-control-error>-->
              </div>
              <br />

              <label><b>How worried are you about getting HIV or AIDS?</b></label>
              <br />
              <div *ngFor=" let item of arGetAidsWorry">
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [value]="item" formControlName="getAidsWorry" />
                  <label>{{item}}</label>
                </clr-radio-wrapper>
              </div>
              <br />

              <label><b>How worried are you that you may have already been exposed to the HIV or AIDS virus?</b></label>
              <br />
              <div *ngFor=" let item of arExposedAidsWorry">
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [value]="item" formControlName="exposedAidsWorry" />
                  <label>{{item}}</label>
                </clr-radio-wrapper>
              </div>
              <br />

              <label><b>When were you last tested for HIV? On the lines below, please write the month and year of your most recent test.</b></label>

              <!--<clr-select-container>
                <label for="monthLastAidsTest">Month</label>
                <select clrSelect type="select"
                        id="monthLastAidsTest"
                        formControlName="monthLastAidsTest">
                  <option *ngFor="let month of months" value="{{month[0]}}">{{month[1]}}</option>
                </select>
                <clr-control-error>This field is required</clr-control-error>
              </clr-select-container>-->

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-12 clr-col-sm-3" for="monthLastAidsTest">Month</label>
                <div class="clr-control-container clr-col-12 clr-col-sm-3">
                  <div class="clr-select-wrapper">
                    <select class="clr-select"
                            type="select"
                            id="monthLastAidsTest"
                            formControlName="monthLastAidsTest">
                      <option *ngFor="let month of months" value="{{month[0]}}">{{month[1]}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!--<clr-select-container>
                <label for="yearLastAidsTest">Year</label>
                <select clrSelect type="select"
                        id="yearLastAidsTest"
                        formControlName="yearLastAidsTest">
                  <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                </select>
                <clr-control-error>This field is required</clr-control-error>
              </clr-select-container>-->

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-12 clr-col-sm-3" for="yearLastAidsTest">Year</label>
                <div class="clr-control-container clr-col-12 clr-col-sm-3">
                  <div class="clr-select-wrapper">
                    <select class="clr-select"
                            type="select"
                            id="yearLastAidsTest"
                            formControlName="yearLastAidsTest">
                      <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <br />

              <label><b>Were you ever told that you had HIV, the AIDS virus?</b></label>
              <br />
              <div *ngFor=" let item of arToldAids">
                <clr-radio-wrapper>
                  <input type="radio" clrRadio [value]="item" formControlName="toldAids" />
                  <label>{{item}}</label>
                </clr-radio-wrapper>
              </div>

            </div> <!--consent-->

            <br />

          </form>
        </div> <!--card-text-->
      </div> <!--card-block-->
      <div class="card-footer text-center">
        <button class="btn btn-primary btn-sm" (click)="onSubmit()">Submit</button>
        <button class="btn btn-primary-outlined btn-sm" (click)="this.patientWellnessForm.reset()">Clear</button>

        <!--<div class="clr-row">

          <div class="clr-col-12 text-center">
            <button class="btn btn-primary btn-sm" (click)="CreateNewAuth()" [disabled]="! this.authHeaderForm.valid" joyrideStep="LogA_6" title="Create Auth" text="Click on this button once done to create an authorisation and fill in the neccessary info." stepPosition="bottom">CREATE</button>
            <button class="btn btn-primary-outlined btn-sm" (click)="Search()" [disabled]="! this.authHeaderForm.valid" joyrideStep="LogA_7" title="Search" text="Click on this button to search for old Auths." stepPosition="bottom">Search</button>
            <button class="btn btn-warning btn-sm" (click)="ClearAll()" joyrideStep="LogA_8" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">Clear</button>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-12 text-right">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
            </span>
          </div>
        </div>-->
      </div> <!--card-footer-->

    </div> <!--card-->

  </div><!--col-->

</div>


<!-- Modal: busy spinner -->
<div class="modal" *ngIf="this.busy">
  <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
    <div class="modal-content">      
      <div class="modal-body text-center" style="padding: 24px;">
        <p style="align-self:center">
          <span class="spinner">
            Loading...
          </span>
        </p>
      </div>      
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: success -->
<div class="modal" *ngIf="this.success">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.closeSuccessMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this.successMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this.successMessage}} <b>{{this.successMessageBoldPart}}</b>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)="this.closeSuccessMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: error -->
<div class="modal" *ngIf="this.error">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.closeErrorMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this.errorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this.errorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this.closeErrorMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
