<div class="clr-row">

  <div class="clr-col-12 text-center">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._wizardOpen = true; this._appService.ClaimCaptureService._disableCancel = false;"
            joyrideStep="cc_1" title="Claim Capture" text="Click on this button to start capturing claims." stepPosition="left">
      CAPTURE NEW CLAIM
    </button>
    <!--<button type="button" class="btn btn-primary" (click)="this.GetReport()"-->
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._showCapturedClaimsSearchForm = true"
            joyrideStep="cc_2" title="Claim Capture Report" text="Click on this button to view a summary of your captured claims." stepPosition="right">
      VIEW CAPTURED CLAIMS
    </button>
  </div>

  <!--<div class="clr-col-4">
    <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
          (click)="onClickReport()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
      <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
    </span>
  </div>-->

</div>

<!--captured claims search form-->
<div class="clr-row" *ngIf="this._appService.ClaimCaptureService._showCapturedClaimsSearchForm">

  <div class="clr-col-lg-6 clr-offset-lg-3 " joyrideStep="cr_1" title="Claim Capture Report" text="This form is used to search for and view your captured claims." stepPosition="bottom">
    <div class="card">

      <div class="card-header">
        Captured Date
      </div>

      <div class="card-block">
        <div class="card-text">

          <!--<form clrForm [formGroup]="ReportFilterForm">
            <div class="clr-row">
              <div class="clr-col-4">
                <clr-date-container joyrideStep="cr_2" title="From Date" text="Enter the date you wish to search from here." stepPosition="bottom">
                  <label>FROM &nbsp;</label>
                  <input type="date" placeholder={{this._appService.ClaimCaptureService.earliestdate}} formControlName="createdFrom" clrDate>
                  <clr-control-error>{{this.errorMsgFrom}}</clr-control-error>
                </clr-date-container>
              </div>
              <div class="clr-col-4">
                <clr-date-container joyrideStep="cr_3" title="To Date" text="Enter the date you wish to search to here." stepPosition="bottom">
                  <label>TO</label>
                  <input type="date" placeholder={{this._appService.ClaimCaptureService.latestDate}} formControlName="createdTo" clrDate>
                  <clr-control-error>{{this.errorMsgTo}}</clr-control-error>
                </clr-date-container>
              </div>
              <div class="clr-col-4">
                <br />
                <clr-checkbox-wrapper style="align-self:center" joyrideStep="cr_4" title="Unprocessed claims" text="Tick or untick this box if you wish to include/exclude unprocessed claims." stepPosition="bottom">
                  <input type="checkbox" clrCheckbox formControlName="unimportant" [checked]="this._checkUniportant" />
                  <label>Include All Processed Claims</label>
                </clr-checkbox-wrapper>
              </div>
            </div>
          </form>-->
          <!--<form class="clr-form clr-form-horizontal" [formGroup]="ReportFilterForm">-->
          <form class="clr-form clr-form-compact" [formGroup]="this._appService.ClaimCaptureService.capturedClaimsForm">
            <div class="clr-row">

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_2" title="From Date" text="Enter the date you wish to search from here." stepPosition="bottom">
                  <label class="clr-control-label clr-col-sm-3" for="CreatedFromV">From</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             max="9999-12-31"
                             id="CreatedFromV"
                             formControlName="createdFrom" />
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('createdFrom').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('createdFrom').valid">
                      Valid date required
                    </span>
                  </div>
                </div>
              </div>

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_3" title="To Date" text="Enter the date you wish to search to here." stepPosition="bottom">
                  <label class="clr-control-label clr-col-sm-3" for="CreatedToV">To</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             max="9999-12-31"
                             id="CreatedToV"
                             formControlName="createdTo" />
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('createdTo').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('createdTo').valid">
                      Valid date required
                    </span>
                  </div>
                </div>
              </div>

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_4" title="Captured by" text="Select if you want to view claims that were only captured by you or claims captured by all users from your scheme." stepPosition="bottom">
                  <!--<label class="clr-control-label clr-col-xl-3 clr-col-lg-4 clr-col-md-4 clr-col-sm-4">CAPTURED BY</label>
                  <div class="clr-control-container clr-control-inline clr-col-xl-9 clr-col-lg-8 clr-col-md-8 clr-col-sm-8">-->
                  <label class="clr-control-label clr-col-sm-3 ">Captured By</label>
                  <div class="clr-control-container clr-control-inline clr-col-sm-9 ">
                    <div class="clr-radio-wrapper">
                      <input class="clr-radio" type="radio" id="capturedByMe" value="Me" formControlName="capturedBy" />
                      <label for="capturedByMe" class="clr-control-label">Me&emsp;</label>
                    </div>
                    <div class="clr-radio-wrapper">
                      <input class="clr-radio" type="radio" id="capturedByEveryone" value="Everyone" formControlName="capturedBy" />
                      <label for="capturedByEveryone" class="clr-control-label">Everyone&emsp;</label>
                    </div>
                    <div class="clr-subtext-wrapper">
                      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('capturedBy').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('capturedBy').valid">
                        Please select an option
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div> <!--row-->
          </form>

        </div> <!--card-text-->
      </div><!--card-block-->

      <div class="card-footer">
        <div class="clr-row">

          <!--<div class="clr-col-4 t">
            <button class="btn btn-sm btn-link" (click)="this.ApplyFilter()"
                    joyrideStep="cr_5" title="Search" text="Click here to begin your search according to your specifications." stepPosition="bottom">
              APPLY FILTER
            </button>
            <button class="btn btn-sm btn-link" (click)="this.RemoveFilter()"
                    joyrideStep="cr_6" title="Remove" text="Click here to remove your specifications from the search." stepPosition="bottom">
              REMOVE FILTER
            </button>
          </div>-->

          <div class="clr-col-8">
            <button class="btn btn-primary btn-sm" [disabled]="!this._appService.ClaimCaptureService.capturedClaimsForm.valid" (click)="this._appService.ClaimCaptureService.SearchCapturedClaims()"
                    joyrideStep="cr_5" title="Search" text="Click here to begin your search according to your criteria." stepPosition="bottom">
              Search
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.ClaimCaptureService.capturedClaimsForm.reset()"
                    joyrideStep="cr_6" title="Clear" text="Click here clear your search criteria." stepPosition="bottom">
              Clear
            </button>
          </div>

          <div class="clr-col-4 text-right">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="onClickReport()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
            </span>
          </div>

        </div> <!--row-->
      </div> <!--card-footer-->

    </div> <!--card-->

  </div> <!--col-->
</div> <!--row-->

<br />

<!--captured claims table-->
<div class="clr-row" *ngIf="this._appService.ClaimCaptureService._ReportListDisplay != undefined">

  <div class="clr-col-sm-6 clr-offset-sm-3 text-center">

    <div style="white-space: nowrap; display: inline-block">
      <button type="button" class="btn btn-link btn-sm" (click)="this._appService.ClaimCaptureService.decPage()">
        <span style="font-size: medium; font-weight: bold; "> ◄ </span>
      </button>
      <span style="font-weight: bold;">{{this._appService.ClaimCaptureService.curPage}}/{{this._appService.ClaimCaptureService.claimReportTotalPages}} pages</span>
      <button type="button" class="btn btn-link btn-sm" (click)="this._appService.ClaimCaptureService.incPage()">
        <span style="font-size: medium; font-weight: bold; "> ► </span>
      </button>
    </div>

  </div>

  <div class="clr-col-sm-3 text-right">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="this._appService.ClaimCaptureService._ReportList < 1"
            (click)="this._appService.ClaimCaptureService.ExportReportListExcel()">
      Export to Excel
    </button>
  </div>

</div>

<div class="clr-row" *ngIf="this._appService.ClaimCaptureService._ReportListDisplay != undefined">
  <div class="clr-col-12">

    <clr-datagrid>
      <clr-dg-column>
        CAPTURED DATE
        <a (click)="this._appService.ClaimCaptureService.GridSortingDates()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
      </clr-dg-column>
      <clr-dg-column>
        CAPTURED BY
        <a (click)="this._appService.ClaimCaptureService.GridSortingUser()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
      </clr-dg-column>
      <clr-dg-column>PRACTICE NO</clr-dg-column>
      <clr-dg-column>MEMBER NO</clr-dg-column>
      <clr-dg-column>DETAIL LINES</clr-dg-column>
      <clr-dg-column>BILLED</clr-dg-column>
      <clr-dg-column>CLAIM NO</clr-dg-column>
      <clr-dg-column>BATCH NO</clr-dg-column>
      <clr-dg-row *ngFor="let claim of this._appService.ClaimCaptureService._ReportListDisplay">
        <clr-dg-cell>{{claim.dateCreated}}</clr-dg-cell>
        <clr-dg-cell>{{claim.user}}</clr-dg-cell>
        <clr-dg-cell>{{claim.provid}}</clr-dg-cell>
        <clr-dg-cell>{{claim.memb}}</clr-dg-cell>
        <clr-dg-cell>{{claim.detailLines}}</clr-dg-cell>
        <clr-dg-cell>R {{claim.billed }}</clr-dg-cell>
        <clr-dg-cell>{{claim.ezcapClaimNo}}</clr-dg-cell>
        <clr-dg-cell>{{claim.batchNo}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this._appService.ClaimCaptureService._ReportList.length}} claims</clr-dg-footer>
    </clr-datagrid>

  </div> <!--col-->
</div>

<!--claims capture wizard-->
<clr-wizard #wizard [(clrWizardOpen)]="this._appService.ClaimCaptureService.OpenWizard" [clrWizardClosable]="false">
  <clr-wizard-title>Claims Capture</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" class="btn-sm" (click)="WizardReload('cancel')" *ngIf="!this._appService.ClaimCaptureService._disableCancel">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'" class="btn-sm" (click)="this.DecreasePage()" [clrWizardButtonDisabled]="this._appService.ClaimCaptureService._disableBack">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" class="btn-sm" (click)="this.IncreasePage()" [clrWizardButtonDisabled]="!this._appService.ClaimCaptureService.enableWizardNext">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" class="btn-sm" (click)="WizardReload('finish')">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageNavTitle>Claims Header</ng-template>
    <ng-template clrPageTitle>
    </ng-template>
    <app-claim-header #claimHeader></app-claim-header>
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageNavTitle>Data Validated</ng-template>
    <ng-template clrPageTitle>
      <div class="alert alert-success alert-sm" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Your Data Was Succefully Validated
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <app-display-claim-header></app-display-claim-header>
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageNavTitle>Diagnostic Codes</ng-template>
    <ng-template clrPageTitle>
      <div class="alert alert-info alert-sm" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Please enter Diagnostic Codes/Code for your Claim Detail Lines
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <app-diagnostic-codes #diagComponent></app-diagnostic-codes>
  </clr-wizard-page>


  <clr-wizard-page #claimDetail>
    <ng-template clrPageNavTitle>Claim Detail</ng-template>
    <ng-template clrPageTitle>
      <div class="alert alert-info alert-sm" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <div class="alert-text">
              Click on NEW DETAIL LINE to add Claim Detial lines and DONE when completed.
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <clr-datagrid>
      <clr-dg-column>RowID</clr-dg-column>
      <clr-dg-column>Service Type</clr-dg-column>
      <clr-dg-column>From Date</clr-dg-column>
      <clr-dg-column>To Date</clr-dg-column>
      <clr-dg-column>Service Code</clr-dg-column>
      <clr-dg-column>Charged</clr-dg-column>
      <clr-dg-column>Quantity</clr-dg-column>
      <clr-dg-column>ToothNumbers</clr-dg-column>
      <clr-dg-column>Modifiers</clr-dg-column>
      <clr-dg-column>...</clr-dg-column>
      <clr-dg-placeholder>No Data Added Yet!</clr-dg-placeholder>
      <clr-dg-row *ngFor="let claimdetail of this._appService.ClaimCaptureService.claimDetailList">
        <clr-dg-cell>{{claimdetail.Rec2IDArr}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.PHCODE}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.FROMDATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.TODATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.PROCCODE}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.BILLED}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.QTY}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.toothNumString}}</clr-dg-cell>
        <clr-dg-cell>{{claimdetail.ModCodesString}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-icon btn-Secondary btn-sm" type="submit" (click)="this.claimDetailLines.EditClaimDetailData(claimdetail.Rec2IDArr)" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone"><clr-icon shape="pencil"></clr-icon></button>
          <button class="btn btn-icon btn-danger-outline btn-sm" type="submit" (click)="this.claimDetailLines.DeleteClaimDetailData(claimdetail.Rec2IDArr)" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone"><clr-icon shape="trash"></clr-icon></button>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <div class="clr-row">
          <div class="clr-col-3"></div>
          <div class="clr-col-4"><b>Total Amount Charged: </b>R {{this._appService.ClaimCaptureService.billedAmount| number: '.2'}}</div>
          <div class="clr-col-2"></div>
          <div class="clr-col-3"><b>Detail Lines Added: </b>{{this._appService.ClaimCaptureService.claimDetailList.length}}</div>
        </div>
      </clr-dg-footer>
    </clr-datagrid>

    <form>
      <button class="btn btn-success btn-sm" (click)=" this.claimDetailLines.NewClaimDetailLine()">
        New Detail Line
      </button>
      <button class="btn btn-primary btn-sm" (click)="this._appService.ClaimCaptureService.ClickClaimDetailDone()" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone">Done</button>
    </form>

  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageNavTitle>User Confirmation</ng-template>
    <ng-template clrPageTitle>
      <div class="alert alert-warning " role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="alert-text">Please verify that al the information provided below is correct before continuing to the next step</span>
          </div>
        </div>
      </div>
    </ng-template>
    <app-display-claim-header></app-display-claim-header>
    <br />
    <app-claims-view></app-claims-view>
    <hr />
    <app-user-validation #validation></app-user-validation>
    <br />
    <hr />
  </clr-wizard-page>


  <clr-wizard-page>
    <ng-template clrPageTitle>Claim Submitted</ng-template>
    <div class="alert alert-success alert-sm" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Your claim was submitted successfully ! If you wish to add another claim click on the New Claim button below, or else if your done click on finish.
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-5"></div>
      <div class="clr-col-2">
        <button class="btn btn-primary" (click)="WizardReload('newclaim')">
          New Claim
        </button>
      </div>
      <div class="clr-col-5"></div>
    </div>
  </clr-wizard-page>
</clr-wizard>

<!--spinner-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Validating Data...
      </span>
    </p>
  </div>
</clr-modal>

<!--incorrect practice number-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._incorrect" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon>WARNING!!</h3>
  <div class="modal-body">
    <p>
      The Practice number entered <i>({{this._appService.ClaimCaptureService.currentClaimHeader.EZCAPPROV}})</i> was not found in our system.
      Please correct it before proceeding.

    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.claimHeader.VerifiedProv()">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._incorrect = false">
      No
    </button>
  </div>
</clr-modal>

<!--Stale Date Modal-->
<app-claim-detail #ClaimDetailLines></app-claim-detail>
<app-edit-banking-detail #banking></app-edit-banking-detail>

<!--backend error-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._errorFound" [clrModalClosable]="false">

  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">An ERROR occured while trying to save your data</span>
        </div>
      </div>
    </div>

    <h4>Please report to the administrators of the website, about the error (copy/screenshot the below text to help in identifying the error)</h4><br />

    <p style="font-size:small">{{this._appService.ClaimCaptureService.errorMsgFound}}</p><br />

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._errorFound = false">
      Close
    </button>
  </div>
</clr-modal>

<!--backend error 2-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._success" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-success" role="alert" *ngIf="this._appService.ClaimCaptureService.auditMsg.valid == true">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">PLEASE TAKE NOTE</span>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="this._appService.ClaimCaptureService.auditMsg.valid == false">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">An ERROR occured while trying to save your data</span>
        </div>
      </div>
    </div>

    <div *ngIf="this._appService.ClaimCaptureService.auditMsg.valid == true">
      <h4>The following reference numbers can be used to query this claim. </h4><br />
      <p>File Reference: #{{this._appService.ClaimCaptureService.fileid}}</p>
      <p>Claim Reference: #{{this._appService.ClaimCaptureService.rec1Id}}</p>
    </div>
    <p>Detail that was Saved: <br /> {{this._appService.ClaimCaptureService.auditMsg.message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._success = false">
      Close
    </button>
  </div>
</clr-modal>

<!--banking details-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._bankingPrompt" [clrModalClosable]="false">
  <div class="modal-body">
    <p *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'M'">Would you like to add banking details for this member?</p>
    <p *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'P'">Would you like to add banking details for this provider?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.OpenEditBankingDetails()">YES</button>
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._bankingPrompt = false">NO</button>
  </div>
</clr-modal>

<!--busy spinner-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._busyLoading" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>

<!--loading captured claims error-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._loadingError">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.ClaimCaptureService._loadingError = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.ClaimCaptureService._loadingErrorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.ClaimCaptureService._loadingErrorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.ClaimCaptureService._loadingError = false">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

