<form clrForm [formGroup]="userValidatedInfo">
  <clr-checkbox-container clrInline>
    <clr-checkbox-wrapper>
      <input type="checkbox" clrCheckbox formControlName="checked" (change)=" UserValidated()" />
      <label style="white-space:nowrap; vertical-align:middle; font-weight:700;">
        I Agree that all the above information is correct.
        And the information provided by me is not falsified in any way.
      </label>
      <clr-control-error>This is a required check!</clr-control-error>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
</form>
