<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.riskFactorsForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').valid">

  <h4 style="font-weight: 900"><b>Risk Factors</b></h4>

  <div class="clr-row">

    <div class="clr-col-lg-4">

      <h5><b>Predisposing Risk Factors</b></h5>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4">Alcohol</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-8">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="alcoholYes" value="Y" formControlName="alcoholYN" />
            <label for="alcoholYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="alcoholNo" value="N" formControlName="alcoholYN" />
            <label for="alcoholNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('alcoholYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('alcoholYN').valid">
              Please select an option
            </span> 
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4">Obesity</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-8">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="obesityYes" value="Y" formControlName="obesityYN" />
            <label for="obesityYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="obesityNo" value="N" formControlName="obesityYN" />
            <label for="obesityNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('obesityYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('obesityYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4">Smoker</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-8">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="smokerYes" value="Y" formControlName="smokerYN" />
            <label for="smokerYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="smokerNo" value="N" formControlName="smokerYN" />
            <label for="smokerNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('smokerYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('smokerYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('smokerYN').value == 'N' ">
        <label class="clr-control-label clr-col-sm-6">Did the patient smoke in the past?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-6">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="smokeInPastYes" value="Y" formControlName="patientSmokeInPast" />
            <label for="smokeInPastYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="smokeInPastNo" value="N" formControlName="patientSmokeInPast" />
            <label for="smokeInPastNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('patientSmokeInPast').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('patientSmokeInPast').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('patientSmokeInPast').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-6" for="cessationDate">Date of Cessation</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-date">
            <input class="clr-input"
                   type="date"
                   max="9999-12-31"
                   id="cessationDate"
                   formControlName="cessationDate"
                   (blur)="this._appService.ChronicConditionService.riskFactorsForm.get('cessationDate').setValue(cessationDate.value)" #cessationDate />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('cessationDate').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('cessationDate').valid">
            Valid past date required
          </span>
        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-lg-8">

      <h5><b>Pre-existing Complications</b></h5>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-8">Ischaematic Heart Disease (e.g. Angina, Myocardial Infract)</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-4">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="heartDiseaseYes" value="Y" formControlName="heartDiseaseYN" />
            <label for="heartDiseaseYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="heartDiseaseNo" value="N" formControlName="heartDiseaseYN" />
            <label for="heartDiseaseNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('heartDiseaseYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('heartDiseaseYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-8">Peripheral Vascular Disease (e.g. Aeortic Aneurism)</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-4">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="vascularDiseaseYes" value="Y" formControlName="vascularDiseaseYN" />
            <label for="vascularDiseaseYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="vascularDiseaseNo" value="N" formControlName="vascularDiseaseYN" />
            <label for="vascularDiseaseNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('vascularDiseaseYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('vascularDiseaseYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-8">Stroke/transient ischaemic attacks (TIA)</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-4">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="strokeYes" value="Y" formControlName="strokeYN" />
            <label for="strokeYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="strokeNo" value="N" formControlName="strokeYN" />
            <label for="strokeNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.riskFactorsForm.get('strokeYN').touched && !this._appService.ChronicConditionService.riskFactorsForm.get('strokeYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

    </div> <!--col-->

  </div> <!--row-->
</form>
