
<div class="clr-row">  
  <div class="clr-col-5 clr-offset-xl-2">
    <h1>List Of Remittances</h1>
  </div>
  <div class="clr-col-5">
    <div class="clr-row">
      <div class="clr-col-7 text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD">
        <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2"
              (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <br />
          <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clr-row">  
  <div class="clr-col-12 clr-offset-0 clr-col-xl-8 clr-offset-xl-2">    
    <p>
      For a detailed view click on the information icon. To open the remittance file, click on the download icon. Click
      <a target='_self' href="assets/ERAFormat.xls" download>here</a> to download remittance layout format. You are currently seeing remittances for the past {{this._appService.SettingService.GetSettingsDesc('remitlag')}}
      months if you wish to see older remittances, kindly contact us on
      <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
    </p>
  </div>  
</div>

<div class="clr-row">
  <div class="clr-col-12 clr-offset-0 clr-col-xl-8 clr-offset-xl-2">
    <table class="table" joyrideStep="burRem_1" text="This table contains all your remittances for the past {{this._appService.SettingService.GetSettingsDesc('remitlag')}} months." stepPosition="top">
      <thead>
        <tr>
          <th class="Center" style="border-right: 1px solid #eee;">Paid Date</th>
          <th class="Center" style="border-right: 1px solid #eee;">Number Of Transactions</th>
          <th class="Center" style="border-right: 1px solid #eee; text-align: right; vertical-align: middle;">Amount</th>
          <th class="Center" style="border-right: 1px solid #eee;" joyrideStep="burRem_2" text="Click on the button in this column to view more details of the remittance." stepPosition="top">Information</th>
          <th class="Center" joyrideStep="burRem_3" text="Click on the button in this column to download the text file format of the remittances." stepPosition="top">Download Text Format</th>
          <th class="Center" joyrideStep="burRem_4" text="Click on the button in this column to download the pdf file format of the remittances." stepPosition="top">Download PDF Format</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remittance of  this._appService.LoginService.Remittances">
          <td class="Center" style="border-right: 1px solid #eee; text-align: center; vertical-align: middle;">
            {{remittance.datepaid | date:'yyyy-MM-dd'}}
          </td>
          <td class="Center" style="border-right: 1px solid #eee;  text-align: center; vertical-align: middle;">
            {{remittance.vendorid}}
          </td>
          <td style="text-align: right;border-right: 1px solid #eee;  text-align: right; vertical-align: middle;">
            {{ remittance.amount.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2, minimumFractionDigits : 2 })}}
          </td>
          <td class="Center" style="border-right: 1px solid #eee;  text-align: center; vertical-align: middle;">
            <button type="button" class="btn btn-icon btn-primary"
                    (click)="this._appService.SecurityService.OpenRemittanceModal(remittance.datepaid,remittance.amount,remittance.vendorid)">
              <clr-icon shape="info-standard"></clr-icon>
            </button>
          </td>
          <td class="Center" style="border-right: 1px solid #eee;">
            <button type="button" class="btn btn-icon btn-primary" (click)="this._appService.SecurityService.DownloadRemittance(remittance.datepaid,true)">
              <!--(click)="OpenDownloadModal(remittance.DATEPAID)"-->
              <clr-icon shape="download"></clr-icon>
            </button>
            <!-- <a href="http://localhost:60648/{{this.parseddate}}/logo.png" target="_blank"> Open</a> -->
          </td>
          <td class="Center" style="border-right: 1px solid #eee;">
            <button type="button" class="btn btn-icon btn-primary" (click)="this._appService.SecurityService.DownloadRemittance(remittance.datepaid,false)">
              <clr-icon shape="download"></clr-icon>
            </button>
          </td>
        </tr>       
        <tr *ngIf="this._appService.SecurityService.RemittanceLoader==true">
          <span class="spinner spinner-inline">
            Loading...
          </span>
          <span>
            Loading...
          </span>
        </tr>       
      </tbody>
    </table>
  </div>  
</div>

<div *ngIf="this._appService.SecurityService.DetailRemittanceModal">
  <div class="modal" style=" overflow: hidden;">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.DetailRemittanceModal=false" aria-label="Close" class="close"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="clr-row">
            <h3 class="modal-title">
              <u>
                <b>Detailed Remittance Information</b>
              </u>
            </h3>
            <br />
          </div>
          <div class="clr-row" style="
            position:  relative;
            left: 77px;
            top: 12px;
        ">
            <div class="clr-col-4">
              <span class="clr-example-col-value">
                <label for="aForm_1">
                  <b>Transaction Date:</b>
                  {{this._appService.SecurityService.SelectedRemittance.datepaid| date:'yyyy-MM-dd'}}
                </label>
              </span>
            </div>
            <div class="clr-col-4">
              <span class="clr-example-col-value">
                <label>
                  <b>Total Amount Paid:</b> {{
this._appService.SecurityService.SelectedRemittance.amount.toLocaleString('en-US', { style:
                    'decimal', maximumFractionDigits : 2, minimumFractionDigits : 2 })
                  }}
                </label>
              </span>
            </div>
            <div class="clr-col-4">
              <span class="clr-example-col-value">
                <label>
                  <b>Total Transactions Paid:</b> {{this._appService.SecurityService.SelectedRemittance.vendorid}}
                </label>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="clr-row clr-align-items-center">
            <!--                     <div class="col-xs-1">
                        <span class="clr-example-col-value">
                        </span>
                    </div> -->
            <div class="clr-col-1"></div>
            <div class="clr-col-10 table-scroll">
              <clr-datagrid>
                <clr-dg-column style="text-align: center; vertical-align: middle; width: 200px">
                  Batch Number
                </clr-dg-column>
                <clr-dg-column style="text-align: center; width: 243px">Payee</clr-dg-column>
                <clr-dg-column [clrDgField]="'VENDORID'">Practice Number</clr-dg-column>
                <clr-dg-column style="text-align: right;  width: 30px">Amount</clr-dg-column>
                <clr-dg-row *clrDgItems="let detailedremittance of this._appService.SecurityService.DetailedRemittance">
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">
                    {{detailedremittance.prefix}}
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">
                    {{detailedremittance.payee}}
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">
                    {{detailedremittance.vendorid}}
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align: right; vertical-align: middle;">
                    {{
detailedremittance.amount.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2,
                              minimumFractionDigits : 2 })
                    }}
                  </clr-dg-cell>
                </clr-dg-row>

                <!--   <clr-dg-footer>{{users.length}} users</clr-dg-footer> -->
              </clr-datagrid>
            </div>
            <div class="clr-col-1"></div>
            <!--                     <div class="col-xs-1">
                        <span class="clr-example-col-value">
                        </span>
                    </div> -->
          </div>

          <div class="modal-footer">
            <button class="btn" (click)="this._appService.SecurityService.DetailRemittanceModal=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Indicates the busy modal when a remittance is being downloaded-->
<div *ngIf="this._appService.SecurityService.DownloadRemittanceModel">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.DownloadRemittanceModel=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Generating File(s)</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="clr-col-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while your remittance information is being gathered. PDF documents can take up to 5 minutes to generate. Downloading text files are recommended.
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService._errorRemittance" [clrModalClosable]="false">
  <h3 class="modal-title">An Error Occurred</h3>
  <div class="modal-body">
    <p>The Server is currently to busy to handle your remittance request, if this problem persists, please try again after 15h00 in the afternoon.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService._errorRemittance = false">
      Ok
    </button>
  </div>
</clr-modal>

<!--In development Modal-->
<div *ngIf="this._appService.SecurityService.InDevelopment==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="this._appService.SecurityService.InDevelopment = false">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">In Development</h3>
        </div>
        <div class="modal-body">
          <p>Download of remittances still in development...</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

