<div class="clr-row">
  <!--<div class="clr-col">
    <span></span>
  </div>-->
  <div class="clr-col-lg-6 clr-offset-lg-3">
   
      <div class="card" style="position:static"
           joyrideStep="auth_1" text="This form is used to search for authorisations." stepPosition="left">
        <div class="card-header">
          <div class="card-header">
            <div class="clr-row">
              <div class="clr-col-4">
                <span>
                  Enter Auth Details
                </span>
              </div>
              <div class="clr-col-3" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
                <span>

                </span>
              </div>
              <div class="clr-col-5" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
                <span>
                  Practice Number: {{this._appService.LoginService.CurrentLoggedInUser.provID}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="card-title">
            <form clrForm>
              <div class="clr-row">
                <div class="clr-col-12">
                  <clr-input-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthMemberNumber')"
                                       joyrideStep="auth_2" title="Member Number" text="Type a member number here." stepPosition="left">
                    <label>Member No:</label>
                    <input clrInput type="text" placeholder="Enter value here" required name="MemberNumber"
                           [(ngModel)]="this._appService.AuthorizationService.AuthDetail.memberno" #MemberNumber="ngModel"
                           size="30">
                  </clr-input-container>
                </div>
                <div class="clr-col-12">
                  <clr-select-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthHealthPlan')"
                                        joyrideStep="auth_3" title="Fund" text="Select the fund to which the member belongs here." stepPosition="left">
                    <label for="HP_Contract">Fund:</label>
                    <select clrSelect name="HP_Select" [(ngModel)]="this._appService.AuthorizationService.Healthplan.hpcode" name="HP_Contract">
                      <option *ngFor="let contract of this._appService.LoginService.ClaimsHealthPlanDropDown"
                              [ngValue]="contract.hpcode">
                        {{contract.hpname}}
                      </option>
                    </select>
                  </clr-select-container>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col">
                  <clr-date-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthorizationServiceDate')">
                    <label>Service Date:</label>
                    <input type="date" id="date" required name="ServiceDate" [(ngModel)]="this._appService.AuthorizationService.AuthDetail.servicedate"
                           #ServiceDate="ngModel" clrDate>
                  </clr-date-container>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col">
                  <clr-input-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthMemberID')">
                    <label>Member ID Number:</label>
                    <input clrInput type="text" placeholder="Enter value here" required name="MemberID"
                           [(ngModel)]="this._appService.AuthorizationService.AuthDetail.memberid" #MemberNumber="ngModel">
                  </clr-input-container>
                </div>
                <div class="clr-col">
                  <clr-date-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthMemberDOB')">
                    <label>Member Date Of Birth:</label>
                    <input type="date" id="date" required name="MemberDOB" [(ngModel)]="this._appService.AuthorizationService.AuthDetail.memberdob"
                           #MemberDOB="ngModel" clrDate>
                  </clr-date-container>
                </div>
              </div>
              <div class="clr-row">
                <div class="clr-col">
                  <clr-input-container *ngIf="this._appService.SettingService.GetSettingEnabled('ProviderViewAuthProviderPracticeNumber')">
                    <label>Practice Number:</label>
                    <input clrInput type="text" placeholder="Enter value here" required name="ProviderID"
                           [(ngModel)]="this._appService.AuthorizationService.AuthDetail.practice" #ProviderID="ngModel">
                  </clr-input-container>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
          <div class="clr-row">
            <div class="clr-col-9">
              <button class="btn btn-primary btn-sm" [disabled]="this._appService.AuthorizationService.DisableSearch" (click)="this._appService.AuthorizationService.SearchAuth()"
                      joyrideStep="auth_4" title="Validate" text="Click on this button to search for authorizations." stepPosition="bottom">
                Search Auth
              </button>
              <button class="btn btn-primary btn-sm" (click)="this._appService.AuthorizationService.ClearAllInputFields()"
                      joyrideStep="auth_5" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
                Clear Fields
              </button>
              <span class="spinner spinner-inline" *ngIf="this._appService.AuthorizationService.Spinner">
                Searching Auths...
              </span>
              <span *ngIf="this._appService.AuthorizationService.Spinner">
                Searching Auths...
              </span>
            </div>
            <div class="clr-col-3">
              <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
                    (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
                <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
              </span>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
          <button class="btn btn-primary btn-sm" [disabled]="this._appService.AuthorizationService.DisableSearch" (click)="this._appService.AuthorizationService.SearchAuth()">Search Auth</button>
          <button class="btn btn-primary btn-sm" (click)="this._appService.AuthorizationService.ClearAllInputFields()">Clear Fields</button>
          <span class="spinner spinner-inline" *ngIf="this._appService.AuthorizationService.Spinner">
            Searching Auths...
          </span>
          <span *ngIf="this._appService.AuthorizationService.Spinner">
            Searching Auths...
          </span>
        </div>
        <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2">
          <button class="btn btn-primary btn-sm" [disabled]="this._appService.AuthorizationService.DisableSearch" (click)="this._appService.AuthorizationService.SearchAuth()">Search Auth</button>
          <button class="btn btn-primary btn-sm" (click)="this._appService.AuthorizationService.ClearAllInputFields()">Clear Fields</button>
          <span class="spinner spinner-inline" *ngIf="this._appService.AuthorizationService.Spinner">
            Searching Auths...
          </span>
          <span *ngIf="this._appService.AuthorizationService.Spinner">
            Searching Auths...
          </span>
        </div>
      </div>
    
  </div>
  <!--<div class="clr-col">
    <span></span>
  </div>-->
</div>

<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.modelContractShow" [clrModalClosable]="false">
  <h3 class="modal-title text-center">
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <div class="alert-text">
            WARNING!!!
          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="modal-body">
    <div *ngFor="let line of this._appService.AuthorizationService.contractMessage">
      {{line}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.AuthorizationService.modelContractShow = false">
      OK
    </button>
  </div>
</clr-modal>

<div *ngIf="this._appService.AuthorizationService.AuthTable==true">
  <table class="table">
    <thead>
      <tr>
        <!--<th>Practice</th>
      <th>Doctor</th> -->
        <th>Member Number</th>
        <th>Dependent Code</th>
        <th>Plan</th>
        <th>Member Name</th>
        <th>Service Date</th>
        <th>Reference</th>
        <th>Auth Number</th>
        <th>Authorized Amount</th>
        <!-- <th>LOBCODE</th> -->
        <th>DESC</th>
        <!-- <th>Download</th> -->
      </tr>
    </thead>
    <!--  <div style="overflow-x:scroll; overflow-x:hidden; height:650px"> -->
    <tbody>
      <tr *ngFor="let auth of this._appService.AuthorizationService.AllAuths">
        <!--<td>{{auth.practice}}</td>
  <td>{{auth.doctor}}</td> -->
        <td>{{auth.memberNo}}</td>
        <td>{{auth.dependentCode}}</td>
        <td>{{auth.plan}}</td>
        <td>{{auth.memberName}}</td>
        <td>{{auth.serviceDate | date:'yyyy-MM-dd'}}</td>
        <td>{{auth.reff}}</td>
        <td>{{auth.authNo}}</td>
        <td>{{auth.authorizedAmount}}</td>
        <!--                 <td>{{auth.lobcode}}</td> -->
        <td>{{auth.descr}}</td>
        <!--                 <td>
      <button type="button" class="btn btn-icon btn-link btn-sm" (click)="OpenDownloadModal(auth.AuthNo,auth.ServiceDate)">
          <clr-icon shape="download"></clr-icon>
      </button>
  </td> -->
      </tr>

    </tbody>
    <!-- </div> -->
    <tfoot>
      <tr>
        <td colspan="16" style="text-align: right">{{this._appService.AuthorizationService.AllAuths.length}} Auths Found</td>
      </tr>
    </tfoot>
  </table>
</div>

<div *ngIf="this._appService.AuthorizationService.EmptyForm==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.AuthorizationService.EmptyForm=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">The Following Is Required:</h3>
        </div>
        <div class="modal-body">
          <ul *ngFor="let Requirement of this._appService.AuthorizationService.Required">
            <li>{{Requirement}}</li>
          </ul>
          <p>Make sure details are provided before a auth can be searched.</p>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.AuthorizationService.EmptyForm=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.AuthorizationService.NoAuthsFound==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.AuthorizationService.NoAuthsFound=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">No Auth(s) Found!!</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Search Returned with {{this._appService.AuthorizationService.AllAuths.length}} Auths.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.AuthorizationService.NoAuthsFound=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.AuthorizationService.ClickedDownload==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.AuthorizationService.ClickedDownload=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Select Format To Download</h3>
        </div>
        <div class="modal-body">
          <form>
            <section class="form-block">
              <div class="form-group row">
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <label for="txtDownload">Text Format:</label>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                  <button type="button" class="btn btn-outline">
                    <clr-icon shape="download"></clr-icon>
                  </button>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  <label for="pdfDownload">PDF Format:</label>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                  <button type="button" class="btn btn-outline">
                    <clr-icon shape="download"></clr-icon>
                  </button>
                </div>
              </div>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.AuthorizationService.OpenFileWait==true">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.AuthorizationService.OpenFileWait=false" aria-label="Close" class="close"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="form-group">
            <h3 class="modal-title">Opening File</h3>
          </div>
        </div>
        <div class="modal-body">
          <div class="row flex-items-xs-left">
            <div class="col-xs-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="col-xs-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while your remittance information is being gathered...
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button class="btn" (click)="this.remittancedownloadmodal=false">OK</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
