<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.hyperlipidaemiaForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'CHOL'">

  <h4 style="font-weight: 900"><b>Hyperlipidaemia</b></h4>

  <!--<p>Fasting diagnostic baseline lipogram, including the total cholesterol, HDL, triglyceride, and LDL values (please note that "baseline lipogram" refers to the pathology results which confirmed your initial diagnosis)</p>-->

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="icd10Hyperlip">ICD10 Code</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="icd10Hyperlip"
                    formControlName="hyperlipIcd10">
              <option *ngFor="let item of this._appService.ChronicConditionService.HyperLipDiags" value="{{item.diagCode}}">{{item.diagCode}} - {{item.diagDesc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipIcd10').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipIcd10').valid">
            Please select a diagnosis code
          </span>
        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">Is the patient on therapy?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hyperlipTherapyYes" value="Y" formControlName="hyperlipTherapyYN" />
            <label for="hyperlipTherapyYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hyperlipTherapyNo" value="N" formControlName="hyperlipTherapyYN" />
            <label for="hyperlipTherapyNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipTherapyYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipTherapyYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row">

    <div class="clr-col-lg-12" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipTherapyYN').value == 'Y'">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="therapyDuration">Duration of therapy (years)</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="7"
                   id="therapyDuration"
                   formControlName="therapyDuration"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, therapDur)" #therapDur />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('therapyDuration').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('therapyDuration').valid">
            This field requires valid data
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipTherapyYN').value == 'Y'">

    <br /><label class="clr-control-label">Indicate the medicine used when most recent fasting lipogram was done:</label>

    <div class="clr-row">

      <div class="clr-col-lg-12">

        <table class="table">
          <thead>
            <tr>
              <th>ICD-10</th>
              <th>Prescribed medicine</th>
              <th>Strength</th>
              <th>Dosage</th>
              <th>Quantity per month</th>
              <th>Number of repeats</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medItem of this._appService.ChronicConditionService.HyperlipidaemiaMedList">
              <td>{{medItem.icd10}}</td>
              <td>{{medItem.svcCodeDescr}}</td>
              <td>{{medItem.strength}}</td>
              <td>{{medItem.dosage}}</td>
              <td>{{medItem.qtyPerMonth}}</td>
              <td>{{medItem.numRepeats}}</td>
              <td>
                <button class="btn btn-sm" style="margin-bottom: 2px" (click)="this._appService.ChronicConditionService.onEditMedicationItem(medItem)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="this._appService.ChronicConditionService.onRemoveMedicationItem(medItem)">Remove</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onNewMedicationItem('hyperlipOnTherapyMedHist')">Add New</button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="clr-subtext-wrapper">
          <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipidaemiaMedHist').valid">
            Medicine used is required
          </span>
        </div>

      </div> <!--col-->

    </div> <!--row-->

  </div>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-3">For patient with diabetes, upload the pathology results</label>
        <div class="clr-control-container clr-col-sm-9">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.HyperlipPathResultFiles, this._appService.ChronicConditionService.hyperlipidaemiaForm, 'hyperlipPathResults')"
                        (click)="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipPathResults').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipPathResults').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hyperlipPathResults').valid">
            Pathology results are required
          </span>

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.HyperlipPathResultFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.HyperlipPathResultFiles, this._appService.ChronicConditionService.hyperlipidaemiaForm, 'hyperlipPathResults')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">Does the patient have symptomatic atherosclerotic disease confirmed by a cardiologist specialist physician or did the patient have a previous incident?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="atheroscleroticYes" value="Y" formControlName="atheroscleroticYN" />
            <label for="atheroscleroticYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="atheroscleroticNo" value="N" formControlName="atheroscleroticYN" />
            <label for="atheroscleroticNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('atheroscleroticYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('atheroscleroticYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">Is the patient on treatment for hypertension?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hypertensionTreatmentYes" value="Y" formControlName="hypertensionTreatmentYN" />
            <label for="hypertensionTreatmentYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hypertensionTreatmentNo" value="N" formControlName="hypertensionTreatmentYN" />
            <label for="hypertensionTreatmentNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hypertensionTreatmentYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('hypertensionTreatmentYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">Genetic hyperlipidaemia: Diagnosed by a specialist physician?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="geneticHyperlipidaemiaYes" value="Y" formControlName="geneticHyperlipidaemiaYN" />
            <label for="geneticHyperlipidaemiaYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="geneticHyperlipidaemiaNo" value="N" formControlName="geneticHyperlipidaemiaYN" />
            <label for="geneticHyperlipidaemiaNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('geneticHyperlipidaemiaYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('geneticHyperlipidaemiaYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-12">Positive family history of myocardial infraction in:</label>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">1. First-grade male blood relative (father/brother) < 55 years</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="maleBloodRelativeYes" value="Y" formControlName="maleBloodRelativeYN" />
            <label for="maleBloodRelativeYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="maleBloodRelativeNo" value="N" formControlName="maleBloodRelativeYN" />
            <label for="maleBloodRelativeNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('maleBloodRelativeYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('maleBloodRelativeYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">2. First-grade female blood relative (mother/sister) < 65 years</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="femaleBloodRelativeYes" value="Y" formControlName="femaleBloodRelativeYN" />
            <label for="femaleBloodRelativeYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="femaleBloodRelativeNo" value="N" formControlName="femaleBloodRelativeYN" />
            <label for="femaleBloodRelativeNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('femaleBloodRelativeYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('femaleBloodRelativeYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-9">3. Presence of tendon xanthoma</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-3">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="tendonXanthomaYes" value="Y" formControlName="tendonXanthomaYN" />
            <label for="tendonXanthomaYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="tendonXanthomaNo" value="N" formControlName="tendonXanthomaYN" />
            <label for="tendonXanthomaNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hyperlipidaemiaForm.get('tendonXanthomaYN').touched && !this._appService.ChronicConditionService.hyperlipidaemiaForm.get('tendonXanthomaYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
