<div class="alert alert-info" role="alert" style="width:97%; position:static">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <span class="alert-text">
        <b>Bordereaux Help</b><br />
        This application gives you the ability to generate a Bordereaux according to your specified data, it  allows you to <i>VALIDATE, REJECT</i> and <i>EXCLUDE</i> claims from a Bordereaux
        as well as edit the banking details of member claims.<br />
        <!--<a target="_self" href="./../../../../PamcPortal/assets/CheckRun_User_Guide.pdf" download="CheckRun_User_Guide.pdf" style="text-decoration:none">
          For a more detailed explanation of what to do, download the <i>USER GUIDE</i> here. <clr-icon shape="download"></clr-icon>
        </a>-->
        <a target="_self" href="assets/CheckRun_User_Guide.pdf" download="CheckRun_User_Guide.pdf" style="text-decoration:none">
          For a more detailed explanation of what to do, download the <i>USER GUIDE</i> here. <clr-icon shape="download"></clr-icon>
        </a>
      </span>
    </div>
  </div>
</div>
