<div class="alert alert-info alert-sm" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
      </div>
      <div class="alert-text">
        Click on New to enter your Data for your Claim Header, and Save to continue
      </div>
    </div>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-9">
    <button class="btn btn-success btn-sm" type="submit" (click)="this.SaveData()" [disabled]="!this.cMasterForm.valid">
      Save
    </button>
    <button class="btn btn-warning btn-sm" [disabled]="!this._appService.ClaimCaptureService.btnClick" (click)="this.DisableOnCancel()">

      Cancel
    </button>
    <button class="btn btn-primary btn-sm" type="submit" (click)="ClearFormOnNew()" [disabled]="this._appService.ClaimCaptureService.btnClick">
      New
    </button>
    <button class="btn btn-Secondary btn-sm" type="submit" (click)="EditData()" [disabled]="this._appService.ClaimCaptureService.btnClick">
      Edit
    </button>

  </div>
  </div>
  <form clrForm [formGroup]="cMasterForm" >

    <!--<div class="clr-col-3" *ngIf="false">
      <span *ngIf="this._appService.SecurityService.CurrentLoggedInUser.userType == 3"
            (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
        <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
      </span>
    </div>-->
<div class="clr-row">
  <div class="clr-col-6">
    <clr-select-container>
      <label>Health Plan</label>
      <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()" tabindex="1">
        <option *ngFor="let list of this._appService.ClaimCaptureService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
      </select>
    </clr-select-container>
    <clr-select-container>
      <label>Type</label>
      <select clrSelect formControlName="PHC" (change)="this.PHCODEChanged()">
        <option *ngFor="let code of this._appService.ClaimCaptureService.phSelect" tabindex="2" [ngValue]="code">{{code}}</option>
      </select>
    </clr-select-container>
    <clr-input-container>
      <label>
        Practice Number
      </label>
      <input tabindex="3" clrInput type="text" (blur)=" ValidateEzcapProv()" formControlName="ezcapprov" required />
      <clr-control-error>{{this.errorMsgEzProv}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)" tabindex="-1">
        {{this.errorMsgEzProv}} &nbsp;
        <a role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-lg tooltip-bottom-right">
          <clr-icon shape="info-circle" size="20"></clr-icon>
          <span tabindex="-1" class="tooltip-content">All practice numbers will be validated, even if it was not found, since it could be a new provider.</span>
        </a>
      </clr-control-helper>
      <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="this.ezProvSpec != ''">{{this.ezProvSpec}}</clr-control-helper>
    </clr-input-container>
    <clr-input-container>
      <label>Referring Practice Number</label>
      <input clrInput tabindex="4" type="text" (blur)="ValidateRefProv()" formControlName="reprovider" />
      <clr-control-error>{{this.errorMsgRefProv}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgRefProv}}</clr-control-helper>
    </clr-input-container>
    <clr-select-container  tabindex="5">
      <label>Group Practice</label>
      <select clrSelect formControlName="vendoid" (change)="VendIdChanged()">
        <option *ngFor="let id of this._appService.ClaimCaptureService.vendorIds" [ngValue]="id.vendor">{{id.displayItem}}</option>
      </select>
    </clr-select-container>
  </div>
  <div class="clr-col-6">
    <clr-select-container [hidden]="true">
      <label>Place</label>
      <select clrSelect formControlName="PlaceSelect" (change)="PlcSrvChanged()" tabindex="6">
        <option *ngFor="let place of this._appService.ClaimCaptureService.plcSvcList" [ngValue]="place.code">{{place.descr}}</option>
      </select>
    </clr-select-container>
    <!--<clr-input-container>
      <label>Family Number</label>
      <input clrInput type="text" tabindex="7" (blur)="ValidateEzcapMemb()" formControlName="ezcapmemb"
             required />
      <clr-control-error>{{this.errorMsgMemb}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgMemb}}</clr-control-helper>
    </clr-input-container>-->
    <clr-input-container>
      <label>Family Number</label>
      <input clrInput type="text" tabindex="7" (blur)="ValidateEzcapMembNew()" formControlName="ezcapmemb"
             required />
      <clr-control-error>{{this.errorMsgMemb}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.familyOpt}}</clr-control-helper>
    </clr-input-container>
    <!--<clr-input-container>
      <label>Dependant Code</label>
      <input clrInput type="text" tabindex="8" (blur)="ValidateEzcapDep()" formControlName="ezcapdepmemb"
             required />
      <clr-control-error>{{this.errorMsgDepMem}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgDepMem}}</clr-control-helper>
    </clr-input-container>-->
    <clr-select-container>
      <label>Dependant Code</label>
      <select clrSelect type="select"
              tabindex="8"
              id="dependant"
              formControlName="ezcapdepmemb"
              (change)="ValidateEzcapDepNew()"
              required>
        <option *ngFor="let de of this.familyList" value="{{de.dependant}}">{{de.firstnm}} {{de.lastnm}} - {{de.dependant}}</option>
      </select>
      <clr-control-error>This field is required!</clr-control-error>
      <clr-control-helper style="color: rgb(255,133,15)" *ngIf="this.depOpthruDt != ''">{{this.depOpthruDt}}</clr-control-helper>
    </clr-select-container>
    <clr-input-container joyrideStep="header_9" title="Acc No." text="Enter the account number here." stepPosition="right">
      <label>Account Number</label>
      <input clrInput type="text" tabindex="9" (blur)="ValidateProvClaim()" formControlName="provclaim" />
      <clr-control-error>{{this.errorMsgProvClaim}}</clr-control-error>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgProvClaim}}</clr-control-helper>
    </clr-input-container>
    <clr-date-container>
      <label>Date Received</label>
      <input type="date" tabindex="10" clrDate formControlName="RecDateField" (blur)="ValidaterecDateField()" />
      <clr-control-error>{{this.errorMsgRecdate}}</clr-control-error>
    </clr-date-container>
    <clr-select-container>
      <label>Payment to</label>
      <select clrSelect tabindex="11" formControlName="CTOpt" (change)="this.ClaimTypeChanged()">
        <!--<option *ngFor="let ctype of this._appService.ClaimCaptureService.ctSelect" [ngValue]="ctype">{{ctype}}</option>-->
        <option>PROVIDER</option>
        <option>MEMBER</option>
      </select>
    </clr-select-container>
    <clr-input-container>
      <label>Auth Number</label>
      <input clrInput type="text" tabindex="12" (blur)="ValidateEzcapAuth()" formControlName="ezcapauth" />
      <clr-control-error>{{this.errorMsgEzAuth}}</clr-control-error>
      <clr-control-helper style="color:cornflowerblue">*This Field is Optional</clr-control-helper>
      <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgEzAuth}}</clr-control-helper>
    </clr-input-container>
  </div>
</div>
</form>


