<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.requestedMedicationForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value != null">

  <h4 style="font-weight: 900"><b>Requested Medications</b></h4>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <table class="table">
        <thead>
          <tr>
            <th>ICD-10</th>
            <th>Prescribed medicine</th>
            <th>Strength</th>
            <th>Dosage</th>
            <th>Quantity per month</th>
            <th>Number of repeats</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medItem of this._appService.ChronicConditionService.RequestedMedList">
            <td>{{medItem.icd10}}</td>
            <td>{{medItem.svcCodeDescr}}</td>
            <td>{{medItem.strength}}</td>
            <td>{{medItem.dosage}}</td>
            <td>{{medItem.qtyPerMonth}}</td>
            <td>{{medItem.numRepeats}}</td>
            <td>
              <button class="btn btn-sm" style="margin-bottom: 2px" (click)="this._appService.ChronicConditionService.onEditMedicationItem(medItem)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="this._appService.ChronicConditionService.onRemoveMedicationItem(medItem)">Remove</button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onNewMedicationItem('requestedMedication')">Add New</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div> <!--col-->
    
    <div class="clr-col-lg-12" *ngIf="this._appService.ChronicConditionService.RequestedMedList.length > 0">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3">Upload medication prescription</label>
        <div class="clr-control-container clr-col-sm-9">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.MedPrescriptionFiles, this._appService.ChronicConditionService.requestedMedicationForm, 'medPrescription')"
                        (click)="this._appService.ChronicConditionService.requestedMedicationForm.get('medPrescription').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.requestedMedicationForm.get('medPrescription').touched && !this._appService.ChronicConditionService.requestedMedicationForm.get('medPrescription').valid">
            Prescription required
          </span>

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.MedPrescriptionFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.MedPrescriptionFiles, this._appService.ChronicConditionService.requestedMedicationForm, 'medPrescription')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>

        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
