<div class="clr-row">
  <div class="clr-col-md-2"></div>
  <div class="clr-col-md-8">
    <div class="clr-row">
      <div class="clr-col-md-12">
        <br />
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-6"><h3><b>Existing Setups</b></h3></div>
      <div class="clr-col-md-6 text-right">
        <br /><button class="btn btn-success-outline" (click)="New()"
                      joyrideStep="ben_2" title="New" text="Click on this button to setup a new auth set." stepPosition="bottom">
          <b style="font-weight:bolder;color:forestgreen"><clr-icon shape="plus"></clr-icon></b>NEW
        </button>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-md-12">
        <clr-datagrid>
          <clr-dg-column>HPCODE</clr-dg-column>
          <clr-dg-column>Description</clr-dg-column>
          <clr-dg-column joyrideStep="ben_3" title="Edit" text="Click on the button in this column to edit an existing auth set." stepPosition="bottom">Edit</clr-dg-column>
          <clr-dg-column joyrideStep="ben_4" title="Edit" text="Click on the button in this column to delete an existing auth set." stepPosition="bottom">Delete</clr-dg-column>

          <clr-dg-row *ngFor="let spec of this._appService.SecurityService.existingBen">
            <clr-dg-cell>{{spec.hpcode}}</clr-dg-cell>
            <clr-dg-cell>{{spec.desc}}</clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-icon btn-Secondary btn-sm" type="submit" (click)="Edit(spec)">
                <clr-icon shape="pencil"></clr-icon>
              </button>
            </clr-dg-cell>
            <clr-dg-cell>
              <button class="btn btn-icon btn-danger-outline btn-sm" type="submit" (click)="Delete(spec)"
                      [disabled]="">
                <clr-icon shape="trash"></clr-icon>
              </button>
            </clr-dg-cell>

          </clr-dg-row>

          <clr-dg-footer>{{this._appService.SecurityService.existingBen.length}} specs</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="clr-col-md-2">

    <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
          (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
      <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
    </span>

  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body" style="padding: 24px;">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._showPopup" [clrModalSize]="'xl'">
  <div class="modal-body">
    <div class="card">
      <div class="card-header text-center">
        <div class="clr-row">
          <div class="clr-col-lg-3"></div>
          <div class="clr-col-lg-6 card-header"> <b>Authorisation Sets Setup</b></div>
          <div class="clr-col-lg-3">

          </div>
        </div>

      </div>
      <div class="card-block">
        <div class="card-text">
          <form clrForm [formGroup]="benForm" clrLayout="compact">
            <div class="clr-row">
              <div class="clr-col-lg-12">
                <div class="clr-row" joyrideStep="ben_1" title="Benefit Setup Form" text="This form is used to configure your benifit setups." stepPosition="left">
                  <div class="clr-col-lg-10">
                    <div class="clr-row">
                      <div class="clr-col-6">
                        <clr-select-container joyrideStep="ben_5" title="Healthplan" text="Select a healthplan here." stepPosition="left">
                          <label>Health Plan</label>
                          <select clrSelect formControlName="hp" (change)="GetPhCodes()">
                            <option *ngFor="let list of this._appService.ClaimCaptureService.HpCodesList" value="{{list.code}}">{{list.name}}</option>
                          </select>
                        </clr-select-container>

                      </div>
                      <div class="clr-col-6">
                        <clr-input-container style="white-space:nowrap" joyrideStep="ben_6" title="Description" text="Enter your benifits description here." stepPosition="left">
                          <label>Description</label>
                          <input clrInput formControlName="desc" style="width:250px" />
                        </clr-input-container>
                      </div>
                    </div>
                  </div>
                  <div class="clr-col-2">
                    <div *ngIf="this._new">
                      <button class="btn btn-success btn-sm" (click)="Submit()" joyrideStep="ben_9" title="Submit" text="Click on this button once you are done with your setup, then click on CLEAR ALL FIELDS." stepPosition="top">Submit</button>
                      <br />
                    </div>
                    <div *ngIf="this._edit">
                      <button class="btn btn-success btn-sm" (click)="Update()">Update</button>
                      <br />
                    </div>
                    <br />
                    <button class="btn btn-primary btn-sm" (click)="Clear()" joyrideStep="ben_10" title="Clear" text="Click on this button to clear all fields." stepPosition="top">Cancel</button>

                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-lg-7" joyrideStep="ben_8" title="Selected List" text="Here a list will be displayed of your selected specialties." stepPosition="top">
                    <br />
                    <h5>Specialties included in this authorisation set</h5>
                    <br />
                    <br />
                    <clr-datagrid style="width:80%" class="datagrid-compact">
                      <clr-dg-column>Code</clr-dg-column>
                      <clr-dg-column>Description</clr-dg-column>
                      <clr-dg-column>ProcCode</clr-dg-column>
                      <clr-dg-column>Benefit Code</clr-dg-column>

                      <clr-dg-placeholder>No items selected!</clr-dg-placeholder>
                      <clr-dg-row *ngFor="let spec of this._appService.SecurityService.selectedList">
                        <clr-dg-cell>{{spec.code}}</clr-dg-cell>
                        <clr-dg-cell>{{spec.desc}}</clr-dg-cell>
                        <clr-dg-cell>{{spec.procCode}}</clr-dg-cell>
                        <clr-dg-cell>{{spec.benCode}}</clr-dg-cell>
                      </clr-dg-row>

                      <clr-dg-footer>
                        {{this._appService.SecurityService.selectedList.length}} specs selected
                      </clr-dg-footer>

                    </clr-datagrid>
                  </div>
                  <div class="clr-col-lg-5" joyrideStep="ben_7" title="Specialties" text="In this grid you can choose the specialties that are applicable to your benifit." stepPosition="top">
                    <br />
                    <h5>Available Specialties (Search and select to add)</h5>
                    <clr-input-container style="white-space:nowrap">
                      <label>Search</label>
                      <input clrInput formControlName="search" style="width:275px" />
                      <clr-control-helper>
                        <clr-icon shape="search" style="cursor:pointer;" (click)="Search()"></clr-icon>&nbsp;<clr-icon shape="times" style="cursor:pointer;" (click)="RemoveSearch()"></clr-icon>
                      </clr-control-helper>
                    </clr-input-container>

                    <clr-datagrid style="width:100%" class="datagrid-compact">
                      <clr-dg-column [style.width.px]="5">Code</clr-dg-column>
                      <clr-dg-column>Description</clr-dg-column>
                      <clr-dg-column>Select/Unselect</clr-dg-column>

                      <clr-dg-row *ngFor="let spec of this.tempList">
                        <clr-dg-cell>{{spec.code}}</clr-dg-cell>
                        <clr-dg-cell>{{spec.desc}}</clr-dg-cell>
                        <clr-dg-cell>
                          <input type="checkbox" formControlName="select" clrCheckbox [checked]="spec.selected" (change)="OptionChanged(spec.code)" />
                        </clr-dg-cell>
                      </clr-dg-row>

                      <clr-dg-footer>
                        <div class="clr-row">
                          <div class="clr-col-4">
                            <clr-icon shape="rewind" class="is-solid" (click)="DecPage()" *ngIf="this.currentPage > 1" style="cursor:pointer"></clr-icon>&nbsp;
                            {{this.currentPage}} of {{this.lastPage}} pages &nbsp;
                            <clr-icon shape="fast-forward" class="is-solid" (click)="IncPage()" *ngIf="this.currentPage < this.lastPage" style="cursor:pointer"></clr-icon>
                          </div>
                          <div class="clr-col-4">
                          </div>
                          <div class="clr-col-4">
                            {{this._appService.SecurityService.specList.length}} specs
                          </div>
                        </div>

                      </clr-dg-footer>

                    </clr-datagrid>
                  </div>


                </div>

              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openSpec" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <div class="modal-body">
    <form clrForm [formGroup]="SpecForm" clrLayout="compact">
      <div class="clr-row">
        <div class="clr-col-lg-6">
          <clr-select-container>
            <label>Benefit Code</label>
            <select clrSelect formControlName="Ben">
              <option *ngFor="let ben of this._appService.SecurityService.bencodes" [ngValue]="ben.code">{{ben.desc}} </option>
            </select>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-select-container>

        </div>
        <div class="clr-col-lg-6">
          <clr-input-container>
            <input clrInput formControlName="Search" (blur)="ValidateProcCode()" />
            <clr-control-helper><span (click)="SearchBenTypes()"><clr-icon shape="search"></clr-icon></span></clr-control-helper>
            <clr-control-helper><span (click)="ClearSearch()"><clr-icon shape="times"></clr-icon></span></clr-control-helper>
          </clr-input-container>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-lg-7">
          <clr-input-container>
            <label style="text-wrap:">Procedure Code</label>
            <input clrInput formControlName="Proc" (blur)="ValidateProcCode()" />
            <clr-control-error>{{this._procerror}}</clr-control-error>
          </clr-input-container>
        </div>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="AddSpecs()" [disabled]="!this.SpecForm.valid">
      Submit
    </button>
    <button type="button" class="btn btn-primary" (click)="CancelSpec()">
      CANCEL
    </button>
  </div>
</clr-modal>
