<div *ngIf="this._appservice.SecurityService.RecoverAccountForm==true && this._appservice.SecurityService.BureauRecovery==true ">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Please Contact Us For Assistance</h3>
        </div>
        <div class="modal-body">
          <p>
            For assistance on this matter contact our network department on
            <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div><p>account-recovery works!</p>
