<div class="alert alert-app-level alert-success" role="alert" *ngIf="this._appService.LoginService.IsLoggedIn == true
     && this._appService.LoginService.CurrentLoggedInUser.userType==1  && this.router.url !== '/login'
     && this._appService.SettingService.showSurvey">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-text">
        <div class="clr-row">
          <div class="clr-col-4"></div>
          <div class="clr-col-4 ">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>&nbsp; Please help us improve your user experience on the site by doing an online survey.

          </div>
          <div class="clr-col-4">
            <div class="alert-actions">
              <button class="btn alert-action" (click)="this.OnDoSurveyClick()">Do Survey</button>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
  <!--<button type="button" class="close" aria-label="Close">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>-->
</div>
<!--
<head>
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
</head>
-->
<!--Displaying different headings-->
<div>
  <clr-main-container *ngIf="!this._appService.LoginService.IsLoggedIn">
    <clr-header>
      <div class="branding">
        <div *ngIf="this._appService.LoginService.IsLoggedIn == false">
          <a href="#" class="nav-link">
            <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.NotLoggedInTitle}}</span>
          </a>
        </div>
      </div>
    </clr-header>
    <div class="content-container">
      <!--Sid nav with transaction history-->
      <nav class="sidenav" *ngIf="this._appService.LoginService.IsLoggedIn == true
           && (this._appService.LoginService.CurrentLoggedInUser.userType == 1 || this._appService.LoginService.CurrentLoggedInUser.userType == 6)
           && (this.router.url =='/vouchers')" style="width:1500px">
        <br />
        <section class="sidenav-content">
          <br />
          <h5><b>&nbsp;&nbsp; Voucher Confirmation History:</b></h5>
          <br />
          <br />
          <div class="clr-row" *ngFor="let transaction of this._appService.MedivouchService.HistoryList" joyrideStep="vouch_3" title="Voucher Number" text="Your voucher confirmation and redemption history will show here.">
            <div class="clr-col nav-link" >
              <span style="cursor:pointer; color:green" *ngIf="transaction.success == true && !transaction.redeemed" (click)="GetDefaultCodeForHistVoucher(transaction)">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Voucher Type:</b> {{transaction.voucherName}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
              <span style=" cursor: pointer ;color:red" *ngIf="transaction.success == false" (click)="GetDefaultCodeForHistVoucher(transaction)">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
              <span style="text-decoration:line-through; color:green" *ngIf="transaction.success == true && transaction.redeemed">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Voucher Type:</b> {{transaction.voucherName}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
            </div>
          </div>
          <br />
        </section>
      </nav>
      <div class="content-area">
        <router-outlet></router-outlet>
        <!--<div class="footer" id="Cookie" *ngIf="this.showCookie">
          <p>
            <b>Cookies.</b>We may place small text files on your device when you visit our Provider/Client portal
            that allow us to provide you with a personalised experience by associating your
            personal information with your device. They let us remember your preferences,
            allow third parties to provide services to you, and otherwise serve useful
            purposes for you. Your internet browser generally accepts them automatically,
            but you can often change this setting or delete them manually. However, we won&apos;t
            be able to provide you with access to certain aspects of our Provider/Client portal
            where cookies are necessary if you do so. We have no access to or control
            over any cookies that our business partners use on our Provider/Client porta
            and they have their own privacy polices that govern them.
          </p>
          <button class="btn btn-primary" (click)="HideCookie()">Accept</button>
        </div>-->
        <div class="CookieNotice-SmallScreen" id="Cookie" *ngIf="this.showCookieNotice">
          <p style="margin-top: 2px">
            &#9432; We use cookies to optimise the user experience. <br />
            <a href="javascript:void(0)" (click)="this.showCookieFullInfoModal=true"> Tell me more</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" (click)="HideCookieNotice()">Dismiss</a>
          </p>
        </div>
      </div>
    </div>
  </clr-main-container>
</div>

<!--Determines which page will be displayed depending on user logged in info-->
<div>
  <clr-main-container style="width:100%" *ngIf="this._appService.LoginService.IsLoggedIn">
    <clr-alert clrAlertType="warning" [clrAlertAppLevel]="true" *ngIf="this._appService.SettingService._headerAlert">
      <clr-alert-item>
        <span class="alert-text text-center">
          {{this._appService.SettingService._headerInfo}}
        </span>
      </clr-alert-item>
    </clr-alert>
    <clr-header style="width: auto ;">

      <!--<div class="branding">
    <div *ngIf="isLoggedIn == true && this._BackendService.LoggedinUser.UserType==3">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.Brands.administrators}}</span>
      </a>
    </div>
    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType==2 ">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.BureauTitle}}</span>
      </a>
    </div>

    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType==1">
      <a class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.ProviderTitle}}</span>
      </a>
    </div>

    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType == 0">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.AdminTitle}}</span>
      </a>
    </div>

    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType == 3">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.AdministratorTitle}}</span>
      </a>
    </div>
    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType == 4">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.MemberTitle}}</span>
      </a>
    </div>
    <div *ngIf="this._appService.IsLoggedIn == true && this._appService.SecurityService.CurrentLoggedInUser.userType == 5">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all">{{this._appService.SettingService.BrokeTitle}}</span>
      </a>
    </div>
  </div>-->
      <!--BUREAU nav-->
      <div class="header-nav"
           [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==2  && this.router.url !== '/login'">
        <!--<a class="nav-link" href="#" [routerLink]="['/bureau-dash']" routerLinkActive="active"
       joyrideStep="Dash_1" text="Click here to navigate to the contact page which contains either DRC or PAMC contact details or both." stepPosition="bottom">
      <span class="nav-text">Dashboard</span>
    </a>-->
        <a class="nav-link" href="#" [routerLink]="['/bureau-remittances']" routerLinkActive="active"
           joyrideStep="Dash_2" text="Click on this tab to see all the remittances of the practices who are linked to you." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <span class="tooltip-content">Click on this tab to see all the remittances of the practices who are linked to you. </span>
            <span class="nav-text">Remittances</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/bureau-practices']" routerLinkActive="active"
           joyrideStep="Dash_3" text="Click on this tab to see all the practices who are linked to you." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <span class="tooltip-content">Click on this tab to see all the practices who are linked to you. </span>

            <span class="nav-text">Practices</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/claims']" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a practice or is going to be paid." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a practice or is going to be paid. </span>

            <span class="nav-text">View Claims</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/bureau-dash']" routerLinkActive="active"
           joyrideStep="Dash_1" text="Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <span class="tooltip-content">Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both.</span>

            <span class="nav-text">
              Information
            </span>
          </span>

        </a>
      </div>

      <!--MEMBER nav-->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==5  && this.router.url !== '/login'">
        <a class="nav-link" href="#" [routerLink]="['/broker-dashboard']" routerLinkActive="active">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/broker-remittances']" routerLinkActive="active">
          <span class="nav-text">Remittances</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/broker-members']" routerLinkActive="active">
          <span class="nav-text">Members</span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/claims']" routerLinkActive="active">
          <span class="nav-text">View Claims</span>
        </a>
      </div>

      <!--ADMIN nav-->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==0  && this.router.url !== '/login'">
        <a class="nav-link" href="#" [routerLink]="['/admin-dash']" routerLinkActive="active">
          <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.accRegister == true)"
           [routerLink]="['/registration']" routerLinkActive="active">
          <span class="nav-text">Account Registration</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.settings == true)"
           [routerLink]="['/settings']" routerLinkActive="active">
          <span class="nav-text">Settings</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.hpSetup == true)"
           [routerLink]="['/healthplan']" routerLinkActive="active">
          <span class="nav-text">Health Plan Setup</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.regUsers == true)"
           [routerLink]="['/registeredusers']" routerLinkActive="active">
          <span class="nav-text">Registered Users's</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.manuals == true)"
           [routerLink]="['/manual-grid']" routerLinkActive="active">
          <span class="nav-text">Manual Grid</span>
        </a>
        <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.claimsRestore == true)"
           [routerLink]="['/restore-claims']" routerLinkActive="active">
          <span class="nav-text">Claims Restore</span>
        </a>
        <!--<a class="nav-link" href="#" [routerLink]="['/User-Rights']" routerLinkActive="active">
      <span class="nav-text">User Rights</span>
    </a>-->

        <span (click)="this._appService.UserRightsService.GetUserNames()">
          <a class="nav-link" href="#" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 0) &&  (this._appService.LoginService.userRights.userRights == true)"
             [routerLink]="['/User-Rights']" routerLinkActive="active">
            <span class="nav-text">User Rights</span>
          </a>
        </span>
      </div>

      <!-- PROVIDER big screen nav -->
      <div class="header-nav" [clr-nav-level]="1"
           style="width:50%"
           *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==1  && this.router.url !== '/login' && this._appService.LoginService._screenWidth >= 768">

        <clr-dropdown [clrCloseMenuOnItemClick]="true" (mouseover)="this.claims = false;this.voucher = false;this.info = false;" (click)="this.membership = true;this.claims = false;this.voucher = false;this.info = false;"
                      joyrideStep="Dash_1" text="Click on this tab to navigate to the following:
                      1.Member eligibility screen to do a member validation check.
                      2.Benefit confirmation screen where benefits of a member can be confirmed." stepPosition="bottom"
                      *ngIf="this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
          <a class="nav-link" clrDropdownToggle role="tooltip" aria-haspopup="true">
            <span class="nav-text">Eligibility &#11206;</span>
          </a>
          <div class="dropdown-menu" *clrIfOpen="membership" clrPosition="bottom-right">
            <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the member eligibility screen to do a member validation check.
              </span>
              <a [routerLink]="['/membership']" tabindex="-1" routerLinkActive="active" clrDropdownItem>
                Membership
              </a>
            </span>
            <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right" *ngIf="(this._appService.LoginService.userRights.benefitlookup == true)">
              <span class="tooltip-content">
                Click on this tab to navigate to the benefit confirmation screen where benefits of a member can be confirmed.
              </span>
              <a [routerLink]="['/benefits']" routerLinkActive="active" clrDropdownItem *ngIf="(this._appService.LoginService.userRights.benefitlookup == true)">
                Benefit Confirmation
              </a>
            </span>

          </div>

        </clr-dropdown>

        <clr-dropdown [clrCloseMenuOnItemClick]="true" (mouseover)="this.membership = false;this.voucher = false;this.info = false;" (click)="this.claims = true;this.membership = false; this.voucher = false;this.info = false;"
                      joyrideStep="Dash_2" text="Click on this tab to navigate to the following:
                      1.Provider Claims screen, where you can search for claims already paid and in process to be paid.
                      2.Authorisation screen, where you can search for authorisations.
                      3.Authorisation submission screen, where you can submit your authorisations.
                      4.Remittance screen, where you can download your remittances.
                      5.History Claims.
                      6.Chronic Conditions."
                      stepPosition="bottom">
          <a class="nav-link" clrDropdownToggle role="tooltip" aria-haspopup="true">
            <span class="nav-text">Submissions &#11206;</span>
          </a>
          <div class="dropdown-menu" *clrIfOpen="claims" clrPosition="bottom-right">

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the provider Claims screen,
                where you can search for claims already paid and in process to be paid.
              </span>
              <a [routerLink]="['/claims']" clrDropdownItem>
                View Claims
              </a>
            </span>

            <!--<span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the Claim Capture search screen, where you can capture and submit claim.
              </span>
              <a [routerLink]="['/claim-capture']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
                 *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) && (this._appService.LoginService.userRights.claimCaptureTab == true)" clrDropdownItem>
                Claim Capture
              </a>
            </span>-->

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the authorisation screen, where you can search for authorisations.

              </span>
              <a [routerLink]="['/auths']" clrDropdownItem *ngIf="this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
                View Auths
              </a>
            </span>
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.authUploadTabd == true)">
              <span class="tooltip-content">
                Click on this tab to navigate to the authorisation submission screen, where you can submit your authorisations.

              </span>
              <a [routerLink]="['/UploadAuths']" clrDropdownItem *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.authUploadTabd == true) && this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
                Upload Auths
              </a>
            </span>
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the remittance screen, where you can download your remittances.

              </span>
              <a [routerLink]="['/provider-remittances']" clrDropdownItem>
                Remittances
              </a>
            </span>
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the History Claims screen,
                where you can search for all claims already paid and in process to be paid for a specific health plan.
              </span>
              <a [routerLink]="['/ClaimHistory']" clrDropdownItem>
                View History Of All Claims
              </a>
            </span>
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right" *ngIf="this._appService.LoginService.userRights.chronicConditions == true">
              <span class="tooltip-content">
                Click on this tab to navigate to the Chronic Conditions screen.
              </span>
              <a [routerLink]="['/chronic-cond-app']" clrDropdownItem>
                Chronic Conditions
              </a>
            </span>
          </div>
        </clr-dropdown>

        <!--<clr-dropdown [clrCloseMenuOnItemClick]="true" (mouseover)="this.claim = false;this.membership = false;this.info = false;"
                      (click)="this.claims = false;this.membership = false;this.voucher = true;"
                      joyrideStep="Dash_3" text="Click on this tab to navigate to the following:
                      1.MediVouch voucher redemption screen. 2.Insurances voucher redemption screen."
                      stepPosition="bottom"
                      *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.voucherPartners == true)">
          <a class="nav-link" clrDropdownToggle role="tooltip" aria-haspopup="true">
            <span class="nav-text">Voucher Partners &#11206;</span>
          </a>
          <div class="dropdown-menu" *clrIfOpen="voucher" clrPosition="bottom-right">
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click here to redeem MediVouch Vouchers.
              </span>

              <a (click)="VoucherClick('MDV')" clrDropdownItem *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.medivouch == true)">
                Redeem a MediVouch Voucher <img src="../../assets/MediVouch-icon.jpg" />
              </a>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click here to redeem Insurance Vouchers.
              </span>

              <a (click)="VoucherClick('Insurance')" clrDropdownItem *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.medivouch == true)">
                Redeem an Insurance Voucher
              </a>
            </span>
          </div>
        </clr-dropdown>-->

        <a class="nav-link" href="#" [routerLink]="['/vouchers']" routerLinkActive="active"
           (mouseover)="this.claims = false;this.membership = false;this.info = false;" (click)="this.voucher = true;this.claims = false;this.membership = false;this.info=false;"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.voucherPartners == true)"
           joyrideStep="Dash_3" text="Click on this tab to navigate to redeem a voucher." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <span class="tooltip-content">Click on this tab to navigate to redeem a voucher.</span>
            <span class="nav-text">Vouchers</span>
          </span>
        </a>

        <clr-dropdown [clrCloseMenuOnItemClick]="true" (mouseover)="this.claims = false;this.membership = false;this.voucher = false;" (click)="this.info = true;this.claims = false;this.membership = false;this.voucher=false"
                      joyrideStep="Dash_4" text="Click on this tab to navigate to the following:
                      1.Contact Us screen
                      2.FAQs"
                      stepPosition="bottom">
          <a class="nav-link" clrDropdownToggle role="tooltip" aria-haspopup="true">
            <span class="nav-text">Information &#11206;</span>
          </a>
          <div class="dropdown-menu" *clrIfOpen="info" clrPosition="bottom-right">
            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both.
              </span>
              <a [routerLink]="['/provider-dash']" clrDropdownItem>
                Contact Us
              </a>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the downloads page which contains our provider guides.
              </span>
              <a [routerLink]="['/downloads']" clrDropdownItem>
                Provider Guides
              </a>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <span class="tooltip-content">
                Click on this tab to navigate to the Frequently Asked Questions page.
              </span>
              <a (click)="GetFaqForProviders()" clrDropdownItem>
                FAQ
              </a>
            </span>
          </div>

        </clr-dropdown>
        <!--<a class="nav-link" href="#" [routerLink]="['/provider-dash']" routerLinkActive="active"
     joyrideStep="Dash_3" text="Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both." stepPosition="bottom">
    <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
      <span class="tooltip-content">Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both.</span>

      <span class="nav-text">
        Information
      </span>
    </span>

  </a>-->




      </div>

      <!-- PROVIDER small screen nav (old nav bar) -->
      <div class="header-nav" [clr-nav-level]="1"
           style="width:50%"
           *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==1  && this.router.url !== '/login' && this._appService.LoginService._screenWidth < 768">

        <a class="nav-link" tabindex="-1" href="#" [routerLink]="['/membership']" routerLinkActive="active"
           joyrideStep="Dash_2" text="Click on this tab to navigate to the member eligibility screen to do a member validation check."
           stepPosition="bottom" *ngIf="this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right">

            <span class="nav-text">
              Membership
            </span>
            <span class="tooltip-content">Click on this tab to navigate to the member eligibility screen to do a member validation check.</span>

          </span>
        </a>

        <a class="nav-link" href="#" [routerLink]="['/benefits']" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.userRights.benefitlookup == true) && this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the member benefit confirmation screen to do a benefit confirmation on a member.</span>

            <span class="nav-text">
              Benefit Confirmation
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/claims']" routerLinkActive="active"
           joyrideStep="Dash_3" text="Click on this tab to navigate to the claims search screen,
           where you can search for claims that was paid to you or is going to be paid." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to you or is going to be paid.</span>

            <span class="nav-text">
              View Claims
            </span>
          </span>

        </a>

        <!--<a class="nav-link" href="#" [routerLink]="['/claim-capture']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) && (this._appService.LoginService.userRights.claimCaptureTab == true)"
           joyrideStep="smDash_5" text="Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims.</span>

            <span class="nav-text">
            Claim Capture
            </span>
          </span>

        </a>-->

        <a class="nav-link" href="#" [routerLink]="['/auths']" routerLinkActive="active"
           joyrideStep="Dash_5" text="Click on this tab to search for authorisations." stepPosition="bottom"
           *ngIf="this._appService.LoginService.CurrentLoggedInUser.pharmacy == false">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to search for authorisations.</span>

            <span class="nav-text">
              View Auths
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/UploadAuths']" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.authUploadTabd == true)
           && this._appService.LoginService.CurrentLoggedInUser.pharmacy == false"
           joyrideStep="Dash_6" text="Click on this tab to navigate to the authorisation upload screen, where you can upload and submit your quotation/x-rays/documentation." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the authorisation upload screen, where you can upload and submit your quotation/x-rays/documentation.</span>

            <span class="nav-text">
              Upload Auths
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/provider-remittances']" routerLinkActive="active"
           joyrideStep="Dash_7" text="Click on this tab to see all your remittances." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to see all your remittances.</span>

            <span class="nav-text">
              Remittances
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/ClaimHistory']" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the History Claims screen,
                where you can search for all claims already paid and in process to be paid for a specific health plan." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">
              Click on this tab to navigate to the History Claims screen,
              where you can search for all claims already paid and in process to be paid for a specific health plan.
            </span>

            <span class="nav-text">
              View History Of All Claims
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/vouchers']" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click here to redeem a voucher." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">
              Click here to redeem a voucher.
            </span>

            <span class="nav-text">
              Vouchers
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/provider-dash']" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">
              Click on this tab to navigate to the contact page which contains either DRC or PAMC contact details or both.
            </span>

            <span class="nav-text">
              Contact Us
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" [routerLink]="['/downloads']" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the downloads page which contains our provider guides." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">
              Click on this tab to navigate to the downloads page which contains our provider guides.
            </span>

            <span class="nav-text">
              Provider Guides
            </span>
          </span>

        </a>

        <a class="nav-link" href="#" (click)="GetFaqForProviders()" routerLinkActive="active"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the Frequently Asked Questions page." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">
              Click on this tab to navigate to the Frequently Asked Questions page.
            </span>

            <span class="nav-text">
              FAQ
            </span>
          </span>

        </a>

        <!--
    <a class="nav-link" href="#" [routerLink]="['/downloads']" routerLinkActive="active"
       joyrideStep="Dash_7" text="Click on this tab to navigate to the download screen where you can download documents provided by PAMC/DRC." stepPosition="bottom">
      <span class="nav-text">Downloads</span>
    </a>
    -->

      </div>

      <!-- CLIENT big screen nav -->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==3 && this.router.url !== '/login' && this._appService.LoginService._screenWidth >= 768">

        <a class="nav-link" href="javascript:void(0)" [routerLink]="['Report']" (click)="this._appService.GraphsService.HpCodes(); this.claims = false;" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) &&  (this._appService.LoginService.userRights.reportTab == true)"
           joyrideStep="Dash_1" text="Click on this tab to navigate to the report screen, where you can view and download reports based on your current paid and unpaind claims." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">

            <span class="nav-text">Reports</span>
            <span class="tooltip-content">Click on this tab to navigate to the report screen, where you can view and download reports based on your current paid and unpaind claims.</span>

          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/membership']" tabindex="-1" routerLinkActive="active" (click)="this.claims = false;" *ngIf="this._appService.LoginService.userRights.membership == true"
           joyrideStep="Dash_2" text="Click on this tab to navigate to the member eligibility screen to do a member validation check." stepPosition="bottom">

          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-bottom-right">

            <span class="nav-text">Membership</span>
            <span class="tooltip-content">Click on this tab to navigate to the member eligibility screen to do a member validation check.</span>

          </span>
        </a>

        <clr-dropdown [clrCloseMenuOnItemClick]="true" (click)="this.claims = true;">
          <a class="nav-link" clrDropdownToggle
             joyrideStep="Dash_3" text="Click on this tab to navigate to the following: 1.Provider Claims screen, where you can search for claims that was paid to a provider or is going to be paid.
             2.Member Claims screen, where you can search for claims that was paid to a member or is going to be paid.
             3.Claim Capture search screen, where you can capture and submit claims." stepPosition="bottom"
             role="tooltip" aria-haspopup="true">
            <span class="nav-text" routerLinkActive="active">Claims &#11206;</span>
          </a>
          <div class="dropdown-menu" *clrIfOpen="claims" clrPosition="bottom-right">


            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
              <a [routerLink]="['/claims']" routerLinkActive="active"
                 *ngIf="this._appService.LoginService.userRights.provClaims == true" clrDropdownItem>

                Provider Claims
              </a>
              <span class="tooltip-content">Click on this tab to navigate to the Provider Claims screen, where you can search for claims that was paid to a provider or is going to be paid.</span>
            </span>

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">

              <a [routerLink]="['/member-claims']" routerLinkActive="active"
                 *ngIf="this._appService.LoginService.userRights.membClaims == true" clrDropdownItem>
                Member Claims

              </a>
              <span class="tooltip-content">Click on this tab to navigate to the Member Claims screen, where you can search for claims that was paid to a member or is going to be paid.</span>

            </span>

            <!--<span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">

              <a [routerLink]="['/claim-capture']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
                 *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimCaptureTab == true)" clrDropdownItem>
                Claim Capture

              </a>
              <span class="tooltip-content">Click on this tab to navigate to the Claim Capture search screen, where you can capture and submit claims.</span>

            </span>-->

            <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">

              <a [routerLink]="['/claim-capture-main']" routerLinkActive="active"
                 *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimCaptureTab == true)" clrDropdownItem>
                Claim Capture

              </a>
              <span class="tooltip-content">Click on this tab to navigate to the Claim Capture search screen, where you can capture and submit claims.</span>

            </span>

          </div>
        </clr-dropdown>

        <!--
    <a class="nav-link" href="#" [routerLink]="['/claims']" routerLinkActive="active" *ngIf="this._appService.LoginService.userRights.provClaims == true"
       joyrideStep="Dash_4" text="Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a provider or is going to be paid." stepPosition="bottom">

      <span class="nav-text">Provider Claims</span>
    </a>
    <a class="nav-link" href="#" [routerLink]="['/member-claims']" routerLinkActive="active" *ngIf="this._appService.LoginService.userRights.membClaims == true"
       joyrideStep="Dash_5" text="Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a member or is going to be paid." stepPosition="bottom">

      <span class="nav-text">Member Claims</span>
    </a>
    --<a class="nav-link" href="#" [routerLink]="['/authorization']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
    --   *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.authsubmisionTab == true)"
    --   joyrideStep="Dash_6" text="Click on this tab to navigate to the authorization capture search screen, where you can capture and submit authorization." stepPosition="bottom">
    --
    --  <span class="nav-text">Authorization Capture</span>
    --</a>
    <a class="nav-link" href="#" [routerLink]="['/claim-capture']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
       *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimCaptureTab == true)"
       joyrideStep="Dash_6" text="Click on this tab to navigate to the authorization capture search screen, where you can capture and submit authorization." stepPosition="bottom">

      <span class="nav-text">Claim Capture</span>
    </a>-->
        <!--<span (click)="this._appService.CheckRunService.HpCodes()"
    *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.checkrunTab == true)">-->
        <a class="nav-link" href="#" [routerLink]="['/checkrun']" (click)="this._appService.CheckRunService.HpCodes();this.claims = false;" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.checkrunTab == true)"
           joyrideStep="Dash_4" text="Click on this tab to navigate to the checkrun screen, where you can create and submit new checkruns or work on old ones." stepPosition="bottom"
           role="tooltip" aria-haspopup="true">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right">

            <span class="tooltip-content">Click on this tab to navigate to the checkrun screen, where you can create and submit new checkruns or work on old ones.</span>

            <span class="nav-text">CheckRun</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/ben-setup']" (click)="this._appService.ClaimCaptureService.ValidateWizard();this.claims = false;" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.benSetupTab == true)"
           joyrideStep="Dash_5" text="Click on this tab to navigate to the Benefit/Specialties Setup screen, where you can setup and submit your Benefit/Specialties." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right">

            <span class="nav-text">Setup Auths Sets</span>
            <span class="tooltip-content">Click on this tab to navigate to the Benefit/Specialties Setup screen, where you can setup and submit your Benefit/Specialties.</span>

          </span>
        </a>
        <!--<a class="nav-link" href="#" [routerLink]="['/Single-Auth-Submision']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
       *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.singleAuth == true)"
       joyrideStep="Dash_9" text="Click on this tab to navigate to the  Authorizations submition screen, where you can submit a single  new Auth." stepPosition="bottom">

      <span class="nav-text">
        Submit
        Auths
      </span>
    </a>-->
        <!--<a class="nav-link" href="#" tabindex="-1" [routerLink]="['/Auth-log']" (click)="this._appService.ClaimCaptureService.ValidateWizard(); this.claims= false;" routerLinkActive="active"-->
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['/Auth-log']" (click)="this.claims= false;" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.authLogTab == true)"
           joyrideStep="Dash_6" text="Click on this tab to navigate to the Authorisations screen, where you can submit a new Authorisation." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-sm tooltip-bottom-right">

            <span class="nav-text">
              Authorisations
            </span>
            <span class="tooltip-content">Click on this tab to navigate to the Authorisations screen, where you can submit a new Authorisation.</span>

          </span>

        </a>
        <a class="nav-link" href="#" [routerLink]="['/Prov-Look-Up']" (click)="this._appService.ClaimCaptureService.ValidateWizard(); this.claims;" routerLinkActive="active"
           *ngIf="false"
           joyrideStep="Dash_7" text="Click on this tab to navigate to the provider lookup screen, where you can lookup providers in your network." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right">
            <span class="nav-text">Prov LookUp</span>
            <span class="tooltip-content">Click on this tab to navigate to the provider lookup screen, where you can lookup providers in your network.</span>
          </span>


        </a>
        <!--</span>-->
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['/administratordash']" routerLinkActive="active" (click)="this.claims = false;"
           joyrideStep="Dash_8" text="Click here to navigate to the about page which contains DRC and PAMC contact details." stepPosition="bottom">

          <span role="tooltip" tabindex="-1" aria-haspopup="true" class="tooltip tooltip-sm tooltip-bottom-right">
            <span class="nav-text">
              Information
            </span>
            <span class="tooltip-content">Click here to navigate to the about page which contains DRC and PAMC contact details.</span>
          </span>

        </a>
      </div>

      <!-- CLIENT small screen nav (old nav bar) -->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==3 && this.router.url !== '/login' && this._appService.LoginService._screenWidth < 768">

        <a class="nav-link " href="#" [routerLink]="['Report']" (click)="this._appService.GraphsService.HpCodes()" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) &&  (this._appService.LoginService.userRights.reportTab == true)"
           joyrideStep="smDash_1" text="Click on this tab to navigate to the report screen, where you can view and download reports based on your current paid and unpaind claims." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the report screen, where you can view and download reports based on your current paid and unpaind claims.</span>

            <span class="nav-text">Reports</span>
          </span>
        </a>
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['/membership']" routerLinkActive="active" *ngIf="this._appService.LoginService.userRights.membership == true"
           joyrideStep="smDash_2" text="Click on this tab to navigate to the member eligibility screen to do a member validation check." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the member eligibility screen to do a member validation check.</span>
            <span class="nav-text">Membership</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/claims']" routerLinkActive="active" *ngIf="this._appService.LoginService.userRights.provClaims == true"
           joyrideStep="smDash_3" text="Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a provider or is going to be paid." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a provider or is going to be paid.</span>

            <span class="nav-text">Provider Claims</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/member-claims']" routerLinkActive="active" *ngIf="this._appService.LoginService.userRights.membClaims == true"
           joyrideStep="smDash_4" text="Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a member or is going to be paid." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims search screen, where you can search for claims that was paid to a member or is going to be paid.</span>

            <span class="nav-text">Member Claims</span>
          </span>

        </a>
        <!--<a class="nav-link" href="#" [routerLink]="['/authorization']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.authsubmisionTab == true)"
           joyrideStep="Dash_6" text="Click on this tab to navigate to the authorization capture search screen, where you can capture and submit authorization." stepPosition="bottom">

          <span class="nav-text">Authorization Capture</span>
        </a>-->

        <!--<a class="nav-link" href="#" [routerLink]="['/claim-capture']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimCaptureTab == true)"
           joyrideStep="smDash_5" text="Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims.</span>

            <span class="nav-text">Claim Capture</span>
          </span>
        </a>-->

        <a class="nav-link" href="#" [routerLink]="['/claim-capture-main']" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimCaptureTab == true)"
           joyrideStep="smDash_5" text="Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the claims capture search screen, where you can capture and submit claims.</span>

            <span class="nav-text">Claim Capture</span>
          </span>
        </a>

        <!--<span (click)="this._appService.CheckRunService.HpCodes()"
          *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.checkrunTab == true)">-->
        <a class="nav-link" href="#" [routerLink]="['/checkrun']" (click)="this._appService.CheckRunService.HpCodes()" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.checkrunTab == true)"
           joyrideStep="smDash_6" text="Click on this tab to navigate to the checkrun screen, where you can create and submit new checkruns or work on old ones." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the checkrun screen, where you can create and submit new checkruns or work on old ones.</span>
            <span class="nav-text">CheckRun</span>
          </span>
        </a>
        <a class="nav-link" href="#" [routerLink]="['/ben-setup']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.benSetupTab == true)"
           joyrideStep="smDash_7" text="Click on this tab to navigate to the Benefit/Specialties Setup screen, where you can setup and submit your Benefit/Specialties." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the Benefit/Specialties Setup screen, where you can setup and submit your Benefit/Specialties.</span>

            <span class="nav-text">Setup Auths Sets</span>
          </span>
        </a>
        <!--<a class="nav-link" href="#" [routerLink]="['/Single-Auth-Submision']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="(this._appService.SecurityService.CurrentLoggedInUser.userType === 3) && (this._appService.SecurityService.userRights.singleAuth == true)"
           joyrideStep="Dash_9" text="Click on this tab to navigate to the  Authorizations submition screen, where you can submit a single  new Auth." stepPosition="bottom">

          <span class="nav-text">
            Submit
            Auths
          </span>
        </a>-->
        <!--<a class="nav-link" href="#" tabindex="-1" [routerLink]="['/Auth-log']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"-->
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['/Auth-log']" routerLinkActive="active"
           *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.authLogTab == true)"
           joyrideStep="smDash_8" text="Click on this tab to navigate to the Authorisations screen, where you can submit a new Authorisation." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the Authorisations screen, where you can submit a new Authorisation.</span>

            <span class="nav-text">
              Authorisations
            </span>
          </span>

        </a>
        <a class="nav-link" href="#" [routerLink]="['/Prov-Look-Up']" (click)="this._appService.ClaimCaptureService.ValidateWizard()" routerLinkActive="active"
           *ngIf="false"
           joyrideStep="smDash_9" text="Click on this tab to navigate to the provider lookup screen, where you can lookup provider in your network." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click on this tab to navigate to the provider lookup screen, where you can lookup provider in your network.</span>

            <span class="nav-text">Prov LookUp</span>
          </span>
        </a>
        <!--</span>-->
        <a class="nav-link" href="#" tabindex="-1" [routerLink]="['/administratordash']" routerLinkActive="active"
           joyrideStep="smDash_10" text="Click here to navigate to the about page which contains DRC and PAMC contact details." stepPosition="bottom">
          <span role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-md tooltip-right">
            <span class="tooltip-content">Click here to navigate to the about page which contains DRC and PAMC contact details.</span>

            <span class="nav-text">Information</span>
          </span>
        </a>
      </div>

      <!-- INTERNAL PROVIDER -->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==6 && this.router.url !== '/login'">

        <a class="nav-link " href="#" [routerLink]="['patient-wellness-form']" routerLinkActive="active">
          <span class="nav-text">Wellness Form</span>
        </a>

        <a class="nav-link " href="#" [routerLink]="['vouchers']" routerLinkActive="active">
          <span class="nav-text">Voucher Redemption</span>
        </a>

      </div>

      <!-- VOUCHER ADMIN -->
      <div class="header-nav" [clr-nav-level]="1" *ngIf="this._appService.LoginService.IsLoggedIn == true && this._appService.LoginService.CurrentLoggedInUser.userType==7 && this.router.url !== '/login'">

        <a class="nav-link " href="#" [routerLink]="['voucher-clients']" routerLinkActive="active">
          <span class="nav-text">Voucher Clients</span>
        </a>
        <a class="nav-link " href="#" [routerLink]="['voucher-transactions']" routerLinkActive="active">
          <span class="nav-text">Transactions</span>
        </a>

      </div>

      <div class="header-actions" *ngIf="this._appService.LoginService.IsLoggedIn == true  && this.router.url !== '/login'">

        <a class="nav-link " (click)="onClick()" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType==1)||
           (this._appService.LoginService.CurrentLoggedInUser.userType==3)
           ||(this._appService.LoginService.CurrentLoggedInUser.userType==2)"
           style="background-color:#198CFF"
           routerLinkActive="active" title="Click here for a quick tour on the navigation of this website..">


          <clr-icon shape="help" class="is-solid" style="color:orange" size="36"></clr-icon>




          <!--style="color:#FDD006"-->



        </a>
        <a class="nav-link" href="#" tabindex="-1" routerLinkActive="active">
          <span class="nav-text">Log Out</span>
        </a>
        <clr-dropdown>
          <button class="nav-text" tabindex="-1" clrDropdownTrigger>
            {{this._appService.LoginService.CurrentLoggedInUser.username}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a tabindex="-1" (click)="this._appService.LoginService.ChangePassword()" clrDropdownItem>Change Password</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </clr-header>
    <div class="content-container">
      <!--Sid nav with transaction history-->
      <nav class="sidenav" style="width:1500px"
           *ngIf="this._appService.LoginService.IsLoggedIn == true &&
                  (this._appService.LoginService.CurrentLoggedInUser.userType == 1 || this._appService.LoginService.CurrentLoggedInUser.userType == 6) &&
                  (this.router.url =='/vouchers')">
        <section class="sidenav-content">
          <br />
          <h5><b>&nbsp;&nbsp; Voucher Confirmation History:</b></h5>
          <br />
          <br />
          <div class="clr-row" *ngFor="let transaction of this._appService.MedivouchService.HistoryList" joyrideStep="vouch_3" title="Voucher Number" text="Your voucher confirmation and redemption history will show here.">
            <div class="clr-col nav-link" style="padding:0px 10px 0px 25px">
              <span style="cursor:pointer; color:green" *ngIf="transaction.success == true && !transaction.redeemed" (click)="GetDefaultCodeForHistVoucher(transaction)">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Voucher Type:</b> {{transaction.voucherName}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
              <span style=" cursor: pointer ;color:red" *ngIf="transaction.success == false" (click)="GetDefaultCodeForHistVoucher(transaction)">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
              <span style="text-decoration:line-through; color:green" *ngIf="transaction.success == true && transaction.redeemed">
                <b>Voucher No:</b> {{transaction.voucherNo}}<br />
                <b>Voucher Type:</b> {{transaction.voucherName}}<br />
                <b>Time Validated:</b> {{transaction.time}}<br /><br />
              </span>
            </div>
          </div>
          <br />
        </section>
      </nav>
      <nav class="sidenav" style="min-width:250px"
           *ngIf="this._appService.LoginService.IsLoggedIn == true &&
                  (this._appService.LoginService.CurrentLoggedInUser.userType == 1) &&
                  (this.router.url.includes('chronic-cond'))">
        <section class="sidenav-content">
          <a class="nav-link" [routerLink]="['chronic-cond-app']" routerLinkActive="active">New Application</a>
          <a class="nav-link" [routerLink]="['chronic-cond-update']" routerLinkActive="active">Update Biometric Info</a>
          <a class="nav-link" [routerLink]="['chronic-cond-submitted-list']" routerLinkActive="active">View Submissions</a>
        </section>
      </nav>
      <div class="content-area">
        <router-outlet></router-outlet>

        <!--<div class="footer" id="Cookie" *ngIf="this.showCookie">
      <p>
        <b>Cookies.</b>We may place small text files on your device when you visit our Provider/Client portal
        that allow us to provide you with a personalised experience by associating your
        personal information with your device. They let us remember your preferences,
        allow third parties to provide services to you, and otherwise serve useful
        purposes for you. Your internet browser generally accepts them automatically,
        but you can often change this setting or delete them manually. However, we won&apos;t
        be able to provide you with access to certain aspects of our Provider/Client portal
        where cookies are necessary if you do so. We have no access to or control
        over any cookies that our business partners use on our Provider/Client porta
        and they have their own privacy polices that govern them.
      </p>
      <button class="btn btn-primary" (click)="HideCookie()">Accept</button>
    </div>-->

        <div class="CookieNotice-SmallScreen" id="Cookie" *ngIf="this.showCookieNotice">
          <p style="margin-top: 2px">
            &#9432; We use cookies to optimise the user experience. <br />
            <a href="javascript:void(0)" (click)="this.showCookieFullInfoModal=true"> Tell me more</a>
            &nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" (click)="HideCookieNotice()">Dismiss</a>
          </p>
        </div>

      </div>
    </div>

  </clr-main-container>
  <!--<div class="main-container">
    <div class="alert alert-app-level">
      ...
    </div>
    <header class="header header-6">
      ...
    </header>
    <nav class="subnav">
      ...
    </nav>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <nav class="sidenav">
        ...
      </nav>
    </div>
  </div>-->
</div>

<!--Modal that will pop up if a subscription in services hits an error-->
<div *ngIf="this._appService.LoginService.ErrorOccurance == true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">PAMC-Portal Has Stopped Working</h3>
        </div>
        <div class="modal-body">
          <p>A problem has caused the program to stop working correctly.</p>
          <p>
            For assistance on this matter contact our network department
            on
            <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.LoginService.PageReload()">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.openFaq" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Frequently Asked Questions</h3>
  <div class="modal-body">
    <clr-accordion>
      <clr-accordion-panel *ngFor="let q of this._appService.SecurityService.faqList">
        <clr-accordion-title>{{q.question}}</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>{{q.answer}}</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService.openFaq = false;">Ok</button>
  </div>
</clr-modal>
<!--Password Change Modal-->
<div *ngIf="this._appService.LoginService.AllowChangePassword==true">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this._appService.LoginService.AllowChangePassword=false" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Password Change</h3>
        </div>
        <div class="modal-body">
          <form clrForm [formGroup]="PasswordForm">
            <clr-input-container>
              <label>Old Password</label>
              <input clrInput type="password" (ngModelChange)="this.CheckPasswordOld()" formControlName="old" />
              <clr-control-helper *ngIf="this._appService.LoginService.OldPasswordNotValid == true">{{this._appService.SecurityService.OldPasswordErrorMsg}}</clr-control-helper>
            </clr-input-container>
            <clr-input-container>
              <label>New Password</label>
              <input clrInput type="password" (ngModelChange)="this.CheckPasswordNew()" formControlName="new" />
              <clr-control-helper *ngIf="this._appService.LoginService.NewPasswordNotValid == true">{{this._appService.SecurityService.NewPasswordErrorMsg}}</clr-control-helper>
            </clr-input-container>
            <clr-input-container>
              <label>Confirm Password</label>
              <input clrInput type="password" (ngModelChange)="this.CheckPasswordConfrim()" formControlName="confirm" />
              <clr-control-helper *ngIf="this._appService.LoginService.ConfirmPasswordNotValid == true">{{this._appService.SecurityService.ConfirmPasswordErrorMsg}}</clr-control-helper>
            </clr-input-container>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="this._appService.LoginService.AllowChangePassword=false">Cancel</button>
          <button class="btn btn-primary" type="button" [disabled]="this._appService.LoginService.DisableConfirmbtn" (click)="this._appService.LoginService.UpdatePasswordRequest()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Update Confirmation Message-->
<div *ngIf="this._appService.LoginService.ConfirmPasswordUpdate">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirmation Message</h3>
        </div>
        <div class="modal-body">
          <p>{{this._appService.LoginService.PasswordUpdateMsg}}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.LoginService.ConfirmPasswordUpdate = false">OK</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this.showCookieFullInfoModal==true">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">

        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this.showCookieFullInfoModal=false" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Cookie Policy</h3>
        </div>

        <div class="modal-body">
          <p style="font-size:large">
            We may place small text files on your device when you visit our Provider/Client portal
            that allow us to provide you with a personalised experience by associating your
            personal information with your device. They let us remember your preferences,
            allow third parties to provide services to you, and otherwise serve useful
            purposes for you. Your internet browser generally accepts them automatically,
            but you can often change this setting or delete them manually. However, we won&apos;t
            be able to provide you with access to certain aspects of our Provider/Client portal
            where cookies are necessary if you do so. We have no access to or control
            over any cookies that our business partners use on our Provider/Client portal
            and they have their own privacy polices that govern them.
          </p>
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline" style="background-color: #ccefff; color: black; border: solid 1px black" (click)="DismissCookieFullInfoModal()" type="button">Dismiss</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--<clr-modal [(clrModalOpen)]="this._appService.LoginService.poptcModel" [clrModalSize]="'md'" [clrModalClosable]="false">

  <h3 class="modal-title" align="center">
    TERMS AND CONDITIONS
    <br />
    <i style="font-size:12px">You must accept before continuing to the website.</i>
  </h3>

  <div class="modal-body">
    <form clrForm [formGroup]="TandCForm">
      <div class="clr-row">
        <div class="clr-col-12" style="text-align:center; display:inline-block">
          <clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="accepted" (change)="this.AcceptedTandC()" />
            <label>I have read and accept the terms and conditions of using this website.</label>
          </clr-checkbox-wrapper>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-3">

        </div>
        <div class="clr-col-6 text-center">
          <a href="../PamcPortal/assets/Portal Disclaimer.pdf" style="text-decoration:none;" download="Portal Disclaimer.pdf" (click)="this.ValidateClose()"><clr-icon shape="download" size="20"></clr-icon> Terms and Conditions.</a>
        </div>
        <div class="clr-col-3">

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.Close()" [disabled]="!this.closemodel">Ok</button>
  </div>
</clr-modal>-->




