/*.footer {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 75%;
  background-color: #EBF0FF;
  color: white;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #D1D6F3;
  padding: 10px;
  left: 12%;
  color: black
}*/

.medivouch {
  position: fixed;
  top: 18%;
  width: 260px;
  height: 110px;
  background-color: #F4F1E6;
  /*background-image: url(../assets/MediVouch-Light.png); */
  background-size:cover;
  color: white;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #CFC8BD;
  padding: 10px;
  left: 78%;
  color: black;
  cursor: pointer
}

.CookieNotice-SmallScreen {
  position: fixed;
  left: 5px;
  height: 50px;
  width: 360px;
  /*margin-left: -190px;*/
  bottom: 20px;
  /*  background-color: #f2eee5;*/
  background: #ccefff;
  background: rgba(204, 239, 255, 0.7);
  text-align: center;
  border-radius: 15px;
  border: 1px solid #224295;
  /*color: black*/
}

  .CookieNotice-SmallScreen p {
    color: black;
  }

