<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.declarationForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value != null">

  <h4 style="font-weight: 900"><b>Declaration</b></h4>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control">
        <div class="clr-control-container">
          <div class="clr-checkbox-wrapper">
            <input class="clr-checkbox"
                   type="checkbox"
                   id="vertical-checkbox1"
                   formControlName="declaration" />
            <label class="clr-control-label" for="vertical-checkbox1">I declare that to the best of my knowledge, all information provided in this application is true and accurate.</label>
          </div>
          <div class="clr-subtext-wrapper">
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.declarationForm.get('declaration').touched && !this._appService.ChronicConditionService.declarationForm.get('declaration').valid">
              Declaration is required
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-1" for="declarationDate">Date</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-date">
            <input class="clr-input"
                   type="date"
                   max="9999-12-31"
                   id="declarationDate"
                   formControlName="declarationDate"
                   (blur)="this._appService.ChronicConditionService.declarationForm.get('declarationDate').setValue(declarationDate.value)" #declarationDate />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.declarationForm.get('declarationDate').touched && !this._appService.ChronicConditionService.declarationForm.get('declarationDate').valid">
            Valid current or past date required
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
