
<form clrForm [formGroup]="cNoteForm">
  <clr-textarea-container>
    <label>Notes</label>
    <textarea clrTextarea formControlName="claimNotes" cols="30" rows="10" (blur)="saveNote()"></textarea>
  </clr-textarea-container>
  <br />
  <!--<button class="btn btn-sm btn-success-outline" (click)="OpenEditBankingDetails()" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'M'">Add Banking details</button>-->
</form>

<!--<app-edit-banking-detail #banking></app-edit-banking-detail>-->
