<clr-modal [(clrModalOpen)]="this.claimDetailModalShow" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title"><b>CLAIM DETAIL</b></h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-5">
        <form clrForm [formGroup]="cDetailForm">
          <clr-select-container>
            <label>Service Type</label>
            <select clrSelect formControlName="phcodes" (change)="PHCODEChanged()">
              <ng-container *ngFor="let code of this._appService.ClaimCaptureService.listOfServiceTypes">
                <option *ngIf="(code.phOpt == this._appService.ClaimCaptureService.currentClaimHeader.PHCODE) ||(code.phOpt == 'A') " [ngValue]="code.phCode">{{code.phDesc}}</option>
              </ng-container>
            </select>
          </clr-select-container>
          <clr-date-container>
            <label>Service From Date</label>
            <input type="date" clrDate formControlName="fromDateField" (blur)="ValidateFromDateField()" />
            <clr-control-error>{{this.errorMsgFromdate}}</clr-control-error>
          </clr-date-container>
          <clr-date-container>
            <label>Service To Date</label>
            <input type="date" clrDate formControlName="ToDateField" (blur)="ValidateToDateField()" />
            <clr-control-error>{{this.errorMsgTodate}}</clr-control-error>
          </clr-date-container>
          <clr-input-container>
            <label>Service Code</label>
            <input clrInput type="text" (blur)="ValidateProcCodeField()" formControlName="PROCCODE" />
            <clr-control-error>{{this.errorMsgProccode}}</clr-control-error>
            <!--<clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgProccode}}</clr-control-helper>-->
            <clr-control-helper style="color:rgb(4, 161, 70)">{{this._appService.ClaimCaptureService.currentClaimDetail.PROCCODE_DESC}}</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>Charged Amount</label>
            <input clrInput type="text" formControlName="billedField" (blur)="ValidateBilledField()" />
            <clr-control-error>{{this.errorMsgBilled}}</clr-control-error>
            <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgBilled}}</clr-control-helper>
          </clr-input-container>
          <clr-input-container>
            <label>Quantity</label>
            <input clrInput type="number" formControlName="qtyField" (blur)="ValidateQtyField()" />
            <clr-control-error>{{this.errorMsgQTY}}</clr-control-error>
            <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgQTY}}</clr-control-helper>
          </clr-input-container>
          <clr-select-container>
            <label>Diagnostic Code</label>
            <select clrSelect formControlName="diagrefField" (change)="this.DiagCodeChange()">
              <option *ngFor="let el of this._appService.ClaimCaptureService.diagnosticCodesList">{{el.DIAG}}</option>
            </select>
          </clr-select-container>
        </form>
      </div>
      <div class="clr-col-2">
        <button class="btn btn-primary btn-sm " (click)="ShowModCodes()">
          &rarr; Modif
        </button><br />
        <button class="btn btn-primary btn-sm " (click)="ShowToothNum()">
          &rarr; Tooth
        </button><br />
        <button class="btn btn-primary btn-sm " (click)="RejectionCodes()">
          &rarr; Reject Claim
        </button><br />
        <button class="btn btn-primary btn-sm " (click)="AddNotes()">
          &rarr; Notes
        </button>
        <!--<button class="btn btn-primary btn-sm" (click)="OpenEditBankingDetails()" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'M'">Edit Banking details</button>
        <button class="btn btn-primary btn-sm" (click)="OpenEditBankingDetails()" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'P'">Edit Banking details</button>-->

      </div>
      <div class="clr-col-5">
        <app-claim-notes [hidden]="!this._appService.ClaimCaptureService.showNotes" #notes></app-claim-notes>
        <app-modifiers [hidden]="!this._appService.ClaimCaptureService.showModCode" #ModCodes></app-modifiers>
        <app-tooth-numbers [hidden]="!this._appService.ClaimCaptureService.showToothNum" #ClinicalCodes></app-tooth-numbers>
        <app-rejection-codes [hidden]="!this._appService.ClaimCaptureService.showReject" #adjust></app-rejection-codes>
      </div>
    </div>
    <!--<div class="clr-row">
      <div class="clr-col-4">
      </div>
      <div class="clr-col-8">
        <button class="btn btn-primary btn-sm " (click)="ShowModCodes()">
          &rarr; Modif
        </button>
        <button class="btn btn-primary btn-sm " (click)="ShowToothNum()">
          &rarr; Tooth
        </button><br />
        <button class="btn btn-primary btn-sm " (click)="RejectionCodes()">
          &rarr; Reject Claim
        </button>
        <button class="btn btn-primary btn-sm " (click)="AddNotes()">
          &rarr; Notes
        </button>
      </div>
    </div>-->
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="SubmitClaimDetail()" [disabled]="!this.validForm" [hidden]="this.updateDisplay">
      Submit Detail
    </button>
    <button class="btn btn-primary btn-sm" (click)="SubmitClaimDetail()" [disabled]="!this.validForm" [hidden]="!this.updateDisplay">
      Update Detail
    </button>
    <button class="btn btn-primary btn-sm" (click)="CancelDetail()">
      Cancel
    </button>
  </div>
</clr-modal>
<!--<app-edit-banking-detail #banking></app-edit-banking-detail>-->
<!--<clr-datagrid>
  <clr-dg-column>RowID</clr-dg-column>
  <clr-dg-column>Service Type</clr-dg-column>
  <clr-dg-column>From Date</clr-dg-column>
  <clr-dg-column>To Date</clr-dg-column>
  <clr-dg-column>Service Code</clr-dg-column>
  <clr-dg-column>Charged</clr-dg-column>
  <clr-dg-column>Quantity</clr-dg-column>
  <clr-dg-column>ToothNumbers</clr-dg-column>
  <clr-dg-column>Modifiers</clr-dg-column>
  <clr-dg-column>...</clr-dg-column>
  <clr-dg-placeholder>No Data Added Yet!</clr-dg-placeholder>
  <clr-dg-row *ngFor="let claimdetail of this._appService.ClaimCaptureService.claimDetailList">
    <clr-dg-cell>{{claimdetail.Rec2IDArr}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.PHCODE}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.FROMDATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.TODATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.PROCCODE}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.BILLED}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.QTY}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.toothNumString}}</clr-dg-cell>
    <clr-dg-cell>{{claimdetail.ModCodesString}}</clr-dg-cell>
    <clr-dg-cell>
      <button class="btn btn-icon btn-Secondary btn-sm" type="submit" (click)="EditClaimDetailData(claimdetail.Rec2IDArr)" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone"><clr-icon shape="pencil"></clr-icon></button>
      <button class="btn btn-icon btn-danger-outline btn-sm" type="submit" (click)="DeleteClaimDetailData(claimdetail.Rec2IDArr)" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone"><clr-icon shape="trash"></clr-icon></button>
    </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <div class="clr-row">
      <div class="clr-col-3"></div>
      <div class="clr-col-4"><b>Total Amount Charged: </b>R {{this._appService.ClaimCaptureService.billedAmount| number: '.2'}}</div>
      <div class="clr-col-2"></div>
      <div class="clr-col-3"><b>Detail Lines Added: </b>{{this._appService.ClaimCaptureService.claimDetailList.length}}</div>
    </div>
  </clr-dg-footer>
</clr-datagrid>

<form>
  <button class="btn btn-success btn-sm" (click)=" NewClaimDetailLine()">
    New Detail Line
  </button>
  <button class="btn btn-primary btn-sm" (click)="this._appService.ClaimCaptureService.ClickClaimDetailDone()" [disabled]="!this._appService.ClaimCaptureService.btnClaimDetailDone">Done</button>
</form>-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._staleDateModel" [clrModalClosable]="false" [clrModalSize]="'sm'" style="height:5px">
  <h3 class="modal-title"><clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>WARNING</h3>
  <div class="modal-body">
    <p><b>WARNING!</b> This is a Stale Claim.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._staleDateModel = false">Ok</button>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._incorrectProc" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon>WARNING!!</h3>
  <div class="modal-body">
    <p>
      The service code entered <i>({{this._appService.ClaimCaptureService.currentClaimDetail.PROCCODE}})</i> was not found in our system.
      Do you want to correct it before proceeding?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService._incorrectProc = false">
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="this.ProcCodeValidated()">
      No
    </button>
  </div>
</clr-modal>

