<form clrForm [formGroup]="diagCodes">
  <clr-input-container>
    <label>Diagnostic Code: </label>
    <input clrInput type="text" (focusout)="ValidateFirstDiagCode()" formControlName="diagCode1" />
    <clr-control-error>{{this.errorMsgFirstCode}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgFirstCode}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Diagnostic Code: </label>
    <input clrInput type="text" (focusout)="ValidateSecondDiagCode()" formControlName="diagCode2" />
    <clr-control-error>{{this.errorMsgSecondCode}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgSecondCode}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Diagnostic Code: </label>
    <input clrInput type="text" (focusout)="ValidateThirdDiagCode()" formControlName="diagCode3" />
    <clr-control-error>{{this.errorMsgThirdCode}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgThirdCode}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Diagnostic Code: </label>
    <input clrInput type="text" (focusout)="ValidateFourthDiagCode()" formControlName="diagCode4" />
    <clr-control-error>{{this.errorMsgFourthCode}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errorMsgFourthCode}}</clr-control-helper>
  </clr-input-container>
</form>

<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Validating Data...
      </span>
    </p>
  </div>
</clr-modal>
