<form class="clr-form"
      [formGroup]="this._appService.ChronicConditionService.conditionForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.memberForm.get('dependant').valid">

  <div *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp' ">
    <h4 style="font-weight: 900"><b>Condition applied for</b></h4>
  </div>
  <div *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' ">
    <h4 style="font-weight: 900"><b>Registered Condition</b></h4>
  </div>
   
  <div class="clr-row">
    <div class="clr-col-12">

      <div class="clr-form-control clr-row">
        <!--<label class="clr-control-label clr-col-sm-3" for="conditionCode">Condition</label>-->
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="conditionCode"
                    formControlName="conditionCode"
                     (change)="this._appService.ChronicConditionService.onConditionChange()">
              <option *ngFor="let item of this._appService.ChronicConditionService.ChronicConditionsSelectable" value="{{item.code}}">{{item.description}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ChronicConditionService.conditionForm.get('conditionCode').valid">
            Please select a condition to continue
          </span>
        </div>
      </div>

    </div>
  </div>

</form>
