<div class="clr-row">

  <div class="clr-col-12 clr-col-sm-10 clr-offset-sm-1">

    <div class="clr-row">
      <div class="clr-col-12 clr-col-sm-7 clr-col-md-6 clr-col-lg-5 clr-col-xl-4">
        <button class="btn btn-primary btn-sm" style="margin-top:20px" (click)="AddNewClient()">Add New Client</button>
        <button class="btn btn-primary btn-sm" style="margin-top:20px" (click)="this._appService.VoucherAdminService.GetVoucherClients()">View All</button>
      </div>
      <!--<div class="clr-col-12 clr-col-sm-3">-->
      <div class="clr-input-wrapper clr-row">
        <input clrInput placeholder="Search by client name..." name="searchText" #searchText>
        <button class="btn btn-icon btn-sm" style="margin-top:20px" (click)="this._appService.VoucherAdminService.GetVoucherClients(searchText.value)">
          <clr-icon shape="search"></clr-icon>
        </button>
      </div>
      <!--</div>-->
    </div>

    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid>
          <!--<clr-dg-column>Client ID</clr-dg-column>-->
          <clr-dg-column>Client Name</clr-dg-column>
          <!--<clr-dg-column>Balance</clr-dg-column>-->
          <clr-dg-column>Contact Person</clr-dg-column>
          <clr-dg-column>Tel No</clr-dg-column>
          <clr-dg-column>Email</clr-dg-column>
          <clr-dg-column>Create Date</clr-dg-column>
          <clr-dg-column style="width:350px">Action</clr-dg-column>

          <clr-dg-row *ngFor="let voucherClientDetail of this._appService.VoucherAdminService.VoucherClients">
            <!--<clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.clientId}}</clr-dg-cell>-->
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.clientName}}</clr-dg-cell>
            <!--<clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.balance.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2, minimumFractionDigits : 2 })}}</clr-dg-cell>-->
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.contactPerson}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.telNo}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.email}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{voucherClientDetail.createDate}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left;">
              <button class="btn btn-primary btn-sm" (click)="this.EditClient(voucherClientDetail)">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="this._appService.VoucherAdminService.DeleteClient(voucherClientDetail)">Delete</button>
              <button class="btn btn-primary btn-sm" (click)="this.GoToTransactions(voucherClientDetail)">
                Transactions<clr-icon shape="step-forward-2"></clr-icon>
              </button>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>

</div>

<!-- Modal: Add new client form -->
<div class="modal" *ngIf="this._appService.VoucherAdminService.showAddNewClientModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.VoucherAdminService.showAddNewClientModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Add New Voucher Client</h3>
      </div>
      <div class="modal-body">

        <form clrForm clrLayout="horizontal" clrLabelSize="4" [formGroup]="_clientForm" (ngSubmit)="SaveNewClient()">

          <clr-input-container>
            <label for="clientName">Client Name</label>
            <input clrInput type="text" id="clientName" formControlName="clientName">
            <clr-control-error *ngIf="!_clientForm.get('clientName').valid && _clientForm.get('clientName').touched">
              Please enter a client name.
            </clr-control-error>
          </clr-input-container>

          <!--Bootstrap-->
          <!--<div class="form-group">
            <label for="contactPerson">Contact Person</label>
            <input type="text" id="contactPerson" formControlName="contactPerson" class="clr-form-control">
            <span *ngIf="!_clientForm.get('contactPerson').valid && _clientForm.get('contactPerson').touched"
                  class="help-block">Please enter a contact person.</span>
          </div>-->

          <clr-input-container>
            <label for="contactPerson">Contact Person</label>
            <input clrInput type="text" id="contactPerson" formControlName="contactPerson">
            <clr-control-error *ngIf="!_clientForm.get('contactPerson').valid && _clientForm.get('contactPerson').touched">
              Please enter a contact person.
            </clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="telNo">Tel No</label>
            <input clrInput type="text" id="telNo" formControlName="telNo">
            <clr-control-error *ngIf="!_clientForm.get('telNo').valid && _clientForm.get('telNo').touched">
              Please enter a telephone number.
            </clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="clientEmail">Email</label>
            <input clrInput type="text" id="clientEmail" formControlName="clientEmail">
            <clr-control-error *ngIf="!_clientForm.get('clientEmail').valid && _clientForm.get('clientEmail').touched">
              Please enter a valid email address.
            </clr-control-error>
          </clr-input-container>

          <clr-select-container>
            <label for="hp">HealthPlan</label>
            <select clrSelect id="hp" formControlName="hp" style="width:250px">
              <option></option>
              <option *ngFor="let list of this._appService.MedivouchService.VoucherHpList" value="{{list.opt}}">{{list.hpCode + '-' +list.opt}}</option>
            </select>
            <!--<clr-control-error *ngIf="!_clientForm.get('hp').valid && _clientForm.get('hp').touched">
              Please select a healthplan.
            </clr-control-error>-->
          </clr-select-container>

          <!--<clr-control-error *ngIf="!_clientForm.valid && _clientForm.touched">
            Please enter valid form data.
          </clr-control-error>-->

          <br />

          <button class="btn btn-outline" type="button" (click)="this._appService.VoucherAdminService.showAddNewClientModal = false">Cancel</button>
          <button class="btn btn-primary" type="submit" [disabled]="!_clientForm.valid">Save</button>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: Edit client form -->
<div class="modal" *ngIf="this._appService.VoucherAdminService.showEditClientModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.VoucherAdminService.showEditClientModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Edit Client</h3>
      </div>
      <div class="modal-body">

        <form clrForm clrLayout="horizontal" clrLabelSize="4" [formGroup]="_clientForm" (ngSubmit)="UpdateClient()">

          <clr-input-container>
            <label for="clientName">Client Name</label>
            <input clrInput type="text" id="clientName" formControlName="clientName">
            <clr-control-error *ngIf="!_clientForm.get('clientName').valid && _clientForm.get('clientName').touched">
              Please enter a client name.
            </clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="contactPerson">Contact Person</label>
            <input clrInput type="text" id="contactPerson" formControlName="contactPerson">
            <clr-control-error *ngIf="!_clientForm.get('contactPerson').valid && _clientForm.get('contactPerson').touched">
              Please enter a contact person.
            </clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="telNo">Tel No</label>
            <input clrInput type="text" id="telNo" formControlName="telNo">
            <clr-control-error *ngIf="!_clientForm.get('telNo').valid && _clientForm.get('telNo').touched">
              Please enter a telephone number.
            </clr-control-error>
          </clr-input-container>

          <clr-input-container>
            <label for="clientEmail">Email</label>
            <input clrInput type="text" id="clientEmail" formControlName="clientEmail">
            <clr-control-error *ngIf="!_clientForm.get('clientEmail').valid && _clientForm.get('clientEmail').touched">
              Please enter a valid email address.
            </clr-control-error>
          </clr-input-container>

          <clr-select-container>
            <label for="hp">HealthPlan</label>
            <select clrSelect id="hp" formControlName="hp" style="width:250px">
              <option *ngFor="let list of this._appService.MedivouchService.VoucherHpList" value="{{list.opt}}">{{list.hpCode + '-' + list.opt}}</option>
              <option></option>
            </select>
          </clr-select-container>

          <!--<clr-control-error *ngIf="!_clientForm.valid && _clientForm.touched">
            Please enter valid form data.
          </clr-control-error>-->

          <br />

          <button class="btn btn-outline" type="button" (click)="this.CancelEditModal()">Cancel</button>
          <button class="btn btn-primary" type="submit" [disabled]="!_clientForm.valid">Save</button>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: Error -->
<div class="modal" *ngIf="this._appService.VoucherAdminService.error">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.CloseErrorMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.VoucherAdminService.errorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.VoucherAdminService.errorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this.CloseErrorMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<!-- Modal: busy spinner -->
<clr-modal [(clrModalOpen)]="this._appService.VoucherAdminService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<!-- Modal: busy spinner (old ugly spinner)-->
<!--<div class="modal" *ngIf="this._appService.VoucherAdminService.busy">
  <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">

        <div class="clr-row">
          <div class="clr-col-12" style="align-content:center">
            <span class="spinner">
              Loading...
            </span>
          </div>
        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>-->
<!--<div class="modal-backdrop" aria-hidden="true"></div>-->
<!--</div>-->
