<form clrForm [formGroup]="cToothNumForm">

  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum1" (blur)="ValidateToothNum1()" />
    <clr-control-error>{{this.errMsgTooth1}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth1}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum2" (blur)="ValidateToothNum2()" />
    <clr-control-error>{{this.errMsgTooth2}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth2}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum3" (blur)="ValidateToothNum3()" />
    <clr-control-error>{{this.errMsgTooth3}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth3}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum4" (blur)="ValidateToothNum4()" />
    <clr-control-error>{{this.errMsgTooth4}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth4}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum5" (blur)="ValidateToothNum5()" />
    <clr-control-error>{{this.errMsgTooth5}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth5}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum6" (blur)="ValidateToothNum6()" />
    <clr-control-error>{{this.errMsgTooth6}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth6}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum7" (blur)="ValidateToothNum7()" />
    <clr-control-error>{{this.errMsgTooth7}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth7}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Tooth Number: </label>
    <input type="text" clrInput formControlName="toothNum8" (blur)="ValidateToothNum8()" />
    <clr-control-error>{{this.errMsgTooth8}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.errMsgTooth8}}</clr-control-helper>
  </clr-input-container>

</form>
