<div class="clr-row">

  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-8 clr-offset-md-2 clr-col-lg-6 clr-offset-lg-3 clr-col-xl-6 clr-offset-xl-3">
    <div class="card" style="position:static" joyrideStep="Membship_1" title="Member Eligibility"
         text="This form is used to do a member validation check." stepPosition="bottom">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-5">
            <span>Enter Member's Credentials</span>
          </div>
          <div class="clr-col-2" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">

          </div>
          <div class="clr-col-5" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
            <span>Practice Number: {{this._appService.LoginService.CurrentLoggedInUser.provID}}</span>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.voucherPartners == true)">

            <div class="clr-col-12">
              <div class="alert alert-blue" role="alert" style="background-color: orange;border-color:darkorange;color:white" *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 1) &&  (this._appService.LoginService.userRights.voucherPartners == true)">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="info-circle" style="color:white"></clr-icon>
                    </div>
                    <span class="alert-text">
                      Please take note that a member eligibility check is not needed to confirm a voucher for any of our voucher partners. Click on the Vouchers tab to get started.
                    </span>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <form clrForm>

            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityID"
                                     joyrideStep="Membship_2" title="Member Number" text="Type a member number without the dependant code here." stepPosition="left">
                  <label>Member No:</label>
                  <input clrInput type="text" placeholder="Family Number" required
                         name="MemberNumber" [(ngModel)]="this._appService.MembershipService.MemberDetails.membid"
                         #MemberNumber="ngModel" size="23">
                </clr-input-container>
              </div>
              <div class="clr-col-12">
                <clr-select-container *ngIf="this._appService.MembershipService.MemberEligibilitySelectHealthPlan"
                                      joyrideStep="Membship_3" title="Fund" text="Select the fund to which the member belongs here." stepPosition="left">
                  <label>Fund:</label>
                  <select clrSelect [(ngModel)]="this._appService.MembershipService.HealthplanContracts.hpcode"
                          name="HP_Contract">
                    <option *ngFor="let contract of this._appService.LoginService.MemberClaimsDropDown"
                            [ngValue]="contract.hpcode">
                      {{contract.hpname}}
                    </option>
                  </select>
                </clr-select-container>
              </div>
              <div class="clr-col-12">
                <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityName">
                  <label>First name:</label>
                  <input clrInput type="text" id="gForm_2" placeholder="Enter Name here" required
                         name="MemberFirstName"
                         [(ngModel)]="this._appService.MembershipService.MemberDetails.firstnm"
                         #MemberFirstName="ngModel" size="45">
                </clr-input-container>
              </div>
              <div class="clr-col-12">
                <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityLastName">
                  <label>Last name:</label>
                  <input clrInput type="text" id="gForm_3" placeholder="Enter Surname here"
                         required name="MemberLastName"
                         [(ngModel)]="this._appService.MembershipService.MemberDetails.lastnm"
                         #MemberLastName="ngModel" size="35">
                </clr-input-container>
              </div>
              <div class="clr-col-12">
                <clr-date-container *ngIf="this._appService.MembershipService.MemberEligibilityDOB" joyrideStep="Membship_4"
                                    title="DOB" text="Enter the date of birth of the member here." stepPosition="left">
                  <label>Date Of Birth:</label>
                  <input type="date" id="date" required name="MemberDOB"
                         [(ngModel)]="this._appService.MembershipService.MemberDetails.birth" #MemberDOB="ngModel"
                         clrDate>
                </clr-date-container>
              </div>
            </div>


          </form>
        </div>
      </div>
      <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.MembershipService.Submit()"
                    [disabled]="this._appService.MembershipService.DisableSubmitBtn==true"
                    joyrideStep="Membship_5" title="Validate" text="Click on this button to confirm the members eligibility." stepPosition="bottom">
              Validate
              Member
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.MembershipService.ClearAllInputFields()"
                    joyrideStep="Membship_6" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>

            <span class="spinner spinner-inline" *ngIf="this._appService.MembershipService.Validation">
              Validating Credentials...
            </span>
            <span *ngIf="this._appService.MembershipService.Validation">
              Validating Credentials...
            </span>
          </div>
          <div class="clr-col-3 text-right">
            <span *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType == 1) || (this._appService.LoginService.CurrentLoggedInUser.userType == 3)"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
            </span>
          </div>
        </div>
      </div>
      <div class="card-footer" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.MembershipService.Submit()"
                    [disabled]="this._appService.MembershipService.DisableSubmitBtn==true"
                    joyrideStep="Membship_5" title="Validate" text="Click on this button to confirm the members eligibility." stepPosition="bottom">
              Validate
              Member
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.MembershipService.ClearAllInputFields()"
                    joyrideStep="Membship_6" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>

            <span class="spinner spinner-inline" *ngIf="this._appService.MembershipService.Validation">
              Validating Credentials...
            </span>
            <span *ngIf="this._appService.MembershipService.Validation">
              Validating Credentials...
            </span>
          </div>
          <div class="clr-col-3 text-right">
            <span *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType == 1) || (this._appService.LoginService.CurrentLoggedInUser.userType == 3)"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="clr-row" *ngIf="this._appService.MembershipService.MemberTable==true && this._appService.MembershipService.showTabels">
  <div class="clr-col-sm-12">
    <!--<div style="overflow-x:scroll; overflow-x:hidden; height:650px">-->
    <h3>Membership Info</h3>
    <table class="table">
      <thead>
        <tr>
          <th>FAMILY MEMBER NUMBER</th>
          <th>DEPENDANT</th>
          <th>LAST NAME</th>
          <th>FIRST NAME</th>
          <th>DATE OF BIRTH</th>
          <th>OPTION</th>
          <th>ACTIVE DATE</th>
          <th>TERMINATION DATE</th>
          <th>RELATION DESCRIPTION</th>
          <th>MEMBER STATUS</th>
          <!--<th>WAIT START</th>-->
          <!--<th>WAIT END</th>-->
          <th>WAIT PERIODS</th>
          <th *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">GP CONSULTATIONS</th>
          <!--<th *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">MORE INFO</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of this._appService.MembershipService.AllMembers">
          <td>{{member.subssn.substring(1, member.subssn.length)}}</td> <!--Remove our "M" prefix from subssn-->
          <td>{{member.dependant}}</td>
          <td>{{member.lastnm}}</td>
          <td>{{member.firstnm}}</td>
          <td>{{member.birth | date:'yyyy/MM/dd'}}</td>
          <td>{{member.opt}}</td>
          <td>{{member.opfromdt | date:'yyyy/MM/dd'}}</td>
          <td>{{member.opthrudt}}</td>
          <td>{{member.relation}}</td>
          <td>{{member.memberStatus}}</td>
          <!--<td>{{member.fromdate}}</td>-->
          <!--<td>{{member.todate}}</td>-->
          <td *ngIf="member.waitAndSpecExcls.length == 0">N/A</td>
          <td *ngIf="member.waitAndSpecExcls.length > 0">
            <button type="button" class="btn btn-icon btn-sm"
                    (click)="this.ShowWaitSpecExclModal(member.waitAndSpecExcls)">
              View
              <clr-icon shape="help-info"></clr-icon>
            </button>
          </td>
          <td *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">{{member.consultations}}</td>
          <!--<td *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
          <button class="btn btn-link btn-sm" (click)="OpenMoreInfoModal(member)" [disabled]="member.memberStatus == 'TERMINATED'"><clr-icon shape="help-info"></clr-icon></button>
        </td>-->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="16" style="text-align: right">{{this._appService.MembershipService.AllMembers.length}} Members Found</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <!--</div>-->
</div>

<div class="clr-row" *ngIf="this._appService.MembershipService.ChronicConditionstable==true && this._appService.MembershipService.MemberTable==true && this._appService.MembershipService.showTabels">
  <div class="clr-col-sm-12">
    <!--<div style="overflow-x:scroll; overflow-x:hidden; height:650px">-->
    <h3>Chronic Condition Submissions</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Application No</th>
          <th>Condition</th>
          <th>Member No</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Status</th>
          <th style="width:20px">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this._appService.MembershipService._chronicConditionsubmissionHistory">
          <td>{{item.conditionApplicationNumber}}</td>
          <td>{{item.conditionDescription}}</td>
          <td>{{item.membId}}</td>
          <td>{{item.membFirstName}}</td>
          <td>{{item.membLastName}}</td>
          <td>{{item.status}}</td>
          <td style="width: 20px; text-align: center;">
            <button type="button"
                    class="btn btn-icon btn-sm"
                    aria-label="warning" (click)="viewSubmittedApplication(item.conditionApplicationNumber)">
              <clr-icon shape="search"></clr-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--</div>-->
</div>

<div *ngIf="this._appService.MembershipService.EmptyForm==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MembershipService.EmptyForm=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">The Following Is Required:</h3>
        </div>
        <div class="modal-body">
          <ul *ngFor="let Requirement of this._appService.MembershipService.Requirements">
            <li>{{Requirement}}</li>
          </ul>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MembershipService.EmptyForm=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.MembershipService.NoMembersFound==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MembershipService.NoMembersFound=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">No Member Found!!</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Search Returned with {{this._appService.MembershipService.AllMembers.length}} Members.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MembershipService.NoMembersFound=false">OK</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<!--<clr-modal [(clrModalOpen)]="this._appService.MembershipService.moreInfo" [clrModalClosable]="true" [clrModalSize]="'sm'">
  <h4 class="modal-title text-center">
    Choose Benefit Type
  </h4>
  <div class="modal-body" *ngIf="this._appService.LoginService.CurrentLoggedInUser.hospital">
    <div class="clr-row">
      <div class="clr-col-1"></div>
      <div class="clr-col-lg-10">
        <div>
          <span>There are no benefit rules loaded for this healthplan option...</span>
        </div>
      </div>
      <div class="clr-col-1"></div>
    </div>

  </div>
  <div class="modal-body" *ngIf="!this._appService.LoginService.CurrentLoggedInUser.hospital">
    <div class="clr-row">
      <div class="clr-col-1"></div>
      <div class="clr-col-lg-10" *ngIf="this._appService.MembershipService.benRights.length > 0">
        <div *ngFor="let benefit of this._appService.MembershipService.benRights">
          <button class="btn btn-sm btn-primary" style="word-break:break-all" (click)="this.GetBenifitResults(benefit)">{{benefit.benName}}</button>
        </div>
      </div>
      <div class="clr-col-lg-10" *ngIf="this._appService.MembershipService.benRights.length == 0">
        <div>
          <span>There are no benefit rules loaded for this healthplan option...</span>
        </div>
      </div>
      <div class="clr-col-1"></div>-->
<!--<div class="clr-col-lg-8">
  <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
    <div class="clr-col-7">
      <span>
        <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
      </span>
    </div>
    <div class="clr-col-5">
      <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
    </div>
  </div>
  <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
    <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName == 'Restorations' ||this._appService.MembershipService.returnBenSet.benName == 'RESTORATIONS'">
      <clr-datagrid>
        <clr-dg-column>Tooth Number</clr-dg-column>
        <clr-dg-column>Service Date</clr-dg-column>
        <clr-dg-column>Practice</clr-dg-column>


        <clr-dg-placeholder>
          Nothing found!!
        </clr-dg-placeholder>

        <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
          <clr-dg-cell> <span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
          <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
          <clr-dg-cell>{{data.provid}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
    <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName != 'Restorations' && this._appService.MembershipService.returnBenSet.benName != 'RESTORATIONS'">
      <clr-datagrid>
        <clr-dg-column>Tooth Number</clr-dg-column>
        <clr-dg-column>Service Date</clr-dg-column>
        <clr-dg-column>Practice</clr-dg-column>


        <clr-dg-placeholder>
          Nothing found!!
        </clr-dg-placeholder>

        <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
          <clr-dg-cell><span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
          <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
          <clr-dg-cell>{{data.provid}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
  <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
    <div class="clr-col-7">
      <span>
        <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
      </span>
    </div>
    <div class="clr-col-5">
      <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
    </div>
  </div>
  <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
    <div class="clr-col-12">
      <clr-datagrid>
        <clr-dg-column>Eligible</clr-dg-column>
        <clr-dg-column>Message</clr-dg-column>
        <clr-dg-column>Age</clr-dg-column>
        <clr-dg-column>Last Practice</clr-dg-column>
        <clr-dg-column>Service Date</clr-dg-column>


        <clr-dg-placeholder>
          No Data Found!!
        </clr-dg-placeholder>

        <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
          <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == true && data.ageMessage == 'N/A'"><span style="font-weight:900;color:red">CONTACT SCHEME FOR AUTHORIZATION</span></clr-dg-cell>
          <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == false"><span style="font-weight:900;color:red">NO</span></clr-dg-cell>
          <clr-dg-cell *ngIf="data.indicate == 'Y'"><span style="font-weight:900;color:green">YES</span></clr-dg-cell>
          <clr-dg-cell><span>{{data.ageMessage}}</span></clr-dg-cell>
          <clr-dg-cell><span>{{data.age}}</span></clr-dg-cell>
          <clr-dg-cell>{{data.provid}}</clr-dg-cell>
          <clr-dg-cell><span>{{data.svcDate}}</span></clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>-->
<!--</div>

</div>-->
<!--<div class="modal-footer">
  <button type="button" class="btn btn-outline" (click)="this._appService.MembershipService.moreInfo = false">
    OK
  </button>
</div>-->
<!--</clr-modal>-->
<!--<clr-modal [(clrModalOpen)]="this._appService.MembershipService.openBenresult" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title text-center">
  </h3>
  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-2"></div>
      <div class="clr-col-lg-8">
        <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
          <div class="clr-col-7">
            <span style="font-size:large">
              <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
            </span>
          </div>
          <div class="clr-col-5">
            <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
          </div>
        </div>
        <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
          <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName == 'Restorations' ||this._appService.MembershipService.returnBenSet.benName == 'RESTORATIONS'">
            <clr-datagrid>
              <clr-dg-column>Tooth Number</clr-dg-column>
              <clr-dg-column>Service Date</clr-dg-column>
              <clr-dg-column>Practice</clr-dg-column>


              <clr-dg-placeholder>
                Nothing found!!
              </clr-dg-placeholder>

              <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
                <clr-dg-cell> <span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
                <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
                <clr-dg-cell>{{data.provid}}</clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </div>
          <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName != 'Restorations' && this._appService.MembershipService.returnBenSet.benName != 'RESTORATIONS'">
            <clr-datagrid>
              <clr-dg-column>Tooth Number</clr-dg-column>
              <clr-dg-column>Service Date</clr-dg-column>
              <clr-dg-column>Practice</clr-dg-column>
              <clr-dg-column>Reference</clr-dg-column>

              <clr-dg-placeholder>
                Nothing found!!
              </clr-dg-placeholder>

              <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
                <clr-dg-cell><span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
                <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
                <clr-dg-cell>{{data.provid}}</clr-dg-cell>
                <clr-dg-cell style="background:#C92100"><span style="font-weight:bolder;font-size:larger;color:white;background:#C92100">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </div>
        </div>
        <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
          <div class="clr-col-7">
            <span>
              <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
            </span>
          </div>
          <div class="clr-col-5">
            <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
          </div>
        </div>
        <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
          <div class="clr-col-12">
            <clr-datagrid>
              <clr-dg-column>Eligible</clr-dg-column>
              <clr-dg-column>Message</clr-dg-column>
              <clr-dg-column>Age</clr-dg-column>
              <clr-dg-column>Last Practice</clr-dg-column>
              <clr-dg-column>Service Date</clr-dg-column>
              <clr-dg-column>Reference</clr-dg-column>


              <clr-dg-placeholder>
                No Data Found!!
              </clr-dg-placeholder>

              <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
                <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == true && data.ageMessage == 'N/A'"><span style="font-weight:900;color:red">CONTACT SCHEME FOR AUTHORIZATION</span></clr-dg-cell>
                <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == false"><span style="font-weight:900;color:red">NO</span></clr-dg-cell>
                <clr-dg-cell *ngIf="data.indicate == 'Y'"><span style="font-weight:900;color:green">YES</span></clr-dg-cell>
                <clr-dg-cell><span>{{data.ageMessage}}</span></clr-dg-cell>
                <clr-dg-cell><span>{{data.age}}</span></clr-dg-cell>
                <clr-dg-cell>{{data.provid}}</clr-dg-cell>
                <clr-dg-cell><span>{{data.svcDate}}</span></clr-dg-cell>
                <clr-dg-cell *ngIf="data.indicate == 'N'" style="background:#C92100"><span style="font-size:larger;font-weight:bolder;color:white;background:#C92100">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
                <clr-dg-cell *ngIf="data.indicate == 'Y'" style="background:#60B515"><span style="font-size:larger;font-weight:bolder;color:white;background:#60B515">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
              </clr-dg-row>
            </clr-datagrid>
          </div>
        </div>
      </div>
      <div class="clr-col-2"></div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MembershipService.openBenresult = false">
      OK
    </button>
  </div>
</clr-modal>-->

<clr-modal [(clrModalOpen)]="this._appService.MembershipService.modelContractShow" [clrModalClosable]="false">
  <h3 class="modal-title text-center">
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <div class="alert-text">
            WARNING!!!
          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="modal-body">
    <div *ngFor="let line of this._appService.MembershipService.contractMessage">
      {{line}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MembershipService.modelContractShow = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]=" this._appService.MembershipService.benHistOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title" style="text-align:center">Benifit Search History</h3>
  <div class="modal-body">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-sm-2"></div>
      <div class="clr-col-sm-8" style="display:inline-block">
        <button type="button" class="btn btn-primary">Show Entire History</button>
        <button type="button" class="btn btn-primary">Simplify Search</button>
      </div>
      <div class="clr-col-sm-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.MembershipService.benHistOpen = false">Cancel</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]=" this._appService.MembershipService.benHistOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title" style="text-align:center">Benefit Search History</h3>
  <div class="modal-body">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-sm-2"></div>
      <div class="clr-col-sm-8" style="display:inline-block">
        <button type="button" class="btn btn-primary" (click)="ShowAllSeacrhHist()">Show Entire History</button>
        <button type="button" class="btn btn-primary">Refined Search</button>
      </div>
      <div class="clr-col-sm-2"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.MembershipService.benHistOpen = false">Cancel</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]=" this.showWaitSpecExclModal" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title" style="text-align:center">Member Wait Period(s)</h3>
  <div class="modal-body">

    <table class="table">
      <thead>
        <tr>
          <th>Dependant</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.waitAndSpecExcls">
          <td>{{item.dependant}}</td>
          <td>{{item.description}}</td>
          <td>{{item.fromDate}}</td>
          <td>{{item.toDate}}</td>
        </tr>
      </tbody>
      <!--<tfoot>
        <tr>
          <td colspan="16" style="text-align: right">{{this._appService.SecurityService.RecievedHistoryClaims.length}} Claims Found</td>
        </tr>
      </tfoot>-->
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.CloseWaitSpecExclModal()">Close</button>
  </div>
</clr-modal>

<!--<clr-modal [(clrModalOpen)]=" this._appService.MembershipService.allHist" [clrModalSize]="'xl'">
  <h3 class="modal-title" style="text-align:center">Benefit Search History</h3>
  <div class="modal-body">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-sm-12" style="display:inline-block">
        <form clrForm [formGroup]="searchForm" style="display:inline-block">
          <clr-input-container>
            <label>
              Search
            </label>
            <input formControlName="search" clrInput (input)="SearchBenHist($event.target.value)" />
          </clr-input-container>
        </form>
        <clr-datagrid>
          <clr-dg-column style="width:30px">Reference</clr-dg-column>
          <clr-dg-column style="width:40px">Date</clr-dg-column>
          <clr-dg-column style="width:120px">Member No</clr-dg-column>
          <clr-dg-column style="width:50px">Health Plan</clr-dg-column>
          <clr-dg-column style="width:120px">Benefit</clr-dg-column>
          <clr-dg-column>Results</clr-dg-column>
          <clr-dg-row *ngFor="let hist of this._appService.MembershipService.benHisList">
            <clr-dg-cell><span style="font-size:smaller">{{hist.reff}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word ">{{hist.logDate}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller">{{hist.membId}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word">{{hist.hp}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word">{{hist.benName.trim()}}</span></clr-dg-cell>
            <clr-dg-cell>

              <div *ngIf="hist.benName.trim() != 'RESTORATIONS' && hist.benName.trim() != 'FISSURE SEALANT' ">
                <clr-datagrid class="datagrid-compact">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-column>Message</clr-dg-column>
                  <clr-dg-column style="width:25px">Age</clr-dg-column>
                  <clr-dg-column>Last Practice</clr-dg-column>
                  <clr-dg-column>Service Date</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell *ngFor="let r of hist.results" style="font-size:x-small;background-color:lightgoldenrodyellow">{{r}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>
              </div>
              <div *ngIf="hist.benName == 'RESTORATIONS'">
                <clr-datagrid class="datagrid-compact" *ngIf="hist.results != ''">
                  <clr-dg-column style="width:25px">Practice</clr-dg-column>
                  <clr-dg-column>Tooth No</clr-dg-column>
                  <clr-dg-column style="width:25px">Service Date</clr-dg-column>
                  <clr-dg-column>Months</clr-dg-column>
                  <clr-dg-row *ngFor="let r of hist.results">
                    <clr-dg-cell *ngFor="let h of this.SplitResults(r)" style="font-size:x-small;background-color:lightgoldenrodyellow">{{h}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>
                <clr-datagrid class="datagrid-compact" *ngIf="hist.results == ''" style="width:100px">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell style="font-size:x-small;background-color:lightgoldenrodyellow">Y</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

              </div>
              <div *ngIf=" hist.benName.trim() == 'FISSURE SEALANT' ">

                <clr-datagrid class="datagrid-compact" *ngIf="hist.results != ''">
                  <clr-dg-column style="width:25px">Practice</clr-dg-column>
                  <clr-dg-column>Tooth No</clr-dg-column>
                  <clr-dg-column style="width:25px">Service Date</clr-dg-column>
                  <clr-dg-row *ngFor="let r of hist.results">
                    <clr-dg-cell *ngFor="let h of this.SplitResults(r)" style="font-size:x-small;background-color:lightgoldenrodyellow">{{h}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

                <clr-datagrid class="datagrid-compact" *ngIf="hist.results == ''" style="width:100px">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell style="font-size:x-small;background-color:lightgoldenrodyellow">Y</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{this._appService.MembershipService.benHisList.length}} searches</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.MembershipService.allHist = false">OK</button>
  </div>
</clr-modal>-->



<clr-modal [(clrModalOpen)]="this._appService.LoginService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>

<div *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg] != undefined">
  <clr-modal [(clrModalOpen)]="this._appService.LoginService.smallPopModal" [clrModalClosable]="false">
    <h3 class="modal-title text-center">{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].heading}}</h3>
    <div class="modal-body " *ngIf="this.showBody">
      <div class="clr-row">
        <div class="clr-col-12" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 1">
          <p> {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].body}} </p>
          <br />
          <br />
          <span>
            <b>Document:</b>
            <!--<a href="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>
              {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}
            </a>-->
            <a href="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>
              {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}
            </a>
          </span>
        </div>
        <div class="clr-col-12" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 2">
          {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].body}}<br />
          <br />
          <!--<img src="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />-->
          <img src="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />
          <div *ngIf="!this.imageLoad">
            <span class="spinner spinner-inline">
              Loading...
            </span>
            <span>
              Please wait while the image is loading...
            </span>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <form clrForm [formGroup]="AggreeForm">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox value="option1" formControlName="cbxAgree" (change)="DisableContinue()" />
              <label class="clr-col-12" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">I Agree</span>
              </label>
              <label class="clr-col-12" *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">Do not show again</span>
              </label>
            </clr-checkbox-wrapper>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.smallPopModal = false;this.NextModal()"
              *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="!this.imageLoad">
        Ok
      </button>
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.smallPopModal = false;this.NextModal()"
              *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="this.disableBtn">
        Ok
      </button>
    </div>
  </clr-modal>
  <clr-modal [(clrModalOpen)]="this._appService.LoginService.mediumPopModal" [clrModalSize]="'lg'" [clrModalClosable]="false">
    <h3 class="modal-title">{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].heading}}</h3>
    <div class="modal-body" *ngIf="this.showBody">
      <div class="clr-row">
        <div class="clr-col-5">
          {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].body}}
          <br />
        </div>
        <div class="clr-col-7" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 1">
          <!--<a href="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}</a>-->
          <a href="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}</a>
        </div>
        <div class="clr-col-7" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 2">
          <!--<img style="width:auto;max-width:432px;height:auto; max-height:243px"
               src="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />-->
          <img style="width:auto;max-width:432px;height:auto; max-height:243px"
               src="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />
          <div *ngIf="!this.imageLoad">
            <span class="spinner spinner-inline">
              Loading...
            </span>
            <span>
              Please wait while the image is loading...
            </span>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <form clrForm [formGroup]="AggreeForm">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox value="option1" formControlName="cbxAgree" (change)="DisableContinue()" />
              <label class="clr-col-12" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">I Agree</span>
              </label>
              <label class="clr-col-12" *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">Do not show again</span>
              </label>
            </clr-checkbox-wrapper>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.mediumPopModal = false;this.NextModal()"
              *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="!this.imageLoad">
        Ok
      </button>
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.mediumPopModal = false;this.NextModal()"
              *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="this.disableBtn">
        Ok
      </button>
    </div>
  </clr-modal>
  <clr-modal [(clrModalOpen)]="this._appService.LoginService.largePopModal" [clrModalSize]="'xl'" [clrModalClosable]="false">
    <h3 class="modal-title">{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].heading}}</h3>
    <div class="modal-body" *ngIf="this.showBody">
      <div class="clr-row">
        <div class="clr-col-4">
          {{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].body}}
          <br />
        </div>
        <div class="clr-col-8" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 1">
          <!--<a href="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}</a>-->
          <a href="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" download>{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}</a>
        </div>
        <div class="clr-col-8" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filetype == 2">

          <!--<img style="width:auto;max-width:672px" src="../../../../PamcPortal/assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />-->
          <img style="width:auto;max-width:672px" src="assets/PopUpDoc/{{this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].filename}}" (load)="CheckLoadedImg()" />
          <span *ngIf="!this.imageLoad">
            <span class="spinner spinner-inline">
              Loading...
            </span>
            <span>
              Please wait while the image is loading...
            </span>
          </span>


        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <form clrForm [formGroup]="AggreeForm">
            <clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox value="option1" formControlName="cbxAgree" (change)="DisableContinue()" />
              <label class="clr-col-12" *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">I Agree</span>
              </label>
              <label class="clr-col-12" *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept">
                <span style="font-weight:bolder;font-size:medium">Do not show again</span>
              </label>
            </clr-checkbox-wrapper>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.largePopModal = false;this.NextModal()"
              *ngIf="!this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="!this.imageLoad">
        Ok
      </button>
      <button type="button" class="btn btn-primary" (click)="this._appService.LoginService.largePopModal = false;this.NextModal()"
              *ngIf="this._appService.LoginService.popupList[this._appService.LoginService.currPopMsg].forceAccept" [disabled]="this.disableBtn">
        Ok
      </button>
    </div>
  </clr-modal>
</div>
<clr-modal [(clrModalOpen)]="this._appService.MembershipService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<!-- Modal: View a submitted Application -->
<div class="modal" *ngIf="this.showSubmittedAppModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.showSubmittedAppModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Chronic Condition Submission</h3>
      </div>
      <div class="modal-body">

        <app-chronic-cond-detail-view></app-chronic-cond-detail-view>

      </div> <!--modal-body-->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this.showSubmittedAppModal = false">Close</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
