<!--stackview-->
<span style="position:static">
  <clr-stack-view style="width: 97%; position:static;" joyrideStep="list_1" title="List Of Batches" text="This List represents a list of your current paid,unpaid and open batches." stepPosition="bottom">
    <clr-stack-block style="position:static">
      <clr-stack-label style="font-weight:900; font-size:medium">List Of Batches</clr-stack-label>
      <clr-stack-content>
        <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
              (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
        </span>
      </clr-stack-content>
    </clr-stack-block>

    <clr-stack-block [clrSbExpanded]="true" style="position: static ">
      <clr-stack-label>Add New Batch</clr-stack-label>
      <clr-stack-block>
        <clr-stack-label>
          <button class="btn btn-success-outline btn-sm" type="button" (click)="GenerateBordRowFile()"
                  joyrideStep="list_2" title="Add New Batch" text="Click on this button to generate a new batch." stepPosition="right">
            <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
              Loading...
            </span>
            <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
              <clr-icon shape="plus"></clr-icon>New
            </span>
          </button>
        </clr-stack-label>
      </clr-stack-block>
    </clr-stack-block>

    <clr-stack-block joyrideStep="list_3" title="Open Batches " text="To open an existing batch click on the batch number." stepPosition="right">
      <clr-stack-label>
        Open Batches
        <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.getUnreleasedBatches">
          Loading...
        </span>
      </clr-stack-label>
      <clr-stack-content>(Work in Progress) &nbsp;&nbsp;&nbsp;&nbsp;[{{this._appService.CheckRunService._unreleasedBatchesType.length}}]</clr-stack-content>
      <clr-stack-block *ngFor="let unreleasedbatch of this._appService.CheckRunService._unreleasedBatchesType">
        <clr-stack-label *ngIf="unreleasedbatch.xtype =='M'" (click)="this.generateChoosenBordRow(unreleasedbatch.batchNo,unreleasedbatch.xtype)">
          Member: {{unreleasedbatch.batchNo}}
        </clr-stack-label>
        <clr-stack-label *ngIf="unreleasedbatch.xtype =='P'" (click)="this.generateChoosenBordRow(unreleasedbatch.batchNo,unreleasedbatch.xtype)">
          Provider: {{unreleasedbatch.batchNo}}
        </clr-stack-label>
      </clr-stack-block>
    </clr-stack-block>

    <clr-stack-block joyrideStep="list_4" title="Batches Ready For Payment" text="To view an old batch click on the batch number." stepPosition="right">
      <clr-stack-label>
        Batches Ready For Payment

        <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.getUnPaidBatches">
          Loading...
        </span>
      </clr-stack-label>
      <clr-stack-content>(Validated)&nbsp;&nbsp; &nbsp;&nbsp;[{{this._appService.CheckRunService._unpaidBatchesType.length}}]</clr-stack-content>
      <clr-stack-block *ngFor="let unpaidbatch of this._appService.CheckRunService._unpaidBatchesType">
        <clr-stack-label *ngIf="unpaidbatch.xtype =='M'" (click)="this.generateChoosenBordRow(unpaidbatch.batchNo,unpaidbatch.xtype)">
          Member: {{unpaidbatch.batchNo}}
        </clr-stack-label>
        <clr-stack-label *ngIf="unpaidbatch.xtype =='P'" (click)="this.generateChoosenBordRow(unpaidbatch.batchNo,unpaidbatch.xtype)">
          Provider: {{unpaidbatch.batchNo}}
        </clr-stack-label>
      </clr-stack-block>
    </clr-stack-block>

    <clr-stack-block joyrideStep="list_5" title="Paid Batches" text="This section represents a list of paid batches grouped according to year and month created." stepPosition="right">
      <clr-stack-label>Paid Batches</clr-stack-label>
      <clr-stack-block *ngFor="let date of this._appService.CheckRunService._filteredPaidList">
        <clr-stack-label>
          {{date.yearMont}}
        </clr-stack-label>
        <clr-stack-block *ngFor="let batch of this._appService.CheckRunService._paid[date.yearMont]">
          <clr-stack-label *ngIf="batch.xtype=='M'">
            Member: {{batch.batchNo}}
          </clr-stack-label>
          <clr-stack-label *ngIf="batch.xtype=='P'">
            Provider: {{batch.batchNo}}
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-block>
  </clr-stack-view>
</span>
<!--End-->
