<div class="login-wrapper">
  <form class="login" clrForm [formGroup]="loginForm">
    <section class="title" *ngIf="this._appService.LoginService.SQLConnectionStatus">
      <h3 class="welcome">
        Welcome to our
      </h3>
      PORTAL
      <!--<h5 class="hint">Click the "Register" link below to create a account now.</h5>-->
      <!--"\"ng build --base-href \"/MediVouch/\"",-->
    </section>
    <clr-input-container>
      <label class="clr-sr-only">Username</label>
      <input formControlName='username' type="text" id="login_username" clrInput
             placeholder="Username" *ngIf="this._appService.LoginService.SQLConnectionStatus" style="width:300px">
    </clr-input-container>
    <clr-password-container>
      <label class="clr-sr-only">Password</label>
      <input formControlName='password' class="password" type="password" id="login_password" placeholder="Password" clrPassword
             *ngIf="this._appService.LoginService.SQLConnectionStatus" style="width:300px">
    </clr-password-container>
    <a id="RecoveryRegistration" (click)="this._appService.LoginService.ForgetPasswordModal()" *ngIf="this._appService.LoginService.SQLConnectionStatus">Forgot password?</a>
    <div class="error active" *ngIf='this._appService.LoginService.InvaildUsernameOrPassword==true' style="color:red">
      Invalid username or password
    </div>
    <div class="error active" *ngIf="this._appService.LoginService.SQLConnectionStatus == false">
      Web Service Is Currently Unavailable.
    </div>
    <div *ngIf="this._appService.LoginService.InProgress == true">
      <div class="modal-backdrop" aria-hidden="true">
        <span class="spinner spinner-inverse" style=" position: relative; top: 20rem; left: 38rem;">
          Loading...
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="Login()" *ngIf="this._appService.LoginService.SQLConnectionStatus">Sign in</button>
    <!--Jaco comment out 2023-09-03
      <a href="#" (click)="this._appService.LoginService.register_account=true" [routerLink]="['/user-registration']" class="signup" *ngIf="this._appService.LoginService.SQLConnectionStatus"
       id="register">Register new account.</a>
    --> 

    <!--<p><a href="http://www.youtube.com/watch_popup?v=fxfzBQHMVmc" target="_blank">Click here to watch our MediVouch demonstration</a></p>

    <iframe width="100%" height="200"
            src="https://www.youtube.com/embed/fxfzBQHMVmc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>-->

    <!--<div class="login-group">
    <input [(ngModel)]="this._appService.LoginService.Username" name='username' type="text" id="login_username" clrInput
           placeholder="Username" *ngIf="this._appService.LoginService.SQLConnectionStatus">
    <input [(ngModel)]="this._appService.LoginService.Password" name='password' class="password" type="password" id="login_password" placeholder="Password" clrInput
           *ngIf="this._appService.LoginService.SQLConnectionStatus">
    <a id="RecoveryRegistration" (click)="this._appService.LoginService.ForgetPasswordModal()" *ngIf="this._appService.LoginService.SQLConnectionStatus">Forgot password?</a>
    <div class="error active" *ngIf='this._appService.LoginService.InvaildUsernameOrPassword==true'>
      Invalid username or password
    </div>
    <div class="error active" *ngIf="this._appService.LoginService.SQLConnectionStatus == false">
      Web Service Is Currently Unavailable.
    </div>
    <div *ngIf="this._appService.LoginService.InProgress == true">
      <div class="modal-backdrop" aria-hidden="true">
        <span class="spinner spinner-inverse" style=" position: relative; top: 20rem; left: 38rem;">
          Loading...
        </span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" (click)="Login()" *ngIf="this._appService.LoginService.SQLConnectionStatus">Sign in</button>
    <a href="#" (click)="this._appService.LoginService.register_account=true" [routerLink]="['/user-registration']" class="signup" *ngIf="this._appService.LoginService.SQLConnectionStatus"
       id="register">Register new account.</a>

  </div>-->
  </form>


</div>
<div>
  <span style="font-size:x-small">&nbsp;{{this._appService.LoginService.server}}</span>
</div>

<!--Modal that opens when forget password link has been clicked-->
<div *ngIf="this._appService.LoginService.ForgetPassword==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.LoginService.ForgetPassword=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="clr-row">
            <h3 class="modal-title">Account recovery </h3>
          </div>
        </div>
        <div class="modal-body">
          <span class="clr-example-col-value">

            <div class="clr-row">
              <div class="clr-col-2">
                <label for="aForm_1">Email :</label>
              </div>
              <div class="clr-col-6">
                <input [(ngModel)]="this._appService.LoginService.Username" name='username' class="username" type="text" id="login_username"
                       placeholder="Email" (input)="this._appService.LoginService.onSearchChange($event.target.value)" size="30">
              </div>
              <div class="clr-col-2">
                <span class="spinner spinner-inline" *ngIf="this._appService.LoginService.NowLoading == true">
                  Loading...
                </span>
              </div>
            </div>
            <div *ngIf="this._appService.LoginService.CantMatchEmail == true">
              <clr-icon shape="error-standard" style="fill: red; margin-left: 84px; height: 36px; width:20px"></clr-icon>
              <label style="margin: .25rem .5rem 0.25rem 1rem; color: red">Failed to match entered Email!</label>
            </div>
          </span>
          <div class="clr-row clr-justify-content-end">
            <div class="clr-col-9">
              <span class="clr-example-col-value">
              </span>
            </div>
            <div class="clr-col-3">
              <span class="clr-example-col-value">
                <button class="btn" (click)="this._appService.LoginService.EmailRecoveryLookUp()">Next</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>




<!--Modal that opens after password has been validated-->
<div *ngIf="this._appService.LoginService.BureauRecovery==true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this._appService.LoginService.BureauRecovery=false"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="form-group">
            <h3 class="modal-title">Account recovery </h3>
          </div>
        </div>
        <div class="modal-body">
          <!--<app-account-recovery></app-account-recovery>-->
          <p>
            For assistance on this matter contact our network department on
            <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Modal that will pop up for provider recovery password-->
<div *ngIf="this._appService.LoginService.ProviderRecovery==true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this._appService.LoginService.ProviderRecovery=false"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="form-group">
            <h3 class="modal-title">Account recovery </h3>
          </div>
        </div>
        <div class="modal-body">
          <!--<app-prov-recovery></app-prov-recovery>-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Modal that will pop up for provider recovery password-->
<div *ngIf="this._appService.LoginService.ClientRecovery==true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this._appService.LoginService.ClientRecovery=false"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="form-group">
            <h3 class="modal-title">Account recovery </h3>
          </div>
        </div>
        <div class="modal-body">
          <!--<app-client-recovery></app-client-recovery>-->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.LoginService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Loading...
      </span>
    </p>
  </div>
</clr-modal>




<div *ngIf="this._appService.LoginService.FailedUpdateError==true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.LoginService.FailedUpdateError=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Update Failed</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{ this._appService.LoginService.UpdateError}}. For assistance on this matter contact our network department on
                <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.LoginService.FailedUpdateError=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>



<!--Modal Sucessful Update-->
<div *ngIf="this._appService.LoginService.SuccessfulUpdate==true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.LoginService.SuccessfulUpdate=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Successfully Update</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Your password has been successfully updated!
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.LoginService.SuccessfulUpdate=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Successful update for provider-->
<div *ngIf="this._appService.LoginService.ProviderUpdateSuccess == true">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.LoginService.ProviderUpdateSuccess=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Successfully Update</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Your password has been successfully updated!
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.LoginService.ProviderUpdateSuccess=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
