<label style="white-space:nowrap">
  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
    <span class="badge badge-warning">{{this._totalClaimLines}}</span>&nbsp;
    <span class="tooltip-content">Claim Lines</span>
  </a>
  <span class="badge badge-blue" [hidden]="true">{{this._totalDetailLines}}</span>&nbsp;
  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
    <span style="color: forestgreen; font-weight: bolder">R {{this._totalApproved | number: '.2'}}</span>&nbsp;&nbsp;
    <span class="tooltip-content">Claimed amount</span>
  </a>
  <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
    <span style="color:darkslateblue; font-weight: bolder">R {{this._totalPaid | number: '.2'}}</span>&nbsp;
    <span class="tooltip-content">Paid amount</span>
  </a>
</label>
