<div class="modal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true" style="width: 100% !important;">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.SecurityService.CloseClaimDetail()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <div class="clr-row">
          <h3 class="modal-title clr-col-12">Claim Details: {{this._appService.SecurityService.SelectedClaim.claimNo}}</h3>
          <!--<h3 class="modal-title clr-col-3">{{this._appService.SecurityService.SelectedClaim.claimNo}}</h3>-->
        </div>
        <div class="clr-row" style="position: relative; margin-top: -1pc;">
          <p *ngIf="false">(click the info button to view rejection reason(s))</p>
        </div>
      </div>
      <div class="modal-body">

        <div class="clr-row" *ngIf="false">
          <div class="clr-col-sm-8" >
            <clr-datagrid>
              <clr-dg-column>Proccode</clr-dg-column>
              <clr-dg-column>From date</clr-dg-column>
              <clr-dg-column>Billed</clr-dg-column>
              <clr-dg-column>Net</clr-dg-column>
              <clr-dg-column>Qty</clr-dg-column>
              <clr-dg-column>Diagcode</clr-dg-column>
              <clr-dg-column>Rejections</clr-dg-column>

              <clr-dg-row *ngFor="let detail of this._appService.SecurityService.ClaimInformation">
                <clr-dg-cell>{{detail.proccode}}</clr-dg-cell>
                <clr-dg-cell>{{detail.fromdatesvc | date}}</clr-dg-cell>
                <clr-dg-cell>{{detail.billed}}</clr-dg-cell>
                <clr-dg-cell>{{detail.net}}</clr-dg-cell>
                <clr-dg-cell>{{detail.qty}}</clr-dg-cell>
                <clr-dg-cell>{{detail.diagcode}}</clr-dg-cell>
                <clr-dg-cell>
                  <button class="btn btn-link btn-sm" (click)="this._appService.SecurityService.ShowRejectionReason(detail.tblrowid)"
                          [disabled]="this._appService.SecurityService.DisableInfoBtn(detail.billed,detail.net, detail.tblRowid)">
                    Info
                  </button>
                </clr-dg-cell>
              </clr-dg-row>

              <clr-dg-footer></clr-dg-footer>
            </clr-datagrid>
          </div>
          <div class="clr-col-sm-3 clr-offset-sm-1" *ngIf="this._appService.SecurityService.ClaimHasRejections==true">
            <b><u><label>Rejection Reason(s):</label></u></b>
            <ul class="list-unstyled" *ngFor="let detail of this._appService.SecurityService.RejectionReasons">
              <li>{{detail.comments}}</li>
            </ul>
          </div>
          <div class="clr-col-xs-3" style="position: relative; padding-top: 1pc;">

          </div>
        </div>

        <app-info-detail-lines></app-info-detail-lines>

      </div>

    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.errorRemittance" [clrModalClosable]="false">
  <h3 class="modal-title">An Error Occurred</h3>
  <div class="modal-body">
    <p>The Server is currently to busy to handle your remittance request, if this problem persists, please try again after 15h00 in the afternoon.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService.errorRemittance = false">
      Ok
    </button>
  </div>
</clr-modal>
