<!--Alert-->
<div class="alert alert-warning" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
      </div>
      <span class="alert-text">Please State a Reason For Rejecting the Claim</span>
    </div>
  </div>
</div>
<!--End-->
<!--Rejection Reason Form-->
<form clrForm [formGroup]="claimRejectionNotes">
  <clr-select-container>
    <label style="white-space: nowrap">Reason:</label>&nbsp;&nbsp;
    <select clrSelect (change)="this.defualtReason()" formControlName="reasons">
      <option *ngFor="let reason of this._appService.CheckRunService.rejectionReasons">{{reason.code}}-{{reason.reason}}</option>
    </select>
  </clr-select-container>
  <br />
  <div class="clr-row">
    <div class="clr-col-2"></div>
    <div class="clr-col-4">
    </div>
    <div class="clr-col-6"></div>
  </div>
  <clr-textarea-container>
    <label>Reason</label>
    <textarea clrTextarea formControlName="customReason" (blur)="this.CustomReason()" cols="40" *ngIf="this.rejectExtra"></textarea>
  </clr-textarea-container>
</form>
<!--End-->
