<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.diabetesMellitusForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'DIAB'">

  <h4 style="font-weight: 900"><b>Diabetes Mellitus</b></h4>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="icd10DM">ICD10 Code</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="icd10DM"
                    formControlName="diabIcd10">
              <option value=""></option>
              <option *ngFor="let item of this._appService.ChronicConditionService.DiabetesDiags" value="{{item.diagCode}}">{{item.diagCode}} - {{item.diagDesc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.diabetesMellitusForm.get('diabIcd10').touched && !this._appService.ChronicConditionService.diabetesMellitusForm.get('diabIcd10').valid">
            Please select a diagnosis code
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3">Upload pathology results</label>
        <div class="clr-control-container clr-col-sm-9">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event,
                                                                                        this._appService.ChronicConditionService.DiabPathResultFiles,
                                                                                        this._appService.ChronicConditionService.diabetesMellitusForm,
                                                                                        'diabPathResults')"
                        (click)="this._appService.ChronicConditionService.diabetesMellitusForm.get('diabPathResults').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.diabetesMellitusForm.get('diabPathResults').touched && !this._appService.ChronicConditionService.diabetesMellitusForm.get('diabPathResults').valid">
            Pathology results are required
          </span>

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.DiabPathResultFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i,
                                                                                         this._appService.ChronicConditionService.DiabPathResultFiles,
                                                                                         this._appService.ChronicConditionService.diabetesMellitusForm,
                                                                                         'diabPathResults')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>

        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
