<div class="clr-row">

  <div class="clr-col-lg-6 clr-offset-lg-3 " joyrideStep="cr_1" title="Claim Capture Report" text="This form is used to search for and view your captured claims." stepPosition="bottom">
    <div class="card">

      <div class="card-header">
        View Captured Claims
      </div>

      <div class="card-block">
        <div class="card-text">

          <form class="clr-form clr-form-compact" [formGroup]="this._appService.ClaimCaptureService.capturedClaimsForm">
            <div class="clr-row">

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_2" title="From Date" text="Enter the date you wish to search from here." stepPosition="bottom">
                  <label class="clr-control-label clr-col-sm-3" for="CreatedFromV">From</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             min="1900-01-01"
                             max="2099-12-31"
                             id="CreatedFromV"
                             formControlName="createdFrom" />
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('createdFrom').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('createdFrom').valid">
                      Valid date required
                    </span>
                  </div>
                </div>
              </div>

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_3" title="To Date" text="Enter the date you wish to search to here." stepPosition="bottom">
                  <label class="clr-control-label clr-col-sm-3" for="CreatedToV">To</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             min="1900-01-01"
                             max="2099-12-31"
                             id="CreatedToV"
                             formControlName="createdTo" />
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('createdTo').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('createdTo').valid">
                      Valid date required
                    </span>
                  </div>
                </div>
              </div>

              <div class="clr-col-12">
                <div class="clr-form-control clr-row" joyrideStep="cr_4" title="Captured by" text="Select if you want to view claims that were only captured by you or claims captured by all users from your scheme." stepPosition="bottom">

                  <label class="clr-control-label clr-col-sm-3 ">Captured By</label>
                  <div class="clr-control-container clr-control-inline clr-col-sm-9 ">
                    <div class="clr-radio-wrapper">
                      <input class="clr-radio" type="radio" id="capturedByMe" value="Me" formControlName="capturedBy" />
                      <label for="capturedByMe" class="clr-control-label">Me&emsp;</label>
                    </div>
                    <div class="clr-radio-wrapper">
                      <input class="clr-radio" type="radio" id="capturedByEveryone" value="Everyone" formControlName="capturedBy" />
                      <label for="capturedByEveryone" class="clr-control-label">Everyone&emsp;</label>
                    </div>
                    <div class="clr-subtext-wrapper">
                      <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.capturedClaimsForm.get('capturedBy').touched && !this._appService.ClaimCaptureService.capturedClaimsForm.get('capturedBy').valid">
                        Please select an option
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div> <!--row-->
          </form>

        </div> <!--card-text-->
      </div><!--card-block-->

      <div class="card-footer">
        <div class="clr-row">

          <div class="clr-col-8">
            <button class="btn btn-primary btn-sm" [disabled]="!this._appService.ClaimCaptureService.capturedClaimsForm.valid" (click)="this._appService.ClaimCaptureService.SearchCapturedClaims()"
                    joyrideStep="cr_5" title="Search" text="Click here to begin your search according to your criteria." stepPosition="bottom">
              Search
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.ClaimCaptureService.capturedClaimsForm.reset()"
                    joyrideStep="cr_6" title="Clear" text="Click here clear your search criteria." stepPosition="bottom">
              Clear
            </button>
          </div>

          <div class="clr-col-4 text-right">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="this._appService.ClaimCaptureService.onClickReport()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
            </span>
          </div>

        </div> <!--row-->
      </div> <!--card-footer-->

    </div> <!--card-->

  </div> <!--col-->
</div> <!--row-->

<br />

<!--captured claims table-->
<div class="clr-row" *ngIf="this._appService.ClaimCaptureService._ReportListDisplay != undefined">

  <div class="clr-col-sm-6 clr-offset-sm-3 text-center">

    <div style="white-space: nowrap; display: inline-block">
      <button type="button" class="btn btn-link btn-sm" (click)="this._appService.ClaimCaptureService.decPage()">
        <span style="font-size: medium; font-weight: bold; "> ◄ </span>
      </button>
      <span style="font-weight: bold;">{{this._appService.ClaimCaptureService.curPage}}/{{this._appService.ClaimCaptureService.claimReportTotalPages}} pages</span>
      <button type="button" class="btn btn-link btn-sm" (click)="this._appService.ClaimCaptureService.incPage()">
        <span style="font-size: medium; font-weight: bold; "> ► </span>
      </button>
    </div>

  </div>

  <div class="clr-col-sm-3 text-right">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="this._appService.ClaimCaptureService._ReportList < 1"
            (click)="this._appService.ClaimCaptureService.ExportReportListExcel()">
      Export to Excel
    </button>
  </div>

</div>

<div class="clr-row" *ngIf="this._appService.ClaimCaptureService._ReportListDisplay != undefined">
  <div class="clr-col-12">

    <clr-datagrid>
      <clr-dg-column>
        CAPTURED DATE
        <a (click)="this._appService.ClaimCaptureService.GridSortingDates()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
      </clr-dg-column>
      <clr-dg-column>
        CAPTURED BY
        <a (click)="this._appService.ClaimCaptureService.GridSortingUser()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
      </clr-dg-column>
      <clr-dg-column>PRACTICE NO</clr-dg-column>
      <clr-dg-column>MEMBER NO</clr-dg-column>
      <clr-dg-column>DETAIL LINES</clr-dg-column>
      <clr-dg-column>BILLED</clr-dg-column>
      <clr-dg-column>CLAIM NO</clr-dg-column>
      <clr-dg-column>BATCH NO</clr-dg-column>
      <clr-dg-row *ngFor="let claim of this._appService.ClaimCaptureService._ReportListDisplay">
        <clr-dg-cell>{{claim.dateCreated}}</clr-dg-cell>
        <clr-dg-cell>{{claim.user}}</clr-dg-cell>
        <clr-dg-cell>{{claim.provid}}</clr-dg-cell>
        <clr-dg-cell>{{claim.memb}}</clr-dg-cell>
        <clr-dg-cell>{{claim.detailLines}}</clr-dg-cell>
        <clr-dg-cell>R {{claim.billed }}</clr-dg-cell>
        <clr-dg-cell>{{claim.ezcapClaimNo}}</clr-dg-cell>
        <clr-dg-cell>{{claim.batchNo}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this._appService.ClaimCaptureService._ReportList.length}} claims</clr-dg-footer>
    </clr-datagrid>

  </div> <!--col-->
</div>

<!--busy spinner-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._busyLoading" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>

<!--loading captured claims error-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._loadingError">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.ClaimCaptureService._loadingError = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.ClaimCaptureService._loadingErrorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.ClaimCaptureService._loadingErrorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.ClaimCaptureService._loadingError = false">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
