<div class="clr-row">

  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-10 clr-offset-md-1 clr-col-lg-10 clr-offset-lg-1 clr-col-xl-8 clr-offset-xl-2">
    <!--form for administrators-->
    <!--<div class="clr-row">
    <div class="clr-col-12" style="text-align:center;"> -->
    <div class="card" style="position:static">
      <div class="card-header text-center">
        Authorisation Submission
      </div>
      <div class="card-block">
        <div class="card-text">
          <form [formGroup]="AuthForm" clrForm>

            <div class="clr-row">

              <div class="clr-col-lg-6">
                <clr-input-container>
                  <label style="white-space:nowrap">Healthplan: {{this.seletecHp}}</label>
                </clr-input-container>

                <clr-input-container>
                  <label style="white-space:nowrap">Member No: {{this._appService.AuthorizationService.authDetail.membno}}</label>
                </clr-input-container>
              </div>

              <div class="clr-col-lg-6">
                <clr-input-container>
                  <label style="white-space:nowrap">Speciality Code: {{this._appService.AuthorizationService.authDetail.spec}} - {{this._appService.AuthorizationService.authDetail.specDesc}}</label>
                </clr-input-container>

                <!--<clr-checkbox-container>
                <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox formControlName="options" (change)="EnableAmount()" />
                  <label>Use System Amount</label>
                </clr-checkbox-wrapper>
              </clr-checkbox-container>
              <clr-input-container joyrideStep="Authsub_5" title="Practice Number" text="Enter the practice number here." stepPosition="left">
                <label>Authorized Amount</label>
                <input clrInput type="number" placeholder="Enter value here" min="0"
                       formControlName="amount" (blur)="ValidateAmount()"
                       step=".01" />
                <clr-control-error>{{this.AmountMessage}}</clr-control-error>
              </clr-input-container>-->

              </div>
            </div> <!--row end-->

            <div class="clr-row">

              <div class="clr-col-lg-6">
                <clr-input-container joyrideStep="Authsub_5" title="Practice Number" text="Enter the practice number here." stepPosition="left">
                  <label>Practice No</label>
                  <input clrInput type="text"
                         id="practice"
                         formControlName="provider"
                         required
                         placeholder="Enter practice no here"
                         (blur)="ValidateProviderWithSpec()" />
                  <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="this._appService.AuthorizationService.ProvError">{{"this.ProvMessage"}}</clr-control-helper>
                  <clr-control-error *ngIf="!this._appService.AuthorizationService.ProvError">{{"this.ProvMessage"}}</clr-control-error>
                </clr-input-container>
              </div>

              <div class="clr-col-lg-6">
                <clr-date-container joyrideStep="Authsub_6" title="Service Date" text="Choose the service date here." stepPosition="left">
                  <label>Service Date</label>
                  <input clrDate type="date"
                         id="date"
                         formControlName="service"
                         required
                         placeholder="Choose the service date here"
                         (blur)="ValidateDate() " />
                  <clr-control-error>{{this.DateMessage}}</clr-control-error>
                </clr-date-container>
              </div>

            </div> <!--row end-->

            <div class="clr-row">

              <div class="clr-col-lg-12">
                <clr-input-container *ngIf="this._appService.AuthorizationService.defaultProc != ''">
                  <label>Procedure Code: {{this._appService.AuthorizationService.defaultProc}}</label>
                </clr-input-container>
                
                <clr-select-container *ngIf="this._appService.AuthorizationService.defaultProc == ''" joyrideStep="Authsub_6" title="Procedure Code" text="Choose the procedure here." stepPosition="left">
                  <label>Procedure Code:</label>
                  <select clrSelect type="select"
                          id="procedure"
                          formControlName="proc"
                          required
                          placeholder="Select procedure here"
                          (change)="ProcChange()">
                    <option></option>
                    <option *ngFor="let list of this._appService.AuthorizationService.selectedSpec.specDetail" value="{{list.procCode}}">{{list.procCode}}</option>
                  </select>
                  <clr-control-error>This field is required!</clr-control-error>
                </clr-select-container>
              </div>

            </div> <!--row end-->

            <div class="clr-row">

              <div class="clr-col-lg-6">
                <clr-input-container *ngIf="this._appService.AuthorizationService.authDetail != 14 && this._appService.AuthorizationService.authDetail != 15" joyrideStep="Authsub_5" title="Amount" text="Enter the authorisation amount here." stepPosition="left">
                  <label>Amount</label>
                  <input clrInput type="text"
                         id="amt"
                         formControlName="amount"
                         placeholder="Enter amount here"                         
                         (blur)="ValidateAuthAmt()" />
                  <clr-control-error *ngIf="this.AmountMessage != 'valid'">{{this.AmountMessage}}</clr-control-error>
                  <!--<clr-control-error *ngIf="!this._proverror">{{this.AmountMessage}}</clr-control-error>-->
                </clr-input-container>
              </div>

              <div class="clr-col-lg-6">
                <clr-input-container>
                  <label style="font-weight:400; color:gray"><span style="background-color:#C5E5EF">{{this._appService.AuthorizationService.remainingAmountMessage}}</span></label>
                </clr-input-container>
              </div>

            </div> <!--row end-->

          </form>
        </div>
      </div>
      <div class="card-footer" *ngIf="this._router.url == 'Single-Auth-Submission'">
        <button class="btn btn-sm btn-primary" (click)="SubmitAuthorization()">Submit</button>
        <button class="btn btn-sm btn-secondary" (click)=" ClearAllInputFields()">Clear All Fields</button>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->

  </div>

</div>

<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body" style="padding: 24px;">
    <p style="align-self:center">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Validating Data...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.SecurityService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Validating Data...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.showAuth">
  <div class="modal-body">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Authorisation successfully submitted.</span>
        </div>
      </div>
    </div>
    <br />
    Your reference no for your authorisation is: <b><i>{{this._appService.AuthorizationService.newAuthNo}}</i></b>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.outOfNetwork" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-title">
    WARNING!!
  </div>
  <div class="modal-body">
    <p>
      {{this._outOfNetworkMsg}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.outOfNetwork = false">OK</button>
  </div>
</clr-modal>
