<div class="clr-row" *ngIf="this._appService.ChronicConditionService.Error==true">
  <div class="clr-col-xl-8 clr-offset-xl-2">
    <p>Could not retrieve application information</p>
    <p>{{this._appService.ChronicConditionService.ErrorMessage}}</p>
  </div>
</div>

<div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication != null">
  <div class="clr-col-12">

    <b>Application Number: </b>{{this._appService.ChronicConditionService.SumbittedApplication.conditionApplicationNumber}}
    <br />
    <b>Status: </b>{{this._appService.ChronicConditionService.SumbittedApplication.status}}
    <br />
    <b>Decline Note: </b>{{this._appService.ChronicConditionService.SumbittedApplication.declineNote}}
    <br />
    <b>Condition applied for: </b>{{this._appService.ChronicConditionService.SumbittedApplication.conditionDescription}}
    <br />
    <b>Submission Date: </b>{{this._appService.ChronicConditionService.SumbittedApplication.applicationDate}}
    <br />

    <h4 style="font-weight: 900"><b>Patient</b></h4>
    <br />
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <b>Name: </b>{{this._appService.ChronicConditionService.SumbittedApplication.membFirstName}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Surname: </b>{{this._appService.ChronicConditionService.SumbittedApplication.membLastName}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Member No: </b>{{this._appService.ChronicConditionService.SumbittedApplication.membId}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Member Email: </b>{{this._appService.ChronicConditionService.SumbittedApplication.membEmail}} <br />
      </div>
    </div>

    <h4 style="font-weight: 900"><b>Medical Practitioner</b></h4>
    <br />
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <b>Practice No: </b>{{this._appService.ChronicConditionService.SumbittedApplication.provId}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Name: </b>{{this._appService.LoginService.CurrentLoggedInUser.lastname}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Contact No: </b>{{this._appService.LoginService.CurrentLoggedInUser.contact}} <br />
      </div>
      <div class="clr-col-lg-6">
        <b>Email: </b>{{this._appService.ChronicConditionService.SumbittedApplication.provEmail}} <br />
      </div>
      <div class="clr-col-12">
        <b>Refer patient to specialist?: </b>{{this._appService.ChronicConditionService.SumbittedApplication.referredYN}} <br />
      </div>
    </div>

    <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.referredYN == 'Yes' ">

      <div class="clr-row">
        <div class="clr-col-lg-12">
          <b>Specialist Practice No: </b>{{this._appService.ChronicConditionService.SumbittedApplication.refProvid}} <br />
          <b>Specialist Surname: </b>{{this._appService.ChronicConditionService.SumbittedApplication.refProvSurname}} <br />
          <b>Referring Speciality: </b>{{this._appService.ChronicConditionService.SumbittedApplication.refProvSpec}} <br />
          <b>Referral Notes: </b>{{this._appService.ChronicConditionService.SumbittedApplication.refProvNotes}} <br />
        </div>
      </div>

      <!--no referral letter-->
      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.referralLetterFiles == undefined || this._appService.ChronicConditionService.SumbittedApplication.referralLetterFiles.length == 0">
        <div class="clr-col-lg-12">
          <b>Referral Letter:</b> None <br />
        </div>
      </div>

      <!--referral letter exists-->
      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.referralLetterFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.referralLetterFiles.length > 0">

        <div class="clr-col-lg-2">
          <b>Referral Letter:</b>
        </div>

        <div class="clr-col-lg-10">
          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.referralLetterFiles;">
            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                   [target]="_blank"
                   class="btn btn-icon btn-sm">
                  <clr-icon shape="search"></clr-icon>
                  </a>-->
                    <button type="button"
                            class="btn btn-icon btn-sm"
                            title="View File"
                            (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                      <clr-icon shape="search"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--card-->
        </div> <!--col-->
      </div>  <!--row-->
    </div> <!-- if referredYN == 'Yes'-->

    <h4 style="font-weight: 900"><b>Base Biometric</b></h4>
    <div class="clr-row">
      <div class="clr-col-lg-6">
        <h5><b>BMI</b></h5>
        <b>Height (cm): </b>{{this._appService.ChronicConditionService.SumbittedApplication.height}} <br />
        <b>Weight (kg): </b>{{this._appService.ChronicConditionService.SumbittedApplication.weight}} <br />
        <b>BMI: </b>{{this._appService.ChronicConditionService.SumbittedApplication.bmi}} <br />
      </div>

      <div class="clr-col-lg-6">
        <h5><b>Lipogram</b></h5>
        <b>Total Chol: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cholesterolTotal}} <br />
        <b>HDL: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cholesterolHDL}} <br />
        <b>LDL: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cholesterolLDL}} <br />
        <b>TRIG: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cholesterolTRI}} <br />
        <b>HDL-LDL ratio: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cholesterolLdlHdlRatio}} <br />
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col-lg-6">
        <h5><b>Blood Pressure</b></h5>
        <b>Systolic: </b>{{this._appService.ChronicConditionService.SumbittedApplication.bloodPresSystolic}} <br />
        <b>Diastolic: </b>{{this._appService.ChronicConditionService.SumbittedApplication.bloodPresDiastolic}} <br />
      </div>

      <div class="clr-col-lg-6">
        <h5><b>Diabetes</b></h5>
        <b>Does the patient have diabetes? </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabetesYN}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabetesYN == 'Yes'">
          <b>Type of Diabetes: </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabetesType}} <br />
          <b>OGTT result (mg/dL): </b>{{this._appService.ChronicConditionService.SumbittedApplication.ogttResult }} <br />
          <b>Most recent HbA1c results: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hba1c}} <br />
          <b>Fasting glucose result (mg/dL): </b>{{this._appService.ChronicConditionService.SumbittedApplication.fastingGlucoseResult}} <br />
          <b>Random glucose result (mg/dL): </b>{{this._appService.ChronicConditionService.SumbittedApplication.randomGlucoseResult}} <br />
          <!--<div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabetesType == 'Type1'">
          <b>Most recent HbA1c results: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hba1c}} <br />
        </div>
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabetesType == 'Type2'">
          <b>Type of Test: </b>{{this._appService.ChronicConditionService.SumbittedApplication.fastingOrRandom}} <br />
          <b>Test result (mg/dL): </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabetesTestResult}} <br />
        </div>-->
          <b>Date of Test: </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabTestDate}} <br />
        </div>
      </div>
    </div>

    <h4 style="font-weight: 900"><b>Risk Factors</b></h4>
    <div class="clr-row">
      <div class="clr-col-lg-4">
        <h5><b>Predisposing Risk Factors</b></h5>
        <b>Alcohol: </b>{{this._appService.ChronicConditionService.SumbittedApplication.alcohol}} <br />
        <b>Obesity: </b>{{this._appService.ChronicConditionService.SumbittedApplication.obesity}} <br />
        <b>Smoker: </b>{{this._appService.ChronicConditionService.SumbittedApplication.smoker}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.smoker == 'No'">
          <b>Smoke in the past?: </b>{{this._appService.ChronicConditionService.SumbittedApplication.smokeInPast}} <br />
        </div>
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.smokeInPast == 'Yes'">
          <b>Date of Cessation: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cessationDate}} <br />
        </div>
      </div>

      <div class="clr-col-lg-8">
        <h5><b>Pre-existing Complications</b></h5>
        <b>Ischaematic Heart Disease (e.g. Angina, Myocardial Infract): </b>{{this._appService.ChronicConditionService.SumbittedApplication.ischaemicHeartDisease}} <br />
        <b>Peripheral Vascular Disease (e.g. Aeortic Aneurism): </b>{{this._appService.ChronicConditionService.SumbittedApplication.peripheralVascularDisease}} <br />
        <b>Stroke/transient ischaemic attacks (TIA): </b>{{this._appService.ChronicConditionService.SumbittedApplication.strokeAttacks}} <br />
      </div>
    </div>

    <!-- DIAB1 & DIAB2 -->
    <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.conditionCode == 'DIAB1' || this._appService.ChronicConditionService.SumbittedApplication.conditionCode == 'DIAB2'">
      <h4 style="font-weight: 900"><b>Diabetes Mellitus</b></h4> <br />
      <div class="clr-row">
        <div class="clr-col-lg-12">
          <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabetesIcd10}} <br />
        </div>
      </div>

      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabPathResultFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.diabPathResultFiles.length > 0">

        <div class="clr-col-lg-3">
          <b>Pathology Results:</b>
        </div>

        <div class="clr-col-lg-9">
          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.diabPathResultFiles;">
            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                     [target]="_blank"
                     class="btn btn-icon btn-sm">
                    <clr-icon shape="search"></clr-icon>
                  </a>-->
                    <button type="button"
                            class="btn btn-icon btn-sm"
                            title="View File"
                            (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                      <clr-icon shape="search"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--card-->

        </div> <!--col-->
      </div> <!--row-->

    </div>

    <!-- HYPERLIPIDAEMIA -->
    <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.conditionCode == 'CHOL'">
      <h4 style="font-weight: 900"><b>Hyperlipidaemia</b></h4> <br />
      <div class="clr-row">
        <div class="clr-col-lg-12">
          <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaIcd10}} <br />
          <b>Is the patient on therapy?: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiatherapyYN}} <br />
          <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiatherapyYN == 'Yes'">
            <b>Duration of therapy (years): </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaTherapyDuration}} <br />
            <b>Medicine used when most recent fasting lipogram was done:</b><br />
            <table class="table">
              <thead>
                <tr>
                  <th>ICD-10</th>
                  <th>Prescribed medicine</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Quantity per month</th>
                  <th>Number of repeats</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaMedHist">
                  <td>{{medItem.icd10}}</td>
                  <td>{{medItem.svcCodeDescr}}</td>
                  <td>{{medItem.strength}}</td>
                  <td>{{medItem.dosage}}</td>
                  <td>{{medItem.qtyPerMonth}}</td>
                  <td>{{medItem.numRepeats}}</td>
                </tr>
              </tbody>
            </table>
            <br />
          </div>
        </div> <!--col-->
      </div> <!--row-->

      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hyperlipPathResultFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.hyperlipPathResultFiles.length > 0">

        <div class="clr-col-lg-3">
          <b>Pathology Results:</b>
        </div>

        <div class="clr-col-lg-9">
          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.hyperlipPathResultFiles;">
            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                     [target]="_blank"
                     class="btn btn-icon btn-sm">
                    <clr-icon shape="search"></clr-icon>
                  </a>-->
                    <button type="button"
                            class="btn btn-icon btn-sm"
                            title="View File"
                            (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                      <clr-icon shape="search"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--card-->
          <b>Does the patient have symptomatic atherosclerotic disease: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaAtheroscleroticYN}} <br />
          <b>Is the patient on treatment for hypertension?: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaHypertensionTreatmentYN}} <br />
          <b>Genetic hyperlipidaemia: Diagnosed by a specialist physician?: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaGeneticHyperlipidaemiaYN}} <br />
          <b>Positive family history of myocardial infraction in:: </b><br />
          <b> 1. First-grade male blood relative (father/brother) < 55 years: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaMaleBloodRelativeYN}} <br />
          <b> 2. First-grade female blood relative (mother/sister) < 65 years: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaFemaleBloodRelativeYN}} <br />
          <b> 3. Presence of tendon xanthoma: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipidaemiaTendonXanthomaYN}} <br />
        </div>
      </div>
    </div>


    <!-- HYPERTESNSION -->
    <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.conditionCode == 'HYPER'">
      <h4 style="font-weight: 900"><b>Hypertension</b></h4> <br />
      <div class="clr-row">
        <div class="clr-col-lg-12">
          <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hypertensionIcd10}} <br />
          <b>Severity: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hypertensionSeverity}} <br />
          <b>Is the patient currently on therapy? </b>{{this._appService.ChronicConditionService.SumbittedApplication.hypertensionTherapyYN}} <br />
          <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hypertensionTherapyYN == 'Yes'">
            <b>Hypertension medicine history:</b><br />
            <table class="table">
              <thead>
                <tr>
                  <th>ICD-10</th>
                  <th>Prescribed medicine</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Quantity per month</th>
                  <th>Number of repeats</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.hypertensionMedHist">
                  <td>{{medItem.icd10}}</td>
                  <td>{{medItem.svcCodeDescr}}</td>
                  <td>{{medItem.strength}}</td>
                  <td>{{medItem.dosage}}</td>
                  <td>{{medItem.qtyPerMonth}}</td>
                  <td>{{medItem.numRepeats}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- ASTHMA -->
    <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.conditionCode == 'ASTHMA'">
      <h4 style="font-weight: 900"><b>Asthma</b></h4> <br />
      <div class="clr-row">
        <div class="clr-col-lg-12">
          <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.asthmaIcd10}} <br />
          <b>Peak flow test results (L/min): </b>{{this._appService.ChronicConditionService.SumbittedApplication.asthmaPleakFlow}} <br />
          <b>Is the patient currently 3 years of age or younger? </b>{{this._appService.ChronicConditionService.SumbittedApplication.asthmaYounger3YN}} <br />
        </div>
      </div>

      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.asthmaPaedFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.asthmaPaedFiles.length > 0">

        <div class="clr-col-lg-3">
          <b>Paediatrician's report:</b>
        </div>

        <div class="clr-col-lg-9">
          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.asthmaPaedFiles;">
            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                     [target]="_blank"
                     class="btn btn-icon btn-sm">
                    <clr-icon shape="search"></clr-icon>
                  </a>-->
                    <button type="button"
                            class="btn btn-icon btn-sm"
                            title="View File"
                            (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                      <clr-icon shape="search"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--card-->

        </div> <!--col-->
      </div> <!--row-->

      <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.asthmaFlowVolFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.asthmaFlowVolFiles.length > 0">

        <div class="clr-col-lg-3">
          <b>Flow Volume test result:</b>
        </div>

        <div class="clr-col-lg-9">
          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.asthmaFlowVolFiles;">
            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                     [target]="_blank"
                     class="btn btn-icon btn-sm">
                    <clr-icon shape="search"></clr-icon>
                  </a>-->
                    <button type="button"
                            class="btn btn-icon btn-sm"
                            title="View File"
                            (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                      <clr-icon shape="search"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--card-->

        </div> <!--col-->
      </div> <!--row-->

    </div>

    <h4 style="font-weight: 900"><b>Requested Medications</b></h4>

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.requestedMeds == undefined || this._appService.ChronicConditionService.SumbittedApplication.requestedMeds.length < 1">
      <div class="clr-col-lg-12">
        None
      </div> <!--col-->
    </div> <!--row-->

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.requestedMeds != undefined && this._appService.ChronicConditionService.SumbittedApplication.requestedMeds.length > 0">
      <div class="clr-col-lg-12">

        <table class="table">
          <thead>
            <tr>
              <th>ICD-10</th>
              <th>Prescribed medicine</th>
              <th>Strength</th>
              <th>Dosage</th>
              <th>Quantity per month</th>
              <th>Number of repeats</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.requestedMeds">
              <td>{{medItem.icd10}}</td>
              <td>{{medItem.svcCodeDescr}}</td>
              <td>{{medItem.strength}}</td>
              <td>{{medItem.dosage}}</td>
              <td>{{medItem.qtyPerMonth}}</td>
              <td>{{medItem.numRepeats}}</td>
            </tr>
          </tbody>
        </table>
        <br />

      </div> <!--col-->
    </div> <!--row-->

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.medPrescriptionFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.medPrescriptionFiles.length > 0">

      <div class="clr-col-lg-3">
        <b>Prescription:</b>
      </div>

      <div class="clr-col-lg-9">
        <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.medPrescriptionFiles;">
          <table class="table" style="width:100%; border: none">
            <tbody>
              <tr>
                <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                <td style="text-align: right; width:30px">
                  <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                   [target]="_blank"
                   class="btn btn-icon btn-sm">
                  <clr-icon shape="search"></clr-icon>
                </a>-->
                  <button type="button"
                          class="btn btn-icon btn-sm"
                          title="View File"
                          (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                    <clr-icon shape="search"></clr-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> <!--card-->

      </div> <!--col-->      
    </div> <!--row-->

    <h4 style="font-weight: 900"><b>Additional Documents</b></h4>

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.additionalDocsFiles == undefined || this._appService.ChronicConditionService.SumbittedApplication.additionalDocsFiles.length < 1">
      <div class="clr-col-12">
        None
      </div> <!--col-->
    </div> <!--row-->

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.additionalDocsFiles != undefined && this._appService.ChronicConditionService.SumbittedApplication.additionalDocsFiles.length > 0">
         
      <div class="clr-col-12">
        <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.SumbittedApplication.additionalDocsFiles;">
          <table class="table" style="width:100%; border: none">
            <tbody>
              <tr>
                <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                <td style="text-align: right; width:30px">
                  <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                   [target]="_blank"
                   class="btn btn-icon btn-sm">
                  <clr-icon shape="search"></clr-icon>
                </a>-->
                  <button type="button"
                          class="btn btn-icon btn-sm"
                          title="View File"
                          (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                    <clr-icon shape="search"></clr-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div> <!--card-->

      </div> <!--col-->     
    </div> <!--row-->

    <h4 style="font-weight: 900"><b>Comorbid Conditions</b></h4>

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.comorbidsExist == false ">
      <div class="clr-col-12">
        None
      </div> <!--col-->
    </div> <!--row-->

    <div class="clr-row" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.comorbidsExist == true ">

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.addisCmICD10 != null">
        <h5><b>Addisons Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.addisCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.addisCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.addisCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Addisons Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.addisCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.asthmaCmICD10 != null">
        <h5><b>Asthma comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.asthmaCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.asthmaCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.asthmaCmMedList.length > 0">
          <!--<b>Asthma medicine history:</b><br />-->
          <table class="table">
            <caption style="text-align:left">Asthma medicine history::</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.asthmaCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.bipolCmICD10 != null">
        <h5><b>Bipolar Mood Disorder comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.bipolCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.bipolCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.bipolCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Bipolar Mood Disorder medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.bipolCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.bronchCmICD10 != null">
        <h5><b>Bronchiectasis comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.bronchCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.bronchCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.bronchCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Bronchiectasis medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.bronchCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.cardiacCmICD10 != null">
        <h5><b>Cardiac Failure comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cardiacCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.cardiacCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.cardiacCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Cardiac Failure medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.cardiacCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.cardiomCmICD10 != null">
        <h5><b>Cardiomyopathy comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.cardiomCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.cardiomCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.cardiomCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Cardiomyopathy medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.cardiomCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.copdCmICD10 != null">
        <h5><b>Chronic Obstructive Pulmonary Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.copdCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.copdCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.copdCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Chronic Obstructive Pulmonary Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.copdCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.renalCmICD10 != null">
        <h5><b>Chronic Renal Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.renalCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.renalCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.renalCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Chronic Renal Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.renalCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.coronarCmICD10 != null">
        <h5><b>Coronary Artery Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.coronarCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.coronarCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.coronarCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Coronary Artery Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.coronarCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.crohnsCmICD10 != null">
        <h5><b>Crohn's Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.crohnsCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.crohnsCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.crohnsCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Crohn's Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.crohnsCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabinsipCmICD10 != null">
        <h5><b>Diabetes Insipidus comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabinsipCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabinsipCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.diabinsipCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Diabetes Insipidus medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.diabinsipCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabCmICD10 != null">
        <h5><b>Diabetes Mellitus comorbid condition</b></h5>
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.diabCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.diabCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.diabCmMedList.length > 0">
          <b>Diabetes medicine history:</b><br />
          <table class="table">
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.diabCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.dysrhytCmICD10 != null">
        <h5><b>Dysrhythmia comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.dysrhytCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.dysrhytCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.dysrhytCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Dysrhythmia medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.dysrhytCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.epilCmICD10 != null">
        <h5><b>Epilepsy comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.epilCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.epilCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.epilCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Epilepsy medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.epilCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.glaucomCmICD10 != null">
        <h5><b>Glaucoma comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.glaucomCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.glaucomCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.glaucomCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Glaucoma medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.glaucomCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.haemophilCmICD10 != null">
        <h5><b>Haemophilia comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.haemophilCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.haemophilCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.haemophilCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Haemophilia medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.haemophilCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hyperlipCmICD10 != null">
        <h5><b>Hyperlipidaemia comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hyperlipCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hyperlipCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.hyperlipCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Hyperlipidaemia medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.hyperlipCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hypertensionCmICD10 != null">
        <h5><b>Hypertension comorbid condition</b></h5>
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hypertensionCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hypertensionCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.hypertensionCmMedList.length > 0">
          <b>Hypertension medicine history:</b><br />
          <table class="table">
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.hypertensionCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hypothCmICD10 != null">
        <h5><b>Hypothyroidism comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.hypothCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.hypothCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.hypothCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Hypothyroidism medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.hypothCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.sclerosisCmICD10 != null">
        <h5><b>Multiple Sclerosis comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.sclerosisCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.sclerosisCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.sclerosisCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Multiple Sclerosis medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.sclerosisCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.parkinsCmICD10 != null">
        <h5><b>Parkinson's Disease comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.parkinsCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.parkinsCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.parkinsCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Parkinson's Disease medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.parkinsCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.rheumaCmICD10 != null">
        <h5><b>Rheumatoid Arthritis comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.rheumaCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.rheumaCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.rheumaCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Rheumatoid Arthritis medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.rheumaCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.schizoCmICD10 != null">
        <h5><b>Schizophrenia comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.schizoCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.schizoCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.schizoCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Schizophrenia medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.schizoCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.lupusCmICD10 != null">
        <h5><b>Systematic Lupus Erythematosus comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.lupusCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.lupusCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.lupusCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Systematic Lupus Erythematosus medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.lupusCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

      <div class="clr-col-12" *ngIf="this._appService.ChronicConditionService.SumbittedApplication.ulceraCmICD10 != null">
        <h5><b>Ulcerative Colitis comorbid condition</b></h5><br />
        <b>ICD10 Code: </b>{{this._appService.ChronicConditionService.SumbittedApplication.ulceraCmICD10}} <br />
        <div *ngIf="this._appService.ChronicConditionService.SumbittedApplication.ulceraCmMedList != undefined && this._appService.ChronicConditionService.SumbittedApplication.ulceraCmMedList.length > 0">
          <table class="table">
            <caption style="text-align:left">Ulcerative Colitis medicine history:</caption>
            <thead>
              <tr>
                <th>ICD-10</th>
                <th>Prescribed medicine</th>
                <th>Strength</th>
                <th>Dosage</th>
                <th>Quantity per month</th>
                <th>Number of repeats</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medItem of this._appService.ChronicConditionService.SumbittedApplication.ulceraCmMedList">
                <td>{{medItem.icd10}}</td>
                <td>{{medItem.svcCodeDescr}}</td>
                <td>{{medItem.strength}}</td>
                <td>{{medItem.dosage}}</td>
                <td>{{medItem.qtyPerMonth}}</td>
                <td>{{medItem.numRepeats}}</td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div> <!--col-->

    </div> <!--row-->

  </div> <!--col-->
</div><!--row-->
<!--busy spinner-->

<clr-modal [(clrModalOpen)]="this._appService.ChronicConditionService.Busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>
