
<div class="clr-row">  
  <div class="clr-col-5 clr-offset-xl-2">
    <h1>List Of Remittances</h1>
  </div>
  <div class="clr-col-5">
    <div class="clr-row">
      <div class="clr-col-7 text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD">
        <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
              (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <br />
          <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
        </span>
      </div>
    </div>
  </div>
</div>

<div class="clr-row">  
  <div class="clr-col-12 clr-offset-0 clr-col-xl-8 clr-offset-xl-2">
    <p>
      For a detailed view click on the information icon. To open the remittance file, click on the download icon. Click
      <a target='_self' href='assets/ERAFormat.xls' download>here</a> to download remittance layout format. You are currently seeing remittances for the past {{this._appService.SettingService.GetSettingsDesc('remitlag_prov')}}
      months if you wish to see older remittances, kindly contact us on
      <a href="mailto:network@dentalrisk.com">network@dentalrisk.com</a> or phone on 012 - 741 5101
    </p>
  </div>  
</div>

<div class="clr-row">  
  <div class="clr-col-12 clr-offset-0 clr-col-xl-8 clr-offset-xl-2">
    <table class="table" joyrideStep="provRem_1" text="This table contains all your remittances for the past {{this._appService.SettingService.GetSettingsDesc('remitlag_prov')}} months." stepPosition="top">
      <thead>
        <tr>
          <th class="Center" style="border-right: 1px solid #eee;">Practice Number</th>
          <th class="Center" style="border-right: 1px solid #eee;">Date Paid</th>
          <th class="Center" style="border-right: 1px solid #eee; text-align: right; vertical-align: middle;">Net</th>
          <th class="Center" style="border-right: 1px solid #eee;" joyrideStep="provRem_2" text="Click on the button in this column to view more details of the remittance." stepPosition="top">Information</th>
          <th class="Center" joyrideStep="provRem_3" text="Click on the button in this column to download the text file format of the remittances." stepPosition="top">Download Text Format</th>
          <th class="Center" joyrideStep="provRem_4" text="Click on the button in this column to download the pdf file format of the remittances." stepPosition="top">Download PDF Format</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let remittance of this._appService.LoginService.ProviderRemittance">
          <td class="Center" style="border-right: 1px solid #eee;  text-align: center; vertical-align: middle;">{{remittance.provid}}</td>
          <td class="Center" style="border-right: 1px solid #eee; text-align: center; vertical-align: middle;">{{remittance.datepaid | date:'yyyy-MM-dd'}}</td>

          <td style="text-align: right;border-right: 1px solid #eee;  text-align: right; vertical-align: middle;">
            {{
                remittance.net.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2, minimumFractionDigits
                          : 2 })
            }}
          </td>
          <td class="Center" style="border-right: 1px solid #eee;  text-align: center; vertical-align: middle;">
            <button type="button" class="btn btn-icon btn-primary" (click)="this._appService.SecurityService.ProviderRemittanceModal(remittance.datepaid,remittance.net,remittance.provid,remittance.chprefix)">
              <clr-icon shape="info-standard"></clr-icon>
            </button>
          </td>
          <td class="Center" style="border-right: 1px solid #eee;">
            <button type="button" class="btn btn-icon btn-primary" (click)="this._appService.SecurityService.ProviderDownloadRemittance(remittance.chprefix,remittance.provid,remittance.datepaid, true)">
              <!--  -->
              <clr-icon shape="download"></clr-icon>
            </button>
            <!-- <a href="http://localhost:60648/{{this.parseddate}}/logo.png" target="_blank"> Open</a> -->
          </td>
          <td class="Center" style="border-right: 1px solid #eee;">
            <button type="button" class="btn btn-icon btn-primary" (click)="this._appService.SecurityService.ProviderDownloadRemittance(remittance.chprefix,remittance.provid,remittance.datepaid, false)">
              <clr-icon shape="download"></clr-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>


<div *ngIf="this._appService.SecurityService.ProviderRemittancDetail">
  <div class="modal" style=" overflow: hidden;">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.ProviderRemittancDetail=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <form clrForm>
            <h3 class="modal-title">
              <u>
                <b>Detailed Remittance Information</b>
              </u>
            </h3>
            <div class="clr-row">
              <div class="clr-col-2"></div>
              <div class="clr-col-3">
                <clr-input-container>
                  <label class="clr-col-12 clr-col-md-7"><b>Transaction Date :</b> </label>
                  <label class="clr-col-12 clr-col-md-5">{{this._appService.SecurityService.ProviderRemittanceInfo.datepaid| date:'yyyy-MM-dd'}}</label>
                </clr-input-container>
              </div>
              <div class="clr-col-3">
                <clr-input-container>
                  <label class="clr-col-12 clr-col-md-7"><b>Total Amount Paid :</b></label>
                  <label class="clr-col-12 clr-col-md-4">
                    {{
        this._appService.SecurityService.ProviderRemittanceInfo.net.toLocaleString('en-US',
                                      { style: 'decimal', maximumFractionDigits : 2, minimumFractionDigits : 2 })
                    }}
                  </label>
                </clr-input-container>
              </div>
              <div class="clr-col-3">
                <clr-input-container>
                  <label class="clr-col-12 clr-col-md-8"><b>Total Transactions Paid :</b></label>
                  <label class="clr-col-12 clr-col-md-4">{{this._appService.SecurityService.DetailedProviderRemittance.length}}</label>
                </clr-input-container>
              </div>
              <div class="clr-col-1"></div>
            </div>
          </form>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-1">
            </div>
            <div class="clr-col-10">
              <clr-datagrid>
                <clr-dg-column>Claim Number</clr-dg-column>
                <clr-dg-column>Member ID</clr-dg-column>
                <clr-dg-column>Service Date</clr-dg-column>
                <clr-dg-column>Billed</clr-dg-column>
                <clr-dg-column>Net</clr-dg-column>
                <clr-dg-column>Date Paid</clr-dg-column>

                <clr-dg-row *ngFor="let detailedremittance of this._appService.SecurityService.DetailedProviderRemittance">
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">{{detailedremittance.claimno}}</clr-dg-cell>
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">{{detailedremittance.membid}}</clr-dg-cell>
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">{{detailedremittance.datefrom| date:'yyyy-MM-dd'}}</clr-dg-cell>
                  <clr-dg-cell style="text-align: right; vertical-align: middle;">
                    {{
detailedremittance.billed.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2,
                                    minimumFractionDigits : 2 })
                    }}
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align: right; vertical-align: middle;">
                    {{
detailedremittance.net.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2,
                                        minimumFractionDigits : 2 })
                    }}
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align: left; vertical-align: middle;">{{detailedremittance.datepaid| date:'yyyy-MM-dd'}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
            <div class="clr-col-1">
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.SecurityService.ProviderRemittancDetail=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--Indicates the busy modal when a remittance is being downloaded-->
<div *ngIf="this._appService.SecurityService.DownloadRemittanceModel">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.DownloadRemittanceModel=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Opening File</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="clr-col-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while your remittance information is being gathered...
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.SecurityService._errorRemittance" [clrModalClosable]="false">
  <h3 class="modal-title">An Error Occurred</h3>
  <div class="modal-body">
    <p>The Server is currently to busy to handle your remittance request, if this problem persists, please try again after 15h00 in the afternoon.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService._errorRemittance = false">
      Ok
    </button>
  </div>
</clr-modal>
