<!--Edit Bank Details Model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.changeBankModel || this._appService.ClaimCaptureService._openBanking">
  <h3 class="modal-title">Edit Banking Details</h3>
  <div class="modal-body">
    <div *ngIf="!this._appService.CheckRunService.updateBankDetails">
      <div *ngIf="this._component == 'CHECKRUN'">
        <span style="font-size: small" *ngIf="this._appService.CheckRunService._paymentType == 'M'"><i>Edit banking details for Main Member: {{this._appService.CheckRunService._MembName}}</i></span>
        <span style="font-size: small" *ngIf="this._appService.CheckRunService._paymentType == 'P'"><i>Edit banking details for Provider: {{this._appService.CheckRunService._provId}}</i></span>
      </div>
      <div *ngIf="this._component == 'CLAIMCAPTURE'">
        <!--<span style="font-size: small" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'M'"><i>Edit banking details for the {{this._appService.CheckRunService._MembName}}</i></span>-->
        <span style="font-size: small" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'M'"><i>Edit banking details for Member: {{this._appService.CheckRunService._provId}}</i></span>
        <span style="font-size: small" *ngIf="this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE == 'P'"><i>Edit banking details for Provider: {{this._appService.CheckRunService._provName}}</i></span>
      </div>
      <br />
      <!--Form Edit Banking Details-->
      <form clrForm [formGroup]="bankinDetailsForm">
        <clr-input-container>
          <label style="white-space: nowrap">Bank Name </label>
          <input clrInput placeholder="{{this._appService.CheckRunService.existingDetails.bankName}}" formControlName="bankName" (blur)="this.PopulateBankName()" />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Branch Code </label>
          <input clrInput placeholder="{{this._appService.CheckRunService.existingDetails.branchCode}}" formControlName="branchCode" (blur)="this.PopulateBranchCode()" />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label style="white-space: nowrap">Account No </label>
          <input clrInput placeholder="{{this._appService.CheckRunService.existingDetails.accountNo}}" formControlName="accountNo" (blur)="this.PopulateAccountNo()" />
        </clr-input-container>
        <clr-select-container>
          <label>Account Type</label>
          <select clrSelect formControlName="accType" (change)="this.PopulateAccType()">
            <option *ngFor="let type of this._appService.CheckRunService.accTypes">{{type}}</option>
          </select>
        </clr-select-container>
      </form>
      <!--End-->
    </div>
    <span class="spinner spinner-md" *ngIf="this._appService.CheckRunService.updateBankDetails">
      Loading...
    </span>
    <span *ngIf="this._appService.CheckRunService.updateBankDetails">
      Updating details...
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.OpenBankEditModel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.openWarning = true" [disabled]="!this.bankinDetailsForm.valid ">Update</button>
  </div>

</clr-modal>
<!--End-->
<!--Warning-->
<clr-modal [(clrModalOpen)]="this.openWarning" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon> WARNING!!</h3>
  <div class="modal-body">
    <div *ngIf="this._appService.CheckRunService._paymentType  == 'M'">
      <p>
        You are about to permanently change the banking details of a member.<br />
        Do you wish to continue?
      </p>
    </div>
    <div *ngIf="this._appService.CheckRunService._paymentType  == 'P'">
      <p>
        You are about to permanently change the banking details of a Provider.<br />
        Do you wish to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.ChangeBankingDetail()">
      Continue
    </button>
    <button type="button" class="btn btn-outline " (click)="this.OpenBankEditModel()">
      Cancel
    </button>
  </div>
</clr-modal>
<!--END-->
