<div class="clr-row">
  <div class="clr-col-xl-10 clr-offset-xl-1">

    <div class="card">
      <!--style="position:static">-->
      <!--joyrideStep="auth_1" text="This form is used to search for authorisations." stepPosition="left">-->
      <div class="card-header">
        Application for registration of a chronic condition including PMB conditions
      </div>

      <div class="card-block">
        <!--<div class="card-title">
    Patient Details
  </div>-->
        <!--<div class="card-text">-->
        <!--memberForm-->
        <app-member-form></app-member-form>

        <!--providerForm-->
        <app-provider-form></app-provider-form>

        <!--conditionForm-->
        <app-condition-form></app-condition-form>

        <!--biometricForm-->
        <app-biometric-form></app-biometric-form>

        <!--riskFactorsForm-->
        <app-risk-factors-form></app-risk-factors-form>

        <!--diabetesForm-->
        <app-diabetes-form></app-diabetes-form>

        <!--hyperlipidaemiaForm-->
        <app-hyperlipidaemia-form></app-hyperlipidaemia-form>

        <!--hypertensionForm-->
        <app-hypertension-form></app-hypertension-form>

        <!--asthmaForm-->
        <app-asthma-form></app-asthma-form>

        <!--requestedMedicationForm-->
        <app-requested-medication-form></app-requested-medication-form>

        <!--documentsForm-->
        <app-documents-form></app-documents-form>

        <!--comorbidForm-->
        <app-comorbid-form></app-comorbid-form>

        <!--declarationForm-->
        <app-declaration-form></app-declaration-form>

        <!--</div>--> <!--card-text-->

      </div> <!--card-block--><div class="card-footer text-center" *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value != null">
        <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onSubmitFormData()">Submit</button>
        <button class="btn btn-primary-outlined btn-sm" (click)="this._appService.ChronicConditionService.clearAll()">Clear</button>
      </div>

      <!--card-footer-->

    </div> <!--card-->

  </div> <!--col-->
</div> <!--row-->
<!-- Modal: Edit or Add new medication item -->
<div class="modal" *ngIf="this._appService.ChronicConditionService.ShowMedicationModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button aria-label="Close" class="close" type="button" (click)="this._appService.VoucherAdminService.showEditClientModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>-->
        <h3 class="modal-title">Medication Item</h3>
      </div>
      <div class="modal-body">

        <app-medication-form></app-medication-form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onSaveMedicationItem()">Save</button>
        <button class="btn btn-sm" (click)="this._appService.ChronicConditionService.onCancelMedItemForm()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--busy spinner-->
<clr-modal [(clrModalOpen)]="this._appService.ChronicConditionService.Busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>

<!-- Modal: success -->
<div class="modal" *ngIf="this._appService.ChronicConditionService.Success">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button aria-label="Close" class="close" type="button" (click)="this.closeSuccessMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>-->
        <h3 class="modal-title">{{this._appService.ChronicConditionService.SuccessMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <!--<div class="alert alert-info" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
              </div>
              <span class="alert-text">-->
        <p>{{this._appService.ChronicConditionService.SuccessMessage}} <b>{{this._appService.ChronicConditionService.SuccessMessageBoldPart}}</b></p>
        <!--</span>
            </div>
          </div>
        </div>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this._appService.ChronicConditionService.closeSuccessMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: general error -->
<div class="modal" *ngIf="this._appService.ChronicConditionService.Error">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.ChronicConditionService.closeErrorMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.ChronicConditionService.ErrorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.ChronicConditionService.ErrorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.ChronicConditionService.closeErrorMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: submit error -->
<div class="modal" *ngIf="this._appService.ChronicConditionService.ErrorArrayModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.ChronicConditionService.closeErrorArrayModal()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.ChronicConditionService.ErrorArrayHeading}}</h3>
      </div>
      <div class="modal-body">

        {{this._appService.ChronicConditionService.ErrorArrayMessage}}

        <div *ngFor="let item of this._appService.ChronicConditionService.ErrorArrayArr">
          <p><b>&emsp;{{ item }}</b></p>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.ChronicConditionService.closeErrorArrayModal()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: Proceed from update to application? Yes No  -->
<div class="modal" *ngIf="this._proceedPrompt">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button aria-label="Close" class="close" type="button" (click)="this.closeSuccessMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>-->
        <h3 class="modal-title">Confirm action</h3>
      </div>
      <div class="modal-body">
        <!--<div class="alert alert-info" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">-->
        <p>
          You have an unsubmitted chronic condition <b>update</b>. If you proceed to a new chronic condition <b>application</b>
          we will keep the member on the form but all other data will be lost. <br><br>
          Do you want to proceed?
        </p>
        <!--</span>
            </div>
          </div>
        </div>-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this.proceedToApplicationFromUpdate()">Yes</button>
        <button class="btn" type="button" (click)="this.returnToUpdate()">No</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

