<form clrForm [formGroup]="batchSearch">
  <clr-input-container>
    <label>Family Number</label>
    <input formControlName="membno" (blur)="this.ValidateMember()" clrInput />
    <clr-control-error>{{this.membErrMsg}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.membErrMsg}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Provider Number</label>
    <input formControlName="provno" (blur)="this.ValidateProvider()" clrInput />
    <clr-control-error>{{this.provErrMsg}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.provErrMsg}}</clr-control-helper>
  </clr-input-container>
  <clr-input-container>
    <label>Claim Number</label>
    <input formControlName="claim" (blur)="this.ValidateClaimNo()" clrInput />
    <clr-control-error>{{this.claimErrMsg}}</clr-control-error>
    <clr-control-helper style="color:rgb(4, 161, 70)">{{this.claimErrMsg}}</clr-control-helper>
  </clr-input-container>
</form>
