<div class="clr-row">

  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-8 clr-offset-md-2 clr-col-lg-6 clr-offset-lg-3 clr-col-xl-6 clr-offset-xl-3">
    <div class="card" style="position:static" joyrideStep="memclaim_1" title="Claims Search" text="This form is used to search for claims that was paid to a member or is going to be paid." stepPosition="left">
      <div class="card-header">
        <div class="clr-row">
          <div class="clr-col-4">
            <span>Enter Claim Details</span>
          </div>
          <div class="clr-col-3" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
          </div>
          <div class="clr-col-5" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
            <span>Practice Number: {{this._appService.LoginService.CurrentLoggedInUser.provID}}</span>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form clrForm *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
            <div class="clr-row">
              <div class="clr-col-12">
                <clr-input-container *ngIf="this._appService.SettingService.GetSettingEnabled('AdministratorViewClaimMemberNumber')" joyrideStep="memclaim_2" title="Member Number" text="Type a member number here." stepPosition="left">
                  <label>Member No:</label>
                  <input clrInput type="text" placeholder="Enter value here"
                         name="MemberNumber" [(ngModel)]="this._appService.MemberClaimService.ClaimDetail.memberNo"
                         #MemberNumber="ngModel" size="30">
                  <!--<clr-control-helper>{{this._appService.MemberClaimService.familyName}}</clr-control-helper>-->

                </clr-input-container>
              </div>
              <div class="clr-col-12"
                   *ngIf="this._appService.SettingService.GetSettingEnabled('MemberViewClaimPracticeNumber')">
                <clr-input-container joyrideStep="memclaim_3" title="Practice Number" text="Type a practice number here.(This step is optional)" stepPosition="left">
                  <label>Practice Number:</label>
                  <input clrInput type="text" id="gForm_1" placeholder="Enter value here"
                         name="ProviderID" [(ngModel)]="this._appService.MemberClaimService.ClaimDetail.providerId"
                         #ProviderID="ngModel" size="30">
                </clr-input-container>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="this._appService.MemberClaimService.ValidateForm()"
                    [disabled]="this._appService.MemberClaimService.DisableClaimSearchBtn==true"
                    joyrideStep="memclaim_4" title="Validate" text="Click on this button to search for claims." stepPosition="bottom">
              Search
              Claim
            </button>
            <button class="btn btn-primary btn-sm" (click)="this._appService.MemberClaimService.ClearAllInputFields()"
                    joyrideStep="memclaim_5" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">
              Clear Fields
            </button>
            <span class="spinner spinner-inline" *ngIf="this._appService.MemberClaimService.ClaimValidationSpinner">
              Searching Claims...
            </span>
            <span *ngIf="this._appService.MemberClaimService.ClaimValidationSpinner">
              Searching Claims...
            </span>
          </div>
          <div class="clr-col-3">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<div *ngIf="this._appService.MemberClaimService.DisplayClaimTable==true">
  <clr-alert style="position: relative;
    top: 25px;">
    <div class="alert-item">
      <span class="alert-text">
        Download remittance to view rejection codes
      </span>
    </div>
  </clr-alert>
  <br />
  <br />

  <!-- Administator/Scheme claims grid -->
  <div *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
    <span style="font-size:medium"><b>{{this._appService.MemberClaimService.familyName}}</b> - {{this._appService.MemberClaimService.familyNo}}</span>
  </div>
  <table class="table" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
    <thead>
      <tr>
        <th>Practice Name</th>
        <th>Dependant Code</th>
        <th>Member Name</th>
        <th>Plan</th>
        <th>Receive Date</th>
        <th>From Service Date</th>
        <th>To Service Date</th>
        <th>Charged Amount</th>
        <th>Paid Amount</th>
        <th>Status</th>
        <th>Date Paid</th>
        <th>Paid To</th>
        <th *ngIf="this._appService.LoginService.userRights.claimSearchReverse">Reverse Claim</th>
        <th>Download</th>
        <th>Information</th>
      </tr>
    </thead>
    <!--  <div style="overflow-x:scroll; overflow-x:hidden; height:650px"> -->
    <tbody>
      <tr *ngFor="let claim of this._appService.MemberClaimService.RecievedClaims">
        <td style="font-size:x-small">{{claim.provname}}</td>
        <td style="font-size:x-small">{{claim.dependent}}</td>
        <td style="font-size:x-small">{{claim.memberFirstName}}</td>
        <td style="font-size:x-small">{{claim.opt}}</td>
        <td style="font-size:x-small">{{claim.receivedDate}}</td>
        <td style="font-size:x-small">{{claim.serviceDate}}</td>
        <td style="font-size:x-small">{{claim.serviceDateTo}}</td>
        <td style="font-size:x-small">{{claim.charged}}</td>
        <td style="font-size:x-small">{{claim.paid}}</td>
        <td style="font-size:x-small">{{claim.status}}</td>
        <td style="font-size:x-small">{{claim.datePaid}}</td>
        <td style="font-size:x-small">{{claim.paidTo}}</td>
        <td *ngIf="this._appService.LoginService.userRights.claimSearchReverse">
          <button type="button" class="btn btn-icon btn-link btn-sm" [disabled]="this._appService.SecurityService.DisableReversal(claim.paid,claim.charged,claim.reversedDate,claim.datePaid)" (click)="this._appService.SecurityService.ClaimReversalModel(claim)">
            Reverse
          </button>
        </td>
        <td>
          <!--<button type="button" class="btn btn-icon btn-link btn-sm"
              [disabled]="this.DisableDownloadBtn(claim.DatePaid)==true"
              (click)=OpenDownloadModal(claim.ClaimNo,claim.DatePaid)>
              <clr-icon shape="download"></clr-icon>
          </button> -->

          <button type="button" class="btn btn-icon btn-link btn-sm"
                  [disabled]="this._appService.MemberClaimService.DisableDownloadBtn(claim.datePaid)==true"
                  (click)=this._appService.MemberClaimService.ClaimDownload(claim.claimNo,claim.datePaid,claim.paidTo,true)>
            <clr-icon shape="download"></clr-icon>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-icon btn-sm"
                  (click)="this._appService.SecurityService.ShowClaimDetailModal(claim)">
            View
            <clr-icon shape="help-info"></clr-icon>
          </button>
        </td>
      </tr>

    </tbody>
    <!-- </div> -->
    <!--<tfoot>
      <tr>
        <td colspan="16" style="text-align: right">{{this._appService.MemberClaimService.RecievedClaims.length}} Claims Found</td>
      </tr>
    </tfoot>-->
  </table>

</div>

<div *ngIf="this._appService.MemberClaimService.NoClaims==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MemberClaimService.CloseNoClaims()" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">No Claim(s) Found!!</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Search Returned with {{this._appService.MemberClaimService.RecievedClaims.length}} Claims.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MemberClaimService.CloseNoClaims()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.MemberClaimService.EmptyClaimForm==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MemberClaimService.EmptyClaimForm=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">The Following Is Required:</h3>
        </div>
        <div class="modal-body">
          <ul *ngFor="let Requirement of this._appService.MemberClaimService.ClaimRequirements">
            <li>{{Requirement}}</li>
          </ul>
          <p>Make sure details are provided before a claim can be searched.</p>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MemberClaimService.EmptyClaimForm=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf=" this._appService.MemberClaimService.DownloadIndicator">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.SecurityService.DownloadRemittanceModel=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Opening File</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-2">
              <span class="clr-example-col-value">
                <span class="spinner spinner-md">
                  Loading...
                </span>
              </span>
            </div>
            <div class="clr-col-10">
              <span class="clr-example-col-value">
                <span>
                  Please be patient while your remittance information is being gathered...
                </span>
              </span>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.ShowClaimReversalModal == true">
  <div class="modal">
    <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="this._appService.SecurityService.CloseClaimReversalModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">Are You Sure You Want To Reverse The Following Claim?</h3>
        </div>
        <div class="modal-body">
          <div class="clr-row">
            <div class="clr-col-12	clr-col-sm-12	clr-col-md-12	clr-col-lg-12	clr-col-xl-12">
              <div class="card" style="position:static">
                <div class="card-header">
                  <div class="clr-row">
                    <div class="clr-col-12	clr-col-sm-12	clr-col-md-5	clr-col-lg-5	clr-col-xl-5">
                      <span>Member Number :</span>
                    </div>
                    <div class="clr-col-12	clr-col-sm-12	clr-col-md-7	clr-col-lg-7	clr-col-xl-7">
                      <span>{{this._appService.SecurityService.ClaimModal.memberNumber}}</span>
                    </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="card-title">
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-5	clr-col-lg-5	clr-col-xl-5">
                        <span>Claim Number :</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-7	clr-col-lg-7	clr-col-xl-7">
                        <span>{{this._appService.SecurityService.ClaimModal.claimNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="card-text">
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Health Plan:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.healthPlan}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Service Date:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.serviceDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Received Date:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.recievedDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Charged Amount:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.chargedAmount}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Date Paid:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.paidDate}}</span>
                      </div>
                    </div>
                    <div class="clr-row">
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-3	clr-col-lg-3	clr-col-xl-3">
                        <span>Paid Amount:</span>
                      </div>
                      <div class="clr-col-12	clr-col-sm-12	clr-col-md-9	clr-col-lg-9	clr-col-xl-9">
                        <span>{{this._appService.SecurityService.ClaimModal.paidAmount}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="this._appService.SecurityService.CloseClaimReversalModal()">No</button>
          <button class="btn btn-outline" type="button" (click)="this._appService.MemberClaimService.ReverseClaim()">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.SecurityService.ClaimInfo">
  <app-member-claim-info></app-member-claim-info>

  <clr-modal [(clrModalOpen)]="this._appService.SecurityService.busyReverse" [clrModalSize]="'sm'" [clrModalClosable]="false">
    <div class="modal-body" style="text-align:center;padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </div>
  </clr-modal>


</div>
<clr-modal [(clrModalOpen)]="this._appService.MemberClaimService.busyReverse" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body" style="text-align:center ;padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>
