<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.providerForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.memberForm.get('dependant').valid">

  <h4 style="font-weight: 900"><b>Medical Practitioner</b></h4>

  <div class="clr-row">

    <div class="clr-col-lg-6">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="provid">Practice No</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="provid"
                   formControlName="provid">
            <!--<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>-->
          </div>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="(providerForm.get('provid').touched && !providerForm.get('provid').valid)">
            This field is required
          </span>-->
        </div>
      </div>
    </div> <!--col-->

    <div class="clr-col-lg-6">
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="provName">Surname</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   style="width: 100%"
                   type="text"
                   id="provName"
                   formControlName="provName">
            <!--<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>-->
          </div>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="(providerForm.get('provName').touched && !providerForm.get('provName').valid)">
            This field is required
          </span>-->
        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-lg-6">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="provContactNo">Contact No</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="provContactNo"
                   formControlName="provContactNo">
            <!--<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>-->
          </div>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="(providerForm.get('provContactNo').touched && !providerForm.get('provContactNo').valid)">
            This field is required
          </span>-->
        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-lg-6">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="provEmail">Email</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   style="width: 100%"
                   type="text"
                   id="provEmail"
                   formControlName="provEmail">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="(!this._appService.ChronicConditionService.providerForm.get('provEmail').valid)">
            This field is required
          </span>
        </div>
      </div>

    </div> <!--col-->
    <!--<div class="clr-col">
      <p><i>If any of the medical pratitioner details are incorrect, kindly contact our Networks department.</i></p>
    </div>-->

  </div> <!--row-->

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4">Refer patient to specialist?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-8">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="referredYes" value="Y" formControlName="referredYN" />
            <label for="referredYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="referredNo" value="N" formControlName="referredYN" />
            <label for="referredNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').touched && !this._appService.ChronicConditionService.providerForm.get('referredYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row">

    <div class="clr-col-lg-5" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').value == 'Y' ">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-5" for="refProvid">Specialist Practice No</label>
        <div class="clr-control-container clr-col-sm-7">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="20"
                   id="refProvid"
                   formControlName="refProvid">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('refProvid').touched && !this._appService.ChronicConditionService.providerForm.get('refProvid').valid">
            This field is required
          </span>
        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-lg-7" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').value == 'Y' ">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="refProvSurname">Specialist Surname</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   style="width: 100%"
                   type="text"
                   maxlength="40"
                   id="refProvSurname"
                   formControlName="refProvSurname">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('refProvSurname').touched && !this._appService.ChronicConditionService.providerForm.get('refProvSurname').valid">
            This field is required
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row">
    <div class="clr-col-lg-5" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').value == 'Y' ">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-5" for="refProvSpec">Referring Speciality</label>
        <div class="clr-control-container clr-col-sm-7">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="refProvSpec"
                    formControlName="refProvSpec">
              <option *ngFor="let item of this._appService.ChronicConditionService.ReferralSpecs" value="{{item.code}}">{{item.code}} - {{item.desc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('refProvSpec').touched && !this._appService.ChronicConditionService.providerForm.get('refProvSpec').valid">
            Please select a referring speciality
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row">

    <div class="clr-col-lg-12" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').value == 'Y' ">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-2" for="refProvNotes">Referral Notes </label>
        <div class="clr-control-container clr-col-sm-10">
          <div class="clr-textarea-container">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      maxlength="1000"
                      id="refProvNotes"
                      formControlName="refProvNotes">
                      </textarea>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('refProvNotes').touched && !this._appService.ChronicConditionService.providerForm.get('refProvNotes').valid">
            This field requires valid data (max length: 1000 characters)
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row">

    <div class="clr-col-lg-12" *ngIf="this._appService.ChronicConditionService.providerForm.get('referredYN').value == 'Y' ">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-2">Upload the referral letter</label>
        <div class="clr-control-container clr-col-sm-10">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.ReferralLetterFiles, this._appService.ChronicConditionService.providerForm, 'referralLetter')"
                        (click)="this._appService.ChronicConditionService.providerForm.get('referralLetter').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.providerForm.get('referralLetter').touched && !this._appService.ChronicConditionService.providerForm.get('referralLetter').valid">
            The referral letter is required
          </span>

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.ReferralLetterFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.ReferralLetterFiles, this._appService.ChronicConditionService.providerForm, 'referralLetter')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
