<div class="clr-row">
  <div class="clr-col-12 clr-col-sm-10 clr-offset-sm-1">

    <div class="clr-row">
      <p style="margin-left: 15px">
        <!--<b>Client ID:</b> {{this._appService.VoucherAdminService.VoucherClient.clientId}}
        <br />-->
        <b>Client Name:</b> {{this._appService.VoucherAdminService.VoucherClient.clientName}}
        <br />
        <b>Balance:</b> {{this._appService.VoucherAdminService.ClientBalance}}
      </p>
    </div>

    <div class="clr-row">
      <div class="clr-col-12 clr-col-sm-7 clr-col-md-6 clr-col-lg-5 clr-col-xl-4">
        <button class="btn btn-primary btn-sm" style="margin-top:20px" (click)="this.route.navigate(['/voucher-clients']);">Back <clr-icon shape="undo"></clr-icon></button>
        <button class="btn btn-primary btn-sm" style="margin-top:20px" (click)="this._appService.VoucherAdminService.showDepositModal = true">Make Deposit</button>
        <button class="btn btn-primary btn-sm" style="margin-top:20px" (click)="this._appService.VoucherAdminService.GetBasketHeaders()">Allocate Vouchers</button>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid>
          <!--<clr-dg-column>Transact ID</clr-dg-column>-->
          <!--<clr-dg-column>TranCode</clr-dg-column>-->
          <clr-dg-column>Description</clr-dg-column>
          <clr-dg-column>Amount</clr-dg-column>
          <!--<clr-dg-column>Client ID</clr-dg-column>-->
          <clr-dg-column>Voucher ID</clr-dg-column>
          <clr-dg-column>Notes</clr-dg-column>
          <clr-dg-column>Date</clr-dg-column>
          <!--<clr-dg-column style="width:350px">Action</clr-dg-column>-->

          <clr-dg-row *ngFor="let clientTransactionDetail of this._appService.VoucherAdminService._clientTransactions">
            <!--<clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.tranId}}</clr-dg-cell>-->
            <!--<clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.tranCode}}</clr-dg-cell>-->
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.description}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.amount.toLocaleString('en-US', { style: 'decimal', maximumFractionDigits : 2, minimumFractionDigits : 2 })}}</clr-dg-cell>
            <!--<clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.clientId}}</clr-dg-cell>-->
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.voucherId}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.notes}}</clr-dg-cell>
            <clr-dg-cell style="text-align: left; margin-top: 10px;">{{clientTransactionDetail.createDate}}</clr-dg-cell>
            <!--<clr-dg-cell style="text-align: left;">
            <button class="btn btn-primary btn-sm" (click)="this.EditClient(voucherClientDetail)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="this._appService.VoucherAdminService.DeleteClient(voucherClientDetail)">Delete</button>
            <button class="btn btn-primary btn-sm" (click)="this.GoToTransactions(voucherClientDetail)">
              Transactions<clr-icon shape="step-forward-2"></clr-icon>
            </button>
            </clr-dg-cell>-->
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>



  </div>
</div>



<!-- Modal: Make deposit form -->
<div class="modal" *ngIf="this._appService.VoucherAdminService.showDepositModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.VoucherAdminService.showDepositModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Make Deposit</h3>
      </div>
      <div class="modal-body">

        <form clrForm clrLayout="horizontal" clrLabelSize="4" [formGroup]="_depositForm" (ngSubmit)="SaveDeposit()">

          <clr-input-container>
            <label for="amount">Amount</label>
            <input clrInput type="text" id="amount" formControlName="amount">
            <clr-control-error *ngIf="!_depositForm.get('amount').valid && _depositForm.get('amount').touched">
              Please enter a deposit amount.
            </clr-control-error>
          </clr-input-container>

          <clr-textarea-container>
            <label for="notes">Notes (optional)</label>
            <textarea clrTextarea id="notes" formControlName="notes"></textarea>
          </clr-textarea-container>

          <br />

          <button class="btn btn-outline" type="button" (click)="this._appService.VoucherAdminService.showDepositModal = false">Cancel</button>
          <button class="btn btn-primary" type="submit" [disabled]="!_depositForm.valid">Save</button>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: Voucher Allocation -->
<!--<div class="modal" *ngIf="this._appService.VoucherAdminService.showAllocationModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.VoucherAdminService.showAllocationModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Make Deposit</h3>
      </div>
      <div class="modal-body">

        <clr-accordion *ngFor="let head of this._appService.MedivouchService.basketLists">

          <clr-accordion-panel>
            <clr-accordion-title>{{head.desc}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:forestgreen;font-weight:bolder">R {{this.GetTotalView(head.id)}}</span></clr-accordion-title>
            <clr-accordion-content *clrIfExpanded="GetBasketDetails(head.id)">

              <clr-datagrid>

                <clr-dg-column style="width:120px">Procedure Code</clr-dg-column>
                <clr-dg-column style="width:200px">Description</clr-dg-column>
                <clr-dg-column style="width:120px" *ngIf="this._appService.LoginService.isDentist">
                  Tooth No
                </clr-dg-column>
                <clr-dg-column style="width:80px">Qty</clr-dg-column>
                <clr-dg-column style="width:120px">Single Unit Price</clr-dg-column>
                <clr-dg-column style="width:100px">Total</clr-dg-column>
                <clr-dg-placeholder>No codes captured yet!</clr-dg-placeholder>

                <clr-dg-row *ngFor="let code of this.detailsOfBasket">
                  <clr-dg-cell style="text-align:center">{{code.code}}</clr-dg-cell>
                  <clr-dg-cell>{{code.desc}}</clr-dg-cell>
                  <clr-dg-cell *ngIf="!code.enterTooth && this._appService.LoginService.isDentist" style="text-align:center">N/A</clr-dg-cell>
                  <clr-dg-cell *ngIf="code.enterTooth && this._appService.LoginService.isDentist">
                    Tooth Number Required
                  </clr-dg-cell>
                  <clr-dg-cell style="text-align:center;">{{code.defaultQty}}</clr-dg-cell>
                  <clr-dg-cell style="text-align:center">R {{code.price}}</clr-dg-cell>
                  <clr-dg-cell style="text-align:center">R {{code.total}}</clr-dg-cell>
                </clr-dg-row>

              </clr-datagrid>

            </clr-accordion-content>
          </clr-accordion-panel>
        </clr-accordion>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this._appService.VoucherAdminService.showAllocationModal = false">
          OK
        </button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>-->
<!-- Modal: Voucher Allocation -->
<clr-modal [(clrModalOpen)]="this._appService.VoucherAdminService.showAllocationModal" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">Voucher Allocation</h3>
  <div class="modal-body text-center">

    <div class="clr-row">
      <p style="margin-left: 15px">
        <b>Balance:</b> {{this._appService.VoucherAdminService.ClientBalanceAllocation}} &nbsp;
        <b>Total Allocated (R):</b> {{this._appService.VoucherAdminService.TotalAllocatedR}} &nbsp;
        <b>Total Allocated (Qty):</b> {{this._appService.VoucherAdminService.TotalAllocatedQty}}
      </p>
    </div>

    <table class="table" style="border: none">
      <tbody>
        <tr style="border: none" *ngFor="let head of this._appService.VoucherAdminService.basketLists">
          <td style="border: none">
            <input clrInput style="margin-top: -10px; padding-top: 0px" placeholder="Qty" name="searchText" #searchText (input)="this._appService.VoucherAdminService.UpdateAllocationList($event, head.id)">
          </td>
          <td style="border: none">
            <clr-accordion style="margin-top: 15px; margin-bottom: 0px">
              <clr-accordion-panel>
                <clr-accordion-title>
                  {{head.desc}}
                  &nbsp;&nbsp;&nbsp;<span style="color:forestgreen;font-weight:bolder">R {{this._appService.VoucherAdminService.GetTotalView(head.id)}}</span>
                  &nbsp;&nbsp;&nbsp;<span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType==7"> Full Price: R {{head.fullPrice}} ({{head.hpCode}} - {{head.option}}) </span>
                </clr-accordion-title>
                <clr-accordion-content *clrIfExpanded="GetBasketDetails(head.id)">

                  <clr-datagrid>
                    <clr-dg-column style="width:120px">Procedure Code</clr-dg-column>
                    <clr-dg-column style="width:200px">Description</clr-dg-column>
                    <clr-dg-column style="width:120px" *ngIf="this._appService.LoginService.isDentist">
                      Tooth No
                    </clr-dg-column>
                    <clr-dg-column style="width:80px">Qty</clr-dg-column>
                    <clr-dg-column style="width:120px">Single Unit Price</clr-dg-column>
                    <clr-dg-column style="width:100px">Total</clr-dg-column>
                    <clr-dg-placeholder>No codes captured yet!</clr-dg-placeholder>
                    <clr-dg-row *ngFor="let code of this.detailsOfBasket">
                      <clr-dg-cell style="text-align:center">{{code.code}}</clr-dg-cell>
                      <clr-dg-cell>{{code.desc}}</clr-dg-cell>
                      <clr-dg-cell *ngIf="!code.enterTooth && this._appService.LoginService.isDentist" style="text-align:center">N/A</clr-dg-cell>
                      <clr-dg-cell *ngIf="code.enterTooth && this._appService.LoginService.isDentist">
                        Tooth Number Required
                      </clr-dg-cell>
                      <clr-dg-cell style="text-align:center;">{{code.defaultQty}}</clr-dg-cell>
                      <clr-dg-cell style="text-align:center">R {{code.price}}</clr-dg-cell>
                      <clr-dg-cell style="text-align:center">R {{code.total}}</clr-dg-cell>

                    </clr-dg-row>
                  </clr-datagrid>

                </clr-accordion-content>
              </clr-accordion-panel>
            </clr-accordion>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.VoucherAdminService.showAllocationModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this._appService.VoucherAdminService.AllocateVouchers()">OK</button>
  </div>
</clr-modal>

<!-- Modal: Error -->
<div class="modal" *ngIf="this._appService.VoucherAdminService.error">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.CloseErrorMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.VoucherAdminService.errorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.VoucherAdminService.errorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this.CloseErrorMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!-- Modal: busy spinner -->
<clr-modal [(clrModalOpen)]="this._appService.VoucherAdminService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<!-- Modal: busy spinner (old ugly spinner)-->
<!--<div class="modal" *ngIf="this._appService.VoucherAdminService.busy">
  <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">

      </div>
      <div class="modal-body">

        <div class="clr-row">
          <div class="clr-col-12" style="align-content:center">
            <span class="spinner">
              Loading...
            </span>
          </div>
        </div>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>-->
<!--<div class="modal-backdrop" aria-hidden="true"></div>-->
<!--</div>-->
