
<app-contact-details></app-contact-details>

<!--<app-downloads></app-downloads>-->

<clr-modal [(clrModalOpen)]="this._appService.LoginService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.SettingService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">
  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>
