<div class="clr-row">
  <div class="clr-col-lg-2"></div>
  <div class="clr-col-lg-8">
    <form clrForm [formGroup]="BenSearch">
      <clr-input-container>
        <label>Member No</label>
        <input placeholder="Full name" clrInput  required />
        <clr-control-helper>Helper text</clr-control-helper>
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-select-container>
        <label>Fund:</label>
        <select clrSelect 
                name="HP_Contract">
          <option *ngFor="let contract of this._appService.LoginService.MemberClaimsDropDown"
                  [ngValue]="contract.hpcode">
            {{contract.hpname}}
          </option>
        </select>
      </clr-select-container>
    </form>
  </div>
  <div class="clr-col-2"></div>
</div>
