
<div class="clr-row">

  <div class="clr-col-xl-8 clr-offset-xl-2">

    <!--<div class="clr-row">
    <div class="clr-col-md-7"> -->
    <!--<div class="alert alert-info" role="alert" joyrideStep="upload_2" text="This block indicates the total file size
         of the quotation/x-rays/documentation you have uploaded." stepPosition="right" style="position:static">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            <b>
              Total file size for current files {{ this._fileSize}} mb
            </b>
          </span>
        </div>
      </div>
    </div>-->
        
    <div class="card" style="position:static">
      <div class="card-header">

        <div class="clr-row">
          <div class="clr-col-9">
            <span>Authorisations Submissions</span>
          </div>
          <div class="clr-col-3 text-right">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
            </span>
          </div>
        </div>

      </div>
      <div class="card-block">
        <div class="card-text">

          <!--member section-->
          <!--<div class="clr-row">
        <div class="clr-col-12">

          <form clrForm [formGroup]="memberForm" clrLayout="compact">
            <div class="clr-row" style="text-align:center">
              <div class="clr-col-xl-2">
              </div>
              <div class="clr-col-xl-8" style="display:inline-block">
                <clr-select-container joyrideStep="upload_3" text="Select the fund to which the member belongs here." stepPosition="right">
                  <label>HealthPlan</label>
                  <select clrSelect formControlName="options">
                    <option *ngFor="let plan of  this._appService.LoginService.ClaimsHealthPlanDropDown" value={{plan.hpcode}}>{{plan.hpname}}</option>
                  </select>
                </clr-select-container>

                <clr-input-container joyrideStep="upload_4" text="Type a member number here without the dependant code." stepPosition="right">
                  <label>Family No</label><br />
                  <input clrInput formControlName="memb" style="width:275px" />
                </clr-input-container>
              </div>
              <div class="clr-col-xl-2">
              </div>
            </div>
          </form>

        </div>
      </div>-->
          <!--member section-->
          <div class="clr-row">
            <div class="clr-col-12">

              <form class="clr-form clr-form-horizontal" [formGroup]="memberForm">

                <div class="clr-form-control clr-row" joyrideStep="upload_3" text="Select the fund to which the member belongs here." stepPosition="right">
                  <label class="clr-control-label clr-col-sm-3" for="options">HealthPlan</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-select-wrapper">
                      <select class="clr-select"
                              type="select"
                              id="options"
                              formControlName="options">
                        <option *ngFor="let plan of  this._appService.LoginService.ClaimsHealthPlanDropDown" value="{{plan.hpcode}}">{{plan.hpname}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="clr-form-control clr-row" joyrideStep="upload_4" text="Type a member number here without the dependant code." stepPosition="right">
                  <label class="clr-control-label clr-col-sm-3" for="memb">Family No</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="memb"
                             formControlName="memb">
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>

          <!--additional notes-->
          <div class="clr-row">
            <div class="clr-col-12">

              <form class="clr-form clr-form-horizontal" [formGroup]="textForm">
                <div class="clr-form-control clr-row" joyrideStep="upload_5" text="If you have any additional notes or a message you which to attach with your quotation/x-rays/documentation you can type it here." stepPosition="right">
                  <label class="clr-control-label clr-col-sm-3" for="addText">Additional Notes</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-textarea-container">
                      <textarea class="clr-Textarea"
                                style="width: 100%"
                                type="text"
                                id="addText"
                                formControlName="addText">
                      </textarea>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <!--drop files here-->
          <div class="clr-row">
            <div class="clr-col-12">

              <form class="clr-form clr-form-horizontal">
                <div class="clr-form-control clr-row" joyrideStep="upload_6" text="Click here to browse for the files you need to upload or drag and drop your files onto this block." stepPosition="right">
                  <label class="clr-control-label clr-col-sm-3">File Submissions</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <ngx-dropzone #dropzone (change)="upload($event)" class="custom-dropzone" width="65%" style="height:80px">
                      <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
                    </ngx-dropzone>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <!--total file size-->
          <div class="clr-row" *ngIf="this.files.length > 0">
            <div class="clr-col-12">
              <div class="alert alert-info" role="alert" style="position:static" joyrideStep="upload_2" text="This block indicates the total file size of the quotation/x-rays/documentation you have uploaded." stepPosition="right">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                      <b>
                        Total file size for current files {{ this._fileSize}} mb
                      </b>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--file viewer-->
          <div class="clr-row" *ngIf="this.files.length > 0">
            <div class="clr-col-12" joyrideStep="upload_7"
                 text="After uploading your files like in the previous step, they will appear in this table,where you can preview them by clicking on the magnifier or delete them by clicking on the trash can." stepPosition="right">
              <clr-datagrid>
                <clr-dg-column [style.min-width.px]="125">File</clr-dg-column>
                <clr-dg-column [hidden]="true">..</clr-dg-column>
                <!--<clr-dg-column>..</clr-dg-column>-->
                <clr-dg-column>File Name</clr-dg-column>
                <clr-dg-column>File Type</clr-dg-column>
                <clr-dg-column>File Size</clr-dg-column>
                <clr-dg-column>Last Modified</clr-dg-column>
                <clr-dg-column>Delete</clr-dg-column>
                <clr-dg-placeholder>No Files Uploaded Yet!</clr-dg-placeholder>
                <clr-dg-row *ngFor="let file of this.files">
                  <clr-dg-cell *ngIf="(file.type == 'image/jpeg')||(file.type == 'image/png')||(file.type == 'image/tiff')">
                    <img id="{{file.name}}" src="" alt="error" style="max-height:100px; max-width: 110px; width:auto; height:auto" />
                  </clr-dg-cell>
                  <clr-dg-cell *ngIf="(file.type == 'application/pdf')">
                    <!--<object id="{{file.name}}" type="application/pdf" width="110" height="130"></object>-->
                    <img id="{{file.name}}" src="assets/PDF_file_icon.svg.png" alt="error" style="max-height:100px; max-width: 110px; width:auto; height:auto" />
                  </clr-dg-cell>
                  <clr-dg-cell *ngIf="(file.type == 'text/plain')">
                    <object id="{{file.name}}" type="text/plain" width="110" height="130"></object>
                  </clr-dg-cell>
                  <clr-dg-cell *ngIf="(file.type !== 'application/pdf') &&(file.type !== 'text/plain') && (file.type !== 'image/jpeg') && (file.type !== 'image/png') && (file.type !== 'image/tiff')">
                    <img id="{{file.name}}" src="assets/preview.jpg" alt="error" style="max-height:100px; max-width: 110px; width:auto; height:auto" />
                  </clr-dg-cell>
                  <clr-dg-cell [hidden]="true"><canvas id="c{{file.size}}"></canvas></clr-dg-cell>
                  <!--<clr-dg-cell><button class="btn btn-link" (click)="ViewImage(file)"><clr-icon shape="search"></clr-icon></button></clr-dg-cell>-->
                  <clr-dg-cell style="word-wrap:break-word">{{file.name}}</clr-dg-cell>
                  <clr-dg-cell style="word-wrap:break-word">{{file.type}}</clr-dg-cell>
                  <clr-dg-cell>{{this.SizeCalc(file.size)}} mb</clr-dg-cell>
                  <clr-dg-cell style="word-wrap:break-word">{{file.lastModifiedDate | date:'yyyy/MM/dd'}}</clr-dg-cell>
                  <clr-dg-cell>
                    <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="Remove(file.name, file.type)">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{this.files.length}} Files</clr-dg-footer>
              </clr-datagrid>

            </div>

          </div>

          <!--<br />-->
          <br />
        </div>
      </div>

      <canvas id="canvas" [hidden]="true"></canvas>

      <div class="card-footer">

        <div class="clr-row">
          <div class="clr-col-9">
            <button class="btn btn-primary btn-sm" (click)="Submit()" [disabled]="!(this.memberForm.valid && this.files.length > 0)"
                    joyrideStep="upload_8" text="Once you are done you can click on this button to submit your quotation/x-rays/documentation." stepPosition="right">
              Submit Files
            </button>
            <button class="btn btn-primary btn-sm" (click)="ClearAll()"
                    joyrideStep="upload_9" text="Click on this button to clear all fields." stepPosition="right">
              Clear Fields
            </button>
          </div>

        </div>

      </div> <!--card-footer-->
    </div><!--card-->

    </div>

  <!--<div class="clr-col-lg-2">
    <button class="btn btn-success" (click)="Submit()" [disabled]="!(this.memberForm.valid && this.files.length>0)"
            joyrideStep="upload_8" text="Once you are done you can click on this button to submit your quotation/x-rays/documentation." stepPosition="right">
      Submit Files
    </button>
  </div>-->
</div>


<!--<br />-->
<!--</div>-->
<!--<div class="clr-col-lg-5">
  <div class="clr-row">
    <div class="clr-col-lg-3 text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD">
      <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
            (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
        <br />
        <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
      </span>
    </div>
  </div>
</div>-->
<!--</div>-->
<!--<div class="clr-row">
  <div class="clr-col-md-7">

    <form clrForm [formGroup]="textForm">
      <clr-textarea-container joyrideStep="upload_5" text="If you have any additional notes or a message you which to attach with your quotation/x-rays/documentation you can type it here." stepPosition="right">
        <label>Additional Notes</label>
        <textarea clrTextarea formControlName="addText" cols="100" rows="2"></textarea>
      </clr-textarea-container>
    </form>

  </div>
</div>-->
<!--<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3">

    <form class="clr-form clr-form-horizontal">
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="addText">Additional Notes</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-textarea-container" joyrideStep="upload_5" text="If you have any additional notes or a message you which to attach with your quotation/x-rays/documentation you can type it here." stepPosition="right">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      id="addText"
                      formControlName="addText">
                      </textarea>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>-->
<!--<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3">

    <form class="clr-form clr-form-horizontal">-->
<!--<div class="clr-row">
<div class="clr-col-md-7">-->
<!--<div class="clr-form-control clr-row">
  <label class="clr-control-label clr-col-sm-3">File Submissions</label>
  <div class="clr-control-container clr-col-sm-9">
    <ngx-dropzone #dropzone (change)="upload($event)" class="custom-dropzone" width="65%" style="height:80px" joyrideStep="upload_6" text="Click here to browse for the files you need to upload or drag and drop your files onto this block." stepPosition="top">
      <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
    </ngx-dropzone>

  </div>
</div>-->
<!--</div>
</div>-->
<!--</form>

  </div>
</div>

<br />-->
<!--<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3">
    <div class="alert alert-info" role="alert" joyrideStep="upload_2" text="This block indicates the total file size
             of the quotation/x-rays/documentation you have uploaded." stepPosition="right" style="position:static">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            <b>
              Total file size for current files {{ this._fileSize}} mb
            </b>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--<div class="clr-row">

  <div class="clr-col-md-7">
    <div class="card" style="position:static">
      <div class="card-header text-center">
        File Submissions
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-md-3"></div>
            <div class="clr-col-md-9"><br /></div>
          </div>
          <div class="clr-row">
            <div class="clr-col-md-2"></div>
            <div class="clr-col-md-8">
              <ngx-dropzone #dropzone (change)="upload($event)" class="custom-dropzone" width="65%" style="height:80px" joyrideStep="upload_6" text="Click here to browse for the files you need to upload or drag and drop your files onto this block." stepPosition="top">
                <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
              </ngx-dropzone>
              <br />
            </div>
            <div class="clr-col-md-2"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>-->
<!--<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3" joyrideStep="upload_7"
       text="After uploading your files like in the previous step, they will appear in this table,where you can preview them by clicking on the magnifier or delete them by clicking on the trash can." stepPosition="right">
    <clr-datagrid>
      <clr-dg-column>File</clr-dg-column>
      <clr-dg-column [hidden]="true">..</clr-dg-column>
      <clr-dg-column>..</clr-dg-column>
      <clr-dg-column>File Name</clr-dg-column>
      <clr-dg-column>File Type</clr-dg-column>
      <clr-dg-column>File Size</clr-dg-column>
      <clr-dg-column>Last Modified</clr-dg-column>
      <clr-dg-column>Delete</clr-dg-column>
      <clr-dg-placeholder>No Files Uploaded Yet!</clr-dg-placeholder>
      <clr-dg-row *ngFor="let file of this.files">
        <clr-dg-cell *ngIf="(file.type == 'image/jpeg')||(file.type == 'image/png')||(file.type == 'image/tiff')">
          <img id="{{file.name}}" src="" alt="error" style="max-height:100px; max-width: 110px; width:auto; height:auto" />
        </clr-dg-cell>
        <clr-dg-cell *ngIf="(file.type == 'application/pdf')">
          <object id="{{file.name}}" type="application/pdf" width="110" height="130"></object>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="(file.type !== 'application/pdf') &&(file.type !== 'text/plain') && (file.type !== 'image/jpeg') && (file.type !== 'image/png') && (file.type !== 'image/tiff')">
          <img id="{{file.name}}" src="../../../PamcPortal/assets/preview.jpg" alt="error" style="max-height:100px; max-width: 110px; width:auto; height:auto" />
        </clr-dg-cell>
        <clr-dg-cell *ngIf="(file.type == 'text/plain')">
          <object id="{{file.name}}" type="text/plain" width="110" height="130"></object>
        </clr-dg-cell>
        <clr-dg-cell [hidden]="true"><canvas id="c{{file.size}}"></canvas></clr-dg-cell>
        <clr-dg-cell><button class="btn btn-link" (click)="ViewImage(file)"><clr-icon shape="search"></clr-icon></button></clr-dg-cell>
        <clr-dg-cell style="word-wrap:break-word">{{file.name}}</clr-dg-cell>
        <clr-dg-cell style="word-wrap:break-word">{{file.type}}</clr-dg-cell>
        <clr-dg-cell>{{this.SizeCalc(file.size)}} mb</clr-dg-cell>
        <clr-dg-cell style="word-wrap:break-word">{{file.lastModifiedDate }}</clr-dg-cell>
        <clr-dg-cell>
          <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="Remove(file.name, file.type)">
            <clr-icon shape="trash"></clr-icon>
          </button>
        </clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this.files.length}} Files</clr-dg-footer>
    </clr-datagrid>
  </div>

</div>

<br />-->
<!--<div class="clr-row">
  <div class="clr-col-md-6 clr-offset-md-3" style="text-align: center;">
    <button class="btn btn-success" (click)="Submit()" [disabled]="!(this.memberForm.valid && this.files.length>0)"
            joyrideStep="upload_8" text="Once you are done you can click on this button to submit your quotation/x-rays/documentation." stepPosition="right">
      Submit Files
    </button>
  </div>
</div>

<br />-->

<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._view" [clrModalSize]="'xl'" [clrModalClosable]="false" id="modalView">
  <div class="modal-body" style="text-align:center">
    <img *ngIf="this.imageFile" src={{this.openModelImgUrl}} width={{this.imageWidth}} height={{this.imageHeight}} />
    <object *ngIf="this.pdfFile" id="popup" width="1000" height="1200"></object>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._view = false">OK</button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this.outOfNetwork" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-title">
    WARNING!!
  </div>
  <div class="modal-body">
    <p>
      {{this.outOfNetworkMsg}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.outOfNetwork = false">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.UploadFileService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-title">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Please be patient while your files are being uploaded, <br />
            Total files size for all files are {{ this._appService.UploadFileService._totalSize}} mb
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Uploading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._unSupportedFormat" [clrModalSize]="'md'" [clrModalClosable]="false">
  <div class="modal-body" style="text-align:center">
    <p>This file format cannot be previewed in the browser. Please preview it on your computer before uploading to make sure that it is correct.</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._unSupportedFormat = false">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.UploadFileService._popUp" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon> ERROR</h3>
  <div class="modal-body" style="text-align:center">
    <p>Authorisation could not be sent</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.UploadFileService._popUp = false">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.UploadFileService._success" [clrModalSize]="'md'" [clrModalClosable]="false">
  <div class="modal-title">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">SUCCESS</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body" style="text-align:center">
    <p>Your documents were uploaded successfully.</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.ClearAll()">OK</button>
  </div>
</clr-modal>
