.custom-dropzone {
  height: 250px;
  background: #798893;
  color: #fff;
  border: 5px dashed #A9B6BE;
  border-radius: 5px;
  font-size: 15px;
}

  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid #A9B6BE;
  }
