<div class="clr-row">
  <!--<div class="clr-col-2"></div>-->
  <div class="clr-col-lg-8 text-center clr-offset-lg-2">
    <div class="card" style="position:static">
      <div class="card-header" style="font-size:x-large">
        Benefit Confirmation
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-1"></div>
            <div class="clr-col-10">
              <clr-tabs>
                <clr-tab >
                  <button clrTabLink id="link1" joyrideStep="look1" title="Current member benefits" text="Use this option to validate benefit for a
                         member already validated at the membership tab." stepPosition="bottom">Validate Current Member &nbsp;&nbsp;&nbsp;</button>
                  <clr-tab-content id="content1" *clrIfActive>
                    <br />
                    <div class="clr-row">
                      <div class="clr-col-12">
                        <div class="clr-row" *ngIf="this._appService.MembershipService.AllMembers.length == 0">
                          <div class="clr-col-2"></div>
                          <div class="clr-col-8">
                            <div class="alert alert-warning" role="alert">
                              <div class="alert-items">
                                <div class="alert-item static">
                                  <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
                                  </div>
                                  <span class="alert-text">
                                    &nbsp;&nbsp; Please do a member eligibility check before confirming benefits using this option!!
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clr-col-2"></div>
                        </div>
                        <div class="clr-row" *ngIf="this._appService.MembershipService.AllMembers.length != 0">
                          <div class="clr-col-xl-8" style="display:inline-block">
                            <form clrForm [formGroup]="MembBenFrm">
                              <clr-select-container>
                                <label>Member:</label>
                                <select clrSelect formControlName="members" (change)="NewSearch()">
                                  <option *ngFor="let memb of this._appService.MembershipService.AllMembers"
                                          [ngValue]="memb">
                                    {{memb.membid}}&nbsp;&nbsp;({{memb.firstnm}} {{memb.lastnm}})
                                  </option>
                                </select>
                              </clr-select-container>
                            </form>
                          </div>
                          <div class="clr-col-xl-4" *ngIf="(this._appService.MembershipService.AllMembers.length > 0)"
                               joyrideStep="look3" title="Search Benefits" text="Click on search, the select the benefit you wish to confirm." stepPosition="bottom">
                            <br />
                            <button type="button" class="btn btn-sm" aria-label="search" (click)="OpenMoreInfoModal()" style="height:50px">
                              <span>Search dependant <br />benefits</span>
                            </button>
                          </div>

                        </div>
                        <br /><br />

                      </div>
                    </div>

                    <div *ngIf="(!this.newMemberSearched) &&  this._appService.MembershipService.AllMembers.length != 0">
                      <div class="clr-row" *ngIf="
                                 (this._appService.MembershipService.benRights.length == 0 && this._appService.MembershipService.AllMembers.length != 0
                                 && this.searchClick &&  this.selectedMember.memberStatus != 'TERMINATED')">
                        <div class="clr-col-2"></div>
                        <div class="clr-col-8">


                          <div class="alert alert-danger" role="alert">
                            <div class="alert-items">
                              <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                  There are no benefit rules loaded for this healthplan option...
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="clr-col-2"></div>
                      </div>
                      <div class="clr-row" *ngIf="
                                 (this._appService.MembershipService.AllMembers.length != 0
                                 && this.searchClick &&  this.selectedMember.memberStatus == 'TERMINATED')">
                        <div class="clr-col-2"></div>
                        <div class="clr-col-8">


                          <div class="alert alert-danger" role="alert">
                            <div class="alert-items">
                              <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                  This member is no longer active...
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="clr-col-2"></div>
                      </div>
                    </div>
                    <div *ngIf="(this.newMemberSearched == false) && this._appService.MembershipService.AllMembers.length > 0">


                      <div *ngIf="((this.newMemberSearched == false) &&  this.selectedMember.memberStatus != 'TERMINATED')">
                        <div class="clr-row" *ngIf="this._appService.MembershipService.benRights.length > 0 && (this._appService.MembershipService.AllMembers.length > 0)">
                          <div class="clr-col-2"></div>
                          <div class="clr-col-8">

                            <div class="alert alert-info" role="alert">
                              <div class="alert-items">
                                <div class="alert-item static">
                                  <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                                  </div>
                                  <span class="alert-text">
                                    Click on one of the below options to see if the selected member has benefits.
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clr-col-2"></div>
                        </div>
                        <div class="clr-row">
                          <div class="clr-col-5"></div>
                          <div class="clr-col-lg-7 text-left" *ngIf="this._appService.MembershipService.benRights.length > 0">

                            <br />
                            <form clrForm>


                              <clr-radio-container>
                                <clr-radio-wrapper *ngFor="let benefit of this._appService.MembershipService.benRights">
                                  <input type="radio" clrRadio (change)="this.GetBenifitResults(benefit)" name="options" />
                                  <label>&nbsp;{{benefit.benName}}</label>
                                </clr-radio-wrapper>
                              </clr-radio-container>
                            </form>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>
                  </clr-tab-content>
                </clr-tab>
                <clr-tab >
                  <button clrTabLink id="link1" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  <clr-tab-content id="content3" *clrIfActive>
                    
                  </clr-tab-content>
                </clr-tab>
                <clr-tab>
                  <button clrTabLink joyrideStep="look2" title="Different member benefits" text="Use this tab to validate a different members benefits without navigating back
                          to the membership tab" stepPosition="bottom"> Validate Different Member</button>
                  <clr-tab-content id="content2" *clrIfActive>
                    <br />
                    <div class="clr-row">
                      <div class="clr-col-xl-12">
                        <div class="clr-row">
                          <div class="clr-col-xl-12">

                            <form clrForm joyrideStep="look4" title="Member Eligibility" text="Enter the a different members details to search and confirm benefits." stepPosition="bottom">
                              <div class="clr-row">
                                <div class="clr-col-xl-8 text-left" style="display:inline-block">
                                  <div class="clr-row">
                                    <div class="clr-col-12">
                                      <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityID"
                                                           joyrideStep="Membship_2" title="Member Number" text="Type a member number without the dependant code here." stepPosition="left">
                                        <label>Member No:</label>
                                        <input clrInput type="text" placeholder="Family Number" required
                                               name="MemberNumber" [(ngModel)]="this._appService.MembershipService.MemberDetailsBenefitScreen.membid"
                                               #MemberNumber="ngModel" size="23">
                                        <clr-control-helper><span style="color:#0079B8"><clr-icon shape="info-circle"></clr-icon> Enter a member number with a dependant code</span></clr-control-helper>
                                      </clr-input-container>
                                    </div>
                                  </div>
                                  <div class="clr-row">
                                    <div class="clr-col-12">
                                      <clr-select-container *ngIf="this._appService.MembershipService.MemberEligibilitySelectHealthPlan"
                                                            joyrideStep="Membship_3" title="Fund" text="Select the fund to which the member belongs here." stepPosition="left">
                                        <label>Fund:</label>
                                        <select clrSelect [(ngModel)]="this._appService.MembershipService.hpContractBenScreen.hpcode"
                                                name="HP_Contract">
                                          <option *ngFor="let contract of this._appService.LoginService.MemberClaimsDropDownBenScreen"
                                                  [ngValue]="contract.hpcode">
                                            {{contract.hpname}}
                                          </option>
                                        </select>
                                      </clr-select-container>
                                    </div>
                                  </div>
                                  <div class="clr-row">
                                    <div class="clr-col-12">
                                      <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityName">
                                        <label>First name:</label>
                                        <input clrInput type="text" id="gForm_2" placeholder="Enter Name here" required
                                               name="MemberFirstName"
                                               [(ngModel)]="this._appService.MembershipService.MemberDetailsBenefitScreen.firstnm"
                                               #MemberFirstName="ngModel" size="45">
                                       
                                      </clr-input-container>
                                    </div>
                                  </div>
                                  <div class="clr-row">
                                    <div class="clr-col-12">
                                      <clr-input-container *ngIf="this._appService.MembershipService.MemberEligibilityLastName">
                                        <label>Last name:</label>
                                        <input clrInput type="text" id="gForm_3" placeholder="Enter Surname here"
                                               required name="MemberLastName"
                                               [(ngModel)]="this._appService.MembershipService.MemberDetailsBenefitScreen.lastnm"
                                               #MemberLastName="ngModel" size="35">
                                      </clr-input-container>
                                    </div>
                                  </div>
                                  <div class="clr-row">
                                    <div class="clr-col-12">
                                      <clr-date-container *ngIf="this._appService.MembershipService.MemberEligibilityDOB" joyrideStep="Membship_4"
                                                          title="DOB" text="Enter the date of birth of the member here." stepPosition="left">
                                        <label>Date Of Birth:</label>
                                        <input type="date" id="date" required name="MemberDOB"
                                               [(ngModel)]="this._appService.MembershipService.MemberDetailsBenefitScreen.birth" #MemberDOB="ngModel"
                                               clrDate>
                                      </clr-date-container>
                                    </div>
                                  </div>
                                </div>
                                <div class="clr-col-xl-4"
                                     joyrideStep="look5" title="Search Benefits" text="Click on search, the select the benefit you wish to confirm." stepPosition="bottom">
                                  <br />
                                  <button type="button" class="btn btn-sm" aria-label="search" (click)="OpenMoreInfoModalNewMember()"
                                          style="height:50px">
                                    <span>Search dependant <br />benefits</span>
                                  </button>
                                </div>
                              </div>



                            </form>
                          </div>
                        </div>


                      </div>
                    </div>
                    <div *ngIf="this.newMemberSearched && this._appService.MembershipService.AllMembersBenScreen.length != 0">
                      <div class="clr-row" *ngIf="(this._appService.MembershipService.benRights.length == 0 && this._appService.MembershipService.AllMembersBenScreen.length != 0
                                 && this.searchClick &&  this.selectedMember.memberStatus != 'TERMINATED')">
                        <div class="clr-col-2"></div>
                        <div class="clr-col-8">


                          <div class="alert alert-danger" role="alert">
                            <div class="alert-items">
                              <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                  There are no benefit rules loaded for this healthplan option...
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="clr-col-2"></div>
                      </div>
                      <div class="clr-row" *ngIf="
                                 (this._appService.MembershipService.AllMembersBenScreen.length != 0
                                 && this.searchClick &&  this.selectedMember.memberStatus == 'TERMINATED')">
                        <div class="clr-col-2"></div>
                        <div class="clr-col-8">


                          <div class="alert alert-danger" role="alert">
                            <div class="alert-items">
                              <div class="alert-item static">
                                <div class="alert-icon-wrapper">
                                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                                </div>
                                <span class="alert-text">
                                  This member is no longer active...
                                </span>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="clr-col-2"></div>
                      </div>
                      <div *ngIf="this.newMemberSearched &&  this.selectedMember.memberStatus != 'TERMINATED'">
                        <div class="clr-row" *ngIf="this._appService.MembershipService.benRights.length > 0 && (this._appService.MembershipService.AllMembersBenScreen.length > 0)">
                          <div class="clr-col-2"></div>
                          <div class="clr-col-8">

                            <div class="alert alert-info" role="alert">
                              <div class="alert-items">
                                <div class="alert-item static">
                                  <div class="alert-icon-wrapper">
                                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                                  </div>
                                  <span class="alert-text">
                                    Click on one of the below options to see if the selected member has benefits.
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clr-col-2"></div>
                        </div>
                        <div class="clr-row">
                          <div class="clr-col-5"></div>
                          <div class="clr-col-lg-7 text-left" *ngIf="this._appService.MembershipService.benRights.length > 0">

                            <br />
                            <form clrForm>


                              <clr-radio-container>
                                <clr-radio-wrapper *ngFor="let benefit of this._appService.MembershipService.benRights">
                                  <input type="radio" clrRadio (change)="this.GetBenifitResults(benefit)" name="options" />
                                  <label>&nbsp;{{benefit.benName}}</label>
                                </clr-radio-wrapper>
                              </clr-radio-container>
                            </form>
                            <br />
                          </div>
                        </div>
                      </div>
                    </div>

                  </clr-tab-content>
                </clr-tab>
              </clr-tabs>
            </div>
            <div class="clr-col-1"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="clr-row">
          <div class="clr-col-3"></div>
          <div class="clr-col-6">
          </div>
          <div class="clr-col-3">
            <span *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType == 1)"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <span style="font-weight:bolder;font-size:medium;border-radius:50%;background-color:orange;color:white">&nbsp;&nbsp;?&nbsp;&nbsp;</span> Need help..
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="clr-col-2"></div>-->
</div>
<br />
<br />
<div class="clr-row">
  <!--<div class="clr-col-1"></div>-->
  <div class="clr-col-lg-10 clr-offset-lg-1">
    <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
      <div class="clr-col-7">
        <span style="font-size:large">
          <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
        </span>
      </div>
      <div class="clr-col-5">
        <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
      </div>
    </div>
    <div class="clr-row" *ngIf="!this._appService.MembershipService.returnBenSet.defaultProc">
      <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName == 'Restorations' ||this._appService.MembershipService.returnBenSet.benName == 'RESTORATIONS'">
        <clr-datagrid >
          <clr-dg-column>Tooth Number</clr-dg-column>
          <clr-dg-column>Service Date</clr-dg-column>
          <clr-dg-column>Practice</clr-dg-column>


          <clr-dg-placeholder>
            No History found!!
          </clr-dg-placeholder>

          <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
            <clr-dg-cell> <span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
            <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
            <clr-dg-cell>{{data.provid}}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
      <div class="clr-col-12" *ngIf="this._appService.MembershipService.returnBenSet.benName != 'Restorations' && this._appService.MembershipService.returnBenSet.benName != 'RESTORATIONS'">
        <clr-datagrid>
          <clr-dg-column>Tooth Number</clr-dg-column>
          <clr-dg-column>Service Date</clr-dg-column>
          <clr-dg-column>Practice</clr-dg-column>
          <clr-dg-column>Reference</clr-dg-column>

          <clr-dg-placeholder>
            No History found!!
          </clr-dg-placeholder>

          <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
            <clr-dg-cell><span style="color:red">{{data.tootno}} NOT ELIGIBLE</span></clr-dg-cell>
            <clr-dg-cell><span>{{data.svcDate | date : 'yyyy/MM/dd'}}</span></clr-dg-cell>
            <clr-dg-cell>{{data.provid}}</clr-dg-cell>
            <clr-dg-cell style="background:#C92100"><span style="font-weight:bolder;font-size:larger;color:white;background:#C92100">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
    <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
      <div class="clr-col-7">
        <span>
          <b><i>{{this._appService.MembershipService.returnBenSet.benName}}</i></b>
        </span>
      </div>
      <div class="clr-col-5">
        <span><b>Member ID: </b>{{this._appService.MembershipService.returnBenSet.membid}}</span>
      </div>
    </div>
    <div class="clr-row" *ngIf="this._appService.MembershipService.returnBenSet.defaultProc">
      <div class="clr-col-12">
        <clr-datagrid>
          <clr-dg-column>Eligible</clr-dg-column>
          <clr-dg-column>Message</clr-dg-column>
          <clr-dg-column>Age</clr-dg-column>
          <clr-dg-column>Last Practice</clr-dg-column>
          <clr-dg-column>Service Date</clr-dg-column>
          <clr-dg-column>Reference</clr-dg-column>


          <clr-dg-placeholder>
            No History Found!!
          </clr-dg-placeholder>

          <clr-dg-row *ngFor="let data of this._appService.MembershipService.resultSetDisplay">
            <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == true && data.ageMessage == 'N/A'"><span style="font-weight:900;color:red">CONTACT SCHEME FOR AUTHORISATION</span></clr-dg-cell>
            <clr-dg-cell *ngIf="data.indicate == 'N' && this._appService.MembershipService.returnBenSet.preAuth == false"><span style="font-weight:900;color:red">NO</span></clr-dg-cell>
            <clr-dg-cell *ngIf="data.indicate == 'Y'"><span style="font-weight:900;color:green">YES</span></clr-dg-cell>
            <clr-dg-cell><span>{{data.ageMessage}}</span></clr-dg-cell>
            <clr-dg-cell><span>{{data.age}}</span></clr-dg-cell>
            <clr-dg-cell>{{data.provid}}</clr-dg-cell>
            <clr-dg-cell><span>{{data.svcDate}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="data.indicate == 'N'" style="background:#C92100"><span style="font-size:larger;font-weight:bolder;color:white;background:#C92100">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
            <clr-dg-cell *ngIf="data.indicate == 'Y'" style="background:#60B515"><span style="font-size:larger;font-weight:bolder;color:white;background:#60B515">{{this._appService.MembershipService.returnBenSet.reff}}</span></clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <!--<div class="clr-col-1"></div>-->
</div>

<clr-modal [(clrModalOpen)]=" this._appService.MembershipService.allHist" [clrModalSize]="'xl'">
  <h3 class="modal-title" style="text-align:center">Benefit Search History</h3>
  <div class="modal-body">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-sm-12" style="display:inline-block">
        <form clrForm [formGroup]="searchForm" style="display:inline-block">
          <clr-input-container>
            <label>
              Search
            </label>
            <input formControlName="search" clrInput (input)="SearchBenHist($event.target.value)" />
          </clr-input-container>
        </form>
        <clr-datagrid>
          <clr-dg-column style="width:30px">Reference</clr-dg-column>
          <clr-dg-column style="width:40px">Date</clr-dg-column>
          <clr-dg-column style="width:120px">Member No</clr-dg-column>
          <clr-dg-column style="width:50px">Health Plan</clr-dg-column>
          <clr-dg-column style="width:120px">Benefit</clr-dg-column>
          <clr-dg-column>Results</clr-dg-column>
          <clr-dg-row *ngFor="let hist of this._appService.MembershipService.benHisList">
            <clr-dg-cell><span style="font-size:smaller">{{hist.reff}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word ">{{hist.logDate}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller">{{hist.membId}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word">{{hist.hp}}</span></clr-dg-cell>
            <clr-dg-cell><span style="font-size:smaller;word-break:break-word">{{hist.benName.trim()}}</span></clr-dg-cell>
            <clr-dg-cell>

              <div *ngIf="hist.benName.trim() != 'RESTORATIONS' && hist.benName.trim() != 'FISSURE SEALANT' ">
                <clr-datagrid class="datagrid-compact">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-column>Message</clr-dg-column>
                  <clr-dg-column style="width:25px">Age</clr-dg-column>
                  <clr-dg-column>Last Practice</clr-dg-column>
                  <clr-dg-column>Service Date</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell *ngFor="let r of hist.results" style="font-size:x-small;background-color:lightgoldenrodyellow">{{r}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

              </div>
              <div *ngIf="hist.benName == 'RESTORATIONS'">
                <clr-datagrid class="datagrid-compact" *ngIf="hist.results != ''">
                  <clr-dg-column style="width:25px">Practice</clr-dg-column>
                  <clr-dg-column>Tooth No</clr-dg-column>
                  <clr-dg-column style="width:25px">Service Date</clr-dg-column>
                  <clr-dg-column>Months</clr-dg-column>
                  <clr-dg-row *ngFor="let r of hist.results">
                    <clr-dg-cell *ngFor="let h of this.SplitResults(r)" style="font-size:x-small;background-color:lightgoldenrodyellow">{{h}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

                <clr-datagrid class="datagrid-compact" *ngIf="hist.results == ''" style="width:100px">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell style="font-size:x-small;background-color:lightgoldenrodyellow">Y</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

              </div>
              <div *ngIf=" hist.benName.trim() == 'FISSURE SEALANT' ">
                <clr-datagrid class="datagrid-compact" *ngIf="hist.results != ''">
                  <clr-dg-column style="width:25px">Practice</clr-dg-column>
                  <clr-dg-column>Tooth No</clr-dg-column>
                  <clr-dg-column style="width:25px">Service Date</clr-dg-column>
                  <clr-dg-row *ngFor="let r of hist.results">
                    <clr-dg-cell *ngFor="let h of this.SplitResults(r)" style="font-size:x-small;background-color:lightgoldenrodyellow">{{h}}</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>

                <clr-datagrid class="datagrid-compact" *ngIf="hist.results == ''" style="width:100px">
                  <clr-dg-column style="width:25px">Eligible</clr-dg-column>
                  <clr-dg-row>
                    <clr-dg-cell style="font-size:x-small;background-color:lightgoldenrodyellow">Y</clr-dg-cell>
                  </clr-dg-row>
                </clr-datagrid>
              </div>
            </clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{this._appService.MembershipService.benHisList.length}} searches</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.MembershipService.allHist = false">OK</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.load" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MembershipService.modelContractShow" [clrModalClosable]="false">
  <h3 class="modal-title text-center">
    <div class="alert alert-warning">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <div class="alert-text">
            WARNING!!!
          </div>
        </div>
      </div>
    </div>
  </h3>
  <div class="modal-body">
    <div *ngFor="let line of this._appService.MembershipService.contractMessage">
      {{line}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MembershipService.modelContractShow = false">
      OK
    </button>
  </div>
</clr-modal>

<div *ngIf="this._appService.MembershipService.EmptyForm==true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MembershipService.EmptyForm=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">The Following Is Required:</h3>
        </div>
        <div class="modal-body">
          <ul *ngFor="let Requirement of this._appService.MembershipService.Requirements">
            <li>{{Requirement}}</li>
          </ul>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MembershipService.EmptyForm=false">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._appService.MembershipService.NoMembersFound==true">
  <div class="modal">
    <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button (click)="this._appService.MembershipService.NoMembersFound=false" aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <h3 class="modal-title">No Member Found!!</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                Search Returned with 0 Members.
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" (click)="this._appService.MembershipService.NoMembersFound=false">OK</button>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>
