<div class="clr-row clr-justify-content-center">
  <div class="clr-col-4">
  </div>
  <div class="clr-col-4">
    <span class="clr-example-col-value">
      <h3>
        <b>List of Practices Linked To {{this._appService.LoginService.CurrentLoggedInUser.username}}</b>
      </h3>
    </span>
  </div>
  <div class="clr-col-4">

  </div>
</div>

<div class="clr-row clr-justify-content-center">
  <div class="clr-col-1">
  </div>
  <div class="clr-col-4">
    <span class="clr-example-col-value">
      <div id="ProviderSearch">
        <span class="clr-example-col-value">
          <span class="clr-example-col-value">
            <div class="row">

              <div class="card" style="position:static" joyrideStep="burPrac_1" text="This form is used to check if a practice is linked to you." stepPosition="bottom">
                <div class="card-header">
                  <b>Practice Search</b>.
                </div>
                <div class="card-block">
                  <div class="card-text">
                    <form>
                      <div class="row">
                        <label for="aForm_1">Enter Practice Number(s)</label>
                      </div>
                      <div class="row">
                        <textarea id="formFields_8" rows="8" [(ngModel)]="this._provider" name="ProviderString" #ProviderString="ngModel"
                                  joyrideStep="burPrac_2" text="Enter the practice number here." stepPosition="left"></textarea>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="clr-row">
                    <div class="clr-col-9">
                      <button class="btn btn-primary" [disabled]="EnableSearchForUnregisteredProviders" (click)="ShowMissingProvider()"
                              joyrideStep="burPrac_3" text="Click on this button to view if the practice is linked to you." stepPosition="left">
                        Practice Lookup
                      </button>
                      <button class="btn btn-primary" [disabled]="EnableSearchForUnregisteredProviders" (click)="ShowUnRegisteredProviders()"
                              joyrideStep="burPrac_4" text="Click on this button to see if a practice is not linked to you." stepPosition="left">
                        Not Registered
                      </button>
                      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg tooltip-bottom-right" *ngIf="EnableSearchForUnregisteredProviders">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">
                          Insert a Practice Number To Activate Buttons
                        </span>
                      </a>
                    </div>
                    <div class="clr-col-3">
                      <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 2"
                            (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
                        <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
                      </span>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </span>
        </span>
      </div>
    </span>
  </div>
  <div class="clr-col-6">
    <table class="table" joyrideStep="burPrac_5" text="This is a list of all the practices that are currently linked to you." stepPosition="top">
      <thead>
        <tr>
          <th>Practice Number</th>
          <th>Name/Surname</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let provider of this._appService.LoginService.ProvidersLinkedToBureau">
          <td>{{provider.vendorid}}</td>
          <td>{{provider.vendornm}}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="16" style="text-align: right">{{this._appService.LoginService.ProvidersLinkedToBureau.length}} providers</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div *ngIf="this._providerSearchModalToggler">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">

          <h3 class="modal-title">Remaining Providers</h3>
        </div>
        <div class="modal-body">
          <clr-datagrid>
            <clr-dg-column>Practice Number</clr-dg-column>
            <clr-dg-column>Name/Surname</clr-dg-column>
            <div style="overflow-x:scroll; overflow-x:hidden; height:350px">
              <clr-dg-row *ngFor="let missingprovider of this._missingProviderarray">
                <clr-dg-cell>{{missingprovider.vendorid}}</clr-dg-cell>
                <clr-dg-cell>{{missingprovider.vendornm}}</clr-dg-cell>
              </clr-dg-row>
            </div>
            <clr-dg-footer>{{this._missingProviderarray.length}} providers</clr-dg-footer>
          </clr-datagrid>
        </div>
        <div class="modal-footer">
          <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
            <clr-icon shape="info-circle" size="24"></clr-icon>
            <span class="tooltip-content">
              Kindly note, when copying the information ensure that the excel spreadsheat is formatted to text as this will avoid leading zero's disappearing.
            </span>
          </a>
          <button class="btn btn-primary" type="button" (click)="this._providerSearchModalToggler=false">Ok</button>
          <button class="btn btn-primary" type="button" (click)="copyMessageMissingProviders(this._valueOnclipBoard)" value="click to copy missing providers">Copy this</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._unregisteredProviderModal">
  <div class="modal">
    <div class="modal-dialog modal-xl" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">

          <h3 class="modal-title">List of Unregistered Providers</h3>
        </div>
        <div class="modal-body">
          <clr-datagrid>
            <clr-dg-column>Practice Number's</clr-dg-column>
            <div style="overflow-x:scroll; overflow-x:hidden; height:350px">
              <clr-dg-row *ngFor="let unregisteredprovider of this._notRegistererdproviders">
                <clr-dg-cell>{{unregisteredprovider}}</clr-dg-cell>
              </clr-dg-row>
            </div>
            <clr-dg-footer>{{this._notRegistererdproviders.length}} unregistered providers</clr-dg-footer>
          </clr-datagrid>
        </div>
        <div class="modal-footer">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="btn btn-primary" type="button" (click)="this._unregisteredProviderModal=false">Ok</button>
            <button class="btn btn-primary" type="button" (click)="copyMessageUnregisteredProviders(this._valueOnclipBoard2)" value="click to copy unregistered providers">Copy this</button>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf="this._alreadyRegistered">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Already Registered</h3>
        </div>
        <div class="modal-body">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                The Entered Provider Is Already Linked To Your Bureau.
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button class="btn" type="button" (click)="this._alreadyRegistered=false">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
