<clr-datagrid>
  <clr-dg-column style="width:140px">Service Type</clr-dg-column>
  <clr-dg-column style="width:140px">From Date</clr-dg-column>
  <clr-dg-column style="width:140px">To Date</clr-dg-column>
  <clr-dg-column style="width:140px">Service Code</clr-dg-column>
  <clr-dg-column style="width:140px">Charged</clr-dg-column>
  <clr-dg-column style="width:140px">Quantity</clr-dg-column>
  <clr-dg-column style="width:140px">ToothNumbers</clr-dg-column>
  <clr-dg-column style="width:140px">Modifiers</clr-dg-column>
  <clr-dg-row *clrDgItems="let data of this._appService.ClaimCaptureService.claimDetailList">
    <clr-dg-cell>{{data.PHCODE}}</clr-dg-cell>
    <clr-dg-cell>{{data.FROMDATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{data.TODATE | date:'yyyy-MM-dd'}}</clr-dg-cell>
    <clr-dg-cell>{{data.PROCCODE}}</clr-dg-cell>
    <clr-dg-cell>{{data.BILLED}}</clr-dg-cell>
    <clr-dg-cell>{{data.QTY}}</clr-dg-cell>
    <clr-dg-cell>{{data.toothNumString}}</clr-dg-cell>
    <clr-dg-cell>{{data.ModCodesString}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <div class="clr-row">
      <div class="clr-col-1"></div>
      <div class="clr-col-5"><b>Total Amount Charged: </b>R {{this._appService.ClaimCaptureService.billedAmount| number: '.2'}}</div>
      <div class="clr-col-3"></div>
      <div class="clr-col-3"><b>Detail Lines Added: </b>{{this._appService.ClaimCaptureService.claimDetailList.length}}</div>
    </div>
  </clr-dg-footer>
</clr-datagrid>
