
<!--<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._load" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Retrieving Data...
      </span>
    </p>
  </div>
</clr-modal>-->
<!--<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">...</span>
          <div class="alert-actions">
            <a href="..." class="alert-action">Acknowledge</a>
            <a href="..." class="alert-action">Reset to green</a>
          </div>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
  <div class="clr-col-2"></div>
</div>-->

<div class="clr-row">
  <div class="clr-col-sm-12">
    <h1>Get in contact:</h1>
  </div>
</div>

<div class="clr-row" *ngIf="(this._appService.SettingService.AllDetails) || (this._appService.SettingService.DRCDetails)">
      
  <div class="clr-col-xl-8 clr-offset-xl-2" joyrideStep="firstStep" text="This is the contact details DRC" stepPosition="left">
    <table class="table ">
      <tbody>
        <tr>
          <td class="center" rowspan="7" width="445" height="290">
            <img src="assets/DRC_Logo.png" alt="DRC logo" height="275" width="300">
          </td>
          <td style="border-bottom:none; background-color:#D9E4EA;" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("DRCcentre")}}</b></td>
          <td style="border-bottom: none; text-align: left">{{this._appService.SettingService.GetSettingsDashboard("DRCcallnum")}}</td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>{{this._appService.SettingService.GetSettingsDashboard("genEnqTitl")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('EnquEmail')}}">{{this._appService.SettingService.GetSettingsDashboard("EnquEmail")}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("profEnq")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('profEnqEml')}}">{{this._appService.SettingService.GetSettingsDashboard("profEnqEml")}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>{{this._appService.SettingService.GetSettingsDashboard("authReqTit")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('authEmail')}}">{{this._appService.SettingService.GetSettingsDashboard('authEmail')}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("claimtitle")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('claimEmail')}}">{{this._appService.SettingService.GetSettingsDashboard('claimEmail')}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>Street Address</b></td>
          <td style="border-bottom:none;border-top:none; text-align: left ">{{this._appService.SettingService.GetSettingsDashboard("DRCPAMCStreetAddress")}}</td>
        </tr>
        <tr>
          <td style="border-top:none;background-color:#D9E4EA" width="445"><b>Postal Address</b></td>
          <td style="border-top:none;text-align: left ">{{this._appService.SettingService.GetSettingsDashboard("DRCPAMCPostalAddress")}}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <!--<div class="alert alert-info" role="alert" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Do you want to check member eligibility and do benefit confirmations,
            click on the <span style="font-size:medium"><i><b>Membership</b></i></span> tab. Once you've done a member eligibility check, a
            <span style="font-size:medium"><i><b>Benefit Confirmation</b></i></span> tab will appear where you can confirm benefits.
          </span>
        </div>
      </div>
    </div>-->
  </div>
      
</div>
<div class="clr-row" *ngIf="(this._appService.SettingService.AllDetails) || (this._appService.SettingService.PAMCDetails)">
      
  <div class="clr-col-xl-8 clr-offset-xl-2" joyrideStep="secondStep" text="This is the contact details of PAMC" stepPosition="left">
    <table class="table">
      <tbody>
        <tr></tr>
        <tr>
          <td class="center" rowspan="7" width="445" height="290">
            <img src="assets/PAMC - Logo.png" alt="PAMC logo"
                 height="255" width="400">
          </td>
          <td style="border-bottom:none; background-color:#D9E4EA;" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("PAMCCallCentreTitle")}}</b></td>
          <td style="border-bottom: none; text-align: left">{{this._appService.SettingService.GetSettingsDashboard("PAMCCallCentreNum")}}</td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>{{this._appService.SettingService.GetSettingsDashboard("PAMCGenEquiriesTitle")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left"> <a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('PAMCGenEnquiriesMail')}}">{{this._appService.SettingService.GetSettingsDashboard("PAMCGenEnquiriesMail")}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("PAMCProvEnquiriesTitle")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('PAMCProvEnquiriesMail')}}">{{this._appService.SettingService.GetSettingsDashboard("PAMCProvEnquiriesMail")}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"> <b>{{this._appService.SettingService.GetSettingsDashboard("PAMCAuthTitle")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('PAMCAuthMail')}}">{{this._appService.SettingService.GetSettingsDashboard('PAMCAuthMail')}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top: none; background-color: #D9E4EA" width="445"><b>{{this._appService.SettingService.GetSettingsDashboard("PAMCClaimsTitle")}}</b></td>
          <td style="border-bottom: none; border-top: none; text-align: left "><a href="mailto:{{this._appService.SettingService.GetSettingsDashboard('PAMCClaimsMail')}}">{{this._appService.SettingService.GetSettingsDashboard('PAMCClaimsMail')}}</a></td>
        </tr>
        <tr>
          <td style="border-bottom:none;border-top:none; background-color:#D9E4EA" width="445"><b>Street Address</b></td>
          <td style="border-bottom:none;border-top:none; text-align: left ">{{this._appService.SettingService.GetSettingsDashboard("DRCPAMCStreetAddress")}}</td>
        </tr>
        <tr>
          <td style="border-top:none;background-color:#D9E4EA" width="445"><b>Postal Address</b></td>
          <td style="border-top:none;text-align: left ">{{this._appService.SettingService.GetSettingsDashboard("DRCPAMCPostalAddress")}}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <!--<div class="alert alert-info" role="alert" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Do you want to check member eligibility and do benefit confirmations,
            click on the <span style="font-size:medium"><i><b>Membership</b></i></span> tab. Once you've done a member eligibility check, a
            <span style="font-size:medium"><i><b>Benefit Confirmation</b></i></span> tab will appear where you can confirm benefits.
          </span>
        </div>
      </div>
    </div>-->
  </div>
      
</div>

<!--
<div class="clr-row clr-justify-content-center" style=" position:  relative; " clr-hidden-md-down>
      
  <div class="clr-col-xl-10 clr-offset-xl-1">
    <span class="clr-example-col-value" style="text-align: justify">
      {{this._appService.SettingService.GetSettingsDashboard("accDash")}}          
    </span>       
  </div>
      
</div>
 -->
 
  <!--<div class="clr-col-lg-1">-->
    <!--<button class="btn btn-success" (click) ="onClick()" title=" Click here for a quick tour on this page..."><clr-icon shape="Click here for a quick tour on this page..."></clr-icon> Help</button>-->
    <!--<div class="footer" style="position:fixed; left:0;bottom:0;width:100%;text-align:center;background-color:#D9E4EA">
      <span  style="cursor:pointer"><b><clr-icon shape="lightbulb" class="is-solid"></clr-icon></b></span>
      <br />
    </div>-->
  <!--</div>-->


<!--<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.urlSafe" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>-->
<clr-modal [(clrModalOpen)]="this._appService.LoginService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.SettingService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p style="align-self:center; padding: 24px;">
      <span class="spinner">
        Loading...
      </span>
    </p>
  </div>
</clr-modal>







