<div class="clr-row">
  <div class="clr-col-2">

  </div>
  <div class="clr-col-4">
    <b>Logged in as : {{ this._appService.LoginService.CurrentLoggedInUser.lastname}}</b>
  </div>
  <div class="clr-col-4 text-right">
    <b>Practice number: {{this._appService.LoginService.CurrentLoggedInUser.provID}}</b>
  </div>
  <div class="clr-col-2"></div>

</div>

<div class="clr-row">
  <div class="clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-10 clr-offset-lg-1 clr-col-xl-8 clr-offset-xl-2">
    <div class="clr-row" style="text-align:center">
      <div class="clr-col-lg-12" style="display:inline-block">
        <div class="card">
          <div class="card-header">
            Voucher Redemption
          </div>
          <div class="card-block">
            <div class="card-text">
              <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-10 clr-offset-md-1 clr-col-lg-10 clr-offset-lg-1 clr-col-xl-8 clr-offset-xl-2">
                  <form clrForm [formGroup]="VoucherForm">
                    <div class="clr-row">
                      <div class="clr-col-lg-10">
                        <!--<clr-select-container joyrideStep="vouch_1" title="Health Plan" text="Choose the health plan to which the voucher belongs here." stepPosition="bottom">
                          <label style="white-space:nowrap">Health Plan</label>
                          <select clrSelect formControlName="hp" style="width:250px" (change)="HpChange()">                            
                            <option *ngFor="let list of this._appService.MedivouchService.VoucherHpList" value="{{list.opt}}">{{list.frontFacingOptDesc}}</option> 
                          </select>
                          <clr-control-error>This field is required!</clr-control-error>
                        </clr-select-container>-->
                        <clr-input-container joyrideStep="vouch_2" title="Voucher Number" text="Enter the voucher number provided by the patient here." stepPosition="bottom">
                          <label style="white-space:nowrap">Voucher No</label>
                          <input clrInput type="text" formControlName="membVoucher" style="width:250px" required />
                          <clr-control-error>{{this.membError}}</clr-control-error>
                        </clr-input-container>
                      </div>
                    </div>
                  </form>
                  <br />
                  <!--<div class="clr-row">
                    <div class="clr-col-12" *ngIf="this._appService.MedivouchService.balanceSuccess">
                      <div class="alert alert-success" role="alert">
                        <div class="alert-items">
                          <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                              <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                            </div>
                            <span class="alert-text">The voucher is valid for the amount of  R {{CalculateTotal()}}!!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clr-col-12" *ngIf="this._appService.MedivouchService.balanceFail">
                      <div class="alert alert-danger" role="alert">
                        <div class="alert-items">
                          <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                            </div>
                            <span class="alert-text">The voucher is invalid!!</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->

                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="clr-row">
              <div class="clr-col-9 text-left">
                <button class="btn btn-primary btn-sm " style="height:40px;line-height:12px" [disabled]="!this.VoucherForm.valid"
                        joyrideStep="vouch_3" title="Validate Voucher" text="Click on this button to validate the voucher number entered."
                        (click)="VoucherRedemption()">
                  Validate<br />Voucher
                </button>
                <button class="btn btn-warning btn-sm " style="height:40px;line-height:12px"
                        joyrideStep="vouch_4" title="Clear Fields" text="Click here to clear all fields."
                        (click)="Clear()">
                  Clear All<br />Fields
                </button>
                <button class="btn btn btn-sm " style="height:40px;line-height:12px"
                        joyrideStep="vouch_5" title="Voucher History" text="Click here to view you voucher redemption history."
                        (click)="GetVoucherRedemtionHistory()">
                  Voucher<br />History
                </button>
                <!--<button class="btn btn btn-sm " style="height:40px;line-height:12px" joyrideStep="vouch_6"
                        [disabled]="this.VoucherForm.get('hp').value == null || this.VoucherForm.get('hp').value == '' "
                        title="Voucher Baskets" text="Click here to view all the available baskets."
                        (click)="this._appService.MedivouchService.GetBasketHeaders()">View Voucher <br />Baskets
                </button>-->
              </div>
              <div class="clr-col-3">
                <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1 || this._appService.LoginService.CurrentLoggedInUser.userType == 6"
                      (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
                  <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="clr-row footer" style="position:fixed;bottom:5%;height:275px;width:100%">
  <div class="clr-col-lg-4 image1" style="background: url('../../../assets/DRC_Logo.png') no-repeat center;background-size:55%">
  </div>
  <div class="clr-col-lg-4 image1" style="background: url('../../../assets/MediVouch-Light5.png') no-repeat center; background-size: 70% ">

  </div>
  <div class="clr-col-lg-4 image1" style="background: url('../../../assets/PAMC-Logo.png') no-repeat center; background-size: 70% ">


  </div>

</div>-->


<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.voucherCodes" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title text-center">VOUCHER REDEMPTION</h3>

  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-7">
        <div class="clr-row">
          <div class="clr-col-12">
            <br />
            <h4 style="color:darkblue"><b>{{this.GetHeadDesc()}}</b></h4>
            <br />
            <h5><b>Voucher No:</b> {{this.GetVoucherCode()}} </h5>
            <!--<h5><b>Voucher Total: <span style="color:forestgreen">R {{CalculateTotal()}}</span></b> </h5>-->
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-12">
            <form [formGroup]="DiagForm">
              <clr-select-container *ngIf="this._appService.MedivouchService.diagCodes.length>2">
                <label>ICD10 Code</label>
                <select clrSelect formControlName="DiagCode">
                  <option> </option>
                  <option *ngFor="let code of this._appService.MedivouchService.diagCodes">{{code}}</option>
                </select>
              </clr-select-container>
              <clr-input-container *ngIf="this._appService.MedivouchService.diagCodes.length<2">
                <label>ICD10 Code</label>
                <input clrInput formControlName="DiagCode" (blur)="DiagBlur()" />
                <clr-control-helper>{{this._appService.ClaimCaptureService.dataBaseMessageDiagC1}}</clr-control-helper>
              </clr-input-container>
            </form>
          </div>
        </div>

      </div>
      <div class="clr-col-1"></div>
      <div class="clr-col-4">
        <!--<img src="../../../../../assets/MediVouch-Light4.png" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1" />-->
        <!--<img src="../../../../../assets/DRC_Logo.png" alt="DRC logo" height="275" width="300" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 6">-->
      </div>

    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-lg-12">
        <clr-datagrid>
          <clr-dg-column style="width:120px">Procedure Code</clr-dg-column>
          <clr-dg-column style="width:200px">Description</clr-dg-column>
          <clr-dg-column style="width:120px" *ngIf="this._appService.LoginService.isDentist">
            Tooth No
          </clr-dg-column>
          <clr-dg-column style="width:80px">Qty</clr-dg-column>
          <clr-dg-column style="width:120px">Single Unit Price</clr-dg-column>
          <clr-dg-column style="width:100px">Total</clr-dg-column>
          <clr-dg-placeholder>No codes captured yet!</clr-dg-placeholder>
          <clr-dg-row *ngFor="let code of this._appService.MedivouchService.groupDetail">
            <clr-dg-cell style="text-align:center">{{code.code}}</clr-dg-cell>
            <clr-dg-cell>{{code.desc}}</clr-dg-cell>
            <clr-dg-cell *ngIf="!code.enterTooth && this._appService.LoginService.isDentist" style="text-align:center">N/A</clr-dg-cell>
            <clr-dg-cell *ngIf="code.enterTooth && this._appService.LoginService.isDentist">
              <form clrForm [formGroup]="ToothFrm">
                <clr-input-container>
                  <input clrInput style="width:80px" type="text" formControlName="tooth" (blur)="ToothBlur(code.code)" required />
                  <clr-control-helper>
                    <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                      <clr-icon shape="info-circle" size="16"></clr-icon>
                      <span class="tooltip-content" style="background-color:lightgray;color:black;border-color:grey">Should you need to enter more than one tooth number seperate them by using a comma. </span>
                    </a>
                  </clr-control-helper>
                </clr-input-container>
              </form>
            </clr-dg-cell>
            <clr-dg-cell style="text-align:center;">{{code.defaultQty}}</clr-dg-cell>
            <clr-dg-cell style="text-align:center">R {{code.price}}</clr-dg-cell>
            <clr-dg-cell style="text-align:center">R {{code.total}}</clr-dg-cell>

          </clr-dg-row>
          <!--<clr-dg-footer>
            <clr-dg-row>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>
              <clr-dg-cell></clr-dg-cell>

              <clr-dg-cell><b></b></clr-dg-cell>
            </clr-dg-row>
          </clr-dg-footer>-->

        </clr-datagrid>

      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-12 text-right">
        <h5><b>Voucher Total: <span style="color:forestgreen">R {{CalculateTotal()}}&nbsp;&nbsp;&nbsp;&nbsp;</span></b> </h5>
      </div>
    </div>

    <br />
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-primary" *ngIf="!this._appService.SettingService.GetSettingEnabled('AllowMedivouch')" (click)="this._appService.MedivouchService.voucherCodes = false;    this._appService.MedivouchService.balanceFail = false;
    this._appService.MedivouchService.balanceSuccess = false; this.RedeemVoucher()">
      Redeem
    </button> ToothFrmValidator-->
    <button type="button" class="btn btn-success" *ngIf="!ToothFrmValidator" (click)="this._appService.MedivouchService.BenDetails = true;"
            [disabled]=" !this.DiagForm.get('DiagCode').valid || this._appService.ClaimCaptureService.dataBaseMessageDiagC1 == 'Invalid Diagnostic code' ">
      Redeem
    </button>
    <button type="button" class="btn btn-success" *ngIf="ToothFrmValidator" (click)="this._appService.MedivouchService.BenDetails = true;"
            [disabled]="this.enableRedeem">
      Redeem
    </button>
    <button type="button" class="btn btn-primary" (click)="this._appService.MedivouchService.voucherCodes = false; this.AddToHistory()">
      Reserve
    </button>
    <button type="button" class="btn btn-danger" (click)="this._appService.MedivouchService.voucherCodes = false;this._appService.MedivouchService.balanceFail = false;
    this._appService.MedivouchService.balanceSuccess = false;">
      Cancel
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.teethNo" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Error!!</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    One of the Thooth numbers entered is incorrect!!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MedivouchService.teethNo = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.showHistory" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title text-center">VOUCHER REDEMPTION HISTORY</h3>

  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">
        <clr-datagrid>
          <clr-dg-column>
            Voucher No
          </clr-dg-column>
          <clr-dg-column>
            Patient ID
          </clr-dg-column>
          <clr-dg-column>
            Total Redeemed
          </clr-dg-column>
          <clr-dg-column>
            Date Redeemed
          </clr-dg-column>
          <clr-dg-row *ngFor="let vouch of this._appService.MedivouchService.voucherRedemtionHist">
            <clr-dg-cell>{{vouch.mediRef}}</clr-dg-cell>
            <clr-dg-cell>{{vouch.membId}}</clr-dg-cell>
            <clr-dg-cell>R {{vouch.total}}</clr-dg-cell>
            <clr-dg-cell>{{vouch.drcRef}}</clr-dg-cell>

          </clr-dg-row>
        </clr-datagrid>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-primary" *ngIf="this._appService.MedivouchService.allowSkip" (click)="this.RedeemVoucher() ">
      Skip
    </button>-->
    <button type="button" class="btn btn-success" (click)="this.showHistory = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.BenDetails" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title text-center">VOUCHER PATIENT DETAILS</h3>

  <div class="modal-body">
    <div class="clr-row">
      <div class="clr-col-12">

        <div class="alert alert-info" role="alert" *ngIf="this._appService.MedivouchService.allowSkip">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">
                This patient's details already exist on our system, please click on <b>SUBMIT</b> to continue.
              </span>
            </div>
          </div>
        </div>

        <!--<div class="alert alert-info" role="alert" *ngIf="this._appService.MedivouchService.allowSkip && this._appService.MedivouchService.isSchemeMember">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">
                This patient is/was a member of the scheme and their details already exist on our system, please click on <b>SUBMIT</b> to continue.
              </span>
            </div>
          </div>
        </div>-->

        <div class="alert alert-info" role="alert" *ngIf="this._appService.MedivouchService.isSchemeMember && !this._appService.MedivouchService.allowSkip">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">
                This patient is/was a member of the scheme and their details already exist on our system, please select a dependant and then click on <b>SUBMIT</b> to continue.
              </span>
            </div>
          </div>
        </div>

        <div class="alert alert-info" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">
                The remittance reference for this voucher will be <b>{{this._appService.MedivouchService.voucherNo}}</b>
              </span>
            </div>
          </div>
        </div>

        <form clrForm [formGroup]="BeneficiaryFrm">
          <clr-input-container>
            <label>Patient ID No or Policy Number</label>
            <input clrInput formControlName="IDNo" maxlength="15" (blur)="ConfirmID()" />
            <!--<clr-control-helper style="color: rgb(255,0,0)" *ngIf="BeneficiaryFrm.get('IDNo').touched && BeneficiaryFrm.get('IDNo').valid">{{'Remittance Ref: ' + BeneficiaryFrm.get('IDNo').value + '_' + this._appService.MedivouchService.basketId}}</clr-control-helper>-->
          </clr-input-container>
          <clr-select-container *ngIf="this._appService.MedivouchService.isSchemeMember && !this._appService.MedivouchService.allowSkip">
            <label style="white-space:nowrap">Dependant</label>
            <select clrSelect formControlName="dependant" style="width:250px" (change)="DependantChange()">
              <option *ngFor="let list of this._appService.MedivouchService.dependantList"
                      value="{{list.dependant}}">
                {{list.dependant}} - {{list.firstname}}
              </option>
            </select>
            <clr-control-error>This field is required!</clr-control-error>
          </clr-select-container>
          <clr-input-container>
            <label>Patient Firstname</label>
            <input clrInput formControlName="FirstName" [(ngModel)]="this._appService.MedivouchService.benName" />
          </clr-input-container>
          <clr-input-container>
            <label>Patient Lastname</label>
            <input clrInput formControlName="LastName" [(ngModel)]="this._appService.MedivouchService.benSurname" />
          </clr-input-container>
          <clr-input-container>
            <label>Patient Contact No</label>
            <input clrInput formControlName="contact" [(ngModel)]="this._appService.MedivouchService.benContact" />
          </clr-input-container>
        </form>

        <!--<div class="clr-col-5">
    <div class="alert alert-info" role="alert" *ngIf="this._appService.MedivouchService.allowSkip">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            This patient's details already exists on our system, please click on <b>SUBMIT</b> to continue, any changes made will be updated on our system...
          </span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>-->

      </div>
    </div>
  </div>

  <div class="modal-footer">

    <!--<button type="button" class="btn btn-primary" *ngIf="this._appService.MedivouchService.allowSkip" (click)="this.RedeemVoucher() ">
      Skip
    </button>-->
    <button type="button" class="btn btn-success" (click)="this.RedeemVoucher()" [disabled]="!this.BeneficiaryFrm.valid">
      Submit
    </button>
    <button type="button" class="btn btn-warning" (click)="CancelPatientDetails()">
      Cancel
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<!--<clr-modal [(clrModalOpen)]="this.busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body text-center" style="padding: 24px;">
    <span class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>-->

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.success" [clrModalClosable]="false">
  <h3 class="modal-title text-center">SUCCESS</h3>
  <div class="modal-body text-center">
    <span>
      The voucher {{this.GetVoucherCode()}}
      was successfully redeemed and
      will be visible on the portal within 24 hours and paid within 7 days.
      <br />
      The claim will be vissible under Submissions -> View Claims<br />
      <img src="assets/NavigateMedi.png" style="width:65%;height:65%"/>

    </span>
    <!--<span>{{this._appService.MedivouchService.errorMessage}}</span>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MedivouchService.success = false">
      OK
    </button>

  </div>

</clr-modal>

<clr-modal [(clrModalOpen)]="this.diagCodeError" [clrModalClosable]="false">
  <h3 class="modal-title text-center">ERROR</h3>
  <div class="modal-body text-center">
    <span>
      Please enter or select a ICD10 code.
    </span>
    <!--<span>{{this._appService.MedivouchService.errorMessage}}</span>-->
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="this.diagCodeError = false;this._appService.MedivouchService.BenDetails = false;">
      OK

    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this.toothNumberError" [clrModalClosable]="false">
  <h3 class="modal-title text-center">ERROR</h3>
  <div class="modal-body text-center">
    <span>
      {{this.toothError}}
    </span>
    <!--<span></span>-->
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" (click)="this.toothNumberError = false;this.this.toothError = ''">
      OK

    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.showBaskets" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title text-center">BASKET DETAILS</h3>
  <div class="modal-body text-center">

    <clr-accordion *ngFor="let head of this._appService.MedivouchService.basketLists">

      <clr-accordion-panel>

        <clr-accordion-title>{{head.desc}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:forestgreen;font-weight:bolder">R {{this.GetTotalView(head.id)}}</span></clr-accordion-title>
        <clr-accordion-content *clrIfExpanded="GetBasketDetails(head.id)">

          <clr-datagrid>
            <clr-dg-column style="width:120px">Procedure Code</clr-dg-column>
            <clr-dg-column style="width:200px">Description</clr-dg-column>
            <clr-dg-column style="width:120px" *ngIf="this._appService.LoginService.isDentist">
              Tooth No
            </clr-dg-column>
            <clr-dg-column style="width:80px">Qty</clr-dg-column>
            <clr-dg-column style="width:120px">Single Unit Price</clr-dg-column>
            <clr-dg-column style="width:100px">Total</clr-dg-column>
            <clr-dg-placeholder>No codes captured yet!</clr-dg-placeholder>
            <clr-dg-row *ngFor="let code of this.detailsOfBasket">
              <clr-dg-cell style="text-align:center">{{code.code}}</clr-dg-cell>
              <clr-dg-cell>{{code.desc}}</clr-dg-cell>
              <clr-dg-cell *ngIf="!code.enterTooth && this._appService.LoginService.isDentist" style="text-align:center">N/A</clr-dg-cell>
              <clr-dg-cell *ngIf="code.enterTooth && this._appService.LoginService.isDentist">
                Tooth Number Required
              </clr-dg-cell>
              <clr-dg-cell style="text-align:center;">{{code.defaultQty}}</clr-dg-cell>
              <clr-dg-cell style="text-align:center">R {{code.price}}</clr-dg-cell>
              <clr-dg-cell style="text-align:center">R {{code.total}}</clr-dg-cell>

            </clr-dg-row>
          </clr-datagrid>

        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MedivouchService.showBaskets = false">
      OK
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.MedivouchService.error" [clrModalClosable]="false">
  <h3 class="modal-title">An Error has occured</h3>
  <div class="modal-body">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Oops!! It looks like something went wrong</span>
        </div>
      </div>
    </div>
    <span>{{this._appService.MedivouchService.errorMessage}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.MedivouchService.error = false">
      OK
    </button>
  </div>
</clr-modal>

<div *ngIf=" this._appService.MedivouchService.voucherError == true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Voucher Validation Failed</h3>
        </div>
        <div class="modal-body">
          <p style="font-size:large;color:red">
            <i>{{ this._appService.MedivouchService.voucherErrorMsg}}</i>
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.MedivouchService.voucherError = false">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div *ngIf=" this._appService.MedivouchService.voucherRedeemError == true">
  <div class="modal">
    <div class="modal-dialog" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Voucher Redemption Failed</h3>
        </div>
        <div class="modal-body">
          <p style="font-size:large;color:red">
            <i>{{ this._appService.MedivouchService.voucherRedeemErrorMsg}}</i>
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" (click)="this._appService.MedivouchService.voucherRedeemError = false">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
