<div class="clr-row">
  <div class="clr-col-xl-10 clr-offset-xl-1">

    <div class="card">

      <div class="card-header">
        Chronic Condition Submissions
      </div>

      <table class="table" style="width: 97%; margin-left: auto; margin-right: auto" *ngIf="submissionHistory.length > 0">
        <thead>
          <tr>
            <th>Application No</th>
            <th>Condition</th>
            <th>Member No</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Status</th>
            <th style="width:20px">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of submissionHistory">
            <td class="ellipsis2"><span>{{item.conditionApplicationNumber}}</span></td>
            <td class="ellipsis2"><span>{{item.conditionDescription}}</span></td>
            <td class="ellipsis2"><span>{{item.membId}}</span></td>
            <td class="ellipsis2"><span>{{item.membFirstName}}</span></td>
            <td class="ellipsis2"><span>{{item.membLastName}}</span></td>
            <td class="ellipsis2"><span>{{item.status}}</span></td>
            <td style="width: 20px; text-align: center;">
              <button type="button"
                      class="btn btn-icon btn-sm"
                      title="View Submission"
                      (click)="viewSubmittedApplication(item.conditionApplicationNumber)">
                <clr-icon shape="search"></clr-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="submissionHistory.length < 1">
        <p style="margin-left: 20px">No previous chronic condition applications found.</p>
      </div>

      <br />

    </div> <!--card-->

  </div> <!--col-->
</div> <!--row-->
<!-- Modal: View a submitted Application -->
<div class="modal" *ngIf="this.showSubmittedAppModal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.showSubmittedAppModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Chronic Condition Submission</h3>
      </div>
      <div class="modal-body">

        <app-chronic-cond-detail-view></app-chronic-cond-detail-view>

      </div> <!--modal-body-->
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this.showSubmittedAppModal = false">Close</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<!--busy spinner-->
<clr-modal [(clrModalOpen)]="this.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>

<!-- Modal: general error -->
<div class="modal" *ngIf="this.error">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this.closeErrorMessage()">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this.errorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this.errorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this.closeErrorMessage()">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>
