<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.biometricForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').valid">      

  <h4 style="font-weight: 900"><b>Base Biometric</b></h4>

  <div class="clr-row">

    <div class="clr-col-lg-6">

      <h5><b>BMI</b></h5>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="height">Height (cm)</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="height"
                   maxlength="7"
                   formControlName="height"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, inputHeight)" #inputHeight
                   (blur)="this._appService.ChronicConditionService.calcBmi()" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('height').touched && !this._appService.ChronicConditionService.biometricForm.get('height').valid">
            This field requires valid data
          </span>
             
          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.height}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.height}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="weight">Weight (kg)</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="weight"
                   maxlength="7"
                   formControlName="weight"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, weight)" #weight
                   (blur)="_appService.ChronicConditionService.calcBmi()" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('weight').touched && !this._appService.ChronicConditionService.biometricForm.get('weight').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.weight}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.weight}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="bmi">BMI</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="bmi"
                   maxlength="7"
                   formControlName="bmi"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, BMI)" #BMI />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('bmi').touched && !this._appService.ChronicConditionService.biometricForm.get('bmi').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.bmi}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.bmi}}
          </span>

        </div>
      </div>

    </div> <!--col-->

    <div class="clr-col-lg-6">

      <h5><b>Lipogram (all values in mmol/L)</b></h5>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="cholesterolTotal">Total Chol</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="cholesterolTotal"
                   maxlength="7"
                   formControlName="cholesterolTotal"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, cholTotal)" #cholTotal />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('cholesterolTotal').touched && !this._appService.ChronicConditionService.biometricForm.get('cholesterolTotal').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.cholesterolTotal}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.cholesterolTotal}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="cholesterolHDL">HDL</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="cholesterolHDL"
                   maxlength="7"
                   formControlName="cholesterolHDL"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, cholHDL)" #cholHDL
                   (blur)="_appService.ChronicConditionService.calcLdlHdlRatio()" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('cholesterolHDL').touched && !this._appService.ChronicConditionService.biometricForm.get('cholesterolHDL').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.cholesterolHDL}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.cholesterolHDL}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="cholesterolLDL">LDL</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="cholesterolLDL"
                   maxlength="7"
                   formControlName="cholesterolLDL"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, cholLDL)" #cholLDL
                   (blur)="_appService.ChronicConditionService.calcLdlHdlRatio()" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('cholesterolLDL').touched && !this._appService.ChronicConditionService.biometricForm.get('cholesterolLDL').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.cholesterolLDL}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.cholesterolLDL}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="cholesterolTRI">TRIG</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="cholesterolTRI"
                   maxlength="7"
                   formControlName="cholesterolTRI"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, cholTRI)" #cholTRI />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('cholesterolTRI').touched && !this._appService.ChronicConditionService.biometricForm.get('cholesterolTRI').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.cholesterolTRI}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.cholesterolTRI}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="cholesterolLdlHdlRatio">HDL-LDL ratio</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="cholesterolLdlHdlRatio"
                   maxlength="7"
                   formControlName="cholesterolLdlHdlRatio"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, cholHdlLdl)" #cholHdlLdl />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('cholesterolLdlHdlRatio').touched && !this._appService.ChronicConditionService.biometricForm.get('cholesterolLdlHdlRatio').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.cholesterolLdlHdlRatio}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.cholesterolLdlHdlRatio}}
          </span>

        </div>
      </div>

    </div>  <!--clr-col-lg-6-->
  </div> <!--row-->

  <div class="clr-row">

    <div class="clr-col-lg-6">

      <h5><b>Blood Pressure</b></h5>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="bloodPresSystolic">Systolic</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="3"
                   id="bloodPresSystolic"
                   formControlName="bloodPresSystolic"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, bloodPresSystolic)" #bloodPresSystolic />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('bloodPresSystolic').touched && !this._appService.ChronicConditionService.biometricForm.get('bloodPresSystolic').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.bloodPresSystolic}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.bloodPresSystolic}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="bloodPresDiastolic">Diastolic</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="3"
                   id="bloodPresDiastolic"
                   formControlName="bloodPresDiastolic"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, bloodPresDiastolic)" #bloodPresDiastolic />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('bloodPresDiastolic').touched && !this._appService.ChronicConditionService.biometricForm.get('bloodPresDiastolic').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.bloodPresDiastolic}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.bloodPresDiastolic}}
          </span>

        </div>
      </div>

    </div> <!--clr-col-lg-6-->

    <div class="clr-col-lg-6">

      <h5><b>Diabetes</b></h5>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value != 'DIAB' ">
        <!-- only give user a choice if condition selected is not diabetes, other wise control value will alway be Y -->
        <label class="clr-control-label clr-col-sm-6">Does the patient have diabetes?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-6">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="diabetesYes" value="Y" formControlName="diabetesYN" />
            <label for="diabetesYes" class="clr-control-label">Yes&emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="diabetesNo" value="N" formControlName="diabetesYN" />
            <label for="diabetesNo" class="clr-control-label">No&emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').touched && !this._appService.ChronicConditionService.biometricForm.get('diabetesYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-6">Type of Diabetes</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="diabetesType1" value="diabetesType1" formControlName="diabetesType" />
            <label for="diabetesType1" class="clr-control-label">Type 1 diabetes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="diabetesType2" value="diabetesType2" formControlName="diabetesType" />
            <label for="diabetesType2" class="clr-control-label">Type 2 diabetes &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesType').touched && !this._appService.ChronicConditionService.biometricForm.get('diabetesType').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' &&
                                                    this._appService.ChronicConditionService.biometricForm.get('diabetesType').value == 'diabetesType1' &&
                                                     this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp' &&
                                                      this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'DIAB' ">
        <label class="clr-control-label clr-col-sm-6" for="ogttResult">OGTT result (mg/dL)</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="ogttResult"
                   maxlength="4"
                   formControlName="ogttResult"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, ogttRes)" #ogttRes />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('ogttResult').touched && !this._appService.ChronicConditionService.biometricForm.get('ogttResult').valid">
            This field requires valid data
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' &&
                                                    this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp' &&
                                                      this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'DIAB' ">
        <label class="clr-control-label clr-col-sm-6" for="fastingGlucoseResult">Fasting glucose result (mg/dL)</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="fastGlucoseResult"
                   maxlength="4"
                   formControlName="fastingGlucoseResult"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, fastGlucResult)" #fastGlucResult />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('fastingGlucoseResult').touched && !this._appService.ChronicConditionService.biometricForm.get('fastingGlucoseResult').valid">
            This field requires valid data
          </span>          

        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' &&
                                                    this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' &&
                                                      this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'DIAB' ">
        <label class="clr-control-label clr-col-sm-6" for="HbA1c">Most recent HbA1c results %</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="HbA1c"
                   maxlength="7"
                   formControlName="HbA1c"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, HbA1c)" #HbA1c />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('HbA1c').touched && !this._appService.ChronicConditionService.biometricForm.get('HbA1c').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined && this._appService.ChronicConditionService.ApprovedApplication.diabetesType == 'Type1' ">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} OGTT Result: {{this._appService.ChronicConditionService.ApprovedApplication.ogttResult}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined ">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Fasting Glucose Result: {{this._appService.ChronicConditionService.ApprovedApplication.fastingGlucoseResult}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest HbA1c Result: {{this._appService.ChronicConditionService.LatestUpdate.HbA1c}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-6" for="randomGlucoseResult">Random glucose result (mg/dL)</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="randGlucoseResult"
                   maxlength="4"
                   formControlName="randomGlucoseResult"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, randGlucResult)" #randGlucResult />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('randomGlucoseResult').touched && !this._appService.ChronicConditionService.biometricForm.get('randomGlucoseResult').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.randomGlucoseResult}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.randomGlucoseResult}}
          </span>

        </div>
      </div>

      <!--<div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesType').value == 'diabetesType2'">
    <label class="clr-control-label clr-col-sm-6">Type of Test</label>
    <div class="clr-control-container  clr-col-sm-6">
      <div class="clr-radio-wrapper">
        <input class="clr-radio" type="radio" id="fastingTestDM" value="fasting" formControlName="fastingOrRandom" />
        <label for="fastingTestDM" class="clr-control-label">Fasting &emsp;</label>
      </div>
      <div class="clr-radio-wrapper">
        <input class="clr-radio" type="radio" id="randomTestDM" value="random" formControlName="fastingOrRandom" />
        <label for="randomTestDM" class="clr-control-label">Random glucose &emsp;</label>
      </div>
      <div class="clr-subtext-wrapper">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf=" this._appService.ChronicConditionService.biometricForm.get('fastingOrRandom').touched && !this._appService.ChronicConditionService.biometricForm.get('fastingOrRandom').valid">
          Please select an option
        </span>
      </div>
    </div>
  </div>

  <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabetesType').value == 'diabetesType2' ">
    <label class="clr-control-label clr-col-sm-6" for="fastOrRandResult">Test result (mg/dL)</label>
    <div class="clr-control-container clr-col-sm-6">
      <div class="clr-input-wrapper">
        <input class="clr-input"
               type="text"
               id="fastOrRandResult"
               maxlength="4"
               formControlName="fastingOrRandomResult"
               (keydown)="this._appService.ValidationService.onlyIntInput($event, fastRandResult)" #fastRandResult />
      </div>
      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('fastingOrRandomResult').touched && !this._appService.ChronicConditionService.biometricForm.get('fastingOrRandomResult').valid">
        This field requires valid data
      </span>

      <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
        {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.fastOrRandResult}}
      </span>

      <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
        {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.fastOrRandResult}}
      </span>

    </div>
  </div>-->

      <div class="clr-form-control clr-row" *ngIf=" this._appService.ChronicConditionService.biometricForm.get('diabetesYN').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-6" for="DiabTestDate">Date of test</label>
        <div class="clr-control-container clr-col-sm-6">
          <div class="clr-date">
            <input class="clr-input"
                   type="date"
                   max="9999-12-31"
                   id="DiabTestDate"
                   formControlName="diabTestDate"
                   (blur)="this._appService.ChronicConditionService.biometricForm.get('diabTestDate').setValue(DiabTestDate.value)" #DiabTestDate />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.biometricForm.get('diabTestDate').touched && !this._appService.ChronicConditionService.biometricForm.get('diabTestDate').valid">
            Valid current or past date required
          </span>

        </div>
      </div>

      <!--<div class="clr-form-control clr-row">
    <label class="clr-control-label clr-col-12 clr-col-sm-6" for="patientSmokeInPast">Did the patient smoke in the past?</label>
    <div class="clr-control-container clr-control-inline clr-col-12 clr-col-sm-6">
      <div class="clr-radio-wrapper">
        <input class="clr-radio" type="radio" id="smokeInPastYes" value="Y" formControlName="patientSmokeInPast" />
        <label for="smokeInPastYes" class="clr-control-label">Yes&emsp;</label>
      </div>
      <div class="clr-radio-wrapper">
        <input class="clr-radio" type="radio" id="smokeInPastNo" value="N" formControlName="patientSmokeInPast" />
        <label for="smokeInPastNo" class="clr-control-label">No&emsp;</label>
      </div>
      <div class="clr-subtext-wrapper">
        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="biometricForm.get('patientSmokeInPast').touched && !biometricForm.get('patientSmokeInPast').valid">
          Please select an option
        </span>
      </div>
    </div>
  </div>

  <div class="clr-form-control clr-row" *ngIf="biometricForm.get('patientSmokeInPast').value == 'Y' ">
    <label class="clr-control-label clr-col-sm-6" for="cessationDate">Date of Cessation</label>
    <div class="clr-control-container clr-col-sm-6">
      <div class="clr-date">
        <input class="clr-input"
               type="date"
                max="9999-12-31"
               id="cessationDate"
               formControlName="cessationDate"
               (blur)="biometricForm.get('cessationDate').setValue(cessationDate.value)" #cessationDate />
      </div>
      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="biometricForm.get('cessationDate').touched && !biometricForm.get('cessationDate').valid">
        Valid date required
      </span>
    </div>
  </div>-->

    </div> <!--clr-col-lg-6-->

  </div> <!--row-->
</form>

