<div *ngIf="this._appService.LoginService.isDentist == true">
  <div class="clr-row">
    <div class="clr-col-10"></div>
    <div class="clr-col-2">
      <!--<div class="clr-col text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD"
            *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
        <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
              (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <br />
          <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
        </span>
      </div>-->
    </div>
  </div>
  <div class="clr-row">
    <div class="col-sm-12">
      <h1>Operational Manuals:</h1>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-sm-10 clr-offset-sm-2 clr-col-xl-5 clr-offset-xl-1" joyrideStep="ops_1" text="To download an operational manual for 2020 click on the manual you wish to download." stepPosition="top">
      <h3>{{this.GetPreviousYear()}} Operational Manuals</h3>
      <ul class="OpsManualList" *ngFor="let manual of this._appService.LoginService.OosManuls2019">
        <li><a href=".\assets\OpsManuals\{{this.GetPreviousYear()}}\{{manual.fileLink}}" target="_blank">{{manual.fileName}}</a></li>
      </ul>
    </div>
    <div class="clr-col-sm-10 clr-offset-sm-2 clr-col-xl-5 clr-offset-xl-0" joyrideStep="ops_2" text="To download an operational manual for 2021 click on the manual you wish to download." stepPosition="top">
      <h3>{{this.GetCurrYear()}} Operational Manuals</h3>
      <ul class="OpsManualList" *ngFor="let manual of this._appService.LoginService.OosManuls2020">
        <li><a href=".\assets\OpsManuals\{{this.GetCurrYear()}}\{{manual.fileLink}}" target="_blank">{{manual.fileName}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="this._appService.LoginService.isSpecialist == true">
  <div class="clr-row">
    <div class="clr-col-10"></div>
    <div class="clr-col-2">
      <!--<div class="clr-col text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD"
            *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1">
        <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 1"
              (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <br />
          <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
        </span>
      </div>-->
    </div>
  </div>
  <div class="clr-row">
    <div class="col-sm-12">
      <h1>Provider Guides:</h1>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-sm-10 clr-offset-sm-2 clr-col-xl-5 clr-offset-xl-1" joyrideStep="pg_1" text="To download a provider guide for 2020 click on the guide you wish to download." stepPosition="top">
      <h3>{{this.GetPreviousYear()}} Provider Guides</h3>
      <ul class="ProviderGuideList" *ngFor="let manual of this._appService.LoginService.ProviderGuides2019">
        <li><a href=".\assets\ProviderGuides\{{this.GetPreviousYear()}}\{{manual.fileLink}}" target="_blank">{{manual.fileName}}</a></li>
      </ul>
    </div>
    <div class="clr-col-sm-10 clr-offset-sm-2 clr-col-xl-5 clr-offset-xl-0" joyrideStep="pg_2" text="To download a provider guide for 2021 click on the guide you wish to download." stepPosition="top">
      <h3>{{this.GetCurrYear()}} Provider Guides</h3>
      <ul class="ProviderGuideList" *ngFor="let manual of this._appService.LoginService.ProviderGuides2020">
        <li><a href=".\assets\ProviderGuides\{{this.GetCurrYear()}}\{{manual.fileLink}}" target="_blank">{{manual.fileName}}</a></li>
      </ul>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>
