<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.memberForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff">

  <h4 style="font-weight: 900"><b>Patient</b></h4>

  <div class="clr-row">

    <div class="clr-col-lg-6">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="hp">Fund</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="hp"
                    formControlName="hp">
              <option *ngFor="let list of this._appService.ChronicConditionService.HpContracts" value="{{list.hpcode}}">{{list.hpname}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.memberForm.get('hp').touched && !this._appService.ChronicConditionService.memberForm.get('hp').valid">
            Please select a fund to proceed
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="member">Member No</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="member"
                   formControlName="member"
                   (blur)="this._appService.ChronicConditionService.onMembidChange()">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.memberForm.get('member').touched && !this._appService.ChronicConditionService.memberForm.get('member').valid">
            This field is required
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="dob">Date of Birth</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-date">
            <input class="clr-input"
                   type="date"
                   max="9999-12-31"
                   id="dob"
                   formControlName="dob" />
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.memberForm.get('dob').touched && !this._appService.ChronicConditionService.memberForm.get('dob').valid">
            Please enter a valid date of birth
          </span>
        </div>
      </div>

      <br />

      <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onSearchMemberClick()">Search Member</button>
      <!--<span class="spinner spinner-inline" *ngIf="this._appService.ChronicConditionService.Busy">
        Validating Credentials...
      </span>-->

      <div class="clr-form-control clr-row" *ngIf="_appService.ChronicConditionService.FamilyList.length > 0">
        <label class="clr-control-label clr-col-sm-4" for="dependant">Dependant</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="dependant"
                    formControlName="dependant"
                    (change)="this._appService.ChronicConditionService.dependantSelected()">
              <option *ngFor="let de of this._appService.ChronicConditionService.FamilyList" value="{{de.dependant}}">{{de.dependant}} - {{de.firstnm}} {{de.lastnm}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ChronicConditionService.memberForm.get('dependant').valid">
            Please select a dependant to proceed
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.memberForm.get('dependant').valid">
        <label class="clr-control-label clr-col-sm-4" for="membEmail">Member Email</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   style="width: 100%"
                   type="text"
                   id="membEmail"
                   formControlName="membEmail">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.memberForm.get('membEmail').touched && !this._appService.ChronicConditionService.memberForm.get('membEmail').valid">
            This field is required
          </span>
        </div>
      </div>


    </div> <!--col-->
  </div> <!--row-->

</form>
