<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.documentsForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value != null">

  <h4 style="font-weight: 900"><b>Additional Documents</b></h4>

  <div class="clr-row">   
    <div class="clr-col-12">
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3">Upload any relevant additional documents here</label>
        <div class="clr-control-container clr-col-sm-9">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.AdditionalDocsFiles, this._appService.ChronicConditionService.documentsForm, 'additionalDocs')"
                        (click)="this._appService.ChronicConditionService.documentsForm.get('additionalDocs').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.documentsForm.get('additionalDocs').touched && !this._appService.ChronicConditionService.documentsForm.get('additionalDocs').valid">
            Documents required
          </span>-->

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.AdditionalDocsFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.AdditionalDocsFiles, this._appService.ChronicConditionService.documentsForm, 'additionalDocs')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>

        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
