<!--RejectionReason Model-->
<clr-modal [(clrModalOpen)]="this._appService.SecurityService.rejectModalShow" [clrModalClosable]="false">
  <div class="modal-body" *ngIf="!this._appService.SecurityService._unreverseBtn">
    <app-reject-claim #rejectionReason></app-reject-claim>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.Rejection()">Ok</button>
    <button type="button" class="btn btn-danger" (click)="this.CancelRejection()">Cancel</button>
  </div>
</clr-modal>
<!--End-->
<!--LOADING MODEL-->
<clr-modal [(clrModalOpen)]="this._appService.SecurityService.LoadingModel" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Processing...
      </span>.
    </p>
  </div>
</clr-modal>
<!--END-->
<div class="clr-row">
  <div class="clr-col">
    <div class="card" style="position:static">
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <!--<div class="clr-col-4">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Member Details</span><br />
              <b>Name:</b> &nbsp; {{this._appService.SecurityService.SelectedClaim.memberName}}<br /><br />
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Practice Details</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.practice}}<br />
              <b>SpecCode:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.provspec}}<br />
              <b>Account Number:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.accountNo}}<br /><br />
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Referring Practice Details</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.refProvId}}<br />
              <b>SpecCode:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.specCode}}<br /><br />
              <b>Receive Date :</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.receivedDate}}<br />
            </div>
            <div class="clr-col-5">
              <br />
              <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"><b>GP Visits Year to date</b> &nbsp; {{this._appService.SecurityService.visitCounts | number: '.0' }}</span>
              <br />
              <br />
              <br />
              <b>Name:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.provname}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.provdesc}}<br />
              <br /><br /><br />
              <b>Name:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.refProfName}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.desc}}

            </div>
            <div class="clr-col-3">
              <br />
              <b>Auth Number:</b> &nbsp; {{this._appService.SecurityService.authNo }}
            </div>-->

            <div class="clr-col-lg-6">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Treating Practice</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.practice}}<br />
              <b>Name:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.provname}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.provspec}} - {{this._appService.SecurityService.refProviderInfo.provdesc}}<br />
              <b>Provider Account/Ref Number:</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.accountNo}}<br /> <br />
                            
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Referring Practice</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.refProvId}}<br />
              <b>Name:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.refProfName}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.specCode}} - {{this._appService.SecurityService.refProviderInfo.desc}} <br /> <br />

              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Payment to {{this._appService.SecurityService.vendorInfo.vendorTypeDescr}}</span><br />
              <span *ngIf="this._appService.SecurityService.vendorInfo.vendorType == 'P'"><b>Practice ID:</b>&nbsp;{{this._appService.SecurityService.vendorInfo.vendorId}} <br /> </span>
              <b>Name:</b>&nbsp;{{this._appService.SecurityService.vendorInfo.vendorName}}<br />
              <span *ngIf="this._appService.SecurityService.vendorInfo.vendorType == 'P'"><b>Specialty:</b>&nbsp;{{this._appService.SecurityService.vendorInfo.specCode}} - {{this._appService.SecurityService.vendorInfo.specCodeDescr}}<br /></span>
            </div>

            <div class="clr-col-lg-6">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Member</span><br />
              <b>Name:</b> &nbsp; {{this._appService.SecurityService.SelectedClaim.memberName}}<br />
              <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"><b>GP Visits Year to date:</b> &nbsp; {{this._appService.SecurityService.visitCounts | number: '.0' }} <br /> </span> <br />

              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Other</span><br />
              <b>Claim Receive Date :</b>&nbsp;{{this._appService.SecurityService.SelectedClaim.receivedDate}}<br /> 
              <b>Auth Number:</b> &nbsp; {{this._appService.SecurityService.authNo }}<br /> <br />

              <div *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
                <span style="font-size:medium; font-weight:bold; text-decoration:underline">Claim Reversal Info</span><br />
                <span *ngIf="!(this._appService.SecurityService.refProviderInfo.claimOriginal==this._appService.SecurityService.SelectedClaim.claimNo)"><b>Original Claim No:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.claimOriginal}}<br /></span>
                <b>Reverse Date :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.reversedate}}<br />
                <span *ngIf="!(this._appService.SecurityService.refProviderInfo.claimreverse==this._appService.SecurityService.SelectedClaim.claimNo)"><b>Reverse Claim No:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.claimreverse}}<br /></span> <br />
              </div>

            </div>
          </div>
        </div>
      </div>

      <!--<div class="card-block" *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3">
        <div class="card-text">
          <span style="font-size:medium; font-weight:bold; text-decoration:underline">
            Claim Reversal Info
          </span>
          <div class="clr-row">
            <div class="clr-col" *ngIf="!(this._appService.SecurityService.refProviderInfo.claimOriginal==this._appService.SecurityService.SelectedClaim.claimNo)">

              <b>Original Claim No:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.claimOriginal}}<br />
            </div>
            <div class="clr-col">
              <b>Reverse Date :</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.reversedate}}<br />
            </div>
            <div class="clr-col" *ngIf="!(this._appService.SecurityService.refProviderInfo.claimreverse==this._appService.SecurityService.SelectedClaim.claimNo)">

              <b>Reverse Claim No:</b>&nbsp;{{this._appService.SecurityService.refProviderInfo.claimreverse}}<br />
            </div>
          </div>
        </div>
      </div>-->
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">
                Claim Amount Details
              </span>
            </div>
            <div class="clr-col" *ngIf="(this._appService.SecurityService._selectedClaim.status == '2')||(this._appService.SecurityService._selectedClaim.status == '3')">
              <span>
                <b> No editing available</b> - <i>Claim adjudication in process.</i>
              </span>
            </div>
            <div class="clr-col" *ngIf="(this._appService.SecurityService._selectedClaim.status == '4')">
              <span>
                <b> No editing available</b> - <i>Claim already batched for payment.</i>
              </span>
            </div>
          </div>
          <clr-datagrid>
            <clr-dg-column>SERVICE START DATE</clr-dg-column>
            <clr-dg-column>SERVICE END DATE</clr-dg-column>
            <!--<clr-dg-column>PROVIDER REF</clr-dg-column>-->
            <clr-dg-column>SERVICE CODE</clr-dg-column>
            <clr-dg-column>CHARGED</clr-dg-column>
            <clr-dg-column>COPAY</clr-dg-column>
            <clr-dg-column>REJECTED AMOUNT</clr-dg-column>
            <clr-dg-column>ABOVE SCHEME RATE</clr-dg-column>
            <clr-dg-column>APPROVED AMOUNT</clr-dg-column>
            <clr-dg-column>ICD10 CODE</clr-dg-column>
            <clr-dg-column>REASON CODE</clr-dg-column>
            <clr-dg-column *ngIf="this._appService.SecurityService.refProviderInfo.provspec == '50' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '54' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '62' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '64' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '92' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '93' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '94' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '95' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '96' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '98' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '113'">
                          TOOTH NO.</clr-dg-column>
            <clr-dg-column *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimSearchRejection == true)"
                           [hidden]="this._paidPRov">...</clr-dg-column>

            <clr-dg-row *ngFor="let paidinfo of this._appService.SecurityService.claimInfo">
              <clr-dg-cell>{{paidinfo.fromDate}}</clr-dg-cell>
              <clr-dg-cell>{{paidinfo.tooDate}}</clr-dg-cell>
              <!--<clr-dg-cell>{{paidinfo.provClaim}}</clr-dg-cell>-->
              <clr-dg-cell>{{paidinfo.srvCode}}
                <a role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-xl tooltip-right">
                  <clr-icon shape="info-circle" size="20"></clr-icon>
                  <span tabindex="-1" class="tooltip-content">{{paidinfo.srvCodeDesc}}</span>
                </a>
              </clr-dg-cell>
              <clr-dg-cell>R {{paidinfo.billed}}</clr-dg-cell>
              <clr-dg-cell>R {{paidinfo.coPay}}</clr-dg-cell>
              <clr-dg-cell>R {{paidinfo.adjust}}</clr-dg-cell>
              <clr-dg-cell>R {{paidinfo.tarrif}}</clr-dg-cell>
              <clr-dg-cell>R {{paidinfo.net}}</clr-dg-cell>
              <clr-dg-cell>{{paidinfo.diagcode}}
                <a role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-xl tooltip-left">
                  <clr-icon shape="info-circle" size="20"></clr-icon>
                  <span tabindex="-1" class="tooltip-content">{{paidinfo.diagdesc}}</span>
                </a>
              </clr-dg-cell>
              <clr-dg-cell>{{paidinfo.adjCode}}</clr-dg-cell>
              <clr-dg-cell *ngIf="this._appService.SecurityService.refProviderInfo.provspec == '50' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '54' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '62' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '64' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '92' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '93' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '94' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '95' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '96' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '98' ||
                           this._appService.SecurityService.refProviderInfo.provspec == '113'">
                            {{paidinfo.clinicalCodes}}</clr-dg-cell>
              <clr-dg-cell *ngIf="(this._appService.LoginService.CurrentLoggedInUser.userType === 3) && (this._appService.LoginService.userRights.claimSearchRejection == true)
                           &&(this._appService.SecurityService._selectedClaim.status != '2')&&(this._appService.SecurityService._selectedClaim.status != '3')
                           &&(this._appService.SecurityService._selectedClaim.status != '4')" [hidden]="this._paidPRov">
                <button class="btn btn-link btn-danger" style="color:red" (click)="this.popupRejections(paidinfo.claimNo,paidinfo.tblRowID) " *ngIf="!paidinfo.isRejected" [hidden]="(this._paidPRov) || !paidinfo.rejectable">REJECT</button>
                <button class="btn btn-link btn-danger" style="color:green" (click)="Unreject(paidinfo.claimNo,paidinfo.tblRowID)" *ngIf="paidinfo.isRejected" [hidden]="(this._paidPRov) || !paidinfo.rejectable">PAY</button>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell></clr-dg-cell> <!--extra empty row for service code description tooltip (otherwise it's trimmed and user has to scroll)-->
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <span style="font-size:medium; font-weight:bold; text-decoration:underline">
            ICD10 Codes
          </span>
          <clr-datagrid>
            <clr-dg-column>CODE</clr-dg-column>
            <clr-dg-column>DESCRIPTION</clr-dg-column>

            <clr-dg-placeholder>There are no ICD10 codes for this Claim!</clr-dg-placeholder>

            <clr-dg-row *ngFor="let code of this._appService.SecurityService.diacodes">
              <clr-dg-cell>{{code.code}}</clr-dg-cell>
              <clr-dg-cell>{{code.desc}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{this._appService.SecurityService.diacodes.length}} ICD10 Codes</clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <span style="font-size:medium; font-weight:bold; text-decoration:underline">
            Reason Codes
          </span>
          <clr-datagrid>
            <clr-dg-column>CODE</clr-dg-column>
            <clr-dg-column>DESCRIPTION</clr-dg-column>

            <clr-dg-placeholder>There are no reason codes for this claim.</clr-dg-placeholder>

            <clr-dg-row *ngFor="let reason of this._appService.SecurityService.AdjustInfo">
              <clr-dg-cell>{{reason.adjCode2}}</clr-dg-cell>
              <clr-dg-cell>{{reason.comments}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{this._appService.SecurityService.AdjustInfo.length}} Adjustment Reasons</clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.openSurvey" [clrModalSize]="'xl'">

  <div class="modal-body">
    <iframe [src]="this.getSafeUrl()" frameBorder="0" width="1152" height="650">
    </iframe>
  </div>
  <div class="modal-footer">
  </div>
</clr-modal>


