<div class="clr-row">
  <!--<div class="clr-col-lg-3"></div>-->
  <div class="clr-col-sm-10 clr-offset-sm-1 clr-col-md-8 clr-offset-md-2 clr-col-lg-6 clr-offset-lg-3 clr-col-xl-6 clr-offset-xl-3">
    <!--<div class="clr-row">-->
    <!--<div class="clr-col-12">-->
    <div class="card">
      <div class="card-header text-center">
        Create New Authorisation
      </div>
      <div class="card-block text-center">
        <div class="card-text" style="display:inline-block">
          <!--<div style="display:inline-block;">-->

          <form clrForm [formGroup]="authHeaderForm" joyrideStep="LogA_1" title="Create Authorisation" text="This form is used to create an authorisations for a specific member/family." stepPosition="bottom">

            <clr-select-container joyrideStep="LogA_2" title="Health Plan" text="Choose the health plan to which the member belongs here." stepPosition="left">
              <label style="white-space:nowrap">Health Plan:</label>
              <select clrSelect type="select" style="min-width: 250px"                        
                      id="hp"
                      formControlName="hp"                      
                      (change)="HpChange()">
                <option value=""></option>
                <option *ngFor="let list of this._appService.AuthorizationService.HpCodesList" value="{{list.code}}">{{list.name}}</option>
              </select>
              <clr-control-error>This field is required</clr-control-error>
            </clr-select-container>

            <clr-select-container joyrideStep="LogA_3" title="Auth Set" text="Choose the auth set here." stepPosition="left">
              <label>Authorisation Request:</label>
              <select clrSelect type="select" style="min-width:250px"
                      id="authSet"
                      formControlName="authSet"                       
                      (change)="AuthSetChange()">                  
                <option *ngFor="let ben of this._appService.AuthorizationService.authSetList" value="{{ben.id}}">{{ben.desc}}</option>
              </select>
              <clr-control-error>This field is required</clr-control-error>
            </clr-select-container>

            <clr-input-container joyrideStep="LogA_4" title="Family No" text="Enter the family number of the memebr here." stepPosition="left">
              <label style="white-space:nowrap">Family No:</label>
              <input clrInput type="text" size="30" style="text-transform: uppercase"
                     id="member"
                     formControlName="member"                     
                     (blur)="ValidateMember()">              
              <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="authHeaderForm.get('member').touched && authHeaderForm.get('member').valid">{{this._familyOpt}}</clr-control-helper>
              <clr-control-error *ngIf="authHeaderForm.get('member').touched && !authHeaderForm.get('member').valid">{{this._membErrorMsg}}</clr-control-error>
            </clr-input-container>

            <clr-select-container joyrideStep="LogA_5" title="Dependant Code" text="Select the dependant code of the member here." stepPosition="left">
              <label>Dependant:</label>
              <select clrSelect type="select"
                      id="dependant"
                      formControlName="dependant"
                      (change)="DepChange()">
                <option *ngFor="let de of this._familyList" value="{{de.dependant}}">{{de.firstnm}} {{de.lastnm}} - {{de.dependant}}</option>
              </select>
              <clr-control-error>This field is required</clr-control-error>
              <clr-control-helper style="color: rgb(255,133,15)" *ngIf="this._depOpthruDt != ''">{{this._depOpthruDt}}</clr-control-helper>
            </clr-select-container>

            <br />

          </form>
          <!--</div>-->
        </div>
      </div>
      <div class="card-footer">
        <div class="clr-row">
          <!--<div class="clr-col-2"></div>-->
          <div class="clr-col-12 text-center">
            <button class="btn btn-primary btn-sm" (click)="CreateNewAuth()" [disabled]="! this.authHeaderForm.valid" joyrideStep="LogA_6" title="Create Auth" text="Click on this button once done to create an authorisation and fill in the neccessary info." stepPosition="bottom">CREATE</button>
            <button class="btn btn-primary-outlined btn-sm" (click)="Search()" [disabled]="! this.authHeaderForm.valid" joyrideStep="LogA_7" title="Search" text="Click on this button to search for old Auths." stepPosition="bottom">Search</button>
            <button class="btn btn-warning btn-sm" (click)="ClearAll()" joyrideStep="LogA_8" title="Clear" text="Click on this button to clear all fields." stepPosition="bottom">Clear</button>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-12 text-right">
            <span *ngIf="this._appService.LoginService.CurrentLoggedInUser.userType == 3"
                  (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </div>
  <!--<div class="clr-col-lg-3">-->
</div>

<!--Spec select grid-->
<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.displayGrid" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <div class="clr-row modal-title">
    <div class="clr-col-6">
      <h3 class="modal-title"><b>Specialty Group: {{this.selectedHeader.desc}}</b></h3>
    </div>
    <div class="clr-col-6 text-left">
      <h3 class="modal-title"><b>Member: {{this._appService.AuthorizationService.authDetail.membno}}</b></h3>
      <!--<h3 class="modal-title" style="text-transform: uppercase"><b>Member: {{this.authHeaderForm.get('member').value}}-{{this.authHeaderForm.get('dependant').value}}</b></h3>-->
    </div>
  </div>

  <div class="modal-body">
    <div class="clr-row" *ngIf="this._appService.AuthorizationService.displayGrid">
      <div class="clr-col-lg-12">
        <clr-datagrid>
          <clr-dg-column>Specialty Code</clr-dg-column>
          <clr-dg-column>Description</clr-dg-column>
          <clr-dg-column>Practice Number</clr-dg-column>
          <clr-dg-column>Procedure Code</clr-dg-column>
          <clr-dg-column>Benefit Type</clr-dg-column>
          <clr-dg-column>Service Date</clr-dg-column>
          <clr-dg-column>Amount</clr-dg-column>
          <clr-dg-column>Create Auth</clr-dg-column>
          <!--<clr-dg-column>Remove Auth</clr-dg-column>-->

          <clr-dg-placeholder>There are no {{this._appService.AuthorizationService.authDetail.desc}}(s) available for this member.</clr-dg-placeholder>
          <clr-dg-row *ngFor="let rec of this._appService.AuthorizationService.selectedSpecs">
            <clr-dg-cell>{{rec.code}}</clr-dg-cell>
            <clr-dg-cell>{{rec.desc}}</clr-dg-cell>
            <clr-dg-cell>{{rec.provId}}</clr-dg-cell>
            <!--<clr-dg-cell>{{rec.procCode}}</clr-dg-cell>-->
            <clr-dg-cell>{{GetProcCodeForDisplay(rec)}}</clr-dg-cell>
            <clr-dg-cell>{{rec.benCode}}</clr-dg-cell>
            <!--<clr-dg-cell>{{GetBenCodeForDisplay(rec)}}</clr-dg-cell>-->
            <clr-dg-cell>{{rec.srvDate | date : 'yyyy/MM/dd'}}</clr-dg-cell>
            <!--<clr-dg-cell *ngIf="this._appService.AuthorizationService.authDetail.amount == null ">System Amount</clr-dg-cell>-->
            <!--<clr-dg-cell *ngIf="this._appService.AuthorizationService.authDetail.amount != null ">R {{rec.amount}}</clr-dg-cell>-->
            <clr-dg-cell>{{rec.amount}}</clr-dg-cell>
            <clr-dg-cell>
              <button type="button" class="btn btn-icon btn-success-outline btn-sm" aria-label="plus" (click)="newAuthSubmision(rec)">
                <clr-icon shape="plus"></clr-icon>
              </button>
              <!--<button class="btn btn-outlined btn-success  btn-sm" (click)="newAuthSubmision(rec)">new</button>-->
            </clr-dg-cell>
            <!--<clr-dg-cell>
              <button class="btn btn-icon btn-danger-outline  btn-sm" (click)="RemoveDetailAuth(rec.code)">
              <clr-icon shape="trash"></clr-icon>
              </button>
             </clr-dg-cell>-->
           </clr-dg-row>
          <clr-dg-footer>{{this._appService.AuthorizationService.selectedSpecs.length}} specs</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="CloseSpecList()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="CloseSpecList()">OK</button>
  </div>
</clr-modal>

<!--Capture auth detail for selected spec-->
<clr-modal [(clrModalOpen)]="this._openNew" [clrModalSize]="'xl'" [clrModalClosable]="false">
  <h3 class="modal-title"></h3>
  <div class="modal-body">
    <!--<app-authorization #AuthCapture></app-authorization>-->
    <div class="card" style="position:static">
      <div class="card-header text-center">
        Authorisation Submission
      </div>
      <div class="card-block">
        <div class="card-text">
          <form [formGroup]="authDetailForm" clrForm>

            <div class="clr-row">
              <div class="clr-col-lg-12">

                <div class="clr-row">

                  <div class="clr-col-lg-6">
                    <!--<clr-input-container>
                      <label style="white-space:nowrap">Healthplan: {{this._selectedHpName}}</label>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4">Healthplan </label>
                      <div class="clr-control-container clr-col-sm-8">
                        {{this._selectedHpName}}
                      </div>
                    </div>
                  </div>

                  <div class="clr-col-lg-6">
                    <!--<clr-input-container>
                      <label style="white-space:nowrap">Member No: {{this._appService.AuthorizationService.authDetail.membno}}</label>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4">Member No </label>
                      <div class="clr-control-container clr-col-sm-8">
                        {{this._appService.AuthorizationService.authDetail.membno}}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="clr-row">

                  <div class="clr-col-lg-6">
                    <!--<clr-input-container>
                      <label style="white-space:nowrap">Speciality Code: {{this._appService.AuthorizationService.authDetail.spec}} - {{this._appService.AuthorizationService.authDetail.specDesc}}</label>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4">Speciality Code</label>
                      <div class="clr-control-container clr-col-sm-8">
                        {{this._appService.AuthorizationService.authDetail.spec}} - {{this._appService.AuthorizationService.authDetail.specDesc}}
                      </div>
                    </div>

                  </div>

                  <div class="clr-col-lg-6">
                    <!--<clr-input-container joyrideStep="Authsub_5" title="Practice Number" text="Enter the practice number here." stepPosition="left">
                      <label>Practice No</label>
                      <input clrInput type="text"
                             id="provider"
                             formControlName="provider"
                             placeholder="Enter practice no here"
                             (blur)="ValidateProviderWithSpec()" />
                      <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="authDetailForm.get('provider').touched && authDetailForm.get('provider').valid">{{this._provName}}</clr-control-helper>
                      <clr-control-helper style="color:rgb(4, 161, 70)" *ngIf="authDetailForm.get('provider').touched && authDetailForm.get('provider').valid">{{this._provNetwork}}</clr-control-helper>
                      <clr-control-error *ngIf="authDetailForm.get('provider').touched && !authDetailForm.get('provider').valid">{{this._provErrorMsg}}</clr-control-error>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="provider">Practice No</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="provider"
                                 formControlName="provider"
                                 (blur)="ValidateProviderWithSpec()" />
                        </div>
                        <span class="clr-subtext" style="color:rgb(4, 161, 70)" *ngIf="authDetailForm.get('provider').touched && authDetailForm.get('provider').valid">
                          {{this._provName}}
                        </span>
                        <span class="clr-subtext" style="color:rgb(4, 161, 70)" *ngIf="authDetailForm.get('provider').touched && authDetailForm.get('provider').valid">
                          {{this._provNetwork}}
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="authDetailForm.get('provider').touched && !authDetailForm.get('provider').valid">
                          {{this._provErrorMsg}}
                        </span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="clr-row">
                  <div class="clr-col-12">
                    <p *ngIf="this._appService.AuthorizationService.authDetail.reject"
                       style="color: rgb(255,0,0)"> This policy already had 3 out-of-network GP visits and this authorisation will be rejected. Please continue to capture and submit the authorisation for record keeping purposes.</p>
                  </div>
                </div>

                <div class="clr-row">

                  <div class="clr-col-lg-6">
                    <!--<clr-date-container joyrideStep="Authsub_6" title="Service Date" text="Choose the service date here." stepPosition="left">
                      <label>Service Date</label>
                      <input clrDate type="date"
                             id="service"
                             formControlName="service"
                             placeholder="Choose the service date here"
                             (blur)="ValidateDate() " />
                      <clr-control-error *ngIf="authDetailForm.get('service').touched && !authDetailForm.get('service').valid">{{this._dateErrorMsg}}</clr-control-error>
                    </clr-date-container>-->

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="service" *ngIf="!this._appService.AuthorizationService.authDetail.includeLengthOfStay">Service Date</label>
                      <label class="clr-control-label clr-col-sm-4" for="service" *ngIf="this._appService.AuthorizationService.authDetail.includeLengthOfStay">Admission Date</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-date">
                          <input class="clr-input"
                                 type="date"
                                 id="service"
                                 formControlName="service"
                                 (blur)="ValidateDate() " />
                        </div>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="authDetailForm.get('service').touched && !authDetailForm.get('service').valid">
                          {{this._dateErrorMsg}}
                        </span>
                      </div>
                    </div>

                  </div>

                  <div class="clr-col-lg-6">
                    <!--<clr-date-container joyrideStep="Authsub_6" title="Service Date" text="Choose the service date here." stepPosition="left">
                      <label>Service Date</label>
                      <input clrDate type="date"
                             id="service"
                             formControlName="service"
                             placeholder="Choose the service date here"
                             (blur)="ValidateDate() " />
                      <clr-control-error *ngIf="authDetailForm.get('service').touched && !authDetailForm.get('service').valid">{{this._dateErrorMsg}}</clr-control-error>
                    </clr-date-container>-->

                    <div class="clr-form-control clr-row" *ngIf="this._appService.AuthorizationService.authDetail.includeLengthOfStay">
                      <label class="clr-control-label clr-col-sm-4" for="qty" *ngIf="this._appService.AuthorizationService.authDetail.includeLengthOfStay">Length Of Stay (Days)</label>
                      <!--<label class="clr-control-label clr-col-sm-4" for="qty" *ngIf="!this._appService.AuthorizationService.authDetail.includeLengthOfStay">Qty</label>-->
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="number"
                                 [min]="0"
                                 [max]="9999"
                                 formControlName="qty" />
                        </div>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="authDetailForm.get('qty').touched && !authDetailForm.get('qty').valid">
                          This field required valid data. (Between 1 and 9999)
                        </span>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="clr-row">
                  <div class="clr-col-lg-12">

                    <!--<clr-input-container *ngIf="this._appService.AuthorizationService.defaultProc != '' && this._appService.AuthorizationService.authDetail.phCodeDesc == ''">
                      <label style="white-space:nowrap">Procedure Code: {{this._appService.AuthorizationService.defaultProc}}</label>
                    </clr-input-container>-->


                    <div class="clr-form-control clr-row" *ngIf="this._appService.AuthorizationService.defaultProc != '' && this._appService.AuthorizationService.authDetail.phCodeDesc == ''">
                      <label class="clr-control-label clr-col-sm-4 clr-col-lg-2">Procedure Code</label>
                      <div class="clr-control-container clr-col-sm-8 clr-col-lg-10">
                        {{this._appService.AuthorizationService.defaultProc}}
                      </div>
                    </div>

                    <!--<clr-input-container *ngIf="this._appService.AuthorizationService.defaultProc != '' && this._appService.AuthorizationService.authDetail.phCodeDesc != ''">
                      <label style="white-space:nowrap">Procedure Code: {{this._appService.AuthorizationService.defaultProc}} (Benefit: {{this._appService.AuthorizationService.authDetail.phCodeDesc}})</label>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row" *ngIf="this._appService.AuthorizationService.defaultProc != '' && this._appService.AuthorizationService.authDetail.phCodeDesc != ''">
                      <label class="clr-control-label clr-col-sm-4 clr-col-lg-2">Procedure Code</label>
                      <div class="clr-control-container clr-col-sm-8 clr-col-lg-10">
                        {{this._appService.AuthorizationService.defaultProc}} (Benefit: {{this._appService.AuthorizationService.authDetail.phCodeDesc}})
                      </div>
                    </div>

                    <!--<clr-select-container *ngIf="this._appService.AuthorizationService.defaultProc == ''" joyrideStep="Authsub_6" title="Procedure Code" text="Choose the procedure here." stepPosition="left">
                      <label>Procedure Code:</label>
                      <select clrSelect type="select"
                              id="proc"
                              formControlName="proc"
                              placeholder="Select procedure here"
                              (change)="ProcChange()">
                        <option *ngFor="let list of this._appService.AuthorizationService.selectedSpec.specDetail" value="{{list.procCode}}|{{list.phCodeDetermined}}|{{list.placeSvcCode}}|{{list.enterAmount}}">{{list.procCode}} (Benefit: {{list.phCodeDeterminedDesc}})</option>
                      </select>
                      <clr-control-error>This field is required!</clr-control-error>
                    </clr-select-container>-->
                  <fieldset [disabled]="!authDetailForm.get('provider').valid">
                    <div class="clr-form-control clr-row" *ngIf="this._appService.AuthorizationService.defaultProc == ''">
                      <label class="clr-control-label clr-col-sm-4 clr-col-lg-2" for="proc">Procedure Code</label>
                      <div class="clr-control-container clr-col-sm-8 clr-col-lg-10">
                        <div class="clr-select-wrapper">
                          <select class="clr-select"
                                  type="select"
                                  tabindex="-1"
                                  id="proc"
                                  formControlName="proc"
                                  (change)="ProcChange()">
                            <option *ngFor="let list of this._appService.AuthorizationService.selectedSpec.specDetail" value="{{list.procCode}}|{{list.phCodeDetermined}}|{{list.placeSvcCode}}|{{list.enterAmount}}">{{list.procCode}} (Benefit: {{list.phCodeDeterminedDesc}})</option>
                          </select>
                        </div>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="authDetailForm.get('proc').touched && !authDetailForm.get('proc').valid">
                          This field is required
                        </span>
                      </div>
                    </div>
                    </fieldset>

                  </div>
                </div>

                <div class="clr-row">
                  <div class="clr-col-lg-6"  *ngIf="this._appService.AuthorizationService.authDetail.enterAmount">

                    <!--<clr-input-container *ngIf="this._appService.AuthorizationService.authDetail.spec != 14 && this._appService.AuthorizationService.authDetail.spec != 15" joyrideStep="Authsub_5" title="Amount" text="Enter the authorisation amount here." stepPosition="left">-->
                    <!--<clr-input-container *ngIf="this._appService.AuthorizationService.authDetail.enterAmount" joyrideStep="Authsub_5" title="Amount" text="Enter the authorisation amount here." stepPosition="left">
                    <label>Amount</label>
                    <input clrInput type="text"
                            id="amount"
                            formControlName="amount"
                            placeholder="Enter amount here"
                            (blur)="ValidateAuthAmt()" />
                    <clr-control-error *ngIf="this._amtMsg != 'valid'">{{this._amtMsg}}</clr-control-error>-->
                    <!--<clr-control-error *ngIf="!this._proverror">{{this.AmountMessage}}</clr-control-error>-->
                    <!--</clr-input-container>

                    <clr-input-container *ngIf="this._appService.AuthorizationService.authDetail.displayAvailableBenefit">
                      <label style="font-weight: 400; color: gray; white-space:nowrap"><span style="background-color:#C5E5EF">{{this._appService.AuthorizationService.remainingAmountMessage}}</span></label>
                    </clr-input-container>-->

                    <div class="clr-form-control clr-row" >
                      <label class="clr-control-label clr-col-sm-4" for="amount">Amount</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="amount"
                                 formControlName="amount"
                                 (blur)="ValidateAuthAmt()" />
                        </div>
                        <span class="clr-subtext" style="color: rgb(255,0,0)"
                              *ngIf="this._amtMsg != 'valid' && this.authDetailForm.get('amount').touched &&
                              this.authDetailForm.get('provider').valid && this.authDetailForm.get('service').valid && this.authDetailForm.get('proc').valid">
                              {{this._amtMsg}}
                        </span>                       
                        <span class="clr-subtext" style="font-weight: 400; color: gray;" *ngIf="this._appService.AuthorizationService.authDetail.displayAvailableBenefit">
                          <span style="background-color: #C5E5EF">{{this._appService.AuthorizationService.remainingAmountMessage}}</span>
                        </span>
                      </div>
                    </div>

                  </div>

                  <div class="clr-col-lg-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="authRefNo">Auth/Ref no</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="authRefNo"
                                 formControlName="authRefNo" />
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this.authDetailForm.get('authRefNo').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this.authDetailForm.get('authRefNo').touched && !this.authDetailForm.get('authRefNo').valid">
                          Max length: 16
                        </span>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="clr-row">

                  <div class="clr-col-lg-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="diag1">ICD10</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="diag1"
                                 formControlName="diag1"
                                 (blur)="this.ValidateDiagCode('diag1')">
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="authDetailForm.get('diag1').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!authDetailForm.get('diag1').valid">
                          Valid ICD10 code required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="authDetailForm.get('diag1').value != '' &&  authDetailForm.get('diag1').valid && this._appService.AuthorizationService.authDetail.diag1desc != '' ">
                          {{this._appService.AuthorizationService.authDetail.diag1desc}}
                        </span>
                      </div>
                    </div>

                  </div> <!--col-->

                  <div class="clr-col-lg-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="diag2">ICD10</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="diag2"
                                 formControlName="diag2"
                                 (blur)="this.ValidateDiagCode('diag2')">
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="authDetailForm.get('diag2').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!authDetailForm.get('diag2').valid">
                          Valid ICD10 code required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="authDetailForm.get('diag2').value != '' && authDetailForm.get('diag2').valid  && this._appService.AuthorizationService.authDetail.diag2desc != '' ">
                          {{this._appService.AuthorizationService.authDetail.diag2desc}}
                        </span>
                      </div>
                    </div>

                  </div> <!--col-->

                  <div class="clr-col-lg-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="diag3">ICD10</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="diag3"
                                 formControlName="diag3"
                                 (blur)="this.ValidateDiagCode('diag3')">
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="authDetailForm.get('diag3').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!authDetailForm.get('diag3').valid">
                          Valid ICD10 code required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="authDetailForm.get('diag3').value != '' && authDetailForm.get('diag3').valid && this._appService.AuthorizationService.authDetail.diag3desc != '' ">
                          {{this._appService.AuthorizationService.authDetail.diag3desc}}
                        </span>
                      </div>
                    </div>

                  </div> <!--col-->

                  <div class="clr-col-lg-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="diag4">ICD10</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-input-wrapper">
                          <input class="clr-input"
                                 type="text"
                                 id="diag4"
                                 formControlName="diag4"
                                 (blur)="this.ValidateDiagCode('diag4')">
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="authDetailForm.get('diag4').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!authDetailForm.get('diag4').valid">
                          Valid ICD10 code required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="authDetailForm.get('diag4').value != '' && authDetailForm.get('diag4').valid && this._appService.AuthorizationService.authDetail.diag4desc != '' ">
                          {{this._appService.AuthorizationService.authDetail.diag4desc}}
                        </span>
                      </div>
                    </div>

                  </div> <!--col-->
                </div> 

                <div class="clr-row">
                  <div class="clr-col-6">

                    <div class="clr-form-control clr-row">
                      <label class="clr-control-label clr-col-sm-4" for="note">Note</label>
                      <div class="clr-control-container clr-col-sm-8">
                        <div class="clr-textarea-wrapper">
                          <textarea class="clr-textarea"
                                    type="text"
                                    id="note"
                                    formControlName="note">
                              </textarea>
                        </div>
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this.authDetailForm.get('note').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this.authDetailForm.get('note').valid">
                          Max length: 100
                        </span>
                      </div>
                    </div>

                  </div> <!--col-->
                </div> 
                

              </div> <!--col end-->
            </div> <!--row end-->
          </form>
        </div>
      </div>      
      <!--<div class="card-footer" *ngIf="this._router.url == 'Single-Auth-Submission'">
    <button class="btn btn-sm btn-primary" (click)="SubmitAuthorization()">Submit</button>
    <button class="btn btn-sm btn-secondary" (click)=" ClearAllInputFields()">Clear All Fields</button>
  </div>-->
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline" (click)="this._openNew = false">Cancel</button>-->
    <button type="button" class="btn btn-outline" (click)="CancelDetailCapture()">Cancel</button>
    <!--<button type="button" class="btn btn-primary" (click)="AddDetailAuth()" [disabled]=" !this._appService.AuthorizationService.enableSubmit">Submit</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="AddDetailAuth()" [disabled]=" !this.AuthCapture.AuthForm.valid || !this._appService.AuthorizationService.enableSubmit">Submit</button>-->
    <!--<button type="button" class="btn btn-primary" (click)="AddDetailAuth()" [disabled]=" !this.authDetailForm.valid || !this._appService.AuthorizationService.enableSubmit">Submit</button>-->
    <button type="button" class="btn btn-primary" (click)="PreAddDetailAuth()" [disabled]=" !this.authDetailForm.valid">Submit</button>
  </div>
</clr-modal>

<!--Auth search results-->
<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.displaySearchGrid" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <div class="clr-row modal-title">
    <div class="clr-col-6">
      <h3 class="modal-title"><b>Authorisation Set: {{this.selectedHeader.desc}}</b></h3>
    </div>
    <div class="clr-col-6 text-left">
      <!--<h3 class="modal-title" style="text-transform: uppercase"><b>Member: {{this.authHeaderForm.get('member').value}}-{{this.authHeaderForm.get('dependant').value}}</b></h3>-->
      <h3 class="modal-title" style="text-transform: uppercase"><b>Member: {{this._appService.AuthorizationService.authDetail.membno}}</b></h3>
    </div>
  </div>

  <div class="modal-body">
    <div class="clr-row" *ngIf="this._appService.AuthorizationService.displaySearchGrid">
      <div class="clr-col-lg-12">
        <clr-datagrid>
          <clr-dg-column style="word-break:break-all">Auth Ref</clr-dg-column>
          <clr-dg-column>Auth Set</clr-dg-column>
          <clr-dg-column>Specialty Code</clr-dg-column>
          <clr-dg-column>Description</clr-dg-column>
          <clr-dg-column>Procedure Code</clr-dg-column>
          <clr-dg-column>Benefit Type</clr-dg-column>
          <clr-dg-column style="min-width: 120px">Auth No</clr-dg-column>
          <clr-dg-column>Practice Number</clr-dg-column>
          <clr-dg-column>Service Date</clr-dg-column>
          <clr-dg-column>Amount</clr-dg-column>
          <!--<clr-dg-column>Create Date</clr-dg-column>-->
          <!--<clr-dg-column>Create Auth</clr-dg-column>-->
          <!--<clr-dg-column>Remove Auth</clr-dg-column>-->

          <clr-dg-row *ngFor="let rec of this._appService.AuthorizationService.oldAuths">
            <clr-dg-cell style="word-break:break-all">{{rec.refno}}</clr-dg-cell>
            <clr-dg-cell>{{rec.benDesc}}</clr-dg-cell>
            <clr-dg-cell>{{rec.spec}}</clr-dg-cell>
            <clr-dg-cell>{{rec.desc}}</clr-dg-cell>
            <clr-dg-cell>{{rec.procCode}}</clr-dg-cell>
            <clr-dg-cell>{{rec.benType}}</clr-dg-cell>
            <clr-dg-cell style="min-width: 120px; font-size:x-small; font-weight: bold">{{rec.authno}}</clr-dg-cell>
            <clr-dg-cell>{{rec.provid}}</clr-dg-cell>
            <clr-dg-cell>{{rec.scvdate | date : 'yyyy/MM/dd'}}</clr-dg-cell>
            <clr-dg-cell>R {{rec.amount}}</clr-dg-cell>
          </clr-dg-row>

          <clr-dg-footer>{{this._appService.AuthorizationService.oldAuths.length}} auths</clr-dg-footer>
        </clr-datagrid>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._appService.AuthorizationService.displaySearchGrid = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this._appService.AuthorizationService.displaySearchGrid= false">OK</button>
  </div>
</clr-modal>

<!--Saved auth ref number-->
<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.showAuth">
  <div class="modal-body">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Authorisation successfully submitted.</span>
        </div>
      </div>
    </div>
    <br />
    Your authorisation Reference No is: <b><i>{{this._appService.AuthorizationService.newAuthNo}}</i></b>
  </div>
</clr-modal>

<!--Security service busy spinner-->
<clr-modal [(clrModalOpen)]="this._appService.SecurityService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>

<!--Auth service busy spinner-->
<clr-modal [(clrModalOpen)]="this._appService.AuthorizationService.busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body text-center" style="padding: 24px;">
    <!--<p style="align-self:center">-->
    <span class="spinner">
      Loading...
    </span>
    <!--</p>-->
  </div>
</clr-modal>


