<div class="clr-row">
  <div class="clr-col-10"></div>
  <div class="clr-col-1">

    <div class="clr-row">
      <div class="clr-col text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD">
        <span (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
          <br />
          <span style="font-weight:bolder;font-size:large;border-radius:50%;background-color:orange;color:white">&nbsp;?&nbsp;</span>  Need help..<br /><br />
        </span>
      </div>
    </div>
  </div>
  <div class="clr-col-1"></div>
</div>
<div class="clr-row">
  <div class="clr-col-sm-8 clr-offset-sm-2 clr-col-md-8 clr-offset-md-2 clr-col-lg-10 clr-offset-lg-1 clr-col-xl-11 clr-offset-xl-1">
    <br />
    <br />
    <clr-tabs *ngIf="(this._appService.GraphsService._showGraph == true)" joyrideStep="Report_1" title="Graph" text="This graph is a representation of your current paid and unpaid claims." stepPosition="bottom">
      <clr-tab *ngFor="let item of this._appService.GraphsService._hpcodeList">
        <button clrTabLink (click)="this._appService.GraphsService.GetClaimsData(item.code)">{{item.name}}</button>
        <clr-tab-content *clrIfActive="item.activeTab">
          <br />
          <br />
          <div class="clr-row">
            <div class="clr-col-lg-1">

            </div>
            <div class="clr-col-xl-9">

              <div echarts [options]="this._appService.GraphsService._paidUnpaidSplitGraphOptions" class="demo-chart"></div>
            </div>
            <div class="clr-col-lg-2">

              <button class="btn btn-primary" (click)="this._appService.GraphsService.GenerateLagReport(item.code)"
                      joyrideStep="Report_2" title="LAG Report" text="Click on this button to download your LAG Report of your current paid and unpaid claims." stepPosition="left">
               LAG REPORT
              </button><br />
              <button class="btn btn-primary" (click)="this._appService.GraphsService.GenerateAgeReport(item.code)"
                      joyrideStep="Report_3" title="Age Analysis" text="Click on this button to download your Age Analysis Report of your current unpaid claims." stepPosition="left">
              AGE ANALYSIS REPORT
              </button>

            </div>
          </div>

        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.GraphsService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Retrieving Data...
      </span>
    </p>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.GraphsService._busy" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <p>
      <span class="spinner spinner-inline">
        Loading...
      </span>
      <span>
        Retrieving Data...
      </span>
    </p>
  </div>
</clr-modal>

