<!--StackView for BatchNumbers & BackButton to exit CheckRun-->

<div class="clr-row">
  <div class="clr-col-3">
    <div *ngIf="this._appService.CheckRunService.showText">
      <span style="font-weight:bold"
            joyrideStep="checkrun_1" title="Batch Number" text="This is your batch number." stepPosition="right"> Current Batch <i style="background-color:#36C9E1">{{this._appService.CheckRunService.batchNumber}}</i></span>
    </div>
  </div>
  <div class="clr-col-6" style="position:static">
    
    <br />
    <app-user-guide *ngIf="!this._appService.CheckRunService.showText"></app-user-guide>
    <div *ngIf="!this._appService.CheckRunService.showText">
      <br />
      <span class="spinner spinner-inline" *ngIf="this._appService.CheckRunService.showList">
        Loading...
      </span>
      <span *ngIf="this._appService.CheckRunService.showList">
        Loading...
      </span>
      <br />
      <br />
      <app-bordow-list-view *ngIf="!this._appService.CheckRunService.showList" style="position:static"> </app-bordow-list-view>
    </div>
  </div>
  <div class="clr-col-sm-3 text-left">

    <div class="clr-row">
      <div class="clr-col-8">
        <button type="button" class="btn btn-outline" (click)="this.GeneratePritableFile()" *ngIf="this._appService.CheckRunService.bordRowList.length > 0"
                joyrideStep="checkrun_3" title="Export" text="Click on this button to export the current bordereaux to an excel file." stepPosition="left">
          EXPORT BORDEREAUX
        </button>
        <button type="button" class="btn btn-danger-outline" (click)="this.CloseCheckrun()" *ngIf="this._appService.CheckRunService.showText"
                joyrideStep="checkrun_2" title="Back" text="Click on this button to navigate back to the previous screen." stepPosition="left">
          BACK
        </button>
      </div>
      <div class="clr-col-4">
        <div class="clr-row">
          <div class="clr-col text-center" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD" *ngIf="this._appService.CheckRunService.showText">
            <span (click)="onClick()" style="color:#0079B8;font-size:medium;cursor:pointer" title=" Click here for a quick tour on this page...">
              <br />
              <clr-icon shape="help" class="is-solid" size="20" style="color:#FF8400"></clr-icon> Need help..<br /><br />
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br />
<!--End-->



<div class="clr-row">
  <div class="clr-col-12">
    <!--BordRow view-->
    <!--this._appService.CheckRunService._providerGrouping-->
    <app-provider-view *ngIf="this._appService.CheckRunService.showText"></app-provider-view>
    <!--End-->
  </div>
</div>

<!--Warning Closing CheckRun-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.closeCheckRun">
  <div class="modal-body">
    <div class="alert alert-warning" role="alert" style="width: 90%">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">WARNING</span>
        </div>
      </div>
    </div>
    You are about to exit the checkrun, all work done so far was successfully saved. <br />
    your bacth number is <span style="background-color: #36C9E1">{{this._appService.CheckRunService.batchNumber}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="CloseCheckRunWarning()">OK</button>
  </div>

</clr-modal>

<br />
<br />

<!--WARNING Cannot edit-->
<clr-modal [(clrModalOpen)]="this.warningEdit" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <b>
            <span class="alert-text">Take Note</span>
          </b>
        </div>
      </div>
    </div>
    <p>The current view cannot be edited, because items are still selected in the previous view.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.warningEdit = false">
      ok
    </button>
  </div>
</clr-modal>
<!--End-->

<clr-wizard [clrWizardSize]="'xl'" [(clrWizardOpen)]="this._appService.CheckRunService._wizard" [clrWizardClosable]="false" #wizard>
  <clr-wizard-title>Checkrun Creation</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'" (click)="this.ResetForms()">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'" (click)="this.decWizardPage()">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" [clrWizardButtonDisabled]="!this._appService.CheckRunService._wizardNext" (click)="this.incWizardPage()">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" [clrWizardButtonDisabled]="!this._appService.CheckRunService._wizardNext" (click)="this.Generatecheckrun()">Finish</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>Checkrun Selection</ng-template>
    <div class="alert alert-info" role="alert" style="width: 97%">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">Choose a filter to generate your checkrun.</span>
        </div>
      </div>
    </div>
    <div class="clr-row">
      <div class="clr-col-3">

      </div>
      <div class="clr-col-7">
        <br />
        <br />
        <form clrForm [formGroup]="cSelection">
          <clr-checkbox-wrapper>
            <input type="checkbox" formControlName="prov" clrCheckbox (change)="this.ProvForm()" />
            <label>Generate a checkrun for a specific practice.</label>
          </clr-checkbox-wrapper>
          <br />
          <clr-checkbox-wrapper>
            <input type="checkbox" formControlName="date" clrCheckbox (change)="this.DateForm()" />
            <label>Generate a checkrun up to a specific received date</label>
          </clr-checkbox-wrapper>
          <br />
          <clr-checkbox-wrapper>
            <input type="checkbox" formControlName="memb" clrCheckbox (change)="this.MembForm()" />
            <label>Generate a checkrun for a specific member.</label>
          </clr-checkbox-wrapper>
          <br />
          <clr-checkbox-wrapper>
            <input type="checkbox" formControlName="claim" clrCheckbox (change)="this.ClaimForm()" />
            <label>Generate a checkrun for a specific claim.</label>
          </clr-checkbox-wrapper>
          <br />
          <clr-checkbox-wrapper>
            <input type="checkbox" formControlName="service" clrCheckbox (change)="this.ServiceForm()" />
            <label>Generate a checkrun up to a specific service date.</label>
          </clr-checkbox-wrapper>
        </form>
      </div>
      <div class="clr-col-2">

      </div>
    </div>

  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Checkrun Generation</ng-template>
    <div *ngIf="this._appService.CheckRunService.displayData">
      <div class="alert alert-info" role="alert" style="width: 97%">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
            </div>
            <span class="alert-text">Enter the necessary detail to generate your checkrun.</span>
          </div>
        </div>
      </div>
      <br />

      <!--Spinner-->
      <span class="spinner spinner-md spinner-inline" *ngIf="(!this._appService.CheckRunService.displayData) && (this._appService.CheckRunService.displaySpinner)">
        Loading...
      </span>
      <span *ngIf="(!this._appService.CheckRunService.displayData) && (this.displaySpinner)">
        {{this._appService.CheckRunService.message}}
      </span>
      <!--End-->
      <div *ngIf="this._appService.CheckRunService.displayData">
        <!--CheckRun Form-->
        <form clrForm [formGroup]="cCheckForm" *ngIf="this.dateTab">
          <clr-select-container [hidden]="!this._appService.CheckRunService._hpListShow">
            <label>Health Plan</label>
            <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
              <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
            </select>
          </clr-select-container>
          <clr-input-container [hidden]="this._appService.CheckRunService._hpListShow">
            <label>Health Plan</label>
            <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
          </clr-input-container>
          <clr-date-container>
            <label>Last Received Date</label>
            <input type="date" clrDate formControlName="endDate" [clrDate]="ValidateEndDateField()" />
            <clr-control-error>{{this.errMsgEndDate}}</clr-control-error>
          </clr-date-container>
          <clr-input-container>
            <label>Earliest Received Date</label>
            <label>{{this._appService.CheckRunService.lastRecDate}}</label>
          </clr-input-container>
          <clr-select-container>
            <label>Payments</label>
            <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
              <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
            </select>
          </clr-select-container>
          <br />
          <div class="custom-styles">
            <!--<clr-checkbox-wrapper>
              <input type="checkbox" clrCheckbox formControlName="banking" />
              <label>Show only claims with no banking details</label>
            </clr-checkbox-wrapper>-->
          </div>
          <br />
          <button class="btn btn-primary" type="button" (click)="SubmitDetail()" [disabled]="!this.cCheckForm.valid">Generate</button>
          <!--<button class="btn btn-success-outline" type="button" (click)="GenerateBordRow()" [disabled]="this._appService.CheckRunService.readyToGenerate">
            <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
              Loading...
            </span>
            <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
              Generate
            </span>
          </button>-->
        </form>
        <!--End-->

      </div>

      <form clrForm [formGroup]="cServiceForm" *ngIf="this.serviceTab">
        <clr-select-container [hidden]="!this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
          </select>
        </clr-select-container>
        <clr-input-container [hidden]="this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
        </clr-input-container>
        <clr-date-container>
          <label>Service To Date</label>
          <input type="date" clrDate formControlName="endServDate" [clrDate]="ValidateServiceDateField()" />
          <clr-control-error>{{this.errMsgEndServDate}}</clr-control-error>
        </clr-date-container>
        <clr-select-container>
          <label>Payments</label>
          <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
          </select>
        </clr-select-container>
        <br />
        <div class="custom-styles">
          <!--<clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="banking" />
            <label>Show only claims with no banking details</label>
          </clr-checkbox-wrapper>-->
        </div>
        <br />
        <button class="btn btn-primary" type="button" (click)="SubmitDetailService()" [disabled]="!this.cServiceForm.valid">Generate</button>
        <!--<button class="btn btn-success-outline" type="button" (click)="GenerateBordRow()" [disabled]="this._appService.CheckRunService.readyToGenerate">
          <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
            Loading...
          </span>
          <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
            Generate
          </span>
        </button>-->
      </form>
      <form clrForm [formGroup]="cCheckProvForm" *ngIf="this.provTab">
        <clr-select-container [hidden]="!this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
          </select>
        </clr-select-container>
        <clr-input-container [hidden]="this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
        </clr-input-container>
        <clr-input-container>
          <label>Practice Number</label>
          <input formControlName="providerId" clrInput required />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        <clr-select-container>
          <label>Payments</label>
          <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
          </select>
        </clr-select-container>
        <br />
        <div class="custom-styles">
          <!--<clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="banking" />
            <label>Show only claims with no banking details</label>
          </clr-checkbox-wrapper>-->
        </div>
        <br />
        <button class="btn btn-primary" type="button" (click)="this.SubmitDetailProvider()" [disabled]="!this.cCheckProvForm.valid">Generate</button>
        <!--<button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowProv()" [disabled]="this._appService.CheckRunService.readyToGenerate">
          <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
            Loading...
          </span>
          <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
            Generate
          </span>
        </button>-->
      </form>
      <form clrForm [formGroup]="cCheckMembForm" *ngIf="this.mebTab">
        <clr-select-container [hidden]="!this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
          </select>
        </clr-select-container>
        <clr-input-container [hidden]="this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
        </clr-input-container>
        <clr-input-container>
          <label>Family Number</label>
          <input formControlName="membId" clrInput required />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        <clr-select-container>
          <label>Payments</label>
          <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
          </select>
        </clr-select-container>
        <br />
        <div class="custom-styles">
          <!--<clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="banking" />
            <label>Show only claims with no banking details</label>
          </clr-checkbox-wrapper>-->
        </div>
        <br />
        <button class="btn btn-primary" type="button" (click)="this.SubmitDetailMember()" [disabled]="!this.cCheckMembForm.valid">Generate</button>
        <!--<button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowMemb()" [disabled]="this._appService.CheckRunService.readyToGenerate">
          <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
            Loading...
          </span>
          <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
            Generate
          </span>
        </button>-->
      </form>
      <form clrForm [formGroup]="cCheckClaimForm" *ngIf="this.claimTab">
        <clr-select-container [hidden]="!this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
          </select>
        </clr-select-container>
        <clr-input-container [hidden]="this._appService.CheckRunService._hpListShow">
          <label>Health Plan</label>
          <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
        </clr-input-container>
        <clr-input-container>
          <label>Claim Number</label>
          <input formControlName="claimno" clrInput required />
          <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        <!--<clr-select-container>
          <label>Payments</label>
          <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
            <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
          </select>
        </clr-select-container>-->
        <br />
        <div class="custom-styles">
          <!--<clr-checkbox-wrapper>
            <input type="checkbox" clrCheckbox formControlName="banking" />
            <label>Show only claims with no banking details</label>
          </clr-checkbox-wrapper>-->
        </div>
        <br />
        <button class="btn btn-primary" type="button" (click)="this.SubmitDetailClaim()" [disabled]="!this.cCheckClaimForm.valid">Generate</button>
        <!--<button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowClaim()" [disabled]="this._appService.CheckRunService.readyToGenerate">
          <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
            Loading...
          </span>
          <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
            Generate
          </span>
        </button>-->
      </form>
    </div>

    <h5 *ngIf="!this._appService.CheckRunService._largeAmountFound"><b>CLAIMS FOUND IN OTHER BATCHES</b></h5>
    <clr-datagrid *ngIf="!this._appService.CheckRunService._largeAmountFound">
      <clr-dg-column>BATCHNO</clr-dg-column>
      <clr-dg-column>CLAIMNO</clr-dg-column>
      <clr-dg-column>EXLUDED</clr-dg-column>
      <clr-dg-column>VALIDATED</clr-dg-column>
      <clr-dg-column>REJECTED</clr-dg-column>
      <clr-dg-placeholder>No Claims Found In Other Batches!</clr-dg-placeholder>
      <clr-dg-row *ngFor="let claims of this._appService.CheckRunService.excludingClaims">
        <clr-dg-cell>{{claims.batchNo}}</clr-dg-cell>
        <clr-dg-cell>{{claims.claimNo}}</clr-dg-cell>
        <clr-dg-cell *ngIf="claims.exluded == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.exluded == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.validated == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.validated == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.rejected == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.rejected == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer *ngIf="!this._appService.CheckRunService._largeAmountFound">{{this._appService.CheckRunService.excludingClaims.length}} claims</clr-dg-footer>
    </clr-datagrid>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>Summarized View</ng-template>
    <clr-tabs *ngIf="this._appService.CheckRunService.displayData">
      <clr-tab>
        <button clrTabLink id="link1" (click)="CheckBenComplete()">SPECIALITY SPLIT</button>
        <clr-tab-content id="content1">
          <br />
          <div class="clr-row">
            <div class="clr-col">
              <span [hidden]="!this.showProv">
                <b>TOTAL: </b>R {{this._appService.CheckRunService.provTotal | number: '.2'}}<br />
              </span>
              <span [hidden]="!this.showMemb">
                <b>TOTAL: </b>R {{this._appService.CheckRunService.membTotal | number: '.2'}}<br />
              </span>
            </div>
            <div class="clr-col">
              <span [hidden]="!this.showProv">
                <b>SELECTED TOTAL: </b>R {{this._appService.CheckRunService.totalProvPayments | number: '.2'}}<br />
              </span>
              <span [hidden]="!this.showMemb">
                <b>SELECTED TOTAL: </b>R {{this._appService.CheckRunService.totalMembPayments | number: '.2'}}<br />
              </span>
            </div>
          </div>
          <br />
          <clr-datagrid *ngIf="this._appService.CheckRunService.displayData" style="width: 85%">
            <clr-dg-column>
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  Description
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingDescription()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column style="width: 5px">
              <span>Include</span>
              <form clrForm [formGroup]="all">
                <input type="checkbox" formControlName="selectall" (change)="this.AddAllSpecToWhereClause()" clrCheckbox />
              </form>
            </clr-dg-column>
            <clr-dg-column>
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  Amount of Claims
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingTotalClaims()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column [hidden]="!this.showProv">
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  ProviderPayment
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingProvider()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column [hidden]="!this.showMemb">
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  MemberPayment
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingMember()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-row *ngFor="let list of this._appService.CheckRunService.gridData">
              <clr-dg-cell>{{list.description}}</clr-dg-cell>
              <clr-dg-cell style="width: 5px">
                <form clrForm [formGroup]="specialtyForm">
                  <input type="checkbox" formControlName="specialty" (change)="this.AddSpecToWhereClause(list.specCode)" clrCheckbox [checked]="list.include" />
                </form>
              </clr-dg-cell>
              <clr-dg-cell>{{list.amountOfClaims}}</clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showProv">R {{list.providerPayment}}</clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showMemb">R {{list.memberPayment }}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell><b>TOTALS:</b></clr-dg-cell>
              <clr-dg-cell><b>...</b></clr-dg-cell>
              <clr-dg-cell><b>{{this._appService.CheckRunService.totalClaims}}</b></clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showProv"><b>R {{this._appService.CheckRunService.totalProvPayments | number : '.2'}}</b></clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showMemb"><b>R {{this._appService.CheckRunService.totalMembPayments | number : '.2'}}</b></clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>

    </clr-tabs>
  </clr-wizard-page>

</clr-wizard>

<!--Loading model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService._displayFetchModel" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div class="modal-body">
    <span class="spinner spinner-md spinner-inline">
      Loading...
    </span>
    <span>
      Proccessing Data.....
    </span>
  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.loadBoardRow" [clrModalSize]="'sm'">
  <div class="modal-body">
    <span class="spinner spinner-md spinner-inline">
      Loading...
    </span>
    <span>
      Proccessing Data.....
    </span>
  </div>
</clr-modal>

<!--Large Amount OF Claims Found Model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService._largeAmountFound && this._openAmountModal" [clrModalSize]="'sm'">
  <div class="modal-body">
    {{this._appService.CheckRunService.excludingClaims.length}} Was Found in another Batch.
    To View All The Claims Click 'OK'.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openAmountModal = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.OpenLargeClaimModel()">Ok</button>
  </div>
</clr-modal>
<!--End-->
<!--Claims Model-->
<clr-modal [(clrModalOpen)]="this._largeModelOpen" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <div class="modal-body">
    <h5><b>CLAIMS FOUND IN OTHER BATCHES</b></h5>
    <clr-datagrid>
      <clr-dg-column>BATCHNO</clr-dg-column>
      <clr-dg-column>CLAIMNO</clr-dg-column>
      <clr-dg-column>EXLUDED</clr-dg-column>
      <clr-dg-column>VALIDATED</clr-dg-column>
      <clr-dg-column>REJECTED</clr-dg-column>
      <clr-dg-placeholder>No Claims Found!</clr-dg-placeholder>
      <clr-dg-row *ngFor="let claims of this._appService.CheckRunService.excludingClaims">
        <clr-dg-cell>{{claims.batchNo}}</clr-dg-cell>
        <clr-dg-cell>{{claims.claimNo}}</clr-dg-cell>
        <clr-dg-cell *ngIf="claims.exluded == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.exluded == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.validated == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.validated == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.rejected == 'True'"><clr-icon shape="check"></clr-icon></clr-dg-cell>
        <clr-dg-cell *ngIf="claims.rejected == 'False'"><clr-icon shape="times"></clr-icon></clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>{{this._appService.CheckRunService.excludingClaims.length}} claims</clr-dg-footer>
    </clr-datagrid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._largeModelOpen = false">Ok</button>
  </div>
</clr-modal>
<!--End-->
<!--End-->
<div class="clr-row">
  <div class="clr-col-5">
    <br />
    <br />
    <clr-tabs *ngIf="false">
      <clr-tab>
        <button clrTabLink id="link1" (click)="this.DateTabSelected()">RECEIVED DATE</button>
        <ng-template [(clrIfActive)]="this.dateTab">
          <clr-tab-content id="content1">
            <!--Spinner-->
            <span class="spinner spinner-md spinner-inline" *ngIf="(!this._appService.CheckRunService.displayData) && (this._appService.CheckRunService.displaySpinner)">
              Loading...
            </span>
            <span *ngIf="(!this._appService.CheckRunService.displayData) && (this.displaySpinner)">
              {{this._appService.CheckRunService.message}}
            </span>
            <!--End-->
            <div *ngIf="this._appService.CheckRunService.displayData">
              <!--CheckRun Form-->
              <form clrForm [formGroup]="cCheckForm">
                <clr-select-container [hidden]="this.displayHpLable">
                  <label>Health Plan</label>
                  <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
                    <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
                  </select>
                </clr-select-container>
                <clr-input-container [hidden]="!this.displayHpLable">
                  <label>Health Plan</label>
                  <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
                </clr-input-container>
                <clr-date-container>
                  <label>Last Received Date</label>
                  <input type="date" clrDate formControlName="endDate" [clrDate]="ValidateEndDateField()" />
                  <clr-control-error>{{this.errMsgEndDate}}</clr-control-error>
                </clr-date-container>
                <clr-input-container>
                  <label>Earliest Received Date</label>
                  <label>{{this._appService.CheckRunService.lastRecDate}}</label>
                </clr-input-container>
                <clr-select-container>
                  <label>Payments</label>
                  <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
                    <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
                  </select>
                </clr-select-container>
                <br />
                <div class="custom-styles">
                  <!--<clr-checkbox-wrapper>
                    <input type="checkbox" clrCheckbox formControlName="banking" />
                    <label>Show only claims with no banking details</label>
                  </clr-checkbox-wrapper>-->
                </div>
                <br />
                <button class="btn btn-primary" type="button" (click)="SubmitDetail()" [disabled]="!this.cCheckForm.valid">Display</button>
                <button class="btn btn-success-outline" type="button" (click)="GenerateBordRow()" [disabled]="this._appService.CheckRunService.readyToGenerate">
                  <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
                    Loading...
                  </span>
                  <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
                    Generate
                  </span>
                </button>
              </form>
              <!--End-->

            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="this.ProvTabSelected()">PRACTICE</button>
        <ng-template [(clrIfActive)]="this.provTab">
          <clr-tab-content>
            <form clrForm [formGroup]="cCheckProvForm">
              <clr-select-container [hidden]="this.displayHpLable">
                <label>Health Plan</label>
                <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
                </select>
              </clr-select-container>
              <clr-input-container [hidden]="!this.displayHpLable">
                <label>Health Plan</label>
                <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
              </clr-input-container>
              <clr-input-container>
                <label>Practice Number</label>
                <input formControlName="providerId" clrInput required />
                <clr-control-error>This field is required!</clr-control-error>
              </clr-input-container>
              <clr-select-container>
                <label>Payments</label>
                <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
                </select>
              </clr-select-container>
              <br />
              <div class="custom-styles">
                <!--<clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox formControlName="banking" />
                  <label>Show only claims with no banking details</label>
                </clr-checkbox-wrapper>-->
              </div>
              <br />
              <button class="btn btn-primary" type="button" (click)="this.SubmitDetailProvider()" [disabled]="!this.cCheckProvForm.valid">Display</button>
              <button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowProv()" [disabled]="this._appService.CheckRunService.readyToGenerate">
                <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
                  Loading...
                </span>
                <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
                  Generate
                </span>
              </button>
            </form>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="this.MembTabSelected()">MEMBER</button>
        <ng-template [(clrIfActive)]="this.mebTab">
          <clr-tab-content>
            <form clrForm [formGroup]="cCheckMembForm">
              <clr-select-container [hidden]="this.displayHpLable">
                <label>Health Plan</label>
                <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
                </select>
              </clr-select-container>
              <clr-input-container [hidden]="!this.displayHpLable">
                <label>Health Plan</label>
                <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
              </clr-input-container>
              <clr-input-container>
                <label>Family Number</label>
                <input formControlName="membId" clrInput required />
                <clr-control-error>This field is required!</clr-control-error>
              </clr-input-container>
              <clr-select-container>
                <label>Payments</label>
                <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
                </select>
              </clr-select-container>
              <br />
              <div class="custom-styles">
                <!--<clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox formControlName="banking" />
                  <label>Show only claims with no banking details</label>
                </clr-checkbox-wrapper>-->
              </div>
              <br />
              <button class="btn btn-primary" type="button" (click)="this.SubmitDetailMember()" [disabled]="!this.cCheckMembForm.valid">Display</button>
              <button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowMemb()" [disabled]="this._appService.CheckRunService.readyToGenerate">
                <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
                  Loading...
                </span>
                <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
                  Generate
                </span>
              </button>
            </form>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink (click)="this.ClaimTabSelected()">CLAIMNO</button>
        <ng-template [(clrIfActive)]="this.claimTab">
          <clr-tab-content>
            <form clrForm [formGroup]="cCheckClaimForm">
              <clr-select-container [hidden]="this.displayHpLable">
                <label>Health Plan</label>
                <select clrSelect formControlName="HPCode" (change)="this.HpCodeChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.HpCodesList" [ngValue]="list.code">{{list.name}}</option>
                </select>
              </clr-select-container>
              <clr-input-container [hidden]="!this.displayHpLable">
                <label>Health Plan</label>
                <label>{{this._appService.CheckRunService.HpCodesList[0].name}}</label>
              </clr-input-container>
              <clr-input-container>
                <label>Claim Number</label>
                <input formControlName="claimno" clrInput required />
                <clr-control-error>This field is required!</clr-control-error>
              </clr-input-container>
              <!--<clr-select-container>
                <label>Payments</label>
                <select clrSelect formControlName="viewPayments" (change)="this.viewChanged()">
                  <option *ngFor="let list of this._appService.CheckRunService.arrType" [ngValue]="list">{{list}}</option>
                </select>
              </clr-select-container>-->
              <br />
              <div class="custom-styles">
                <!--<clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox formControlName="banking" />
                  <label>Show only claims with no banking details</label>
                </clr-checkbox-wrapper>-->
              </div>
              <br />
              <button class="btn btn-primary" type="button" (click)="this.SubmitDetailClaim()" [disabled]="!this.cCheckClaimForm.valid">Display</button>
              <button class="btn btn-success-outline" type="button" (click)="this.GenerateBordRowClaim()" [disabled]="this._appService.CheckRunService.readyToGenerate">
                <span class="spinner spinner-sm" *ngIf="this._appService.CheckRunService.loadBoardRow">
                  Loading...
                </span>
                <span *ngIf="!this._appService.CheckRunService.loadBoardRow">
                  Generate
                </span>
              </button>
            </form>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
    </clr-tabs>
  </div>
  <div class="clr-col-7">

    <!--Summarized View Of CheckRun-->
    <div *ngIf="false"><h5><b>Summerized View </b> ({{this._appService.CheckRunService.lastRecDate}} - {{this.cCheckForm.get('endDate').value}})</h5></div>
    <clr-tabs *ngIf="false">
      <clr-tab>
        <button clrTabLink id="link1" (click)="CheckBenComplete()">SPECIALITY SPLIT</button>
        <clr-tab-content id="content1">
          <clr-datagrid *ngIf="this._appService.CheckRunService.displayData" style="width: 85%">
            <clr-dg-column>
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  Description
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingDescription()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column style="width: 5px">
              <span>Include</span>
            </clr-dg-column>
            <clr-dg-column>
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  Amount of Claims
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingTotalClaims()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column [hidden]="!this.showProv">
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  ProviderPayment
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingProvider()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-column [hidden]="!this.showMemb">
              <div class="clr-row">
                <div class="clr-col-sm-6">
                  MemberPayment
                </div>
                <div class="clr-col-sm-6 text-right">
                  <a (click)="this._appService.CheckRunService.GridSortingMember()" style="font-size:xx-small"><clr-icon shape="filter-grid" class="is-solid"></clr-icon></a>
                </div>
              </div>
            </clr-dg-column>
            <clr-dg-row *ngFor="let list of this._appService.CheckRunService.gridData">
              <clr-dg-cell>{{list.description}}</clr-dg-cell>
              <clr-dg-cell style="width: 5px">
                <form clrForm [formGroup]="specialtyForm">
                  <input type="checkbox" formControlName="specialty" (change)="this.AddSpecToWhereClause(list.description)" clrCheckbox [checked]="list.include" />
                </form>
              </clr-dg-cell>
              <clr-dg-cell>{{list.amountOfClaims}}</clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showProv">R {{list.providerPayment}}</clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showMemb">R {{list.memberPayment }}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell><b>TOTALS:</b></clr-dg-cell>
              <clr-dg-cell><b>...</b></clr-dg-cell>
              <clr-dg-cell><b>{{this._appService.CheckRunService.totalClaims}}</b></clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showProv"><b>R {{this._appService.CheckRunService.totalProvPayments}}</b></clr-dg-cell>
              <clr-dg-cell [hidden]="!this.showMemb"><b>R {{this._appService.CheckRunService.totalMembPayments}}</b></clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>

    <!--End-->

  </div>
</div>


