<div class="clr-row">
  <div class="clr-col-xl-10 clr-offset-xl-1">

    <div class="card">

      <div class="card-header">
        Claim Capture
      </div>

      <div class="card-block">
        <!--<div class="card-title">Claim Details</div>-->
        <div class="card-text">

          <h4>Claim Header</h4>

          <form class="clr-form clr-form-horizontal"
                [formGroup]="this._appService.ClaimCaptureService.ClaimMasterForm"
                [autocomplete]='off'>

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <fieldset [disabled]="this._appService.ClaimCaptureService.CurrentClaim.claimDetails.length > 0">
                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-sm-4" for="hp">Fund</label>
                    <div class="clr-control-container clr-col-sm-8">
                      <div class="clr-select-wrapper">
                        <select class="clr-select"
                                type="select"
                                tabindex="-1"
                                id="hp"
                                formControlName="hpCode">
                          <option *ngFor="let list of this._appService.ClaimCaptureService.HpCodesList" value="{{list.code}}">{{list.name}}</option>
                        </select>
                      </div>
                      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('hpCode').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('hpCode').valid">
                        Please select a fund
                      </span>
                    </div>
                  </div>
                </fieldset>

              </div> <!--col-->

              <div class="clr-col-lg-6">

                <fieldset [disabled]="this._appService.ClaimCaptureService.CurrentClaim.claimDetails.length > 0">
                  <div class="clr-form-control clr-row">
                    <label class="clr-control-label clr-col-sm-4" for="profHosp">Type</label>
                    <div class="clr-control-container clr-col-sm-8">
                      <div class="clr-select-wrapper">
                        <select class="clr-select"
                                type="select"
                                tabindex="-1"
                                id="profHosp"
                                formControlName="profHosp">
                          <option *ngFor="let item of this._appService.ClaimCaptureService.ProfHospSelect" value="{{item[0]}}">{{item[1]}}</option>
                        </select>
                      </div>
                      <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('profHosp').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('profHosp').valid">
                        Please select a type
                      </span>
                    </div>
                  </div>
                </fieldset>

              </div> <!--col-->
            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="provId">Treating Practice No</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="provId"
                             formControlName="provId"
                             (focus)="this._appService.ClaimCaptureService.ClearTreatingProvHelpers()"
                             (blur)=" this._appService.ClaimCaptureService.GetProvSpecAndNameAndVendors()">
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').valid">
                      Requires a valid 7 digit practice number
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').touched && this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').valid && this._appService.ClaimCaptureService.CurrentClaim.provName != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.provName}}
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').touched && this._appService.ClaimCaptureService.ClaimMasterForm.get('provId').valid && this._appService.ClaimCaptureService.CurrentClaim.provSpec != '' ">
                      SPECIALITY: {{this._appService.ClaimCaptureService.CurrentClaim.provSpec}} - {{this._appService.ClaimCaptureService.CurrentClaim.provSpecDescr}}
                    </span>
                  </div>
                </div>
              </div> <!--col-->

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="vendor">Group/Payment Practice</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-select-wrapper">
                      <select class="clr-select"
                              tabindex="-1"
                              type="select"
                              id="vendor"
                              formControlName="vendor">
                        <option *ngFor="let list of this._appService.ClaimCaptureService.VendorList" value="{{list.vendor}}">{{list.displayItem}}</option>
                      </select>
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('vendor').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('vendor').valid">
                      Please select a group/payment practice
                    </span>
                  </div>
                </div>

              </div> <!--col-->

            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="refProvId">Referring Practice No</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="refProvId"
                             formControlName="refProvId"
                             (focus)="this._appService.ClaimCaptureService.ClearRefProvHelpers()"
                             (blur)="this._appService.ClaimCaptureService.GetRefProvSpecAndName()">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').valid">
                      Requires a valid 7 digit practice number or leave blank if not applicable
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').touched && this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').valid && this._appService.ClaimCaptureService.CurrentClaim.refProvName != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.refProvName}}
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').touched && this._appService.ClaimCaptureService.ClaimMasterForm.get('refProvId').valid && this._appService.ClaimCaptureService.CurrentClaim.refProvSpec != '' ">
                      SPECIALITY: {{this._appService.ClaimCaptureService.CurrentClaim.refProvSpec}} - {{this._appService.ClaimCaptureService.CurrentClaim.refProvSpecDescr}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="provClaim">Practice Ref/Account No</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="provClaim"
                             formControlName="provClaim"
                             (blur)="this._appService.ClaimCaptureService.TrimClaimMasterValue('provClaim')">
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('provClaim').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('provClaim').valid">
                      This field is required (max length: 20)
                    </span>
                  </div>
                </div>

              </div> <!--col-->

            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="policyNo">Policy No</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="policyNo"
                             formControlName="policyNo"
                             (blur)="this._appService.ClaimCaptureService.ValidatePolicyNumber()">
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').value.trim() ==''">
                      This field is required
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').value.trim() !=''">
                      Policy Number incorrect/not found
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').touched && this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').valid && this._appService.ClaimCaptureService.CurrentClaim.familyOpt.trim() != '' ">
                      OPTION: {{this._appService.ClaimCaptureService.CurrentClaim.familyOpt}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="dependant">Dependant</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-select-wrapper">
                      <select class="clr-select"
                              type="select"
                              tabindex="-1"
                              id="dependant"
                              formControlName="dependant"
                              (blur)="this._appService.ClaimCaptureService.CheckDependantThruDate()">
                        <option *ngFor="let de of this._appService.ClaimCaptureService.FamilyList" value="{{de.dependant}}">{{de.dependant}} - {{de.firstnm}} {{de.lastnm}}</option>
                      </select>
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('dependant').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('dependant').valid">
                      Please select a dependant
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,133,15)" *ngIf="this._appService.ClaimCaptureService.DepOpthruDt != ''">
                      {{this._appService.ClaimCaptureService.DepOpthruDt}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="dateReceived">Date Received</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-date">
                      <input class="clr-input"
                             type="date"
                             [min]="this._appService.ClaimCaptureService.GetMinDateStr()"
                             [max]="this._appService.ClaimCaptureService.GetTodayStr()"
                             id="dateReceived"
                             formControlName="dateReceived">
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('dateReceived').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('dateReceived').valid">
                      Valid date required (between {{this._appService.ClaimCaptureService.GetMinDateStr()}} and {{this._appService.ClaimCaptureService.GetTodayStr()}})
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="claimType">Payment To</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-select-wrapper">
                      <select class="clr-select"
                              type="select"
                              tabindex="-1"
                              id="claimType"
                              formControlName="claimType"
                              (change)="this._appService.ClaimCaptureService.ClaimTypeChanged()">
                        <option *ngFor="let ct of this._appService.ClaimCaptureService.ClaimtypeSelect" value="{{ct[0]}}">{{ct[1]}}</option>
                      </select>
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').valid">
                      Please select an option
                    </span>
                  </div>
                </div>

              </div> <!--col-->

            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-6">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-4" for="authNo">Auth No</label>
                  <div class="clr-control-container clr-col-sm-8">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="authNo"
                             formControlName="authNo"
                             (blur)="this._appService.ClaimCaptureService.TrimClaimMasterValue('authNo')">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('authNo').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimMasterForm.get('authNo').valid">
                      max length: 16
                    </span>
                  </div>
                </div>

              </div> <!--col-->

            </div> <!--row-->

            <div class="clr-row">

              <div class="clr-col-lg-4">

                <!--<fieldset [disabled]="this._appService.ClaimCaptureService.DisableDiagEdit('diag1')">-->
                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-3" for="diag1">ICD10</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="diag1"
                             formControlName="diag1"
                             (blur)="this._appService.ClaimCaptureService.ValidateDiagCode('diag1')">
                    </div>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').touched && !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').enabled">
                      Valid ICD10 code required
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').value != '' && (this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').valid || !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag1').enabled) && this._appService.ClaimCaptureService.CurrentClaim.diag1desc != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.diag1desc}}
                    </span>
                  </div>
                </div>
                <!--</fieldset>-->
              </div> <!--col-->

              <div class="clr-col-lg-4">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-3" for="diag2">ICD10</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="diag2"
                             formControlName="diag2"
                             (blur)="this._appService.ClaimCaptureService.ValidateDiagCode('diag2')">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').valid  && this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').enabled">
                      Valid ICD10 code required, or leave blank if not applicable
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').value != '' &&  (this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').valid || !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag2').enabled) && this._appService.ClaimCaptureService.CurrentClaim.diag2desc != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.diag2desc}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <div class="clr-col-lg-4">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-3" for="diag3">ICD10</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="diag3"
                             formControlName="diag3"
                             (blur)="this._appService.ClaimCaptureService.ValidateDiagCode('diag3')">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').enabled">
                      Valid ICD10 code required, or leave blank if not applicable
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').value != '' &&  (this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').valid || !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag3').enabled) && this._appService.ClaimCaptureService.CurrentClaim.diag3desc != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.diag3desc}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <div class="clr-col-lg-4">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-3" for="diag4">ICD10</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="diag4"
                             formControlName="diag4"
                             (blur)="this._appService.ClaimCaptureService.ValidateDiagCode('diag4')">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').enabled">
                      Valid ICD10 code required, or leave blank if not applicable
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').value != '' && (this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').valid || !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag4').enabled) && this._appService.ClaimCaptureService.CurrentClaim.diag4desc != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.diag4desc}}
                    </span>
                  </div>
                </div>

              </div> <!--col-->

              <!--<div class="clr-col-lg-4">

                <div class="clr-form-control clr-row">
                  <label class="clr-control-label clr-col-sm-3" for="diag5">ICD10</label>
                  <div class="clr-control-container clr-col-sm-9">
                    <div class="clr-input-wrapper">
                      <input class="clr-input"
                             type="text"
                             id="diag5"
                             formControlName="diag5"
                             (blur)="this._appService.ClaimCaptureService.ValidateDiagCode('diag5')">
                    </div>
                    <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').value == ''">
                      *This field is optional
                    </span>
                    <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').valid && this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').enabled">
                      Valid ICD10 code required, or leave blank if not applicable
                    </span>
                    <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').value != '' && (this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').valid || !this._appService.ClaimCaptureService.ClaimMasterForm.get('diag5').enabled) && this._appService.ClaimCaptureService.CurrentClaim.diag5desc != '' ">
                      {{this._appService.ClaimCaptureService.CurrentClaim.diag5desc}}
                    </span>
                  </div>
                </div>

              </div>--> <!--col-->

            </div> <!--row-->

          </form>

          <div class="clr-row">
            <div class="clr-col-12">
              <h4>Claim Detail Lines</h4>
            </div>
          </div>

          <div class="clr-row">
            <div class="clr-col-lg-12">

              <clr-datagrid>
                <clr-dg-column [style.width.px]="125" [style.minWidth.px]="125">Action</clr-dg-column>
                <clr-dg-column [style.width.px]="50" [style.minWidth.px]="50">Line</clr-dg-column>
                <clr-dg-column style="min-width: 220px">Service Type</clr-dg-column>
                <clr-dg-column style="min-width: 105px">From Date</clr-dg-column>
                <clr-dg-column style="min-width: 105px">To Date</clr-dg-column>
                <clr-dg-column>Service Code</clr-dg-column>
                <clr-dg-column>Charged</clr-dg-column>
                <clr-dg-column [style.width.px]="50" [style.minWidth.px]="50">Qty</clr-dg-column>
                <clr-dg-column>Tooth Numbers</clr-dg-column>
                <clr-dg-column>Modifiers</clr-dg-column>
                <clr-dg-column [style.width.px]="3" [style.minWidth.px]="3"> </clr-dg-column><!--2nd Last column dragable to the right -->
                <!--<clr-dg-placeholder>Click the NEW DETAIL LINE button to add claim details.</clr-dg-placeholder>-->
                <clr-dg-row *ngFor="let item of this._appService.ClaimCaptureService.CurrentClaim.claimDetails">
                  <clr-dg-cell [style.width.px]="125" [style.minWidth.px]="125">
                    <button class="btn btn-icon btn-primary-outline btn-sm" title="View/Edit" (click)=" this._appService.ClaimCaptureService.NewEditClaimDetailLine(item)"><clr-icon shape="pencil"></clr-icon></button>
                    <button class="btn btn-icon btn-danger-outline btn-sm" title="Delete" (click)=" this._appService.ClaimCaptureService.RemoveClaimDetailLine(item)"><clr-icon shape="trash"></clr-icon></button>
                  </clr-dg-cell>
                  <clr-dg-cell [style.width.px]="50" [style.minWidth.px]="50">{{item.lineNo}}</clr-dg-cell>
                  <clr-dg-cell style="min-width: 220px">{{item.phCodeDesc}}</clr-dg-cell>
                  <clr-dg-cell style="min-width: 105px">{{item.svcDateFrom}}</clr-dg-cell>
                  <clr-dg-cell style="min-width: 105px">{{item.svcDateTo}}</clr-dg-cell>
                  <clr-dg-cell>{{item.procCode}}</clr-dg-cell>
                  <clr-dg-cell>{{item.billed}}</clr-dg-cell>
                  <clr-dg-cell [style.width.px]="50" [style.minWidth.px]="50">{{item.qty}}</clr-dg-cell>
                  <clr-dg-cell>{{item.toothNumString}}</clr-dg-cell>
                  <clr-dg-cell>{{item.modCodesString}}</clr-dg-cell>
                  <clr-dg-cell [style.width.px]="3" [style.minWidth.px]="3"> </clr-dg-cell><!--bug fix last column not displaying properly-->
                </clr-dg-row>
                <clr-dg-row>
                  <clr-dg-cell>
                    <button class="btn btn-success btn-sm" title="Add a new claim detail line" (click)=" this._appService.ClaimCaptureService.NewEditClaimDetailLine()">New Line</button>
                  </clr-dg-cell>
                </clr-dg-row>
                <clr-dg-footer>
                  <div class="clr-row">
                    <div class="clr-col-12 text-right"><b>Detail Lines Added: </b>{{this._appService.ClaimCaptureService.CurrentClaim.claimDetails.length}}</div>
                  </div>
                  <div class="clr-row">
                    <div class="clr-col-12 text-right"><b>Total Amount Charged: </b>{{this._appService.ClaimCaptureService.CurrentClaim.detailLinesBilledTotal | number: '1.2-2' : 'en-US'}}</div>
                  </div>

                </clr-dg-footer>
              </clr-datagrid>

            </div> <!--col-->
          </div> <!--row-->
        </div> <!--card-text-->
      </div> <!--card-block-->

      <div class="card-footer text-center">
        <button class="btn btn-primary btn-sm" (click)="this._appService.ClaimCaptureService.PrepareClaimSubmission()">Submit</button>
        <button class="btn btn-primary-outlined btn-sm" (click)="this._appService.ClaimCaptureService._clearClaimModal = true">Clear</button>
      </div> <!--card-footer-->

    </div> <!--card-->

  </div> <!--col-->
</div>

<!--claim detail modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._claimDetailModal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <!--<div class="modal-header">
        <h3 class="modal-title">Claim Detail Line</h3>
      </div> too much padding-->
      <div class="modal-body">

        <h4>Claim Detail Line</h4>

        <form class="clr-form clr-form-horizontal"
              [formGroup]="this._appService.ClaimCaptureService.ClaimDetailForm"
              [autocomplete]='off'>

          <div class="clr-row">

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="procCode">Tarrif Code</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="text"
                           id="procCode"
                           formControlName="procCode"
                           (blur)="this._appService.ClaimCaptureService.ValidateProcCode()">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('procCode').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('procCode').valid">
                    Service code or medicine code required (max length: 20)
                  </span>
                  <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('procCode').touched && this._appService.ClaimCaptureService.ClaimDetailForm.get('procCode').valid && this._appService.ClaimCaptureService.CurrentClaimDetail.procCodeDesc != '' ">
                    {{this._appService.ClaimCaptureService.CurrentClaimDetail.procCodeDesc}}
                  </span>
                </div>
              </div>

            </div> <!--col-->

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="phCode">Service Type</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-select-wrapper">
                    <select class="clr-select"
                            type="select"
                            tabindex="-1"
                            id="phCode"
                            formControlName="phCode">
                      <option *ngFor="let item of this._appService.ClaimCaptureService.ListOfServiceTypesFiltered" value="{{item.phCode}}">{{item.phDesc}}</option>
                    </select>
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('phCode').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('phCode').valid">
                    Please select a Service Type
                  </span>
                </div>
              </div>

            </div> <!--col-->
          </div> <!--row-->

          <div class="clr-row">

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="svcDateFrom">Service From Date</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-date">
                    <input class="clr-input"
                           type="date"
                           [min]="this._appService.ClaimCaptureService.GetMinDateStr()"
                           [max]="this._appService.ClaimCaptureService.GetTodayStr()"
                           id="svcDateFrom"
                           formControlName="svcDateFrom"
                           (blur)="this._appService.ClaimCaptureService.SetServiceToDate()">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('svcDateFrom').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('svcDateFrom').valid">
                    Valid date required (between {{this._appService.ClaimCaptureService.GetMinDateStr()}} and {{this._appService.ClaimCaptureService.GetTodayStr()}})
                  </span>
                </div>
              </div>

            </div> <!--col-->

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="svcDateTo">Service To Date</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-date">
                    <input class="clr-input"
                           type="date"
                           [min]="this._appService.ClaimCaptureService.GetMinDateStr()"
                           [max]="this._appService.ClaimCaptureService.GetTodayStr()"
                           id="svcDateTo"
                           formControlName="svcDateTo">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('svcDateTo').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('svcDateTo').valid">
                    Valid date required (between {{this._appService.ClaimCaptureService.GetMinDateStr()}} and {{this._appService.ClaimCaptureService.GetTodayStr()}})
                  </span>
                </div>
              </div>

            </div> <!--col-->

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="billed">Charge Amount</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="text"
                           id="billed"
                           formControlName="billed"
                           (keydown)="this._appService.ValidationService.onlyDecimalInputTwoDecimalPlaces($event, inputBilled)" #inputBilled>
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('billed').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('billed').valid">
                    Valid billed amount required. (format 99999.99)
                  </span>
                </div>
              </div>

            </div> <!--col-->

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="qty">Quantity</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="number"
                           id="qty"
                           [min]="0"
                           [max]="9999.99"
                           formControlName="qty">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('qty').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('qty').valid">
                    Valid quantity required. (format 9999.99)
                  </span>
                </div>
              </div>

            </div> <!--col-->

          </div> <!--row-->

          <div class="clr-row">

            <div class="clr-col-lg-6">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="diag">ICD10</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-select-wrapper">
                    <select class="clr-select"
                            type="select"
                            tabindex="-1"
                            id="diag"
                            formControlName="diag">
                      <option *ngIf="this._appService.ClaimCaptureService.CurrentClaim.diag1 != ''"
                              value="{{this._appService.ClaimCaptureService.CurrentClaim.diag1}}">
                        {{this._appService.ClaimCaptureService.CurrentClaim.diag1}} - {{this._appService.ClaimCaptureService.CurrentClaim.diag1desc}}
                      </option>
                      <option *ngIf="this._appService.ClaimCaptureService.CurrentClaim.diag2 != ''"
                              value="{{this._appService.ClaimCaptureService.CurrentClaim.diag2}}">
                        {{this._appService.ClaimCaptureService.CurrentClaim.diag2}} - {{this._appService.ClaimCaptureService.CurrentClaim.diag2desc}}
                      </option>
                      <option *ngIf="this._appService.ClaimCaptureService.CurrentClaim.diag3 != ''"
                              value="{{this._appService.ClaimCaptureService.CurrentClaim.diag3}}">
                        {{this._appService.ClaimCaptureService.CurrentClaim.diag3}} - {{this._appService.ClaimCaptureService.CurrentClaim.diag3desc}}
                      </option>
                      <option *ngIf="this._appService.ClaimCaptureService.CurrentClaim.diag4 != ''"
                              value="{{this._appService.ClaimCaptureService.CurrentClaim.diag4}}">
                        {{this._appService.ClaimCaptureService.CurrentClaim.diag4}} - {{this._appService.ClaimCaptureService.CurrentClaim.diag4desc}}
                      </option>
                      <!--<option *ngIf="this._appService.ClaimCaptureService.CurrentClaim.diag5 != ''"
                              value="{{this._appService.ClaimCaptureService.CurrentClaim.diag5}}">
                        {{this._appService.ClaimCaptureService.CurrentClaim.diag5}} - {{this._appService.ClaimCaptureService.CurrentClaim.diag5desc}}
                      </option>-->
                    </select>
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('diag').touched && !this._appService.ClaimCaptureService.ClaimDetailForm.get('diag').valid">
                    Please select an ICD10 code
                  </span>
                </div>
              </div>

            </div> <!--col-->

          </div> <!--row-->

          <br />

          <div class="clr-row">
            <div class="clr-col-12">
              <clr-accordion [clrAccordionMultiPanel]="true">

                <clr-accordion-panel [clrAccordionPanelDisabled]="this._appService.ClaimCaptureService.ClaimDetailForm.get('rejCode').value != '' "
                                     [clrAccordionPanelOpen]="this._appService.ClaimCaptureService.ClaimDetailForm.get('rejCode').value != '' ">
                  <clr-accordion-title>Reject Claim</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
                    <div class="clr-row">
                      <div class="clr-col-12">

                        <div class="clr-form-control clr-row">
                          <label class="clr-control-label clr-col-sm-3" for="rejCode">Rejection Reason</label>
                          <div class="clr-control-container clr-col-sm-9">
                            <div class="clr-select-wrapper">
                              <select class="clr-select"
                                      type="select"
                                      tabindex="-1"
                                      id="rejCode"
                                      formControlName="rejCode">
                                <option *ngFor="let item of this._appService.ClaimCaptureService.RejectionCodeListFiltered" value="{{item.code}}">{{item.code}} - {{item.reason}}</option>
                              </select>
                            </div>
                            <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('rejCode').value == ''">
                              *This field is optional
                            </span>
                            <button *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('rejCode').value != ''"
                                    class="btn btn-danger btn-sm" type="button" (click)="this._appService.ClaimCaptureService.ClearRejection()">
                              Clear Rejection
                            </button>
                          </div>
                        </div>

                      </div> <!--col-->
                    </div> <!--row-->

                    <div class="clr-row">
                      <div class="clr-col-12">

                      </div> <!--col-->
                    </div> <!--row-->

                  </clr-accordion-content>
                </clr-accordion-panel>

                <clr-accordion-panel [clrAccordionPanelDisabled]="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth1').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').value != '' "
                                     [clrAccordionPanelOpen]="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth1').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').value != '' ">
                  <clr-accordion-title>Tooth Numbers</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
                    <div class="clr-row">

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth1"
                               formControlName="tooth1"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth1')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth1').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth1').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth1').value != '' && this._appService.ClaimCaptureService.CurrentClaim.tooth1Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth1Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth2"
                               formControlName="tooth2"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth2')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth2').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth2Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth2Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth3"
                               formControlName="tooth3"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth3')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth3').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth3Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth3Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth4"
                               formControlName="tooth4"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth4')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth4').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth4Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth4Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth5"
                               formControlName="tooth5"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth5')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth5').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth5Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth5Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth6"
                               formControlName="tooth6"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth6')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth6').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth6Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth6Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth7"
                               formControlName="tooth7"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth7')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth7').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth7Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth7Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Tooth no"
                               type="text"
                               id="tooth8"
                               formControlName="tooth8"
                               (blur)="this._appService.ClaimCaptureService.ValidateToothNo('tooth8')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').valid">
                          Valid tooth no required, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').value != '' && this._appService.ClaimCaptureService.ClaimDetailForm.get('tooth8').valid && this._appService.ClaimCaptureService.CurrentClaim.tooth8Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.tooth8Desc}}
                        </span>
                      </div> <!--col-->

                    </div> <!--row-->
                  </clr-accordion-content>
                </clr-accordion-panel>

                <clr-accordion-panel [clrAccordionPanelDisabled]="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier1').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier2').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier3').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier4').value != '' "
                                     [clrAccordionPanelOpen]="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier1').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier2').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier3').value != '' || this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier4').value != '' ">
                  <clr-accordion-title>Modifiers</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
                    <div class="clr-row">

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Modifier Code"
                               type="text"
                               id="modifier1"
                               formControlName="modifier1"
                               (blur)="this._appService.ClaimCaptureService.GetModifierCodeDescription('modifier1')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier1').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier1').valid">
                          Max length 7, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier1').value != '' &&  this._appService.ClaimCaptureService.CurrentClaimDetail.modifier1Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.modifier1Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Modifier Code"
                               type="text"
                               id="modifier2"
                               formControlName="modifier2"
                               (blur)="this._appService.ClaimCaptureService.GetModifierCodeDescription('modifier2')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier2').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier2').valid">
                          Max length 7, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier2').value != '' && this._appService.ClaimCaptureService.CurrentClaimDetail.modifier2Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.modifier2Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Modifier Code"
                               type="text"
                               id="modifier3"
                               formControlName="modifier3"
                               (blur)="this._appService.ClaimCaptureService.GetModifierCodeDescription('modifier3')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier3').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier3').valid">
                          Max length 7, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier3').value != '' && this._appService.ClaimCaptureService.CurrentClaimDetail.modifier3Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.modifier3Desc}}
                        </span>
                      </div> <!--col-->

                      <div class="clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
                        <input class="clr-input"
                               placeholder="Modifier Code"
                               type="text"
                               id="modifier4"
                               formControlName="modifier4"
                               (blur)="this._appService.ClaimCaptureService.GetModifierCodeDescription('modifier4')" />
                        <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier4').value == ''">
                          *This field is optional
                        </span>
                        <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier4').valid">
                          Max length 7, or leave blank if not applicable
                        </span>
                        <span class="clr-subtext" style="color: rgb(4, 161, 70)" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('modifier4').value != '' && this._appService.ClaimCaptureService.CurrentClaimDetail.modifier4Desc != '' ">
                          {{this._appService.ClaimCaptureService.CurrentClaimDetail.modifier4Desc}}
                        </span>
                      </div> <!--col-->

                    </div> <!--row-->
                  </clr-accordion-content>
                </clr-accordion-panel>

                <clr-accordion-panel [clrAccordionPanelDisabled]="this._appService.ClaimCaptureService.ClaimDetailForm.get('note').value != '' "
                                     [clrAccordionPanelOpen]="this._appService.ClaimCaptureService.ClaimDetailForm.get('note').value != '' ">
                  <clr-accordion-title>Notes</clr-accordion-title>
                  <clr-accordion-content *clrIfExpanded>
                    <div class="clr-row">
                      <div class="clr-col-12">

                        <div class="clr-form-control clr-row">
                          <label class="clr-control-label clr-col-sm-2" for="note">Note</label>
                          <div class="clr-control-container clr-col-sm-10">
                            <div class="clr-textarea-wrapper">
                              <textarea class="clr-textarea"
                                        type="text"
                                        id="note"
                                        formControlName="note">
                              </textarea>
                            </div>
                            <span class="clr-subtext" style="color: cornflowerblue" *ngIf="this._appService.ClaimCaptureService.ClaimDetailForm.get('note').value == ''">
                              *This field is optional
                            </span>
                            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ClaimCaptureService.ClaimDetailForm.get('note').valid">
                              Max length: 40
                            </span>
                          </div>
                        </div>

                      </div> <!--col-->
                    </div> <!--row-->
                  </clr-accordion-content>
                </clr-accordion-panel>

              </clr-accordion>

            </div> <!--col-->
          </div> <!--row-->

        </form>

      </div> <!--modal-body-->
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="this._appService.ClaimCaptureService.SaveClaimDetailLine()">Save</button>
        <button class="btn btn-outline" (click)="this._appService.ClaimCaptureService._cancelDetailModal = true">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>


<!--claim confirm details are correct before submit-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._confirmationModal">
  <div class="modal-dialog modal-xl" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Submission Confirmation</h3>
      </div>
      <div class="modal-body">

        <form class="clr-form clr-form-horizontal"
              [formGroup]="this._appService.ClaimCaptureService.ValidationForm"
              [autocomplete]='off'>
          <div class="clr-checkbox-container">
            <div class="clr-checkbox-wrapper">
              <input type="checkbox" class="clr-checkbox" id="checked" formControlName="checked">
              <label for="checked" class="clr-control-label"><b>I agree that all the information below is correct. And the information provided by me is not falsified in any way.</b></label>
              <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.ValidationForm.get('checked').touched && !this._appService.ClaimCaptureService.ValidationForm.get('checked').valid">
                Please confirm that the claim information is correct.
              </span>
            </div>
          </div>
        </form>

        <br />

        Fund: <b>{{this._appService.ClaimCaptureService.CurrentClaim.hpCodeDesc}}</b><br />
        Type: <b>{{this._appService.ClaimCaptureService.CurrentClaim.provHospDesc}}</b><br />
        Treating Practice: <b>{{this._appService.ClaimCaptureService.CurrentClaim.provId}} {{this._appService.ClaimCaptureService.CurrentClaim.provName}}</b> Speciality: <b>{{this._appService.ClaimCaptureService.CurrentClaim.provSpec}}-{{this._appService.ClaimCaptureService.CurrentClaim.provSpecDescr}}</b><br />
        Group/Payment Practice: <b>{{this._appService.ClaimCaptureService.CurrentClaim.vendorName}}</b><br />
        Referring Practice: <b>{{this._appService.ClaimCaptureService.CurrentClaim.refProvId}} {{this._appService.ClaimCaptureService.CurrentClaim.refProvName}}</b> Speciality: <b>{{this._appService.ClaimCaptureService.CurrentClaim.refProvSpec}}-{{this._appService.ClaimCaptureService.CurrentClaim.refProvSpecDescr}}</b><br />
        Policy No: <b>{{this._appService.ClaimCaptureService.CurrentClaim.policyNo}} - {{this._appService.ClaimCaptureService.CurrentClaim.familyOpt}}</b><br />
        Dependant: <b>{{this._appService.ClaimCaptureService.CurrentClaim.dependant}} - {{this._appService.ClaimCaptureService.CurrentClaim.dependantFirstnm}} {{this._appService.ClaimCaptureService.CurrentClaim.dependantLastnm}} </b><br />
        Date Received: <b>{{this._appService.ClaimCaptureService.CurrentClaim.dateReceived}}</b><br />
        Payment To: <b>{{this._appService.ClaimCaptureService.CurrentClaim.claimTypeDesc}}</b><br />
        Auth No: <b>{{this._appService.ClaimCaptureService.CurrentClaim.authNo}}</b><br />
        ICD10: <b>{{this._appService.ClaimCaptureService.CurrentClaim.diag1}} {{this._appService.ClaimCaptureService.CurrentClaim.diag1desc}}</b><br />
        ICD10: <b>{{this._appService.ClaimCaptureService.CurrentClaim.diag2}} {{this._appService.ClaimCaptureService.CurrentClaim.diag2desc}}</b><br />
        ICD10: <b>{{this._appService.ClaimCaptureService.CurrentClaim.diag3}} {{this._appService.ClaimCaptureService.CurrentClaim.diag3desc}}</b><br />
        ICD10: <b>{{this._appService.ClaimCaptureService.CurrentClaim.diag4}} {{this._appService.ClaimCaptureService.CurrentClaim.diag4desc}}</b><br />
        <!--ICD10: <b>{{this._appService.ClaimCaptureService.CurrentClaim.diag5}} {{this._appService.ClaimCaptureService.CurrentClaim.diag5desc}}</b><br />-->

        <br />

        <div *ngFor="let line of this._appService.ClaimCaptureService.CurrentClaim.claimDetails">
          Line No: <b>{{line.lineNo}}</b><br />
          Tarrif Code: <b>{{line.procCode}} - {{line.procCodeDesc}}</b><br />
          Service Type: <b>{{line.phCodeDesc}}</b><br />
          Service From Date: <b>{{line.svcDateFrom}}</b><br />
          Service To Date: <b>{{line.svcDateTo}}</b><br />
          Charge Amount: <b>{{line.billed}}</b><br />
          Quantity: <b>{{line.qty}}</b><br />
          ICD10: <b>{{line.diag}} {{line.diagDesc}}</b><br />
          Rejection Reason: <b>{{line.rejCodeDesc}}</b><br />
          Tooth Numbers: <b>{{line.toothNumString}}</b><br />
          Modifiers: <b>{{line.modCodesString}}</b><br />
          Note: <b>{{line.note}}</b><br />
          <br />
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this._appService.ClaimCaptureService.SubmitClaim()">Submit</button>
        <button class="btn btn-outline" type="button" (click)="this._appService.ClaimCaptureService._confirmationModal = false">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>

<!--banking details prompt modal-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._bankingPromptModal" [clrModalClosable]="false">
  <div class="modal-body">
    <p *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'M'">Would you like to add banking details for this member?</p>
    <p *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'P'">Would you like to add banking details for this provider?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService.BankingDetailsForm.reset();
                                                           this._appService.ClaimCaptureService.BankingDetailsFormInit();
                                                           this._appService.ClaimCaptureService._bankingPromptModal = false;
                                                           this._appService.ClaimCaptureService._bankingEditModal = true;">
      Yes
    </button>
    <button type="button" class="btn btn-outline" (click)="this._appService.ClaimCaptureService._bankingPromptModal = false">No</button>
  </div>
</clr-modal>

<!--banking details edit modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._bankingEditModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Edit Banking Details</h3>
      </div>
      <div class="modal-body">
        <span style="font-size: small" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'M'"><i>Edit banking details for Member: {{this._appService.ClaimCaptureService.ClaimMasterForm.get('policyNo').value}}</i></span>
        <span style="font-size: small" *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'P'"><i>Edit banking details for Provider: {{this._appService.ClaimCaptureService.ClaimMasterForm.get('vendor').value}}</i></span>

        <form class="clr-form clr-form-horizontal"
              [formGroup]="this._appService.ClaimCaptureService.BankingDetailsForm"
              [autocomplete]='off'>

          <div class="clr-row">
            <div class="clr-col-lg-12">

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="bankName">Bank Name</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="text"
                           id="bankName"
                           formControlName="bankName"
                           (blur)="this._appService.ClaimCaptureService.TrimBankingDetailsValue('bankName')">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.BankingDetailsForm.get('bankName').touched && !this._appService.ClaimCaptureService.BankingDetailsForm.get('bankName').valid">
                    This field is required (max length: 30)
                  </span>
                </div>
              </div>

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="branchCode">Branch Code</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="text"
                           id="branchCode"
                           formControlName="branchCode"
                           (blur)="this._appService.ClaimCaptureService.TrimBankingDetailsValue('branchCode')">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.BankingDetailsForm.get('branchCode').touched && !this._appService.ClaimCaptureService.BankingDetailsForm.get('branchCode').valid">
                    This field is required (max length: 10)
                  </span>
                </div>
              </div>

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="accountNo">Account No</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-input-wrapper">
                    <input class="clr-input"
                           type="text"
                           id="accountNo"
                           formControlName="accountNo"
                           (blur)="this._appService.ClaimCaptureService.TrimBankingDetailsValue('accountNo')">
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.BankingDetailsForm.get('accountNo').touched && !this._appService.ClaimCaptureService.BankingDetailsForm.get('accountNo').valid">
                    This field is required (max length: 20)
                  </span>
                </div>
              </div>

              <div class="clr-form-control clr-row">
                <label class="clr-control-label clr-col-sm-4" for="accountType">Account Type</label>
                <div class="clr-control-container clr-col-sm-8">
                  <div class="clr-select-wrapper">
                    <select class="clr-select"
                            type="select"
                            tabindex="-1"
                            id="accountType"
                            formControlName="accountType">
                      <option *ngFor="let item of this._appService.ClaimCaptureService.AccTypeSelect" value="{{item}}">{{item}}</option>
                    </select>
                  </div>
                  <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ClaimCaptureService.BankingDetailsForm.get('accountType').touched && !this._appService.ClaimCaptureService.BankingDetailsForm.get('accountType').valid">
                    Please select an option
                  </span>
                </div>
              </div>

            </div> <!--col-->
          </div> <!--row-->

        </form>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" [disabled]="!this._appService.ClaimCaptureService.BankingDetailsForm.valid"
                (click)="this._appService.ClaimCaptureService._bankingEditModal = false;this._appService.ClaimCaptureService._bankingEditWarningModal = true">
          Update
        </button>
        <button class="btn btn-outline" type="button" (click)="this._appService.ClaimCaptureService._bankingEditModal = false">Cancel</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>

<!--banking details warning-->
<clr-modal [(clrModalOpen)]="this._appService.ClaimCaptureService._bankingEditWarningModal" [clrModalClosable]="false" aria-modal="true">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon> WARNING</h3>
  <div class="modal-body">
    <div *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'M'">
      <p>
        You are about to permanently change the banking details of a member.<br />
        Do you wish to continue?
      </p>
    </div>
    <div *ngIf="this._appService.ClaimCaptureService.ClaimMasterForm.get('claimType').value == 'P'">
      <p>
        You are about to permanently change the banking details of a Provider.<br />
        Do you wish to continue?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.ClaimCaptureService.UpdateBankingDetailsNew()">Continue</button>
    <button type="button" class="btn btn-outline" (click)="this._appService.ClaimCaptureService._bankingEditWarningModal = false">Cancel</button>
  </div>
</clr-modal>

<!--busy spinner-->
<clr-modal tabindex="-1" [(clrModalOpen)]="this._appService.ClaimCaptureService._busyLoading" [clrModalSize]="'sm'" [clrModalClosable]="false">
  <div tabindex="-1" class="modal-body text-center" style="padding: 24px;">
    <span tabindex="-1" class="spinner">
      Loading...
    </span>
  </div>
</clr-modal>

<!--error modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._errorModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.ClaimCaptureService._errorModal = false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">{{this._appService.ClaimCaptureService._errorMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.ClaimCaptureService._errorMessage}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.ClaimCaptureService._errorModal = false">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>

<!--success modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._successModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{this._appService.ClaimCaptureService._successMessageHeading}}</h3>
      </div>
      <div class="modal-body">
        <p>{{this._appService.ClaimCaptureService._successMessage}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this._appService.ClaimCaptureService._successModal = false">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>

<!--clear claim Modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._clearClaimModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Warning</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear all claim data without saving?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this._appService.ClaimCaptureService.ClearClaim()">Yes</button>
        <button class="btn btn-outline" type="button" (click)="this._appService.ClaimCaptureService._clearClaimModal = false">No</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>

<!--clear claim Modal-->
<div class="modal" *ngIf="this._appService.ClaimCaptureService._cancelDetailModal">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="false" aria-modal="true">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Warning</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel without saving changes?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="this._appService.ClaimCaptureService.CancelDetailModal()">Yes</button>
        <button class="btn btn-outline" type="button" (click)="this._appService.ClaimCaptureService._cancelDetailModal = false">No</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="false"></div>
</div>






