.exclude-styles input[type=checkbox]:checked + label::before {
  border-color: yellow;
  background-color: yellow;
}

.reject-styles input[type=checkbox]:checked + label::before {
  border-color: red;
  background-color: red;
}
