
<div class="clr-row">
  <div class="clr-col-6">
    <!--BordRow Help StackView-->
    <clr-stack-view style="width: 100%" *ngIf="this._appService.CheckRunService.showText">
      <clr-stack-block [clrSbExpanded]="this._appService.CheckRunService._expandLegend" joyrideStep="checkrun_4" title="Help" text="This section contains a legend of the checkrun below. " stepPosition="right">
        <!--BordRow Ledgend-->
        <clr-stack-label>Bordereaux Legend</clr-stack-label>
        <clr-stack-block>
          <clr-stack-label>
            <table class="table" style=" background-color:#9A9A9A;" *ngIf="this._appService.CheckRunService.legendDisplay">
              <thead>
                <tr>
                  <th style="background-color:#565656; color:black">BordRow Legend</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="text-align:left; width:180px; font-weight:700; color:black; background-color:#EEEEEE"
                      joyrideStep="checkrun_5" title="Help" text="The members details will have a light yellow background. " stepPosition="right">
                    Main Member Details
                  </td>
                </tr>
                <tr>
                  <td style="text-align:left;width:180px; font-weight:700; color:black; background-color:#FFEBF5"
                      joyrideStep="checkrun_6" title="Help" text="The practice details will have a light pink background. " stepPosition="right">
                    Practice Details
                  </td>
                </tr>
                <tr>
                  <td style="text-align:left;width:180px; font-weight:700; color:black; background-color:#E1F1F6"
                      joyrideStep="checkrun_7" title="Help" text="The claim details will have a light blue background. " stepPosition="right">
                    Claim Details
                  </td>
                </tr>
                <tr>
                  <td style="text-align:left;width:180px; font-weight:700; color:black; background-color:#E3DDD1"
                      joyrideStep="checkrun_8" title="Help" text="The actions you can prerform on the claim will have a brown background. " stepPosition="right">
                    Status
                    <div style="white-space: nowrap; display:inline-block">
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration:none">
                        <input type="checkbox" clrToggle checked
                               joyrideStep="checkrun_9" title="Help" text="Green indicates the claim has been validate and is included in the checkrun. " stepPosition="right" />
                        <span class="tooltip-content">Validated</span>
                      </a>
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
                        <div class="reject-styles">
                          <clr-toggle-wrapper>
                            <input type="checkbox" clrToggle checked
                                   joyrideStep="checkrun_10" title="Help" text="Red indicates the claim has been rejected and the paid amount is 0. " stepPosition="right" />
                            <label></label>
                          </clr-toggle-wrapper>
                        </div>
                        <span class="tooltip-content">Reject</span>
                      </a>
                      <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
                        <div class="exclude-styles">
                          <clr-toggle-wrapper>
                            <input type="checkbox" clrToggle checked
                                   joyrideStep="checkrun_11" title="Help" text="Yellow indicates the claim has been excluded and is excluded from the checkrun. " stepPosition="right" />
                            <label></label>
                          </clr-toggle-wrapper>
                        </div>
                        <span class="tooltip-content">Exclude</span>
                      </a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:left;width:180px; font-weight:700; color:black; background-color:#FFE5C9"
                      joyrideStep="checkrun_12" title="Help" text="The totals will have a light golden brown background. " stepPosition="right">
                    Totals&nbsp;&nbsp;
                    <label style="white-space:nowrap">
                      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
                        <span class="badge badge-warning"
                              joyrideStep="checkrun_13" title="Help" text="An amount in yellow indicates the total claims for a specific practice. " stepPosition="right"></span>&nbsp;
                        <span class="tooltip-content">Amount of Claims</span>
                      </a>
                      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
                        <span class="badge badge-success" joyrideStep="checkrun_14" title="Help" text="An amount in green indicates the total approved amount of the all claims for a specific practice." stepPosition="right"></span>&nbsp;
                        <span class="tooltip-content">Amount Approved</span>
                      </a>
                      <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm" style="text-decoration: none">
                        <span class="badge" style="background:darkslateblue" joyrideStep="checkrun_15" title="Help" text="An amount in blue indicates the total paid amount of the all claims for a specific practice. " stepPosition="right"></span>&nbsp;
                        <span class="tooltip-content">Amount Paid</span>
                      </a>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <!--End-->
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
      <clr-stack-block [clrSbExpanded]="this._appService.CheckRunService._expandFilter" joyrideStep="checkrun_16" title="Help" text="This section contains filters that can be applied to the checkrun." stepPosition="right">

        <clr-stack-label>Filter Options</clr-stack-label>
        <clr-stack-content><i style="font-size:x-small; color:#007E7A; font-weight:bold">({{this._appService.CheckRunService.currentProvFilter}})</i></clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>
            <!-- Filter Grid -->
            <clr-datagrid>
              <clr-dg-column>
                <div class="clr-row">
                  <div class="clr-col-4"></div>
                  <div class="clr-col-4">Filters </div>
                  <div class="clr-col-4"></div>
                </div>
              </clr-dg-column>
              <clr-dg-row>
                <clr-dg-cell>
                  <span style="text-decoration: none; font-size:x-small; color: #0065AB; cursor:pointer " (click)="this._appService.CheckRunService.AllValidatedFilterProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Show All Validated Claims
                  </span>
                  <br />
                  <span style="text-decoration: none; font-size: x-small; color: #0065AB; cursor: pointer" (click)="this._appService.CheckRunService.AllexcludedFilterProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Show All Excluded Claims
                  </span>
                  <br />
                  <span style="text-decoration: none; font-size: x-small; color: #0065AB; cursor: pointer" (click)="this._appService.CheckRunService.AllRejectedFilterProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Show All Rejected Claims
                  </span>
                  <br />
                  <span style="text-decoration: none; font-size: x-small; color: #0065AB; cursor: pointer" (click)="this._appService.CheckRunService.AllNonValidatedFilterProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Show All Non-Validated Claims
                  </span>
                  <br />
                  <span style="text-decoration: none; font-size: x-small; color: #0065AB; cursor: pointer" (click)="this._appService.CheckRunService.RemoveFiltersProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Remove Filter
                  </span><br />
                  <span *ngIf="this._appService.CheckRunService._paymentType == 'P'" style="text-decoration: none; font-size: x-small; color: #0065AB; cursor: pointer" (click)="this._appService.CheckRunService.NoBankingDetailsProvider()">
                    <clr-icon shape="filter-grid" class="is-solid"></clr-icon>
                    Show Claims With No Banking Details
                  </span>
                  <br />
                </clr-dg-cell>
              </clr-dg-row>
              <clr-dg-footer>
                <div class="clr-row">
                  <div class="clr-col-1"></div>
                  <div class="clr-col-8">
                    <span style="font-size: x-small;">
                      <b>BatchNo:</b> {{this._appService.CheckRunService.batchNumber}}
                    </span>
                  </div>
                  <div class="clr-col-3"></div>
                </div>
              </clr-dg-footer>
            </clr-datagrid>
          </clr-stack-label>
        </clr-stack-block>
      </clr-stack-block>
    </clr-stack-view>
    <!--End-->
  </div>
  <div class="clr-col-6">
    <!--Info Alert-->
    <div class="alert alert-info" role="alert" style="width:100%">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            <b>Bordereaux Help</b><br />
            This application gives you the ability to generate a Bordereaux according to your specified dates, it  allows you to <i>VALIDATE, REJECT</i> and <i>EXCLUDE</i> claims from a Bordereaux
            as well as edit the banking details of member claims.<br />
            <!--Jaco comment out 2023-10-04-->
            <!--<a target="_self" href="./../../../../PamcPortal/assets/CheckRun_User_Guide.pdf" download="CheckRun_User_Guide.pdf" style="text-decoration:none" joyrideStep="checkrun_17" title="Help" text="Click on this link to download a detailed user guide about the checkrun." stepPosition="top">
              For a more detailed explanation of what to do, download the <i>USER GUIDE</i> here. <clr-icon shape="download"></clr-icon>
            </a>-->

            <!--Jaco 2023-10-04 remove PamPortal so that it can work on TEST1 as well-->
            <a target="_self" href="assets/CheckRun_User_Guide.pdf" download="CheckRun_User_Guide.pdf" style="text-decoration:none" joyrideStep="checkrun_17" title="Help" text="Click on this link to download a detailed user guide about the checkrun." stepPosition="top">
              For a more detailed explanation of what to do, download the <i>USER GUIDE</i> here. <clr-icon shape="download"></clr-icon>
            </a>
          </span>
        </div>
      </div>
    </div>
    <!--End-->
  </div>
</div>
<br />
<div class="clr-row">
  <div class="clr-col-9">
    <br />
    <!--Checkbox indicating if batch is ready for payment-->
    <form clrForm [formGroup]="cbordRowForm">
      <!--<clr-select-container *ngIf="false">
        <label>Group Bordereaux:</label>
        <select clrSelect formControlName="grouping" (change)="this.GroupingChanged()">
          <option value="Member">Member</option>
          <option value="Scroll">Scrollable View</option>
        </select>
      </clr-select-container>-->
      <div class="btn-group">
        <button class="btn btn-success-outline btn-sm" (click)="ValidateEntireBatch()" *ngIf="this._appService.CheckRunService.hideReleaseOpt"
                joyrideStep="checkrun_18" title="Validate All" text="Click on this button to validate all claims in the current batch." stepPosition="bottom">
          Validate All
        </button>
        <button class="btn btn-warning-outline btn-sm" (click)="ExpandTree()"
                joyrideStep="checkrun_19" title="Expand all" text="Click on this button to expand/contact all the headings in the current checkrun." stepPosition="bottom">
          Collapse
        </button>
        <button class="btn btn-outline btn-sm" style="color:peru; border-color:peru" (click)="OpenSearchBoxUnreleased()" *ngIf="this._appService.CheckRunService.hideReleaseOpt"
                joyrideStep="checkrun_20" title="Search" text="Click on this button to search for a specific practice, member of claim number." stepPosition="bottom">
          Find
        </button>
        <button *ngIf="(this._appService.LoginService.userRights.releaseCheckrun) && (this._appService.CheckRunService.hideReleaseOpt)" class="btn btn-sm btn-outline" (click)=" this.CheckForIncompleteBanking()" [disabled]="!this._appService.LoginService.userRights.releaseCheckrun"
                joyrideStep="checkrun_21" title="Help" text="Once done assesing your claims in the current batch click on this button to submit the batch for payment." stepPosition="bottom">
          Submit Checkrun
        </button>
      </div>
      <!--<clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox formControlName="Expand" (change)="ExpandTree()" />
        <label>Collapse Bordereaux Table</label>
      </clr-checkbox-wrapper>-->
      <br />

    </form>
    <br />

    <!--<div *ngIf="false">
      <button class="btn btn-outline" (click)="OpenSearchBox()" *ngIf="(!this._appService.CheckRunService.hideReleaseOpt) && ( this._appService.SecurityService.userRights.editReleaseBatch)">Edit Batch</button>
      <button class="btn btn-success-outline" (click)="PayReadyAfterEdit()" *ngIf="(this._appService.CheckRunService.enablesave) && (!this._appService.CheckRunService.hideReleaseOpt)">Save Batch</button>
    </div>-->
    <br />
    <!--Page Navigation Buttons-->
    <div style="white-space: nowrap; display: inline-block" *ngIf="this._appService.CheckRunService.enableNavButtons"
         joyrideStep="checkrun_22" title="Navigation" text="Click on these buttons to navigate between the pages of the checkrun." stepPosition="top">
      <button type="button" class="btn btn-link btn-sm" (click)="this.DecreasePage()">
        <span style="font-size: medium; font-weight: bold; "> ◄ </span>
      </button>
      <span style="font-weight: bold;">{{this._appService.CheckRunService.currentPage}}/{{this.maxPages}} pages</span>
      <button type="button" class="btn btn-link btn-sm" (click)="this.IncreasePage()">
        <span style="font-size: medium; font-weight: bold; "> ► </span>
      </button>
    </div>
    <br />
    <!--End-->
    <!--End-->
  </div>
  <div class="clr-col-3 text-center" joyrideStep="checkrun_23" title="Total" text="This indicates the total of your current batch." stepPosition="top">
    <br />
    <span style="color: black; font-weight: bolder; background-color: #60B515; font-size:medium"><b>&nbsp; TOTAL R {{this._appService.CheckRunService._totalAmountToPay | number: '.2'}}&nbsp; </b></span>
  </div>
</div>

<clr-tree-node [clrExpanded]="true">
  <div class="clr-row" style="width:100%;border-bottom-style:double;border-color:#009CBF;">
    <div class="clr-col-sm text-left" style="font-size: x-small; font-weight:bolder; background-color:#FFEBF5; ">
      <span>Practice Number</span>
    </div>
    <div class="clr-col-sm text-left" style="font-size: x-small; font-weight:bolder; white-space:nowrap; background-color:#FFEBF5;">
      <span>Practice Name</span>
    </div>
    <div class="clr-col-sm text-left" style="background-color:#E3DDD1;font-size: x-small; font-weight:bolder;">
      ....
    </div>
    <div class="clr-col-sm text-left" style="font-size: x-small; font-weight:bolder; background-color:#FFE5C9;">
      <span>
        Totals
      </span>
    </div>
  </div>
</clr-tree-node>
<clr-tree-node *ngFor="let line of this._appService.CheckRunService._fillteredProvList" [clrExpanded]="!this.expandtree">
  <div class="clr-row" style="width:100%;">
    <div class="clr-col-sm text-left" style="font-size:x-small; font-weight:700; background-color:#FFEBF5"><span>{{line.providerID}}</span></div>
    <div class="clr-col-sm text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#FFEBF5"><span>{{line.practiceName}}</span></div>
    <div class="clr-col-sm text-left" style="background-color:#E3DDD1">
      <!--<form clrForm [formGroup]="cEntireClaimOptions" [hidden]="true">-->
      <!--<div class="clr-row">
        <div class="clr-col-sm-3">
          <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
            <input type="checkbox" formControlName="validateAll" (change)="this.FormValidateAll(line.providerID)" [checked]="line.validated" clrToggle />
            <span class="tooltip-content" style="font-size:xx-small">Validated</span>
          </a>
        </div>
        <div class="clr-col-sm-3">
          <div class="reject-styles">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
              <clr-toggle-wrapper>
                <input type="checkbox" formControlName="rejectAll" (change)="this.RejectClaimPopUp('all','',' ', ' ', ' ',line.providerID,'','')" [checked]="line.rejected" clrToggle />
                <label></label>
              </clr-toggle-wrapper>
              <span class="tooltip-content" style="font-size:xx-small">Rejected</span>
            </a>
          </div>
        </div>
        <div class="clr-col-sm-3">
          <div class="exclude-styles">
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
              <clr-toggle-wrapper>
                <input type="checkbox" formControlName="excludeAll" (change)="this.FormExcludeAll(line.providerID)" [checked]="line.excluded" clrToggle />
                <label></label>
              </clr-toggle-wrapper>
              <span class="tooltip-content" style="font-size:xx-small">Excluded</span>
            </a>
          </div>
        </div>

      </div>-->
      <div *ngIf="this._appService.CheckRunService._paymentType == 'P'">
        <span class="badge badge-danger" *ngIf="!line.hasBanking">Banking Details Needed!!</span>
      </div>
      <!--</form>-->
    </div>
    <div class="clr-col-sm text-left" style="font-size:x-small; font-weight:700; background-color:#FFE5C9">
      <span>
        <app-bordrow-totals [_totalPaid]="this.GeneratePaidTotalForProvider(line.providerID)" [_totalApproved]="this.GenerateUnpaidTotalForProvider(line.providerID)"
                            [_totalDetailLines]="" [_totalClaimLines]="this.GenerareTotalAmountOfClaims(line.providerID)"></app-bordrow-totals>

      </span>
    </div>
  </div>
  <clr-tree-node>
    <div class="clr-row" style="width:97%;border-bottom-style: double;border-top-style: double; border-top-color:#009CBF ;border-bottom-color:#48960C ">
      <div class="clr-col text-left" style="font-size: x-small; font-weight:bolder; background-color:#FFFCE8; ">
        <span>Member No</span>
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        <span>Claim No</span>
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        <span>Line</span>
      </div>
      <div class="clr-col-2 text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Benefit Type
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Spec Code
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Product Code
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Date of Incident
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Amount Claimed
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        Amount Paid
      </div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:bolder; white-space:nowrap; background-color:#E1F1F6; ">
        More
      </div>
      <div class="clr-col-2 text-left" style="background-color:#E3DDD1;font-size: x-small; font-weight:bolder;">
        Status
      </div>
    </div>
  </clr-tree-node>
  <clr-tree-node *ngFor="let patient of this._appService.CheckRunService._patientsPerProvider[line.providerID]" [clrExpanded]="!this.expandtree">
    <div class="clr-row" style="width:97%;">
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#FFFCE8">{{patient.patientMembNo}}</div>
      <div class="clr-col text-left" style="font-size:xx-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.claimNumber}}</div>
      <div class="clr-col text-left" style="font-size:xx-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.rowId}}</div>
      <div class="clr-col-2 text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.claimType}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.reqSpec}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.productCode}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.dateofIncident}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.amountOfClaimReported}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">{{patient.amountOfClaimPaid}}</div>
      <div class="clr-col text-left" style="font-size:x-small; font-weight:700; white-space:nowrap; background-color:#E1F1F6">
        <button class="btn btn-sm" type="button" (click)=" ViewDetailsOfClaim(patient.type,patient.reqSpec,patient.speciality,line.practiceName,line.providerID,patient.claimNumber,patient.rowId,patient.namSurnameofdeceased,patient.patientMembNo,patient.bankAccountName,patient.bankAccountNumber,patient.bankAccountBranchCode)">Detail</button>
      </div>
      <div class="clr-col-2 text-left" style="background-color:#E3DDD1">
        <form clrForm [formGroup]="cClaimOptions">
          <div class="clr-row">
            <div class="clr-col-sm-3">
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
                <input type="checkbox" formControlName="validateLine" (change)="this.FormValidateLine(patient.rowId,patient.patientMembNo,patient.claimNumber,line.providerID,patient.amountOfClaimReported,patient.amountOfClaimPaid,patient.productCode)" clrToggle [checked]="patient.validated" />
                <span class="tooltip-content" style="font-size:xx-small">Validated</span>
              </a>
            </div>
            <div class="clr-col-sm-3">
              <div class="reject-styles">
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
                  <clr-toggle-wrapper>
                    <input type="checkbox" formControlName="rejectLine" (change)="this.RejectClaimPopUp('line',patient.mainPolicyNumber, patient.patientMembNo, patient.rowId, patient.claimNumber,line.providerID,patient.amountOfClaimPaid,patient.amountOfClaimReported)" clrToggle [checked]="patient.rejected" />
                    <label></label>
                  </clr-toggle-wrapper>
                  <span class="tooltip-content" style="font-size:xx-small">Rejected</span>
                </a>
              </div>
            </div>
            <div class="clr-col-sm-3">
              <div class="exclude-styles">
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs" style="text-decoration:none">
                  <clr-toggle-wrapper>
                    <input type="checkbox" formControlName="excludeLine" (change)="this.FormExcludeLine(patient.patientMembNo, patient.claimNumber,line.providerID)" clrToggle [checked]="patient.excluded" />
                    <label></label>
                  </clr-toggle-wrapper>
                  <span class="tooltip-content" style="font-size:xx-small">Excluded</span>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </clr-tree-node>
</clr-tree-node>
<!--Error Handler
<div class="content-area" *ngIf="this._appService.CheckRunService.errorHandler">
  <div class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
        </div>
        <span class="alert-text">
          An Error Occured While Loading the Data....
        </span>
      </div>
    </div>
  </div>
</div>
End-->
<!--RejectionReason Model-->
<clr-modal [(clrModalOpen)]="this.rejectModalShow" [clrModalClosable]="false">
  <div class="modal-body">
    <app-reject-claim-popup #rejectionReason></app-reject-claim-popup>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.Rejection()">Ok</button>
    <button type="button" class="btn btn-danger" (click)="this.CancelModalRejection()">Cancel</button>
  </div>
</clr-modal>
<!--End-->
<!--Validate All Claims Model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.openWarningPayReady" [clrModalClosable]="false" [clrModalSize]="'sm'">

  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">Warning</span>
        </div>
      </div>
    </div>
    <br />
    <span *ngIf="!this._appService.CheckRunService.ProcessingValidation">
      {{this._appService.CheckRunService.validationMessage}}
    </span>
    <span class="spinner spinner-inline" *ngIf="this._appService.CheckRunService.ProcessingValidation">
      Loading...
    </span>
    <span *ngIf="this._appService.CheckRunService.ProcessingValidation">
      Processing...
    </span>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="MakeBatchReadyforPayment()" [disabled]="this._appService.CheckRunService.confirmPaymentReady">Ok</button>
    <button type="button" class="btn btn-primary" (click)="CancelMakeBatchReadyforPayment()">
      Cancel
    </button>
  </div>
</clr-modal>
<!--End-->
<!--ENTER DATE WARNING-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.openWarnigDate" [clrModalClosable]="false" [clrModalSize]="'sm'">

  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">Warning</span>
        </div>
      </div>
    </div>
    <br />
    <span>
      Enter a Payment Date First.
    </span>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.CheckRunService.openWarnigDate = false">Ok</button>
  </div>
</clr-modal>
<!--END-->
<!--Submit All Claims Model-->
<clr-modal [(clrModalOpen)]="this.submitWarning" [clrModalClosable]="false" [clrModalSize]="'sm'">

  <div class="modal-body">
    <div class="alert alert-warning" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <span class="alert-text">Warning</span>
        </div>
      </div>
    </div>
    <br />
    <p> You are about to submit this batch for payment</p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submitCheckrun()" [disabled]="this._appService.CheckRunService.confirmPaymentReady">Ok</button>
    <button type="button" class="btn btn-primary" (click)="this.CancelSubmitCheckrun()">
      Cancel
    </button>
  </div>
</clr-modal>
<!--End-->
<!--more detail model-->

<clr-modal [(clrModalOpen)]="this.openDetailModel" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <div class="modal-title" *ngIf="this.openDetailModel">
    <div class="clr-row">
      <div class="clr-col">
        <h5><b>ClaimNumber:</b>&nbsp; {{this._appService.CheckRunService.details.claimNo}}</h5>
      </div>
      <div class="clr-col">
        <h5><b>Line:</b>&nbsp; {{this._appService.CheckRunService.details.rowId}}</h5>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-block">
        <div class="card-text">

          <!--<div class="clr-row">
            <div class="clr-col">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Member Details</span><br />
              <b>Name:</b> &nbsp; {{this.memberName}}<br /><br />
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Practice Details</span><br />
              <b>Practice ID:</b>&nbsp;{{this.provId}}<br />
              <b>SpecCode:</b>&nbsp;{{this.provspec}}<br /><br />
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Referring Practice Details</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.refProvId}}<br />
              <b>SpecCode:</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.specCode}}<br />
            </div>
            <div class="clr-col">
              <br />
              <b>GP Visits Year to date</b> &nbsp; {{this._appService.CheckRunService.visitCounts | number: '.0' }}
              <br />
              <br />
              <br />
              <b>Name:</b>&nbsp;{{this.provName}}<br />
              <b>Specialty:</b>&nbsp;{{this.specDesc}}<br />
              <br />
              <br />
              <b>Name:</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.refProfName}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.desc}}

            </div>
            <div class="clr-col">
              <br />
              <b>Auth Number:</b> &nbsp; {{this._appService.CheckRunService.authNo}}
            </div>
          </div>-->
          
          <div class="clr-row">            
            <div class="clr-col-lg-6">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Treating Practice</span><br />
              <b>Practice ID:</b>&nbsp;{{this.provId}}<br />
              <b>Name:</b>&nbsp;{{this.provName}}<br />
              <b>Specialty :</b>&nbsp;{{this.provspec}} - {{this.specDesc}}<br />
              <b>Provider Account/Ref Number:</b>&nbsp;{{this._appService.CheckRunService._paidInfo.provClaim}} <br /> <br />

              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Referring Practice</span><br />
              <b>Practice ID:</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.refProvId}}<br />
              <b>Name:</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.refProfName}}<br />
              <b>Specialty :</b>&nbsp;{{this._appService.CheckRunService._refProvInfo.specCode}} - {{this._appService.CheckRunService._refProvInfo.desc}} <br /> <br />

              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Payment to {{this._appService.CheckRunService.vendorInfo.vendorTypeDescr}}</span><br />
              <span *ngIf="this._appService.CheckRunService.vendorInfo.vendorType == 'P'"><b>Practice ID:</b>&nbsp;{{this._appService.CheckRunService.vendorInfo.vendorId}} <br /> </span>
              <b>Name:</b>&nbsp;{{this._appService.CheckRunService.vendorInfo.vendorName}}<br />
              <span *ngIf="this._appService.CheckRunService.vendorInfo.vendorType == 'P'"><b>Specialty:</b>&nbsp;{{this._appService.CheckRunService.vendorInfo.specCode}} - {{this._appService.CheckRunService.vendorInfo.specCodeDescr}}<br /></span><br />              
            </div>

            <div class="clr-col-lg-6">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Member</span><br />
              <b>Name:</b> &nbsp; {{this.memberName}}<br />
              <b>GP Visits Year to date:</b> &nbsp; {{this._appService.CheckRunService.visitCounts | number: '.0' }} <br /> <br />

              <span style="font-size:medium; font-weight:bold; text-decoration:underline">Other</span><br />
              <b>Date Claim Recieved:</b>&nbsp;{{this._appService.CheckRunService._paidInfo.dateRec}} <br />
              <b>Auth Number:</b> &nbsp; {{this._appService.CheckRunService.authNo}}<br /><br />
            </div>
          </div>

        </div>
      </div>
      <div class="card-block" *ngIf="this._appService.CheckRunService._paymentType == 'M'">
        <span style="font-size:medium; font-weight:bold; text-decoration:underline">Member Banking Details</span><br />
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col">
              <b>Bank Name:</b>&nbsp;{{this._bankingDetails.bankName}}<br />
              <b>Account Number:</b>&nbsp;{{this._bankingDetails.accountNo }}<br />
              <b>Branch Code:</b>&nbsp;{{this._bankingDetails.branchCode}}
            </div>
            <app-edit-banking-detail #banking></app-edit-banking-detail>
            <div class="clr-col">
              <button type="button" class="btn btn-primary btn-sm" (click)="this.OpenBankEditModel(this.provId,this._bankingDetails.mainPolicyNo,this._bankingDetails.bankName,this._bankingDetails.accountNo,this._bankingDetails.branchCode)" *ngIf="this._appService.CheckRunService.hideReleaseOpt">
                <!--<clr-icon shape="note" class="is-solid" (click)="this.OpenBankEditModel( this._bankingDetails.mainPolicyNo,this._bankingDetails.bankName,this._bankingDetails.accountNo,this._bankingDetails.branchCode)"></clr-icon>-->
                Edit Banking Detail
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block" *ngIf="this._appService.CheckRunService._paymentType == 'P'">
        <span style="font-size:medium; font-weight:bold; text-decoration:underline">Practice Banking Details</span><br />
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col">
              <b>Bank Name:</b> <label>&nbsp;{{this._displayProvbankingDetails.bankName}}</label><br />
              <b>Account Number:</b><label>&nbsp;{{this._displayProvbankingDetails.accountNo }}</label><br />
              <b>Branch Code:</b><label>&nbsp;{{this._displayProvbankingDetails.branchCode}}</label>
            </div>
            <app-edit-banking-detail #banking></app-edit-banking-detail>
            <div class="clr-col">
              <button type="button" class="btn btn-primary btn-sm" (click)="this.OpenBankEditModel(this.provId,this._bankingDetails.mainPolicyNo,this._bankingDetails.bankName,this._bankingDetails.accountNo,this._bankingDetails.branchCode)" *ngIf="this._appService.CheckRunService.hideReleaseOpt">
                <!--<clr-icon shape="note" class="is-solid" (click)="this.OpenBankEditModel( this._bankingDetails.mainPolicyNo,this._bankingDetails.bankName,this._bankingDetails.accountNo,this._bankingDetails.branchCode)"></clr-icon>-->
                Edit Banking Detail
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col">
              <span style="font-size:medium; font-weight:bold; text-decoration:underline">
                Claim Amount Details
              </span>
              <br />
              <!--<b>Date Claim Recieved:</b>&nbsp;{{this._appService.CheckRunService._paidInfo.dateRec}}-->
            </div>
          </div>
          <clr-datagrid>
            <clr-dg-column>SERVICE START DATE</clr-dg-column>
            <clr-dg-column>SERVICE END DATE</clr-dg-column>
            <!--<clr-dg-column>PROVIDER REF</clr-dg-column>-->
            <clr-dg-column>SERVICE CODE</clr-dg-column>
            <clr-dg-column>CHARGED</clr-dg-column>
            <clr-dg-column>COPAY</clr-dg-column>
            <clr-dg-column>REJECTED AMOUNT</clr-dg-column>
            <clr-dg-column>ABOVE SCHEME RATE</clr-dg-column>
            <clr-dg-column>APPROVED AMOUNT</clr-dg-column>
            <clr-dg-column>ICD10 CODE</clr-dg-column>
            <clr-dg-column>REASON CODE</clr-dg-column>
            <clr-dg-column *ngIf="this.provspec == '50' ||
                                   this.provspec == '54' ||
                                   this.provspec == '62' ||
                                   this.provspec == '64' ||
                                   this.provspec == '92' ||
                                   this.provspec == '93' ||
                                   this.provspec == '94' ||
                                   this.provspec == '95' ||
                                   this.provspec == '96' ||
                                   this.provspec == '98' ||
                                   this.provspec == '113'">
              TOOTH NO.
            </clr-dg-column>

            <clr-dg-row>
              <clr-dg-cell>{{this._appService.CheckRunService._paidInfo.fromDate}}</clr-dg-cell>
              <clr-dg-cell>{{this._appService.CheckRunService._paidInfo.tooDate}}</clr-dg-cell>
              <!--<clr-dg-cell>{{this._appService.CheckRunService._paidInfo.provClaim}}</clr-dg-cell>-->
              <clr-dg-cell>
                {{this._appService.CheckRunService._paidInfo.srvCode}}
                <a role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-xl tooltip-right">
                  <clr-icon shape="info-circle" size="20"></clr-icon>
                  <span tabindex="-1" class="tooltip-content">{{this._appService.CheckRunService._paidInfo.srvCodeDesc}}</span>
                </a>
              </clr-dg-cell>
              <clr-dg-cell>R {{this._appService.CheckRunService._paidInfo.billed}}</clr-dg-cell>
              <clr-dg-cell>R {{this._appService.CheckRunService._paidInfo.coPay}}</clr-dg-cell>
              <clr-dg-cell>R {{this._appService.CheckRunService._paidInfo.adjust}}</clr-dg-cell>
              <clr-dg-cell>R {{this._appService.CheckRunService._paidInfo.tarrif}}</clr-dg-cell>
              <clr-dg-cell>R {{this._appService.CheckRunService._paidInfo.net}}</clr-dg-cell>
              <clr-dg-cell>{{this._appService.CheckRunService._paidInfo.diagcode}}
                <a role="tooltip" aria-haspopup="true" tabindex="-1" class="tooltip tooltip-xl tooltip-left">
                  <clr-icon shape="info-circle" size="20"></clr-icon>
                  <span tabindex="-1" class="tooltip-content">{{this._appService.CheckRunService._paidInfo.diagdesc}}</span>
                </a>
              </clr-dg-cell>
              <clr-dg-cell>{{this._appService.CheckRunService._paidInfo.adjCode}}</clr-dg-cell>
              <clr-dg-cell *ngIf="this.provspec == '50' ||
                                   this.provspec == '54' ||
                                   this.provspec == '62' ||
                                   this.provspec == '64' ||
                                   this.provspec == '92' ||
                                   this.provspec == '93' ||
                                   this.provspec == '94' ||
                                   this.provspec == '95' ||
                                   this.provspec == '96' ||
                                   this.provspec == '98' ||
                                   this.provspec == '113'">
                {{this._appService.CheckRunService._paidInfo.clinicalCodes}}
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-row>
              <clr-dg-cell></clr-dg-cell> <!--extra empty row for service code description tooltip (otherwise it's trimmed and user has to scroll)-->
            </clr-dg-row>
          </clr-datagrid>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <span style="font-size:medium; font-weight:bold; text-decoration:underline">
            ICD10 Codes (all on entire claim)
          </span>
          <clr-datagrid>
            <clr-dg-column>CODE</clr-dg-column>
            <clr-dg-column>DESCRIPTION</clr-dg-column>

            <clr-dg-placeholder>There are no ICD10 codes for this Claim!</clr-dg-placeholder>
               
            <clr-dg-row *ngFor="let code of this._appService.CheckRunService.diacodes">
              <clr-dg-cell>{{code.code}}</clr-dg-cell>
              <clr-dg-cell>{{code.desc}}</clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer>{{this._appService.CheckRunService.diacodes.length}} ICD10 Codes</clr-dg-footer>

          </clr-datagrid>
        </div>
      </div>
      <div class="card-block">
        <div class="card-text">
          <span style="font-size:medium; font-weight:bold; text-decoration:underline">
            Reason Codes
          </span>
          <clr-datagrid>
            <clr-dg-column>CODE</clr-dg-column>
            <clr-dg-column>DESCRIPTION</clr-dg-column>

            <clr-dg-placeholder>There are no reason codes for this claim.</clr-dg-placeholder>

            <clr-dg-row *ngFor="let reason of this._appService.CheckRunService._claimInfo">
              <clr-dg-cell>{{reason.adjCode2}}</clr-dg-cell>
              <clr-dg-cell>{{reason.comments}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{this._appService.CheckRunService._claimInfo.length}} Adjustment Reasons</clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.openDetailModel = false">
      OK
    </button>
  </div>
</clr-modal>

<!--End-->
<!--Exclude Modal-->
<clr-modal [(clrModalOpen)]="this.openWarn" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon> WARNING!</h3>
  <div class="modal-body">
    <p>When you EXCLUDE a claim the ENTIRE claim will be UNVALIDATED and EXCLUDED from this batch.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.openWarn=false">
      OK
    </button>
  </div>
</clr-modal>
<!--END-->
<!--Edit Released Batch Model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.openEditBatch ">
  <h3 class="modal-title">Search Batch</h3>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Enter a provider number to search for a specific provider in the batch,
            or enter a Family number to search for a specific Family in the batch.
          </span>
        </div>
      </div>
    </div>
    <app-edit-released-batch #searchBatch></app-edit-released-batch>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.CancelSearchBatch()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.SearchBatch()" [disabled]="!this._appService.CheckRunService.enableSearch">Ok</button>
  </div>
</clr-modal>
<!---->
<!--Edit UnReleased Batch Model-->
<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.openUnEditBatch ">
  <h3 class="modal-title">Search Batch</h3>
  <div class="modal-body">
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Enter a provider number to search for a specific provider in the batch,
            or enter a Family number to search for a specific Family in the batch,
            or enter a Claim number to search for a specific Claim in the batch.
          </span>
        </div>
      </div>
    </div>
    <app-edit-released-batch #searchUnreleadBatch></app-edit-released-batch>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this.CancelSearchUnreleasedBatch()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.SearchUnreleasedBatch()" [disabled]="!this._appService.CheckRunService.enableSearch">Ok</button>
  </div>
</clr-modal>
<!---->
<!--WIZARD COPLETE-->
<clr-wizard #wizardmd [(clrWizardOpen)]="this.completeWizard" clrWizardSize="md">
  <clr-wizard-title>SUBMIT CHECKRUN</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'" (click)="ClickNext()" [clrWizardButtonDisabled]="!this.cPayDateForm.valid">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'" (click)="SubmitWarning()" [clrWizardButtonDisabled]="this.enableSubBtn">Submit</clr-wizard-button>

  <clr-wizard-page>
    <ng-template clrPageTitle>PAYMENT DATE</ng-template>
    <div class="alert alert-info" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Please provide a date on which the current checkun must be paid.
          </span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <form clrForm [formGroup]="cPayDateForm">
      <clr-date-container>
        <label>Payment Date</label>
        <input type="date" clrDate formControlName="payDate" (blur)="InsertPayDate()" />
        <clr-control-error>{{this.errMsgPayDate}}</clr-control-error>
      </clr-date-container>
    </form>
  </clr-wizard-page>

  <clr-wizard-page>
    <ng-template clrPageTitle>CONFIRMATION</ng-template>
    <br />
    <br />
    <form clrForm [formGroup]="cConfirmationForm">
      <clr-checkbox-wrapper>
        <input type="checkbox" clrCheckbox formControlName="payBatch" (change)="PayReady()" />
        <label>I agree that all changes made to this bordereaux is correct as well as the payment date provided by me.</label>
      </clr-checkbox-wrapper>
    </form>
  </clr-wizard-page>
</clr-wizard>
<!---->
<!--ERROR-->
<div *ngIf="this._appService.CheckRunService.ErrorRequets">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" (click)="this._appService.CheckRunService.ErrorRequets=false"
                  type="button">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
          <div class="form-group">
            <h3 class="modal-title">Account recovery </h3>
          </div>
        </div>
        <div class="modal-body">
          <p>
            An Error Occured, Please Contact Your Administrator For Help.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<div class="modal" *ngIf="this._appService.CheckRunService.SubmitCheckrunError">
  <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="this._appService.CheckRunService.SubmitCheckrunError=false">
          <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h3 class="modal-title">Submit Error</h3>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{this._appService.CheckRunService._submitCheckrunErrorMsg}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="this._appService.CheckRunService.SubmitCheckrunError=false">OK</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</div>

<clr-modal [(clrModalOpen)]="this._appService.CheckRunService.nobankingFound" [clrModalSize]="'md'" [clrModalClosable]="false">
  <h3 class="modal-title"><clr-icon shape="warning-standard"></clr-icon>WARNING!!</h3>
  <div class="modal-body">
    <p>
      There are providers without banking details in this batch.<br />Please fill in their banking details,
      if you do not have the correct details at hand please exclude the claims from the batch before submitting,
      since they will be voided during the payrun process.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.CheckRunService.NoBankingDetailsProvider()">
      OK
    </button>
  </div>
</clr-modal>

<!--END-->
