<clr-modal [(clrModalOpen)]="this._appService.SecurityService.openFaq" [clrModalSize]="'lg'" [clrModalClosable]="false">
  <h3 class="modal-title">Frequently Asked Questions</h3>
  <div class="modal-body">
    <clr-accordion>
      <clr-accordion-panel *ngFor="let q of this._appService.SecurityService.faqList">
        <clr-accordion-title>{{q.question}}</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>{{q.answer}}</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this._appService.SecurityService.openFaq = false;">Ok</button>
  </div>
</clr-modal>
