<form clrForm [formGroup]="cRejectCodeForm">
  <clr-select-container>
    <label>Rejection Reason</label>
    <select clrSelect formControlName="rejectCode" (change)="this.rejectChange()">
      <option *ngFor="let codes of  this._appService.ClaimCaptureService.defualtCodesList" [ngValue]="codes.code">{{codes.desc}}</option>
    </select>
  </clr-select-container>
  <clr-textarea-container>
    <label>Reason</label>
    <textarea clrTextarea formControlName="description" cols="30"></textarea>
  </clr-textarea-container>
  <button class="btn btn-danger" (click)="ClearAdjustCode()">CLEAR</button>
</form>
