<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.hypertensionForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'HYPER'">

  <h4 style="font-weight: 900"><b>Hypertension</b></h4>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3" for="icd10HyperTension">ICD10 Code</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="icd10HyperTension"
                    formControlName="hypertIcd10">
              <option *ngFor="let item of this._appService.ChronicConditionService.HypertensionDiags" value="{{item.diagCode}}">{{item.diagCode}} - {{item.diagDesc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hypertensionForm.get('hypertIcd10').touched && !this._appService.ChronicConditionService.hypertensionForm.get('hypertIcd10').valid">
            Please select a diagnosis code
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-3">Severity</label>
        <div class="clr-control-container clr-col-sm-9">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="severityMild" value="mild" formControlName="severity" />
            <label for="severityMild" class="clr-control-label">Mild &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="severityModerate" value="moderate" formControlName="severity" />
            <label for="severityModerate" class="clr-control-label">Moderate &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="severitySevere" value="severe" formControlName="severity" />
            <label for="severitySevere" class="clr-control-label">Severe &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="severityUnknown" value="unknown" formControlName="severity" />
            <label for="severityUnknown" class="clr-control-label">Unknown &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hypertensionForm.get('severity').touched && !this._appService.ChronicConditionService.hypertensionForm.get('severity').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-5">Is the patient currently on therapy?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-7">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hypertTherapyYes" value="Y" formControlName="hypertTherapyYN" />
            <label for="hypertTherapyYes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="hypertTherapyNo" value="N" formControlName="hypertTherapyYN" />
            <label for="hypertTherapyNo" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.hypertensionForm.get('hypertTherapyYN').touched && !this._appService.ChronicConditionService.hypertensionForm.get('hypertTherapyYN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="this._appService.ChronicConditionService.hypertensionForm.get('hypertTherapyYN').value == 'Y' ">

        <br /><label class="clr-control-label">Please supply the hypertension medicine history:</label>

        <div class="clr-row">
          <div class="clr-col-lg-12">

            <table class="table">
              <thead>
                <tr>
                  <th>ICD-10</th>
                  <th>Prescribed medicine</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Quantity per month</th>
                  <th>Number of repeats</th>
                  <th> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medItem of this._appService.ChronicConditionService.HypertensionMedList">
                  <td>{{medItem.icd10}}</td>
                  <td>{{medItem.svcCodeDescr}}</td>
                  <td>{{medItem.strength}}</td>
                  <td>{{medItem.dosage}}</td>
                  <td>{{medItem.qtyPerMonth}}</td>
                  <td>{{medItem.numRepeats}}</td>
                  <td>
                    <button class="btn btn-sm" style="margin-bottom: 2px" (click)="this._appService.ChronicConditionService.onEditMedicationItem(medItem)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="this._appService.ChronicConditionService.onRemoveMedicationItem(medItem)">Remove</button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="btn btn-primary btn-sm" (click)="this._appService.ChronicConditionService.onNewMedicationItem('hypertensionOnTherapyMedHist')">Add New</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="clr-subtext-wrapper">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
              <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ChronicConditionService.hypertensionForm.get('hypertensionMedHist').valid">
                Medicine used is required
              </span>
            </div>

          </div> <!--col-->
        </div> <!--row-->

      </div>

    </div> <!--col-->
  </div> <!--row-->

</form>
