<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.medicationForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff">

  <div class="clr-row">

    <div class="clr-col-lg-12">

      <!--<div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="icd10Med">ICD-10</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="10"
                   id="icd10Med"
                   formControlName="icd10" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="medicationForm.get('icd10').touched && !medicationForm.get('icd10').valid">
            This field is required
          </span>
        </div>
      </div>-->

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="conditionCodeM">Condition</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="conditionCodeM"
                    formControlName = "conditionCodeM"
                    (change)="this._appService.ChronicConditionService.onMedicationConditionChange()">
              <option *ngFor="let item of this._appService.ChronicConditionService.ChronicConditionsAll" value="{{item.code}}">{{item.description}}</option>
            </select>
          </div>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="!this._appService.ChronicConditionService.conditionForm.get('conditionCode').valid">
            Please select a condition to continue
          </span>-->
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="icd10Med">ICD10</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="icd10Med"
                    formControlName="icd10">
              <option value=""></option>
              <option *ngFor="let item of this._appService.ChronicConditionService.FilteredMedicationDiags" value="{{item.diagCode}}">{{item.diagCode}} - {{item.diagDesc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('icd10').touched && !this._appService.ChronicConditionService.medicationForm.get('icd10').valid">
            Please select a diagnosis code
          </span>
        </div>
      </div>

      <!--<div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="prescription-SvcCode">Search Medicine</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input style="width:100%"
                   placeholder="type to search..."
                   list="prescription-SvcCode1"
                   id="prescription-SvcCode"
                   name="prescription-SvcCode"
                   (change)="this._appService.ChronicConditionService.medicineSearchSelect()">
            <datalist id="prescription-SvcCode1">
              <option *ngFor="let item of this._appService.ChronicConditionService.MedicineCodes" value="{{item.svcDesc}}">
            </datalist>
          </div>
        </div>
      </div>-->

      <!--<div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-12 clr-col-sm-4" for="diagnosis">Diagnosis</label>
        <div class="clr-control-container clr-col-12 clr-col-sm-8">
          <div class="clr-textarea-container">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      maxlength="100"
                      id="diagnosis"
                      formControlName="diagnosis">
              </textarea>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="medicationForm.get('diagnosis').touched && !medicationForm.get('diagnosis').valid">
            This field is required
          </span>
        </div>
      </div>-->
      <!--<div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="prescriptionSvcCode">Search Medicine</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="20"
                   id="prescriptionSvcCode"
                   formControlName="prescriptionSvcCode" />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="medicationForm.get('prescriptionSvcCode').touched && !medicationForm.get('prescriptionSvcCode').valid">
            This field is required
          </span>
        </div>
      </div>-->

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="svcCodeDescr">Prescribed medicine</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-textarea-container">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      maxlength="200"
                      id="svcCodeDescr"
                      formControlName="svcCodeDescr">
                      </textarea>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('svcCodeDescr').touched && !this._appService.ChronicConditionService.medicationForm.get('svcCodeDescr').valid">
            This field is required
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="strength">Strength</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-textarea-container">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      maxlength="100"
                      id="strength"
                      formControlName="strength">
                      </textarea>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('strength').touched && !this._appService.ChronicConditionService.medicationForm.get('strength').valid">
            This field is required
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="dosage">Dosage</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-textarea-container">
            <textarea class="clr-Textarea"
                      style="width: 100%"
                      type="text"
                      maxlength="100"
                      id="dosage"
                      formControlName="dosage">
                      </textarea>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('dosage').touched && !this._appService.ChronicConditionService.medicationForm.get('dosage').valid">
            This field is required
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="qtyPerMonth">Quantity per month</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="7"
                   id="qtyPerMonth"
                   formControlName="qtyPerMonth"
                   (keydown)="this._appService.ValidationService.onlyDecimalInput($event, qtyPerMonth)" #qtyPerMonth />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('qtyPerMonth').touched && !this._appService.ChronicConditionService.medicationForm.get('qtyPerMonth').valid">
            This field requires valid data
          </span>
        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="numRepeats">Number of repeats</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   maxlength="9"
                   id="numRepeats"
                   formControlName="numRepeats"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, numRepeats)" #numRepeats />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.medicationForm.get('numRepeats').touched && !this._appService.ChronicConditionService.medicationForm.get('numRepeats').valid">
            This field requires valid data
          </span>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->
</form>
