<form class="clr-form clr-form-horizontal"
      [formGroup]="this._appService.ChronicConditionService.asthmaForm"
      [autocomplete]="this._appService.ChronicConditionService.AutCompOnOff"
      *ngIf="this._appService.ChronicConditionService.conditionForm.get('conditionCode').value == 'ASTHMA'">

  <h4 style="font-weight: 900"><b>Asthma</b></h4>

  <div class="clr-row">
    <div class="clr-col-lg-12">

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="icd10Asthma">ICD10 Code</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-select-wrapper">
            <select class="clr-select"
                    type="select"
                    id="icd10Asthma"
                    formControlName="asthmaIcd10">
              <option *ngFor="let item of this._appService.ChronicConditionService.AsthmaDiags" value="{{item.diagCode}}">{{item.diagCode}} - {{item.diagDesc}}</option>
            </select>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.asthmaForm.get('asthmaIcd10').touched && !this._appService.ChronicConditionService.asthmaForm.get('asthmaIcd10').valid">
            Please select a diagnosis code
          </span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp' ">
    <h5><b>Base Biometric</b></h5>
  </div>

  <div *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' ">
    <h5><b>Current (latest) Biometric</b></h5>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-12">
      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4" for="asthmaPF">Peak flow test results (L/min)</label>
        <div class="clr-control-container clr-col-sm-8">
          <div class="clr-input-wrapper">
            <input class="clr-input"
                   type="text"
                   id="asthmaPF"
                   maxlength="4"
                   formControlName="asthmaPleakFlow"
                   (keydown)="this._appService.ValidationService.onlyIntInput($event, astPF)" #astPF />
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.asthmaForm.get('asthmaPleakFlow').touched && !this._appService.ChronicConditionService.asthmaForm.get('asthmaPleakFlow').valid">
            This field requires valid data
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.ApprovedApplication.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}} Initial Result: {{this._appService.ChronicConditionService.ApprovedApplication.asthmaPleakFlow}}
          </span>

          <span class="clr-subtext" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'  && this._appService.ChronicConditionService.LatestUpdate.conditionApplicationNumber != undefined">
            {{this._appService.ChronicConditionService.LatestUpdate.applicationDate}} Latest Result: {{this._appService.ChronicConditionService.LatestUpdate.asthmaPleakFlow}}
          </span>

        </div>
      </div>

      <div class="clr-form-control clr-row">
        <label class="clr-control-label clr-col-sm-4">Is the patient currently 3 years of age or younger?</label>
        <div class="clr-control-container clr-control-inline clr-col-sm-8">
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="asthmaYounger3Yes" value="Y" formControlName="asthmaYounger3YN" />
            <label for="asthmaYounger3Yes" class="clr-control-label">Yes &emsp;</label>
          </div>
          <div class="clr-radio-wrapper">
            <input class="clr-radio" type="radio" id="asthmaYounger3No" value="N" formControlName="asthmaYounger3YN" />
            <label for="asthmaYounger3No" class="clr-control-label">No &emsp;</label>
          </div>
          <div class="clr-subtext-wrapper">
            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.asthmaForm.get('asthmaYounger3YN').touched && !this._appService.ChronicConditionService.asthmaForm.get('asthmaYounger3YN').valid">
              Please select an option
            </span>
          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp' && this._appService.ChronicConditionService.asthmaForm.get('asthmaYounger3YN').value == 'Y' ">
        <label class="clr-control-label clr-col-sm-4">For patients 3 years and younger, upload the Paediatrician's report</label>
        <div class="clr-control-container clr-col-sm-8">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.AsthmaPaedFiles, this._appService.ChronicConditionService.asthmaForm, 'asthmaPaedReport')"
                        (click)="this._appService.ChronicConditionService.asthmaForm.get('asthmaPaedReport').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.asthmaForm.get('asthmaPaedReport').touched && !this._appService.ChronicConditionService.asthmaForm.get('asthmaPaedReport').valid">
            Paediatrician's report is required for patients 3 years or younger
          </span>

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.AsthmaPaedFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.AsthmaPaedFiles, this._appService.ChronicConditionService.asthmaForm, 'asthmaPaedReport')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>
        </div>
      </div>

      <div class="clr-form-control clr-row" *ngIf=" this._appService.ChronicConditionService.asthmaForm.get('asthmaYounger3YN').value == 'N' ">

        <label class="clr-control-label clr-col-sm-4" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondApp'">For patients older than 3 years, upload the Flow Volume test results if available</label>

        <label class="clr-control-label clr-col-sm-4" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate'">For patients older than 3 years, upload the Flow Volume test results if available and different from previously uploaded results</label>

        <div class="clr-control-container clr-col-sm-8">

          <ngx-dropzone ngx-dropzone
                        (change)="this._appService.ChronicConditionService.onUploadFile($event, this._appService.ChronicConditionService.AsthmaFlowVolFiles, this._appService.ChronicConditionService.asthmaForm, 'asthmaFlowVolFile')"
                        (click)="this._appService.ChronicConditionService.asthmaForm.get('asthmaFlowVolFile').markAsTouched()"
                        style="height:80px">
            <ngx-dropzone-label>CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
          <!--<span class="clr-subtext" style="color: rgb(255,0,0)" *ngIf="this._appService.ChronicConditionService.asthmaForm.get('asthmaPaedReport').touched && !this._appService.ChronicConditionService.asthmaForm.get('asthmaPaedReport').valid">
            Flow Volume report is required for patients older than 3 years
          </span>-->

          <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.AsthmaFlowVolFiles;let i = index;">

            <table class="table" style="width:100%; border: none">
              <tbody>
                <tr>
                  <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
                  <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
                  <td style="text-align: right; width:30px">
                    <button *ngIf="!this._appService.ChronicConditionService.IsFileUploadInProgress"
                            type="button"
                            class="btn btn-icon btn-warning btn-sm"
                            title="Delete File"
                            aria-label="warning"
                            (click)="this._appService.ChronicConditionService.deleteFile(i, this._appService.ChronicConditionService.AsthmaFlowVolFiles, this._appService.ChronicConditionService.asthmaForm, 'asthmaFlowVolFile')">
                      <clr-icon shape="trash"></clr-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="progress-block" *ngIf="eachfile.isProgress">
              <clr-progress-bar max="100" [clrValue]="eachfile.isProgressValue" data-displayval="0%" clrLabeled></clr-progress-bar>
            </div>

          </div>
        </div>
      </div>

    </div> <!--col-->
  </div> <!--row-->

  <br /><br />

  <!--DISPLAY PAED REPORT OR FLOW VOLUME TEST RESULT IF IT IS AN UPDATE-->

  <div class="clr-row" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' && this._appService.ChronicConditionService.ApprovedApplication.asthmaPaedFiles != undefined && this._appService.ChronicConditionService.ApprovedApplication.asthmaPaedFiles.length > 0 ">

    <div class="clr-col-lg-4">
      <b>Paediatrician's report submitted on application ({{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}}):</b>
    </div>

    <div class="clr-col-lg-8">
      <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.ApprovedApplication.asthmaPaedFiles">
        <table class="table" style="width:100%; border: none">
          <tbody>
            <tr>
              <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
              <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
              <td style="text-align: right; width:30px">
                <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                 [target]="_blank"
                 class="btn btn-icon btn-sm">
                <clr-icon shape="search"></clr-icon>
                </a>-->
                <button type="button"
                        class="btn btn-icon btn-sm"
                        title="View File"
                        (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                  <clr-icon shape="search"></clr-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!--card-->
    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' && this._appService.ChronicConditionService.LatestUpdate.asthmaPaedFiles != undefined && this._appService.ChronicConditionService.LatestUpdate.asthmaPaedFiles.length > 0 ">

    <div class="clr-col-lg-4">
      <b>Paediatrician's report submitted on latest update ({{this._appService.ChronicConditionService.LatestUpdate.applicationDate}}):</b>
    </div>

    <div class="clr-col-lg-8">
      <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.LatestUpdate.asthmaPaedFiles">
        <table class="table" style="width:100%; border: none">
          <tbody>
            <tr>
              <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
              <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
              <td style="text-align: right; width:30px">
                <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                 [target]="_blank"
                 class="btn btn-icon btn-sm">
                <clr-icon shape="search"></clr-icon>
                </a>-->
                <button type="button"
                        class="btn btn-icon btn-sm"
                        title="View File"
                        (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                  <clr-icon shape="search"></clr-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!--card-->
    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' && this._appService.ChronicConditionService.ApprovedApplication.asthmaFlowVolFiles != undefined && this._appService.ChronicConditionService.ApprovedApplication.asthmaFlowVolFiles.length > 0 ">

    <div class="clr-col-lg-4">
      <b>Flow Volume test results submitted on application ({{this._appService.ChronicConditionService.ApprovedApplication.applicationDate}}):</b>
    </div>

    <div class="clr-col-lg-8">
      <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.ApprovedApplication.asthmaFlowVolFiles">
        <table class="table" style="width:100%; border: none">
          <tbody>
            <tr>
              <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
              <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
              <td style="text-align: right; width:30px">
                <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                 [target]="_blank"
                 class="btn btn-icon btn-sm">
                <clr-icon shape="search"></clr-icon>
                </a>-->
                <button type="button"
                        class="btn btn-icon btn-sm"
                        title="View File"
                        (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                  <clr-icon shape="search"></clr-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!--card-->
    </div> <!--col-->
  </div> <!--row-->

  <div class="clr-row" *ngIf="this._appService.ChronicConditionService.CurrentPage == 'ChronicCondUpdate' && this._appService.ChronicConditionService.LatestUpdate.asthmaFlowVolFiles != undefined && this._appService.ChronicConditionService.LatestUpdate.asthmaFlowVolFiles.length > 0 ">

    <div class="clr-col-lg-4">
      <b>Flow Volume test results submitted on latest update ({{this._appService.ChronicConditionService.LatestUpdate.applicationDate}}):</b>
    </div>

    <div class="clr-col-lg-8">
      <div class="card" *ngFor="let eachfile of this._appService.ChronicConditionService.LatestUpdate.asthmaFlowVolFiles">
        <table class="table" style="width:100%; border: none">
          <tbody>
            <tr>
              <td style="text-align: left; width:30px"><clr-icon shape="file"></clr-icon></td>
              <td class="ellipsis"><span>{{ eachfile.name }}</span></td>
              <td style="text-align: right; width:30px">
                <!--<a [href]="this._appService.ChronicConditionService.viewFile(eachfile)"
                 [target]="_blank"
                 class="btn btn-icon btn-sm">
                <clr-icon shape="search"></clr-icon>
                </a>-->
                <button type="button"
                        class="btn btn-icon btn-sm"
                        title="View File"
                        (click)="this._appService.ChronicConditionService.viewFileD(eachfile)">
                  <clr-icon shape="search"></clr-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> <!--card-->
    </div> <!--col-->
  </div> <!--row-->

</form>
