<form>
  <div class="clr-row">
    <div class="clr-col-3">
      <label><b>Claim Type</b></label><br><br>
      <label><b>Refference Number</b></label><br><br>
      <label><b>Authorisation Number</b></label><br><br>
      <label><b>Practice Number</b></label><br><br>
      <label><b>Member Number</b></label><br><br>

    </div>
    <div class="clr-col-3">
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.PHCODE}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.PROVCLAIM}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.EZCAPAUTH}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.EZCAPPROV}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.EZCAPMEMB}}</label><br><br>
    </div>
    <div class="clr-col-3">
      <label><b>Place Of Service</b></label><br><br>
      <label><b>Payment to</b></label><br><br>
      <label><b>Referring Practice Number</b></label><br><br>
      <label *ngIf="this._appService.ClaimCaptureService.vedorFieldVissible"><b>Group Practice</b></label><br><br>
    </div>
    <div class="clr-col-3">
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.PLACE}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.CLAIMTYPE}}</label><br><br>
      <label style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.REFPROVID}}</label><br><br>
      <label *ngIf="this._appService.ClaimCaptureService.vedorFieldVissible" style="color:rgb(170, 170, 170)">{{this._appService.ClaimCaptureService.currentClaimHeader.VENDORID}}</label><br><br>
    </div>
  </div>
</form>
