<div class="clr-row">

  <div class="clr-col-12 text-center">
    <button type="button" class="btn btn-primary" routerLink= "./claim-capture-new"
            joyrideStep="cc_1" title="Claim Capture" text="Click on this button to start capturing claims." stepPosition="left">
      CAPTURE NEW CLAIM
    </button>
    <!--<button type="button" class="btn btn-primary" (click)="this.GetReport()"-->
    <button type="button" class="btn btn-primary" routerLink= "./view-captured-claims"
            joyrideStep="cc_2" title="Claim Capture Report" text="Click on this button to view a summary of your captured claims." stepPosition="right">
      VIEW CAPTURED CLAIMS
    </button>
  </div>
   
</div>

<router-outlet></router-outlet>
